@media only screen and (min-width: 768px) and (max-width: 991px) {
  .stoct-card-list {
    padding: 7px 5px;
  }
  .header-searchbar .form-control {
    width: 220px;
  }
  .menu .user-profile {
    font-size: 13px;
  }
  .menu .watchlist-link {
    font-size: 16px;
  }
  .main-searchbar {
    background-position: calc(100% - 0%) 0px;
  }
  .acess-now-text {
    font-size: 14px;
  }
  .main-searchbar h1 {
    font-size: 28px;
  }
  .stocks-searcbar {
    /* width: 635px; */
  }
  .stocks-searcbar .tt-menu {
    width: 516px;
  }

  /* .stock-card-slider {
    margin-top: 100px;
    margin-bottom: 100px;
} */
  .stack-card-width {
    width: 100%;
  }
  .popularstocklabel {
    width: 600px;
    margin: auto;
  }

  .stoct-card-list strong {
    font-size: 13px;
  }
  .nifty-50-vlaue {
    font-size: 28px;
  }
  .main-value .percent-value,
  .high-value span,
  .low-value span {
    font-size: 12px;
  }
  .card-btns a {
    margin-right: 3px;
  }

  /* .logos {
    padding: 20px 0px;
} */
  .inner-logo-div {
    height: 35px;
  }
  .logos img {
    min-width: 35px;
    max-width: 140px;
    max-height: 30px;
  }
  .logos p {
    font-size: 11px;
  }
  .news {
    padding-bottom: 50px;
  }
  .news h2 {
    font-size: 22px;
    padding-top: 4px;
  }
  .news-btns .btn {
    font-size: 12px;
    padding: 9px 15px;
  }
  /* .view-more-stocks-btn a, .news-view-more-btn a {
    border-radius: 4px;
    background-color: rgb(72, 150, 235);
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 500;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    display: inline-block;
    transition: 0.2s;
} */
  .news-cards .img-square-wrapper img {
    border-radius: 4px;
    width: auto !important;
    max-width: 120px;
  }
  .news-cards .card-title {
    font-size: 14px;
  }
  .news-cards .card-text {
    font-size: 10px;
  }
  .news-cards .card-text small {
    margin-left: 7px;
  }
  .news-cards .card-body {
    padding: 0;
  }
  .news-cards .card {
    padding-top: 18px;
  }
  .brokerage-card h3 {
    font-size: 18px;
  }
  .brokerage-card-form .form-group input {
    height: 40px;
  }

  .brokerage-card-form .select2-selection {
    height: 50px !important;
  }
  .submit-btn {
    font-size: 16px;
    padding: 14.5px;
    margin-top: 2px;
  }
  .brokerage-card {
    padding: 26px 20px;
    max-width: 300px;
  }
  .news-view-more-btn {
    padding-top: 36px;
  }
  .news-slider .owl-dots {
    margin-bottom: -65px;
  }
  .table-tabing .tab-line {
    margin-top: -20px;
    margin-bottom: 5px;
  }
  .table-tabing .nav-link {
    font-size: 12px;
    padding: 15px 15px;
  }
  .table-tabing thead th {
    font-size: 11px;
    padding: 15px 7px;
  }
  .table-tabing tbody td {
    padding: 15px 7px;
    font-size: 11px;
  }
  .table-symobol-link {
    padding: 15px 7px;
  }
  .table-hover-icons a {
    font-size: 14px;
  }
  .range-box {
    width: 28px;
  }
  .highvalue-range {
    height: 8px;
  }
  .table-tabing .low-value,
  .table-tabing .high-value {
    min-width: 50px;
  }
  .sparkline-chart {
    max-width: 60px;
  }
  .app-link {
    font-size: 11px;
  }

  .footer {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .nifty-app {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: left;
  }
  .nifty-app h3 {
    font-size: 28px;
  }
  .app-text strong {
    font-size: 20px;
  }
  .app-text {
    font-size: 14px;
    padding: 0px;
  }

  .footer-alpha {
    padding-top: 60px;
    text-align: center;
    padding-bottom: 0;
  }
  .footer-alpha h4 {
    font-size: 14px;
  }
  .alpha-menu {
    padding-top: 15px;
  }
  .alpha-item {
    margin-right: 5px;
    margin-bottom: 10px;
  }
  .alpha-link {
    font-size: 12px;
    padding: 5.5px 10px;
  }
  .footer-logo {
    padding-top: 34px;
    text-align: center;
  }
  .logo-text p {
    font-size: 14px;
    text-align: center;
    padding: 0px 205px;
    padding-top: 10px;
  }
  .footer-social-icons {
    padding-top: 15px;
    text-align: center;
    padding-bottom: 50px;
  }
  .footer-links {
    text-align: center;
    padding-bottom: 50px;
    max-width: 480px;
    margin: auto;
  }
  footer-links h4 {
    font-size: 18px;
  }
  .subscribe-text {
    font-size: 14px;
  }
  .copyright p {
    padding: 18.5px 0px;
  }
  .feedback-btn .btn {
    width: 50px;
    height: 50px;
  }

  .show-share-btns {
    right: 0px;
  }
  .feedback-btn {
    bottom: 85px;
  }
  .share-icon-btn {
    background-color: rgb(218, 79, 73);
    bottom: 20px;
  }
  .share-social-links a {
    width: 27px !important;
    height: 27px !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .menu .nav-link {
    font-size: 12px;
    padding: 12px 14px !important;
  }
  .menu .signup-link {
    width: 89px;
  }
  .show-header-searchbar {
    display: none;
  }
  .menu .watchlist-link {
    font-size: 14px;
  }
  .header-searchbar .form-control {
    height: 36px;
    width: 148px;
  }
  .stack-card-width {
    width: 100%;
  }
  .popularstocklabel {
    width: 535px;
  }
  /* .stocks-searcbar{
        width: 530px;
    } */
  .input-seachbar input {
    font-size: 14px;
  }
  .stocks-searcbar .tt-menu {
    width: 411px;
  }
  .main-searchbar h1 {
    font-size: 28px;
  }
  .acess-now-text {
    font-size: 13px;
    padding-top: 50px;
  }
  .popularstocklabel a {
    font-size: 11px;
    padding: 8px 8px;
    margin-left: 5px;
  }

  /* .stock-card-slider {
        margin-top: 50px;
        margin-bottom: 50px;
    } */
  .stoct-card-list strong {
    font-size: 13px;
  }
  .nifty-50-vlaue {
    font-size: 30px;
  }
  .main-value .percent-value,
  .high-value span,
  .low-value span {
    font-size: 12px;
  }

  .inner-logo-div {
    height: 45px;
  }
  .logos img {
    max-width: 160px;
    max-height: 40px;
  }
  .logos p {
    font-size: 10px;
  }
  .news {
    padding-bottom: 60px;
  }
  .news h2 {
    font-size: 28px;
    padding-top: 2px;
  }
  .news-btns .btn {
    font-size: 13px;
    padding: 9.5px 20px;
  }
  .news-cards .img-square-wrapper img {
    max-height: 85px;
  }
  .news-cards .card-title {
    font-size: 18px;
  }
  .news-cards .card-text {
    font-size: 11px;
  }
  .news-view-more-btn {
    padding-top: 30px;
  }
  .news-slider .owl-dots {
    margin-bottom: -59px;
  }
  .view-more-stocks-btn a,
  .news-view-more-btn a {
    font-size: 14px;
  }
  .brokerage-card {
    margin-right: auto;
    margin-top: 90px;
  }
  .brokerage-card-form .form-group input {
    height: 40px;
    font-size: 14px;
  }
  .submit-btn {
    font-size: 14px;
    padding: 15px;
  }

  .table-tabing .nav-link {
    font-size: 11px;
    padding: 15px 8px;
  }
  .table-tabing .tab-line {
    margin-top: -21px;
    margin-bottom: 6px;
  }
  .table-tabing thead th {
    font-size: 12px;
    padding: 15px 10px;
    min-width: 100px;
  }
  .table-tabing tbody td {
    padding: 15px 10px;
    font-size: 12px;
  }
  .table-symobol-link {
    padding: 20px 10px;
  }
  .min-w-250 {
    min-width: 250px !important;
  }
  .min-w-130 {
    min-width: 130px !important;
  }
  .range-box {
    width: 105px;
  }
  .highvalue-range {
    height: 8px;
  }
  .table-tabing .low-value,
  .table-tabing .high-value {
    min-width: 55px;
  }
  .table-hover-icons a {
    font-size: 18px;
  }
  .footer {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .nifty-app {
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;
  }
  .nifty-app h3 {
    font-size: 32px;
  }
  .app-text strong {
    font-size: 20px;
  }
  .app-text {
    font-size: 15px;
    padding: 0px 95px;
    padding-top: 7px;
  }

  .footer-alpha {
    padding-top: 60px;
    text-align: center;
    padding-bottom: 0;
  }
  .footer-alpha h4 {
    font-size: 14px;
  }
  .alpha-menu {
    padding-top: 15px;
  }
  .alpha-item {
    margin-right: 5px;
    margin-bottom: 10px;
  }
  .alpha-link {
    font-size: 12px;
    padding: 5.5px 10px;
  }
  .footer-logo {
    padding-top: 34px;
    text-align: center;
  }
  .logo-text p {
    font-size: 14px;
    text-align: center;
    padding: 0px 130px;
    padding-top: 10px;
  }
  .footer-social-icons {
    padding-top: 15px;
    text-align: center;
    padding-bottom: 50px;
  }
  .footer-links {
    text-align: center;
    padding-bottom: 50px;
    max-width: 480px;
    margin: auto;
  }
  footer-links h4 {
    font-size: 18px;
  }
  .subscribe-text {
    font-size: 14px;
  }
  .copyright p {
    padding: 18.5px 0px;
  }
  .feedback-btn .btn {
    width: 50px;
    height: 50px;
  }

  .show-share-btns {
    right: 0px;
  }
  .feedback-btn {
    bottom: 85px;
  }
  .share-icon-btn {
    background-color: rgb(218, 79, 73);
    bottom: 20px;
  }
  .share-social-links a {
    width: 27px !important;
    height: 27px !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 575px) {
  .menu .navbar-brand {
    margin-right: 0px;
  }
  .show-header-searchbar {
    display: none;
  }
  .menu .nav-link {
    font-size: 12px;
    padding: 13px 15px !important;
  }
  .menu .watchlist-link {
    font-size: 15px;
    padding: 13px 8px !important;
  }
  .menu .user-profile {
    margin-left: 4px;
  }
  .menu .user-profile img {
    margin-right: 4px;
  }
  .menu .user-profile i {
    font-size: 18px;
    margin-left: 5px;
  }
  .menu .user-profile {
    font-size: 11px;
  }
  .menu .navbar-brand img {
    width: 155px;
  }
  .main-searchbar h1 {
    font-size: 22px;
  }
  .acess-now-text {
    font-size: 12px;
    padding-top: 50px;
  }
  .stocks-searcbar {
    /* width: 435px; */
  }
  .input-seachbar input {
    font-size: 14px;
  }
  .stocks-searcbar .tt-menu {
    width: 315px;
  }
  .popularstocklabel {
    width: 100%;
  }
  .popularstocklabel a {
    font-size: 11px;
    padding: 8px 10px;
  }
  .stack-card-width {
    width: 100%;
  }

  .nifty-50-vlaue {
    font-size: 30px;
  }
  .stoct-card-list strong {
    font-size: 13px;
  }
  .high-value span,
  .low-value span,
  .main-value .percent-value {
    font-size: 12px;
  }
  /* .stock-card-slider {
    margin-top: 50px;
    margin-bottom: 50px;
} */
  .all-traders {
    margin-bottom: 50px;
  }
  .inner-logo-div {
    height: 40px;
  }
  .logos img {
    max-width: 180px;
    max-height: 35px;
  }
  .logos p {
    font-size: 11px;
  }
  .news {
    padding-bottom: 50px;
  }
  .news h2 {
    font-size: 24px;
    padding-top: 5px;
  }
  .news-btns .btn {
    font-size: 12px;
    padding: 9.5px 15px;
  }
  .news-cards .card-text {
    font-size: 11px;
  }
  .news-cards .card-title {
    font-size: 14px;
  }
  .news-cards .card {
    padding-top: 12px;
  }
  .news-slider .owl-dots {
    margin-bottom: -30px;
  }

  .news-view-more-btn {
    text-align: center;
  }
  .news-view-more-btn a {
    position: static;
  }
  .brokerage-card {
    margin-right: auto;
    margin-top: 50px;
  }
  .table-tabing .nav {
    justify-content: center;
  }
  .table-tabing .nav-link {
    font-size: 14px;
    padding: 15px 15px;
  }
  .table-tabing .tab-line {
    margin-bottom: 5px;
  }
  .table-tabing thead th {
    font-size: 12px;
    padding: 14px 10px;
    min-width: 100px;
  }
  .table-tabing tbody td {
    padding: 15px 10px;
    font-size: 12px;
  }
  .table-symobol-link {
    padding: 20px 10px;
  }
  .table-symobol-link {
    padding: 15px 10px;
  }
  .min-w-250 {
    min-width: 250px !important;
  }
  .min-w-130 {
    min-width: 130px !important;
  }
  .range-box {
    width: 105px;
  }
  .highvalue-range {
    height: 8px;
  }
  .table-tabing .low-value,
  .table-tabing .high-value {
    min-width: 55px;
  }
  .table-hover-icons a {
    font-size: 18px;
  }
  .footer {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .app-link {
    font-size: 11px;
  }
  .nifty-app {
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;
  }
  .nifty-app h3 {
    font-size: 28px;
  }
  .app-text strong {
    font-size: 20px;
  }
  .app-text {
    font-size: 14px;
    padding: 0px 65px;
    padding-top: 7px;
  }

  .footer-alpha {
    padding-top: 60px;
    text-align: center;
    padding-bottom: 0;
  }
  .footer-alpha h4 {
    font-size: 14px;
  }
  .alpha-menu {
    padding-top: 15px;
  }
  .alpha-item {
    margin-right: 5px;
    margin-bottom: 10px;
  }
  .alpha-link {
    font-size: 12px;
    padding: 5.5px 10px;
  }
  .footer-logo {
    padding-top: 34px;
    text-align: center;
  }
  .logo-text p {
    font-size: 14px;
    text-align: center;
    padding: 0px 80px;
    padding-top: 10px;
  }
  .footer-social-icons {
    padding-top: 15px;
    text-align: center;
    padding-bottom: 50px;
  }
  .footer-links {
    text-align: center;
    padding-bottom: 50px;
    max-width: 480px;
    margin: auto;
  }
  footer-links h4 {
    font-size: 18px;
  }
  .subscribe-text {
    font-size: 14px;
  }
  .copyright p {
    padding: 18.5px 0px;
  }
  .feedback-btn .btn {
    width: 50px;
    height: 50px;
  }

  .show-share-btns {
    right: 0px;
  }
  .feedback-btn {
    bottom: 85px;
  }
  .share-icon-btn {
    background-color: rgb(218, 79, 73);
    bottom: 20px;
  }
  .share-social-links a {
    width: 27px !important;
    height: 27px !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .menu .navbar {
    padding: 8.5px 10px;
    height: 45px;
  }
  .menu .navbar-brand {
    margin-right: 0px;
    margin-left: 42px;
  }
  .menu .navbar-brand img {
    max-width: 103px;
  }
  .menu .nav-link {
    font-size: 12px;
    padding: 10px 5px !important;
  }
  .menu .signup-link {
    border-radius: 4px;
    width: 66px;
  }
  .menu .watchlist-link {
    font-size: 11px;
  }
  .menu .user-profile {
    margin-left: 4px;
  }
  .menu .user-profile img {
    margin-right: 4px;
    max-width: 30px;
    max-height: 30px;
  }
  .menu .user-profile i {
    font-size: 14px;
    margin-left: 5px;
  }
  .menu .user-profile {
    font-size: 9px;
  }
  .user-dropdown li a {
    display: block;
    padding: 12px 15px;
    color: rgba(29, 30, 38, 0.6);
    background-color: transparent;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 10px;
  }
  .show-header-searchbar {
    display: none;
  }
  .acess-now-text {
    padding-top: 50px;
    font-size: 12px;
  }
  .main-searchbar h1 {
    font-size: 18px;
  }
  .stocks-searcbar {
    width: 290px;
    margin: auto;
  }
  .input-seachbar input {
    width: 100%;
    font-size: 14px;
  }
  .stocks-searcbar .tt-menu {
    width: 171px;
  }
  .stocks-searcbar .tt-suggestion {
    padding: 8.5px 25px !important;
  }
  .popularstocklabel {
    width: 100%;
  }
  .popularstocklabel a {
    font-size: 11px;
    padding: 8px 9px;
    margin-left: 5px;
  }
  .stack-card-width {
    width: 290px;
    margin: auto;
  }
  /* .stock-card-slider {
        margin-top: 50px;
        margin-bottom: 50px;
    }
  */
  .stoct-card-list {
    padding: 12px;
  }
  .stoct-card-list ul li {
    margin-left: 12px;
  }
  .stoct-card-list strong {
    font-size: 12px;
  }
  .nifty-50-vlaue {
    font-size: 26px;
  }
  .main-value .percent-value {
    font-size: 12px;
  }
  .stoct-card-list small {
    font-size: 11px;
  }
  .high-value span,
  .low-value span {
    font-size: 12px;
  }
  .main-value {
    min-width: 115px;
  }
  .card-btns a {
    font-size: 10px;
    padding: 9px 4px;
    margin-right: 6px;
  }
  .low-value,
  .high-value {
    min-width: 55px;
  }
  .logos {
    padding: 16px 0px;
  }
  .inner-logo-div {
    height: 45px;
  }
  .logos img {
    max-width: 136px;
    max-height: 40px;
  }
  .logos p {
    font-size: 10px;
  }
  .all-traders {
    margin-bottom: 50px;
  }
  .news {
    padding-bottom: 60px;
  }
  .news h2 {
    font-size: 18px;
    padding-top: 6px;
  }
  .news-btns .btn {
    font-size: 11px;
    padding: 7px 7px;
  }
  .news-cards .card {
    padding-top: 0px;
  }
  .news-cards .card-title {
    font-size: 14px;
  }
  .news-cards .card-text {
    font-size: 10px;
  }
  .news-cards .img-square-wrapper img {
    max-height: 52px;
  }
  .news-slider .owl-dots {
    margin-bottom: -33px;
  }
  .news-view-more-btn {
    padding-top: 50px;
    text-align: center;
  }
  .news-view-more-btn a {
    position: static;
  }
  .view-more-stocks-btn a,
  .news-view-more-btn a {
    font-size: 14px;
  }
  .brokerage-card {
    margin-top: 50px;
    padding: 26px 25px;
    /* max-width: 290px; */
    max-width: 100%;
    margin-right: auto;
  }
  .brokerage-card h3 {
    font-size: 18px;
  }
  .slash {
    margin: 0px 3px;
  }

  .brokerage-card-form .form-group input {
    height: 40px;
    font-size: 14px;
  }

  .brokerage-card-form .select2-selection {
    height: 50px !important;
  }

  .submit-btn {
    font-size: 16px;
    padding: 14.5px;
  }
  .table-tabing .nav-link {
    font-size: 11px;
    padding: 15px 10px;
  }
  .table-tabing .nav {
    justify-content: center;
  }
  .table-tabing .tab-line {
    margin-bottom: 5px;
  }
  .table-tabing thead th {
    font-size: 12px;
    padding: 15px 10px;
    min-width: 100px;
  }
  .table-tabing tbody td {
    padding: 15px 10px;
    font-size: 12px;
  }
  .table-symobol-link {
    padding: 15px 10px;
  }
  .min-w-250 {
    min-width: 250px !important;
  }
  .min-w-130 {
    min-width: 130px !important;
  }
  .range-box {
    width: 105px;
  }
  .highvalue-range {
    height: 8px;
  }
  .table-tabing .low-value,
  .table-tabing .high-value {
    min-width: 55px;
  }
  .table-hover-icons a {
    font-size: 18px;
  }
  .footer {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .nifty-app {
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;
  }
  .nifty-app h3 {
    font-size: 32px;
  }
  .app-text strong {
    font-size: 20px;
  }
  .app-text {
    font-size: 15px;
    padding: 0px 30px;
    padding-top: 7px;
  }

  .footer-alpha {
    padding-top: 60px;
    text-align: center;
    padding-bottom: 0;
  }
  .footer-alpha h4 {
    font-size: 14px;
  }
  .alpha-menu {
    padding-top: 15px;
  }
  .alpha-item {
    margin-right: 5px;
    margin-bottom: 10px;
  }
  .alpha-link {
    font-size: 12px;
    padding: 5.5px 10px;
  }
  .footer-logo {
    padding-top: 34px;
    text-align: center;
  }
  .logo-text p {
    font-size: 14px;
    text-align: center;
    padding: 0px 15px;
    padding-top: 10px;
  }
  .footer-social-icons {
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
  }
  .footer-links {
    text-align: center;
    padding-bottom: 50px;
    max-width: 480px;
    margin: auto;
  }
  footer-links h4 {
    font-size: 18px;
  }
  .subscribe-text {
    font-size: 14px;
  }
  .copyright p {
    padding: 18.5px 0px;
  }
  .feedback-btn .btn {
    width: 50px;
    height: 50px;
  }

  .show-share-btns {
    right: 0px;
  }

  .feedback-btn {
    bottom: 85px;
  }
  .share-icon-btn {
    bottom: 20px;
  }
  .share-social-links a {
    width: 27px !important;
    height: 27px !important;
  }
}
@media only screen and (max-width: 1348px) {
  .feedback-btn .btn {
    width: 50px;
    height: 50px;
  }

  .show-share-btns {
    right: 0px;
  }

  .feedback-btn {
    bottom: 85px;
  }
  .share-icon-btn {
    bottom: 20px;
  }
  .share-social-links a {
    width: 27px !important;
    height: 27px !important;
  }
}
@media only screen and (min-width: 300px) and (max-width: 767px) {
  .iti__country {
    min-width: 240px !important;
  }
  .h_qrcode {
    border-radius: 4px;
    padding: 3px;
    background: #fff;
    display: inline-block !important;
    border: 2px solid #15172c;
    margin-left: 10px;
    height: 42px;
    position: relative;
    top: 7px;
  }
  .footer-subscribe-form .submit-btn {
    position: absolute;
    top: 53px;
    width: 25%;
    right: 13px;
    height: 40px;
    border-radius: 0px 4px 4px 0px;
  }

  .form-icon {
    margin-top: -7px;
  }
  .card-btns a {
    padding: 0px 4px;
    line-height: 20px;
    font-size: 9px;
  }
  .stoct-card-list h6 {
    font-weight: 600;
    display: block;
    line-height: 1.2;
    font-size: 22px;
  }
  .card-btns {
    padding: 0px;
    position: absolute;
    bottom: 10px;
    width: 100%;
  }
  .stoct-card-list {
    height: 200px;
    max-height: 100%;
    position: relative;
  }
  .stocks-searcbar {
    width: 100%;
  }
  .popularstocklabel a {
    font-size: 9px;
    margin: 0px 1.5px 10px;
    line-height: 20px;
    padding: 0px 7px;
  }
  .stocks-searcbar {
    max-width: 506px;
  }
  .main-searchbar {
    background-size: contain;
  }
  .stocks-searcbar {
    padding: 20px 0px;
  }
  .main-searchbar h1 {
    font-size: 23px;
  }
  .acess-now-text {
    padding: 0px;
  }

  .stock-card-slider {
    padding: 0px;
    margin: 0px;
  }
  .stack-card-width {
    width: 100%;
  }
  .input-seachbar input {
    height: 40px;
  }
  .input-seachbar img {
    width: 16px;
    margin-top: -8px;
  }
  .acess-now-text {
    font-size: 13px;
  }
  .main-searchbar h1 {
    padding-top: 8px;
  }
  .home-container .container {
    max-width: 100%;
  }
  .popularstocklabel a {
    font-size: 8px;
    margin: 0px 1.5px 10px;
    line-height: 20px;
    padding: 0px 4px;
  }
  .input-seachbar input {
    padding-left: 45px;
  }

  .nifty-50-vlaue {
    font-size: 25px;
  }
  .stoct-card-list strong {
    font-size: 11px;
  }
  .stack-card-width {
    max-width: 100%;
  }
  .stock-card {
    height: 135px;
    max-height: 100%;
  }
  .stoct-card-list ul {
    padding: 0px;
  }
  .stoct-card-list ul li {
    margin: 0px;
  }
  .stoct-card-list ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .stoct-card-list ul li {
    flex: 0 0 50%;
    max-width: 50%;
    float: none;
    font-size: 15px;
  }
  .main-value {
    min-width: auto;
  }
  .stoct-card-list {
    height: 200px;
    max-height: 100%;
    position: relative;
  }
  .card-btns {
    padding: 0px;
    position: absolute;
    bottom: 10px;
    width: 100%;
  }
  .card-btns a {
    padding: 0px 4px;
    line-height: 20px;
    font-size: 9px;
    margin: 0px auto;
  }

  .all-traders {
    margin: 10px auto;
    text-align: center;
  }
  .stoct-card-list ul li span {
    display: block;
    width: 100%;
  }
  .logos {
    padding: 0px;
    height: 90px;
  }
  .logos-slider .owl-item img {
    width: auto !important;
    max-width: auto;
    margin-bottom: 10px;
  }
  .inner-logo-div {
    height: auto !important;
  }
  .logos p {
    font-size: 10px;
  }
  .zerodha-logo {
    max-width: 80% !important;
  }
  .angel-broking-logo {
    max-width: 87% !important;
  }
  .aliceblue-logo {
    max-width: 67% !important;
  }
  .paisa-logo {
    max-width: 40% !important;
  }
  .tradesmart-logo {
    max-width: 60% !important;
  }
  .nifty-logo {
    max-width: 80% !important;
  }

  .news {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .news-cards .img-square-wrapper img {
    max-width: 120px;
  }
  .news-cards .card-title {
    font-size: 13px;
  }

  .brokerage-card h3 {
    font-size: 14px;
  }
  .brokerage-card-form .form-group input {
    height: 40px;
  }

  .news-cards .card-text {
    font-size: 9px;
  }
  .news-cards .card {
    padding-top: 15px;
  }
  .news h2 {
    font-size: 25px;
  }
  .news-btns .btn {
    font-size: 12px;
    padding: 0px 19.5px;
    line-height: 28px;
  }
  .news .btn-group {
    margin-top: -5px;
  }
  .submit-btn {
    line-height: 40px;
    padding: 0px;
    margin: 0px 0px 10px 0px;
    font-size: 14px;
  }
  .news-view-more-btn a {
    width: 100px;
    line-height: 30px;
    padding: 0px;
    font-size: 10px;
    text-align: center;
  }
  .news-view-more-btn {
    padding-top: 45px;
  }

  .table-tabing .nav-link {
    font-size: 12px;
    color: rgb(72, 150, 235);
    line-height: 1.2;
    font-family: "Montserrat";
    font-weight: 500;
    padding: 18px 15px 20px 15px;
    cursor: pointer;
  }
  .table-tabing {
    padding: 40px 0px 0px 0px;
  }
  .view-more-stocks-btn {
    padding: 30px 0px;
  }
  .brokerage-card-form .form-group {
    margin-top: 15px;
  }
  .table-tabing thead th {
    font-size: 11px;
    padding: 10px 17px;
    white-space: nowrap;
  }
  .table-symobol-link {
    padding: 0px 15px;
  }
  .table-tabing tbody td {
    line-height: 38px;
    padding: 0px 15px;
    font-size: 11px;
    white-space: nowrap;
  }
  .highvalue-range {
    height: 7px;
  }
  .range-box {
    width: 160px;
  }
  .table-tabing .low-value,
  .table-tabing .high-value {
    min-width: 54px;
  }
  .view-more-stocks-btn a {
    padding: 0px 15px;
    line-height: 30px;
    font-size: 12px;
  }
  .table-tabing .table {
    margin-bottom: 30px;
  }

  .qr-code-img {
    padding: 0px;
    top: 40px;
  }
  .qr-code-img img {
    width: 100%;
  }
  .footer {
    height: 800px;
    margin-top: 60px;
  }
  .nifty-app h3 {
    font-size: 25px;
    padding-top: 6px;
    padding-bottom: 10px;
  }
  .app-text {
    font-size: 12px;
    padding: 0px !important;
  }
  .app-text strong {
    font-size: 16px;
  }
  .app-logo {
    height: 40px;
    width: 140px;
    padding: 0px;
    line-height: 40px;
  }
  .app-logo p {
    font-size: 10px;
  }
  .app-logo p strong {
    font-size: 12px;
  }
  .app-link {
    font-size: 10px;
  }
  .footer-alpha {
    padding: 0px;
  }
  .alpha-item {
    margin: 0px;
    text-align: center;
    display: inline-block;
  }
  .alpha-link {
    padding: 0px 5px;
    font-size: 12px;
    line-height: 20px;
    display: block;
  }
  .footer-alpha h4 {
    font-size: 12px;
    margin-top: 140px;
  }
  .footer-links h4 {
    font-size: 12px;
  }
  .alpha-menu {
    padding-top: 10px;
    margin-bottom: 30px;
  }
  .nifty-app {
    padding-top: 170px;
  }
  .quike-links li a {
    font-size: 11px;
  }
  .quike-links li {
    margin-bottom: 12px;
  }
  .logo-text p {
    font-size: 11px;
    padding: 0px;
  }
  .footer-logo img {
    max-width: 150px;
  }
  .linkrow {
    padding-top: 10px;
  }
  .copyright {
    width: 98%;
    margin: 0px auto;
  }
  .subscribe-text {
    font-size: 12px;
  }
  .help-block {
    font-size: 9px;
  }
  .copyright p {
    padding: 10px 0px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 767px) {
  .stock-card-slider .owl-stage-outer {
    overflow: visible !important;
  }
  .main-searchbar {
    overflow: hidden;
    padding-top: 30px;
  }
  .popularstocklabel a {
    background: #fff;
  }
  .all-traders .owl-stage-outer {
    overflow: visible !important;
  }
  .stoct-card-list ul li span {
    padding-top: 10px;
  }
  .news h2 {
    font-size: 22px;
  }
  .news-btns .btn {
    padding: 0px 10px;
  }
  .news {
    padding: 30px 0px !important;
  }
  .nifty-app {
    padding: 0px 0px 30px 0px;
  }
  #sidebar {
    top: 0px;
  }
  .footer-alpha h4 {
    margin-top: 20px;
  }
  .alpha-item {
    margin-bottom: 10px;
  }
  .footer-logo {
    padding-top: 0px;
  }
  .copyright {
    width: 100%;
  }
  .footer {
    height: auto;
    background: transparent;
  }
  .quike-links {
    padding-top: 10px;
  }
  .responsive-bg {
    background-color: rgb(10, 22, 33);
  }
  .all-traders {
    width: 100%;
  }
  .brokerage-card {
    max-width: 100%;
  }
  .mobile-none {
    display: none !important;
  }
  .table-tabing .tab-line {
    margin-bottom: 17px;
    margin-top: 0px;
  }
  .stocks-searcbar .tt-menu {
    width: 82%;
    margin-left: 30px;
  }
  .form-icon {
    margin-top: -10px;
  }
  .emailicon {
    margin-top: -6px;
  }
  .footer-links {
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 992px) {
  .stack-card-width {
    margin-top: 50px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 992px) {
  .pin-menu {
    display: block !important;
  }
  .subscribe-text {
    font-size: 11px;
  }
  .qr-code-img img {
    width: 90%;
  }
  .qr-code-img {
    top: 87px;
  }
  .nifty-app {
    padding-top: 245px;
  }
  .footer-alpha h4 {
    margin-top: 0px;
  }
  .all-traders {
    width: 100%;
  }
  .responsive-bg {
    background-color: #0d1d2c;
  }
  .copyright {
    background-color: #0d1d2c;
  }
  .logo-text p {
    padding: 0px;
  }
  .submit-btn {
    padding: 0px;
  }
  .footer-alpha {
    padding-top: 10px;
  }
  .alpha-link {
    font-size: 6px;
    padding: 2px 8px;
  }
  .quike-links li {
    display: block;
    text-align: left;
  }
  .logo-text p {
    font-size: 11px;
  }
  .footer-links h4 {
    text-align: left;
  }
}
