.sidebar_btn {
  position: absolute;
  left: 0;
  border-radius: 0;
  width: 60px;
  padding: 0px;
  height: 100%;
  background-color: rgb(20, 45, 69);
  color: #fff;
}

.sidebar_btn:focus {
  outline: none;
  box-shadow: none;
}

.sidebar_btn img {
  vertical-align: middle;
  text-align: center;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  /* margin-bottom: 40px; */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.mCustomScrollBox,
.mCSB_container {
  overflow: visible !important;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#menu {
  position: relative;
  z-index: 999999999;
  top: 0px;
}
#sidebar {
  width: 250px;
  position: fixed;
  /* top: 0; */
  top: 0px;
  left: -250px;
  height: 100vh;
  z-index: 9999;
  background-color: rgb(16, 37, 56);
  color: #fff;
  transition: all 0.3s;
  box-shadow: 6px 0px 11.52px 0.48px rgba(21, 22, 31, 0.1);
  padding-top: 84px;
  padding-left: 15px;
}

#sidebar.active {
  left: 0;
}

#sidebar.onscroll_active {
  top: 54px;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0, 0.8);
  z-index: 999;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  margin-top: 54px;
}

.overlaybg {
  background: transparent;
}

.overlay.active {
  display: block;
  opacity: 1;
}

.overlay.onscroll_active {
  margin-top: 54px;
}

#sidebar ul.components {
  padding: 20px 0;
  margin-left: 15px;
  padding-bottom: 50px;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  display: flex;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px !important;
  color: rgba(255, 255, 255);
  line-height: 1.2;
  align-items: center;
}

#sidebar ul li a i {
  font-size: 20px;
  margin-right: 15px;
}

#sidebar ul li a img {
  margin-right: 15px;
}

#sidebar ul li a:hover {
  color: #fff;
  background-color: rgb(20, 45, 69);
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background-color: rgb(20, 45, 69);
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#sidebar ul ul .sidebar-menu-link {
  padding-left: 30px;
  background-color: rgb(20, 45, 69);
}

#sidebar ul ul a:hover {
  color: #ffffff;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

.inner-menu {
  background-color: rgb(20, 45, 69);
  position: absolute;
  width: 690px;
  left: 100%;
  top: 40px;
  padding: 50px;
  height: 625px;
}

.collapse.show {
  transition: all 0.5s ease-in-out;
}

.inner-menu-title {
  font-size: 16px;
  color: rgb(255, 150, 62);
  line-height: 1.2;
  font-family: "Montserrat";
  font-weight: 600;
  margin-bottom: 10px;
}

.inner-menu-link a {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
  line-height: 2.857;
  display: inline-flex !important;
  align-items: center !important;
  padding-left: 0px !important;
  font-family: "Open Sans" !important;
  font-weight: 400 !important;
  display: inherit !important;
}

.label-new {
  border-radius: 2px;
  background-color: rgb(83, 178, 110);
  width: 29px;
  height: 13px;
  font-size: 10px;
  color: rgb(48, 52, 73);
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
  padding: 2px;
  margin-right: 10px;
}

.inner-menu-link a img {
  vertical-align: middle;
  margin-right: 10px;
}

.inner-menu-link {
  margin-bottom: 15px;
}

.only_show_desktop {
  display: block;
}

.only_show_mobile {
  display: none;
}

.responsive-toggle-menu h6 {
  padding-top: 15px;
  padding-left: 50px;
}

.responsive-toggle-menu li {
  background-color: rgb(20, 45, 69);
}

.responsive-toggle-menu li a {
  padding-left: 50px !important;
}

.pin-menu {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.pin-menu .custom-switch {
  padding-left: 28px;
}

.pin-menu .custom-control-label {
  padding-left: 15px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.302);
  line-height: 1.2;
  font-family: "Montserrat";
  font-weight: 500;
  cursor: pointer;
}

.pin-menu .custom-control-input {
  width: 14px !important;
  height: 14px !important;
  background-color: rgb(242, 245, 250);
  box-shadow: 0px 3px 5.88px 0.12px rgba(38, 41, 56, 0.3);
}

.pin-menu .custom-control-label::before {
  top: 0.25rem;
  left: -1.5rem;
  width: 30px;
  height: 10px;
  background-color: rgb(218, 79, 73);
  border: rgb(218, 79, 73) solid 1px;
}

.pin-menu .custom-switch .custom-control-label::after {
  top: 1px;
  left: -24px;
  width: 14px;
  height: 14px;
  background-color: rgb(242, 245, 250);
  box-shadow: 0px 3px 5.88px 0.12px rgba(38, 41, 56, 0.3);
}

.pin-menu .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #53b26e;
  background-color: #53b26e;
}

.pin-menu
  .custom-switch
  .custom-control-input:checked
  ~ .custom-control-label::after {
  -webkit-transform: translateX(15px);
  transform: translateX(15px);
}

.pin-menu .custom-control-label:focus {
  box-shadow: none;
}

.pin-menu .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}

.pin-active {
  width: 60px !important;
}

@media screen and (max-width: 991px) {
  .pin-menu {
    display: none;
  }

  .only_show_desktop {
    display: none;
  }

  .only_show_mobile {
    display: block;
  }

  #sidebar ul li a {
    font-size: 12px !important;
  }

  .inner-menu {
    background-color: rgb(20, 45, 69);
    position: inherit;
    width: inherit;
    left: inherit;
    top: inherit;
    height: inherit;
    padding: 15px 30px;
  }

  .inner-menu-title {
    font-size: 12px;
    color: rgb(255, 150, 62);
    line-height: 1.2;
    font-family: "Montserrat";
    font-weight: 600;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .inner-menu-link a {
    font-size: 12px;
    line-height: 2.6;
  }

  #sidebar {
    width: 327px;
    left: -100% !important;
  }

  #sidebar.active {
    left: 0 !important;
  }

  .mCustomScrollBox,
  .mCSB_container {
    overflow: hidden !important;
  }

  .menu-scrollbar {
    overflow-y: auto;
    min-height: 598px;
    height: 100%;
    padding-bottom: 10px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .sidebar_btn img {
    max-width: 22px;
  }

  .sidebar_btn {
    width: 45px;
  }

  .overlay {
    margin-top: 45px;
  }

  #sidebar {
    top: 75px;
  }

  .overlay.onscroll_active {
    margin-top: 45px;
  }

  #sidebar.onscroll_active {
    top: 45px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 575px) {
  .overlay {
    margin-top: 79px;
  }

  #sidebar {
    top: 79px;
  }

  .overlay.onscroll_active {
    margin-top: 48px;
  }

  #sidebar.onscroll_active {
    top: 49px;
  }
}
