.home-conatiner .container {
  width: 1585px;
  max-width: 100%;
}
body {
  overflow-x: hidden;
}
.stocks-ticker {
  background-color: #0d1d2b;
  padding: 0px 0px;
}

.stocks-ticker li {
  display: inline-block;
  margin-left: 25px;
}

.stocks-ticker a {
  font-size: 10px;
  color: #e8f1fa;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 20px;
}

.stock-value {
  font-family: "Open Sans";
  font-weight: 400;
  color: #b0c6df;
}

.ml-7 {
  margin-left: 7px;
}

.stocks-ticker .percent-value {
  font-family: "Open Sans";
  font-weight: 600;
}

.percent-red {
  color: #da4f49;
}

.percent-green {
  color: #53b26e;
}

.scroll_menu {
  top: -50px;
  /* -webkit-animation: fadeInDown 0.5s ease;
    animation: fadeInDown 0.5s ease; */
}

.menufixed {
  position: fixed !important;
  width: 100%;
  top: 0px;
  z-index: 9999;
  /* -webkit-animation: fadeInDown 0.5s ease;
    animation: fadeInDown 0.5s ease; */
}

@-webkit-keyframes fadeInDown {
  0% {
    -webkit-transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.menu .navbar {
  padding: 8.5px 15px;
  position: relative;
}

.menu .nav-link {
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 500;
  color: #1d1e26;
  padding: 13px 20px !important;
}

.menu .nav-link:hover {
  color: rgb(72, 150, 235);
  transition: 0.2s ease;
}

.menu .signup-link {
  background-color: rgb(72, 150, 235) !important;
  border-radius: 4px;
  width: 116px;
  text-align: center;
  color: #ffffff;
  transition: 0.2s;
}

.menu .navbar-brand {
  margin-left: 60px;
}

.menu .navbar-brand img {
  width: 177px;
}

.menu .user-profile {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 600;
  color: rgb(38, 41, 56);
  margin-left: 15px;
}

.menu .user-profile img {
  margin-right: 10px;
  border-radius: 4px;
  max-width: 40px;
  max-height: 40px;
}

.menu .user-profile i {
  font-size: 20px;
  vertical-align: middle;
  margin-left: 10px;
}

.user-dropdown {
  position: absolute;
  width: 100%;
  padding-top: 10px;
  left: 0px;
  top: 0%;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  z-index: 999;
  visibility: hidden;
}

.user-dropdown li a {
  display: block;
  padding: 12px 15px;
  color: rgba(29, 30, 38, 0.6);
  background-color: transparent;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
}

.user-dropdown li a:hover {
  background-color: rgb(242, 245, 250);
  color: rgb(29, 30, 38);
  transition: 0.2s;
}

.menu .user-profile:hover .user-dropdown {
  visibility: visible;
  top: 100%;
  transition: 0.2s;
}

.user-profile .user-dropdown i {
  margin-right: 10px;
  margin-left: 0;
}

.navbar-list {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
}

.menu .navbar-nav {
  flex-direction: inherit;
  align-items: center;
}

.menu .signup-link:hover {
  box-shadow: 0px 3px 5.88px 0.12px rgba(29, 30, 38, 0.2);
  color: #ffffff;
  transition: 0.2s;
  background-color: rgb(65, 135, 209) !important;
}

.menu .watchlist-link {
  font-size: 20px;
  padding: 10px 20px !important;
  padding-right: 0px !important;
}

.header-searchbar {
  position: relative;
  display: none;
  width: auto !important;
}

.show-header-searchbar {
  display: block;
}

.header-searchbar .form-control {
  border-radius: 4px;
  background-color: rgb(38, 41, 56, 0.102) !important;
  border: none;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(29, 30, 38);
  padding-left: 40px;
  width: 320px;
}

.header-searchbar .form-control:focus {
  outline: none;
  box-shadow: none;
}

.header-searchbar img {
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -8px;
  margin-left: 15px;
}

.header-searchbar input::placeholder {
  font-size: 11px;
  font-family: "Montserrat";
  font-weight: 400;
  color: rgba(38, 41, 56, 0.6);
  line-height: 1.2;
  text-align: left;
  vertical-align: text-center;
}

.header-searchbar .tt-menu {
  width: 222px !important;
  margin-left: 0px !important;
  background-color: rgb(233, 233, 235);
  border-radius: 0px 0px 4px 4px !important;
  padding-top: 12px !important;
}

.stocks-searcbar .tt-suggestion {
  padding: 8.5px 40px !important;
  font-size: 14px !important;
}

.main-searchbar {
  background: url("/images/bg-2.jpg") no-repeat;
  background-size: cover;
  /* background-position: calc(100% - 0%) -150px; */
}

.acess-now-text {
  padding-top: 168px;
  font-size: 16px;
  color: rgba(232, 241, 250, 0.4);
  font-family: "Montserrat";
  font-weight: 500;
  text-transform: uppercase;
}

.main-searchbar h1 {
  padding-top: 16px;
  font-size: 36px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-shadow: 0px 12px 22.08px rgba(34, 36, 51, 0.1);
  font-family: "Montserrat";
  text-transform: capitalize;
  font-weight: 600;
}

.stocks-searcbar {
  padding: 30px 0px;
  width: 780px;
  margin: auto;
}

.popularstocklabel {
  width: 700px;
  margin: auto;
}

.input-seachbar {
  position: relative;
  width: 100%;
  margin: auto;
}

.input-seachbar input {
  width: 100%;
  height: 60px;
  background-color: rgb(255, 255, 255) !important;
  box-shadow: 0px 6px 11.52px 0.48px rgba(38, 41, 56, 0.15) !important;
  border-radius: 30px;
  border: none;
  padding-left: 65px;
  z-index: 999;
  font-size: 18px;
  line-height: 1.2;
  color: rgb(29, 30, 38) !important;
  font-family: "Montserrat";
  font-weight: 400;
}

.input-seachbar img {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -13.5px;
  margin-left: 20px;
  z-index: 999;
}

.input-seachbar input:focus {
  outline: 0;
}

.stocks-searcbar .twitter-typeahead {
  width: 100%;
}

.stocks-searcbar .tt-menu {
  width: 394px;
  margin-left: 60px;
  background-color: rgb(255, 255, 255);
  /* max-height: 312px; */
  /* overflow-y:scroll; */
  border-radius: 0px 0px 10px 10px;
  padding-top: 20px;
}

.stocks-searcbar .tt-suggestion {
  padding: 10.5px 38px;
  font-size: 18px;
  text-align: left;
  line-height: 1.2;
  color: rgba(29, 30, 38, 0.6);
  font-family: "Montserrat";
  font-weight: 400;
  text-transform: uppercase;
  background-color: transparent;
}

.stocks-searcbar .tt-suggestion:last-child {
  border-radius: 0px 0px 10px 10px;
}

.stocks-searcbar .tt-cursor,
.stocks-searcbar .tt-suggestion:hover {
  background-color: rgb(242, 245, 250);
  color: rgb(29, 30, 38);
  font-weight: 500;
  cursor: pointer;
}

.popularstocklabel a {
  display: inline-block;
  font-size: 12px;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 1.2;
  color: rgb(29, 30, 38);
  border-radius: 4px;
  background-color: rgb(232, 241, 250, 0.4);
  padding: 8px 15px;
  margin-left: 5px;
  margin-bottom: 10px;
  transition: 0.2s;
}

.popularstocklabel a:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 6px 11.52px 0.48px rgba(29, 30, 38, 0.2);
  color: rgb(29, 30, 38);
  transition: 0.2s;
}

.popularstocklabel .view-more {
  background-color: rgb(247, 248, 253);
}

.stack-card-width {
  width: 1185px;
  margin: auto;
}

.stock-card-slider {
  margin-top: 147px;
  margin-bottom: 258px;
}

.stock-card-slider .owl-stage-outer {
  border-radius: 10px;
}

.stock-card {
  display: block;
}

.nifty-50-bg {
  background-color: #fff;
  background-image: url(/images/red-stock-card.jpg);
  background-position: 0% 73px;
  width: 100%;
  background-size: contain;
}

.sgx-nifty-bg {
  background-color: #fff;
  background-position: 0% 47px;
  width: 100%;
  background-size: contain;
  background-image: url(/images/green-stock-card.jpg);
}

.nifty-bank-bg {
  background: url(/images/red-stock-card-3.jpg);
  background-color: #fff;
  background-position: 0% 56px;
  width: 100%;
  background-size: contain;
}

.stoct-card-list {
  border-radius: 10px;
  box-shadow: 0px 12px 22.08px 1.92px rgba(38, 41, 56, 0.15);
  padding: 15px;
  background-repeat: no-repeat !important;
}

.stoct-card-list ul {
  display: block;
  padding-top: 10px;
}

.stoct-card-list ul li {
  float: left;
  font-family: "Montserrat";
  margin-left: 15px;
}

.main-value {
  min-width: 155px;
}

.low-value,
.high-value {
  min-width: 70px;
}

.stoct-card-list strong {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  color: rgba(29, 30, 38, 0.6);
  margin-bottom: 4px;
}

.stoct-card-list small {
  font-size: 12px;
  line-height: 1.2;
  display: inline-block;
  font-weight: 500;
  margin-bottom: 4px;
  color: rgb(29, 30, 38);
}

.nifty-50-vlaue {
  font-size: 36px;
  font-family: "Montserrat";
  font-weight: 600;
  display: block;
  line-height: 1.2;
}

.main-value .percent-value {
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 1.2;
  display: block;
}

.low-value span {
  font-size: 14px;
  color: #da4f49;
  font-family: "Montserrat";
  font-weight: 600;
  display: block;
  line-height: 1.2;
}

.high-value span {
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 600;
  display: block;
  color: #53b26e;
  line-height: 1.2;
}

.card-btns {
  display: block;
  padding-top: 52px;
}

.card-btns a {
  background-color: rgb(72, 150, 235);
  border-radius: 4px;
  font-family: "Montserrat";
  font-weight: 500;
  color: rgb(255, 255, 255);
  font-size: 12px;
  padding: 9px 9px;
  text-align: center;
  display: inline-block;
  margin-right: 6px;
  transition: 0.2s;
}

.card-btns a:hover {
  background-color: rgb(65, 135, 209);
  box-shadow: 0px 3px 5.88px 0.12px rgba(29, 30, 38, 0.2);
  transition: 0.2s;
}

.card-btns a:last-child {
  margin-right: 0px;
}

.all-traders {
  /* padding-bottom: 172px; */
  margin-bottom: 172px;
}

.logos-slider .owl-item {
  border-radius: 10px;
}

.logos-slider .owl-item img {
  width: inherit !important;
}

.logos {
  display: block;
  background-color: transparent;
  border-radius: 10px;
  padding: 37px 0px;
  transition: 0.2s;
}

.logos:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 12px 22.08px 1.92px rgba(29, 30, 38, 0.05);
  transition: 0.2s;
}

.logos:hover .zerodha-logo {
  content: url("/images/zerodha.jpg");
}

.logos:hover .angel-broking-logo {
  content: url("/images/angel-broking.jpg");
}

.logos:hover .aliceblue-logo {
  content: url("/images/aliceblue.jpg");
}

.logos:hover .paisa-logo {
  content: url("/images/5paisa.jpg");
}

.logos:hover .paisa-logo {
  content: url("/images/5paisa.jpg");
}

.logos:hover .tradesmart-logo {
  content: url("/images/trade-smart.jpg");
}

.logos:hover .nifty-logo {
  content: url("/images/hover-logo.jpg");
}

.inner-logo-div {
  display: block;
  height: 64px;
}

/* .logos img{
    min-width: 56px;
    max-width: 180px;
    max-height: 45px;
    margin: auto;
   } */
.logos img {
  max-width: 100%;
  margin: auto;
}

.logos p {
  font-size: 14px;
  color: rgba(29, 30, 38, 0.4);
  line-height: 1.2;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 600;
}

.news {
  padding-bottom: 118px;
}

.news h2 {
  font-size: 36px;
  color: rgb(29, 30, 38);
  line-height: 1.2;
  font-family: "Montserrat";
  font-weight: 600;
}

.news .btn-group {
  border-radius: 4px;
  border: rgb(72, 150, 235) solid 2px;
  background-color: rgb(72, 150, 235);
}

.news-btns .btn {
  border-radius: 0;
  font-size: 16px;
  color: rgb(72, 150, 235);
  background-color: rgb(255, 255, 255);
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 1.2;
  padding: 9.5px 30px;
  border: 0px;
}

.news-btns .btn:hover {
  background-color: rgb(242, 245, 250);
}

.news .news-btns .active {
  background-color: rgb(72, 150, 235);
  color: rgb(255, 255, 255);
}

.news .btn.focus,
.news .btn:focus {
  outline: 0;
  box-shadow: none;
}

.news-cards .card {
  border: none;
  border-radius: 0;
  padding-top: 32px;
}

.news-cards a:hover .card-title {
  color: rgb(72, 150, 235);
  transition: 0.2s;
}

.img-square-wrapper {
  margin-right: 15px;
}

.news-cards .img-square-wrapper img {
  border-radius: 4px;
  width: auto !important;
}

.news-cards .card-body {
  padding: 10px 0px;
}

.news-cards .card-title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  color: rgb(29, 30, 38);
  text-align: left;
  margin-bottom: 10px;
}

.news-cards .card-text {
  font-size: 12px;
  color: rgba(29, 30, 38, 0.4);
  line-height: 1.2;
  text-transform: uppercase;
  text-align: left;
  font-family: "Montserrat";
  font-weight: 700;
}

.news-cards .card-text small {
  font-family: "Open Sans";
  text-transform: lowercase;
  font-weight: 400;
  margin-left: 10px;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}

.news-view-more-btn {
  /* padding-top: 65px; */
  padding-top: 50px;
  text-align: right;
  position: relative;
}

.news-slider .owl-dots {
  position: absolute;
  width: 100%;
  bottom: 0px;
  margin-top: 0px !important;
  margin-bottom: -81px;
}

.logos-slider .owl-dot,
.stock-card-slider .owl-dot,
.news-slider .owl-dot {
  margin-right: 7px;
}

.logos-slider .owl-dot span,
.stock-card-slider .owl-dot span,
.news-slider .owl-dot span {
  border-radius: 2px !important;
  border: rgb(16, 37, 56, 0.302) solid 2px !important;
  background-color: rgb(255, 255, 255) !important;
  margin: 0px !important;
}

.logos-slider .owl-dot span:hover,
.stock-card-slider .owl-dot span:hover,
.news-slider .owl-dot span:hover {
  border: 0 !important;
  background-color: rgb(29, 30, 38, 0.302) !important;
  transition: 0.2s;
}

.logos-slider .owl-dot:focus,
.stock-card-slider .owl-dot:focus,
.news-slider .owl-dot:focus {
  outline: none !important;
  outline: 0px auto -webkit-focus-ring-color !important;
}

.logos-slider .owl-dots .active span,
.stock-card-slider .owl-dots .active span,
.news-slider .owl-dots .active span {
  border: rgb(29, 30, 38) solid 2px !important;
  background-color: rgb(29, 30, 38) !important;
  width: 12px !important;
  height: 12px !important;
}

.news-slider-indicators .carousel-indicators {
  margin-bottom: 13px;
  align-items: center;
}

.news-slider-indicators .carousel-indicators li {
  border: rgb(16, 37, 56, 0.302) solid 2px;
  border-radius: 2px;
  width: 6px;
  height: 6px;
  opacity: 1;
  background-color: rgb(255, 255, 255);
}

.news-slider-indicators .carousel-indicators li:hover {
  background-color: rgb(29, 30, 38, 0.302);
}

.news-slider-indicators .carousel-indicators .active {
  border: rgb(29, 30, 38) solid 2px;
  background-color: rgb(29, 30, 38);
  width: 12px;
  height: 12px;
}

.news-slider-indicators .carousel-indicators .active:hover {
  background-color: rgb(29, 30, 38);
}

.view-more-stocks-btn a,
.news-view-more-btn a {
  border-radius: 4px;
  background-color: rgb(72, 150, 235);
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 500;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  display: inline-block;
  padding: 12.5px 30px;
  transition: 0.2s;
}

.news-view-more-btn a {
  max-width: 146px;
  position: absolute;
  right: 0px;
  z-index: 999;
}

.view-more-stocks-btn a:hover,
.news-view-more-btn a:hover {
  box-shadow: 0px 3px 5.88px 0.12px rgba(29, 30, 38, 0.2);
  transition: 0.2s;
  background-color: rgb(65, 135, 209) !important;
}

.news-m-width {
  max-width: 882px;
}

.brokerage-card {
  border-radius: 10px;
  background-color: rgb(16, 37, 56);
  box-shadow: 0px 12px 22.08px 1.92px rgba(38, 41, 56, 0.2);
  padding: 26px 30px;
  max-width: 380px;
  margin-left: auto;
}

.brokerage-card h3 {
  font-size: 24px;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  font-family: "Montserrat";
  font-weight: 700;
}

.slash {
  color: rgb(232, 241, 250, 0.2);
  font-weight: 400;
  margin: 0px 10px;
}

.brokerage-card-form .input-group-text {
  background-color: rgb(255, 255, 255);
  border-radius: 0 0 0 0;
  border: 0;
}

.brokerage-card-form .form-group {
  /* position: relative; */
  margin-bottom: 0px;
  margin-top: 20px;
}

.brokerage-card-form .form-group input {
  height: 40px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  border: 0px;
  padding-left: 52px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  color: rgb(29, 30, 38);
}

.brokerage-card-form .form-group .iti {
  width: 100%;
}

.country-select .iti__flag-container {
  margin: 9px 0px;
  margin-left: 18px;
}

.country-select .iti__selected-flag {
  padding: 0px;
  padding-right: 10px;
  border-right: rgb(38, 41, 56, 0.102) solid 1px;
}

.country-select .iti__selected-flag:focus {
  outline: 0;
}

.country-select input {
  padding-left: 75px !important;
}

.country-select
  .iti--allow-dropdown
  .iti__flag-container:hover
  .iti__selected-flag {
  background-color: transparent;
}

.form-icon {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 0;
  font-size: 15px;
  /* margin-top: -11.5px; */
  margin-left: 18px;
  color: rgba(29, 30, 38, 0.302);
}
.usericon {
  font-size: 20px;
}
.brokerage-card-form .form-control:focus {
  background-color: rgb(220, 233, 247);
  box-shadow: inset 0px 2px 4.95px 0.05px rgba(29, 30, 38, 0.3);
}

.brokerage-card-form .form-control:focus + .form-icon {
  color: rgb(29, 30, 38);
}

input::placeholder {
  font-size: 18px;
  font-family: "Open Sans";
  font-weight: 400;
  color: rgba(29, 30, 38, 0.302);
}

.submit-btn {
  width: 100%;
  border-radius: 4px;
  background-color: rgb(255, 150, 62);
  box-shadow: 0px 6px 11.52px 0.48px rgba(34, 36, 51, 0.1);
  color: rgb(255, 255, 255);
  line-height: 1.2;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 500;
  padding: 18.5px;
  margin-top: 10px;
  transition: 0.2s;
}

.submit-btn:hover {
  background-color: rgb(230, 134, 55);
  color: rgb(255, 255, 255);
  transition: 0.2s;
}

.table-tabing {
  background-color: rgb(176, 198, 223, 0.104);
  padding: 60px 0px;
}

/* .table-tabing .nav {
    border-bottom:rgb(34, 36, 51,0.051)solid 2px
} */
.table-tabing .nav-link {
  font-size: 18px;
  color: rgb(72, 150, 235);
  line-height: 1.2;
  font-family: "Montserrat";
  font-weight: 500;
  padding: 24.5px 30px;
  cursor: pointer;
}

.table-tabing .nav-link:hover {
  color: rgb(29, 30, 38);
  transition: 0.2s;
}

.table-tabing .nav-pills .nav-link.active,
.table-tabing .nav-pills .show > .nav-link {
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 6px 11.52px 0.48px rgba(38, 41, 56, 0.05);
  color: rgb(34, 36, 51);
  font-weight: 600;
}

.table-tabing .tab-line {
  height: 2px;
  background: rgb(34, 36, 51, 0.051);
  border-top: 0px;
  margin-top: -26px;
}

.table-tabing .table {
  margin-bottom: 45px;
}

.table-tabing thead th {
  border-bottom: 0;
  border-top: 0;
  font-size: 14px;
  font-family: "Open Sans";
  color: rgba(29, 30, 38, 0.4);
  font-weight: 700;
  line-height: 1.2;
  padding: 20px 30px;
  vertical-align: middle;
}

.table-tabing tbody td {
  border-top: 0;
  padding: 20px 30px;
  vertical-align: middle;
  font-size: 16px;
  font-family: "Open Sans";
  /* font-weight: 400; */
  color: rgb(29, 30, 38);
  line-height: 1.2;
}

.table-symobol-link {
  color: rgb(29, 30, 38);
  padding: 20px 30px;
}

.table-tabing .table-striped tbody tr:nth-of-type(odd) {
  background-color: rgb(242, 245, 250);
}

.table-tabing .table-striped tbody tr:nth-of-type(even) {
  background-color: transparent;
}

.table-icon {
  vertical-align: middle;
}

.table-hover-icons a {
  font-size: 20px;
  color: rgba(29, 30, 38, 0.302);
}

.table-hover-icons {
  visibility: hidden;
}

.table-hover-icons a:hover {
  color: rgb(72, 150, 235, 0.8);
}

.table-hover tbody tr:hover {
  background-color: rgb(255, 255, 255) !important;
  box-shadow: 4.243px 4.243px 11.52px 0.48px #2224331a !important;
  transition: all ease-out 0.3s;
}

.table-hover tbody tr:hover .table-hover-icons {
  visibility: visible;
}

.table-hover tbody tr:hover .table-symobol-link {
  color: rgb(72, 150, 235, 0.8);
}

/* Start Tooltip Css  */
.bs-tooltip-auto[x-placement^="bottom"] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: rgb(220, 233, 247);
  /* Red */
}

.tooltip .tooltip-inner {
  background-color: rgb(220, 233, 247);
  box-shadow: 0px 1px 2px 0px rgba(29, 30, 38, 0.2);
  font-size: 14px;
  font-family: "Montserrat";
  line-height: 1.2;
  color: rgba(29, 30, 38, 0.6);
  font-weight: 500;
}

/* End Tooltip Css  */
.table-tabing .low-value,
.table-tabing .high-value {
  min-width: 80px;
  display: inline-block;
}

.range-box {
  width: 219px;
  position: relative;
  line-height: 1.923;
  display: inline-block;
  vertical-align: middle;
}

.highvalue-range {
  float: left;
  border-radius: 5px;
  height: 10px;
  background-image: -moz-linear-gradient(
    0deg,
    rgb(83, 184, 123) 0%,
    rgb(83, 178, 110) 100%
  );
  background-image: -webkit-linear-gradient(
    0deg,
    rgb(83, 184, 123) 0%,
    rgb(83, 178, 110) 100%
  );
  background-image: -ms-linear-gradient(
    0deg,
    rgb(83, 184, 123) 0%,
    rgb(83, 178, 110) 100%
  );
}

.lowvalue-range {
  float: left;
  background-color: rgb(34, 36, 51, 0.051);
  height: 2px;
  margin-top: 4px;
}

.sparkline-chart {
  max-width: 130px;
  display: block;
  height: 30px;
}
.footer_full_width {
  background: #0b1d2c;
  background-size: cover;
  /* padding-bottom: 55px; */
}
.footer_full_width .footer-alpha {
  padding-top: 74px;
}
/* Footer css  */
.footer {
  background: url("/images/bg-4.jpg") no-repeat center;
  background-size: cover;
  /* padding-bottom: 55px; */
  /* background-size: cover; */
  /* padding: 75px 0px; */
  /* height: 1228px; */
  /* padding-top: 246px; */
  /* padding-top: 147px; */
}

.app-link {
  font-size: 12px;
  font-family: "Montserrat";
  font-weight: 700;
  color: rgb(72, 150, 235);
  line-height: 1.2;
  text-transform: uppercase;
  display: inline-block;
}

.nifty-app {
  padding-top: 245px;
  /* padding-top: 271px; */
}

.nifty-app h3 {
  font-size: 36px;
  color: rgb(29, 30, 38);
  line-height: 1.2;
  font-family: "Montserrat";
  font-weight: 600;
  padding-top: 10px;
}

.app-text {
  font-size: 18px;
  color: rgb(38, 41, 56);
  line-height: 1.333;
  font-family: "Open Sans";
  font-weight: 400;
  padding-top: 7px;
  padding-right: 300px;
}

.app-text strong {
  font-weight: 700;
  font-size: 24px;
}

.app-logo {
  border-radius: 4px;
  background-color: rgb(14, 30, 45);
  box-shadow: 0px 6px 11.52px 0.48px rgba(34, 36, 51, 0.1);
  width: 210px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  padding: 0px 27px;
  margin-top: 25px;
  transition: 0.2s;
}

.app-logo:hover {
  background-color: rgb(10, 22, 33);
  box-shadow: 0px 6px 11.52px 0.48px rgba(29, 30, 38, 0.2);
  transition: 0.2s;
}

.app-logo i {
  color: rgb(255, 255, 255);
  font-size: 33px;
  margin-right: 10px;
}

.app-logo p {
  font-size: 12px;
  color: rgb(232, 241, 250);
  line-height: 1.2;
  font-family: "Montserrat";
  font-weight: 400;
}

.app-logo p strong {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: rgb(255, 255, 255);
}

.qr-code-img {
  position: absolute;
  right: 15px;
  top: 35px;
  padding-top: 28px;
}

.footer-alpha {
  padding-top: 236px;
  padding-bottom: 74px;
  text-align: right;
}

.footer-alpha h4 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  color: rgba(220, 233, 247, 0.6);
  line-height: 1.2;
}

.alpha-menu {
  display: block;
  padding-top: 15px;
}

.alpha-item {
  display: inline-table;
  margin-right: 5px;
}

.alpha-item:last-child {
  margin-right: 0px;
}

.alpha-link {
  font-size: 16px;
  border-radius: 4px;
  background-color: rgb(220, 233, 247, 0.102);
  color: rgba(220, 233, 247, 0.6);
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 1.2;
  padding: 5.5px 10px;
  display: block;
  text-transform: uppercase;
  transition: 0.2s;
}

.alpha-link:hover {
  background-color: rgb(220, 233, 247, 0.8);
  color: rgb(16, 37, 56);
  transition: 0.2s;
}

.footer-logo {
  padding-top: 45px;
}

.footer-logo img {
  max-width: 218px;
}

.logo-text p {
  padding-top: 10px;
  font-size: 14px;
  color: rgba(220, 233, 247, 0.5);
  line-height: 1.714;
  font-family: "Open Sans";
  font-weight: 300;
  padding-right: 90px;
}

.logo-text p strong {
  color: rgb(220, 233, 247);
  font-weight: 600;
}

.footer-social-icons {
  padding-top: 15px;
}

.footer-social-icons li {
  display: inline-table;
  margin-right: 7px;
}

.footer-social-icons li a {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: rgb(220, 233, 247, 0.102);
  display: table-cell;
  font-size: 18px;
  color: rgba(220, 233, 247, 0.6);
  vertical-align: middle;
  text-align: center;
  transition: 0.2s;
}

.footer-social-icons li a:hover {
  background-color: rgb(220, 233, 247, 0.8);
  color: #102538;
  transition: 0.2s;
}

.footer-links h4 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  color: rgb(255, 150, 62);
  line-height: 1.2;
  font-weight: 700;
}

.quike-links {
  padding-top: 28px;
}

.quike-links li {
  display: table;
  margin-bottom: 24px;
}

.quike-links li a {
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 400;
  color: rgba(220, 233, 247, 0.7);
  line-height: 1.2;
}

.quike-links li a:hover {
  color: rgb(220, 233, 247);
}

.subscribe-text {
  font-size: 16px;
  color: rgba(220, 233, 247, 0.4);
  line-height: 1.2;
  font-family: "Open Sans";
}

.footer-subscribe-form .form-group input {
  background-color: rgb(31, 45, 63);
  color: rgb(255, 255, 255);
  padding-left: 42px;
}

.footer-subscribe-form .form-group input:-internal-autofill-selected {
  background-color: rgb(31, 45, 63) !important;
  color: rgb(255, 255, 255) !important;
}

.footer-subscribe-form .form-control:focus {
  background-color: rgb(27, 40, 56);
  box-shadow: inset 0px 2px 3.96px 0.04px rgba(34, 36, 51, 0.2);
}

.footer-subscribe-form .form-control:focus + .form-icon {
  color: rgb(255, 255, 255);
}

.footer-subscribe-form .form-icon {
  color: rgba(220, 233, 247, 0.302);
  margin-top: -7px;
  left: 15 px;
}
.footer-social-icons li a img {
  width: 16px;
  vertical-align: middle;
  filter: brightness(0) invert(1);
}

.footer-subscribe-form .form-group input::-webkit-input-placeholder {
  /* Edge */
  color: rgba(220, 233, 247, 0.302);
}

.footer-subscribe-form .form-group input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(220, 233, 247, 0.302);
}

.footer-subscribe-form .form-group input::placeholder {
  color: rgba(220, 233, 247, 0.302);
}

.copyright {
  background-color: rgb(10, 22, 33);
  margin-top: 55px;
}

.copyright p {
  padding: 18.5px 0px;
}

/* Start Validation Css */
.help-block {
  color: #da4f49;
  margin-top: 3px;
  display: block;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 600;
}

/* End Validation Css */
/* Start Social Icon On Scroll Css */
.feedback-btn {
  position: fixed;
  z-index: 999;
  right: 0px;
  bottom: 100px;
  transition: 0.3s;
}

.feedback-btn .btn {
  background-color: rgb(72, 150, 235);
  width: 60px;
  height: 60px;
  border-radius: 10px 0px 0px 10px;
}

.feedback-btn .btn:focus {
  outline: none;
  box-shadow: none;
}

.feedback-btn .btn img {
  vertical-align: middle;
  max-width: 100%;
  /* display: table-cell; */
}

.share-icon-btn .btn {
  background-color: transparent;
  border-radius: 10px 0px 0px 10px;
  color: rgba(255, 255, 255);
}

.share-icon-btn {
  background-color: rgb(218, 79, 73);
  bottom: 20px;
  display: flex;
  align-items: center;
  border-radius: 10px 0px 0px 10px;
  transition: 0.3s;
}

.onscroll_show_feedback {
  right: 0px;
  transition: 0.3s;
}

.show-share-btns {
  right: 0px !important;
  transition: 0.3s;
}

.share-social-links {
  display: inline-flex;
}

.share-social-links ul {
  display: inherit;
}

.share-social-links ul li {
  margin-right: 10px;
}

.share-social-links a {
  transition: 0.2s;
}

.share-social-links a:hover {
  box-shadow: 0px 3px 5.88px 0.12px rgba(29, 30, 38, 0.2);
}

.social-fackbook {
  background-color: rgb(66, 103, 178) !important;
  color: rgba(255, 255, 255) !important;
}

.social-twitter {
  background-color: rgb(29, 161, 242) !important;
  color: rgba(255, 255, 255) !important;
}

.social-linkedin {
  background-color: rgb(0, 114, 177) !important;
  color: rgba(255, 255, 255) !important;
}

.social-youtube {
  background-color: rgb(255, 255, 255) !important;
  color: #ff0000 !important;
}
.social-youtube img {
  filter: none !important;
}

/* Start Social Icon On Scroll Css */
/* Start Scrollbar Css  */
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #ffffff;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(10, 22, 33, 0.2);
}

.table-responsive::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.table-responsive::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #ffffff;
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: rgb(10, 22, 33, 0.2);
}

/* End Scrollbar Css  */

/* Updates css */
.nifty-50-boxes {
}
.nifty-heading {
  font-weight: 700;
  color: rgba(29, 30, 38, 0.6);
  font-size: 11px;
}
.stoct-card-list h6 {
  font-family: "Montserrat";
  font-weight: 600;
  display: block;
  line-height: 1.2;
  font-size: 22px;
}

.stoct-card-list li {
  font-size: 12px;
  line-height: 1.2;
  display: inline-block;
  font-weight: 500;
  margin-bottom: 4px;
  color: rgb(29, 30, 38);
}
.volume-low {
  color: #53b26e;
}
.volume-high {
  color: #da4f49;
}
.volume-small {
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 1.2;
  display: block;
  width: 100%;
}
.percent-green {
  color: #53b26e;
}
.stoct-card-list h6 span {
  font-size: 12px !important;
}
.stoct-card-list ul li span {
  display: block;
  width: 100%;
}

.menu-with-icon a {
  font-size: 14px !important;
}
.playstore {
  width: 20px;
  margin-right: 10px;
}
.app-logo {
  padding: 0px 15px !important;
}
.panel-collapse {
  height: 100%;
}
@media only screen and (min-width: 1800px) and (max-width: 3000px) {
  .main-searchbar {
    background-position: calc(100% - 0%) -150px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1799px) {
  .all-traders .owl-carousel .owl-stage-outer {
    overflow: visible;
  }
  input::placeholder {
    font-size: 13px;
    font-family: "Open Sans";
    font-weight: 400;
    color: rgba(29, 30, 38, 0.302);
  }

  .stock-card {
    height: 135px;
  }
  .input-seachbar input {
    height: 40px !important;
    padding-left: 45px;
    font-size: 12px;
  }
  .main-searchbar {
    height: 765px;
    background-size: 100% 100%;
    max-height: 100%;
    padding-top: 100px;
  }
  .stocks-searcbar {
    padding: 20px 0px;
  }
  .main-searchbar h1 {
    font-size: 23px;
  }
  .acess-now-text {
    padding: 0px;
  }
  .stocks-searcbar {
    width: 506px;
  }
  .stock-card-slider {
    padding: 0px;
    margin: 0px;
  }
  .stack-card-width {
    width: 100%;
    margin-top: 90px;
  }
  .input-seachbar input {
    height: 60px;
  }
  .input-seachbar img {
    width: 16px;
    margin-top: -8px;
  }
  .acess-now-text {
    font-size: 13px;
  }
  .main-searchbar h1 {
    padding-top: 8px;
  }
  .home-conatiner .container {
    width: 1902px;
    max-width: 100%;
  }
  .popularstocklabel a {
    font-size: 9px;
    margin: 0px 1.5px 10px;
    line-height: 20px;
    padding: 0px 7px;
  }
  .popularstocklabel {
    width: 430px;
  }
  .nifty-50-vlaue {
    font-size: 25px;
  }
  .stoct-card-list strong {
    font-size: 11px;
  }
  .stack-card-width {
    width: 786px;
    max-width: 100%;
  }
  .stock-card {
    height: 135px;
    max-height: 100%;
  }
  .stoct-card-list ul {
    padding: 0px;
  }
  .stoct-card-list ul li {
    margin: 0px;
  }
  .stoct-card-list ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .stoct-card-list ul li {
    flex: 0 0 50%;
    max-width: 50%;
    float: none;
    font-size: 10px;
  }
  .main-value {
    min-width: auto;
  }
  .stoct-card-list {
    height: 200px;
    max-height: 100%;
    position: relative;
  }
  .card-btns {
    padding: 0px;
    position: absolute;
    bottom: 10px;
    width: 100%;
  }
  .card-btns a {
    padding: 0px 4px;
    line-height: 20px;
    font-size: 9px;
    margin: 0px auto;
  }
  #stock_card_slider .owl-stage-outer {
    overflow: visible;
  }
  .all-traders {
    width: 1060px;
    margin: 30px auto;
    text-align: center;
    padding-top: 115px;
  }
  .stoct-card-list ul li span {
    display: block;
    width: 100%;
  }
  .logos {
    padding: 0px;
    height: 90px;
  }
  .logos-slider .owl-item img {
    width: auto !important;
    max-width: auto;
    margin-bottom: 10px;
  }
  .inner-logo-div {
    height: auto !important;
  }
  .logos p {
    font-size: 10px;
  }
  .zerodha-logo {
    max-width: 80% !important;
  }
  .angel-broking-logo {
    max-width: 87% !important;
  }
  .aliceblue-logo {
    max-width: 67% !important;
  }
  .paisa-logo {
    max-width: 40% !important;
  }
  .tradesmart-logo {
    max-width: 60% !important;
  }
  .nifty-logo {
    max-width: 80% !important;
  }

  .news {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  .news .container {
    width: 1060px;
    max-width: 100%;
  }
  .news-cards .img-square-wrapper img {
    max-width: 120px;
  }
  .news-cards .card-title {
    font-size: 13px;
  }
  .brokerage-card {
    max-width: 256px;
    padding: 15px 17px;
  }
  .brokerage-card h3 {
    font-size: 14px;
  }
  .brokerage-card-form .form-group input {
    height: 40px;
  }
  .news-m-width {
    max-width: 590px;
  }
  .news-cards .card-text {
    font-size: 9px;
  }
  .news-cards .card {
    padding-top: 15px;
  }
  .news h2 {
    font-size: 25px;
  }
  .news-btns .btn {
    font-size: 12px;
    padding: 0px 19.5px;
    line-height: 28px;
  }
  .news .btn-group {
    margin-top: -5px;
  }
  .submit-btn {
    line-height: 40px;
    padding: 0px;
    margin: 0px 0px 10px 0px;
    font-size: 14px;
  }
  .news-view-more-btn a {
    width: 100px;
    line-height: 30px;
    padding: 0px;
    font-size: 10px;
    text-align: center;
  }
  .news-view-more-btn {
    padding-top: 45px;
  }
  .table-tabing .container {
    width: 1060px;
    max-width: 100%;
  }
  .news-slider .owl-dots {
    margin-bottom: -69px;
  }
  .table-tabing .nav-link {
    font-size: 12px;
    color: rgb(72, 150, 235);
    line-height: 1.2;
    font-family: "Montserrat";
    font-weight: 500;
    padding: 18px 15px 20px 15px;
    cursor: pointer;
  }
  .table-tabing {
    padding: 40px 0px;
  }
  .brokerage-card-form .form-group {
    margin-top: 15px;
  }
  .table-tabing thead th {
    font-size: 11px;
    padding: 10px 17px;
    white-space: nowrap;
  }
  .table-symobol-link {
    padding: 0px 15px;
  }
  .table-tabing tbody td {
    line-height: 38px;
    padding: 0px 15px;
    font-size: 11px;
    white-space: nowrap;
  }
  .highvalue-range {
    height: 7px;
  }
  .range-box {
    width: 160px;
  }
  .table-tabing .low-value,
  .table-tabing .high-value {
    min-width: 54px;
  }
  .view-more-stocks-btn a {
    padding: 0px 15px;
    line-height: 30px;
    font-size: 12px;
  }
  .table-tabing .table {
    margin-bottom: 30px;
  }
  .footer .container {
    width: 1060px;
    max-width: 100%;
  }
  .qr-code-img {
    width: 320px;
    padding: 0px;
    top: 40px;
  }
  .qr-code-img img {
    width: 100%;
  }
  .footer {
    height: 800px;
    margin-top: 60px;
  }
  .nifty-app h3 {
    font-size: 25px;
    padding-top: 6px;
    padding-bottom: 10px;
  }
  .app-text {
    font-size: 12px;
    padding: 0px !important;
  }
  .app-text strong {
    font-size: 16px;
  }
  .app-logo {
    height: 40px;
    width: 140px;
    padding: 0px;
    line-height: 40px;
  }
  .app-logo p {
    font-size: 10px;
  }
  .app-logo p strong {
    font-size: 12px;
  }
  .app-link {
    font-size: 10px;
  }
  .footer-alpha {
    padding: 0px;
  }
  .alpha-item {
    margin: 0px;
    text-align: center;
    display: inline-block;
  }
  .alpha-link {
    padding: 0px 5px;
    font-size: 12px;
    line-height: 20px;
    display: block;
  }
  .footer-alpha h4 {
    font-size: 12px;
    margin-top: 140px;
  }
  .footer-links h4 {
    font-size: 12px;
  }
  .alpha-menu {
    padding-top: 10px;
    margin-bottom: 30px;
  }
  .nifty-app {
    padding-top: 170px;
  }
  .quike-links li a {
    font-size: 11px;
  }
  .quike-links li {
    margin-bottom: 12px;
  }
  .logo-text p {
    font-size: 11px;
    padding: 0px;
  }
  .footer-logo img {
    max-width: 150px;
  }
  .linkrow {
    padding-top: 10px;
  }
  .copyright {
    margin-top: 18px;
  }
  .subscribe-text {
    font-size: 12px;
  }
  .help-block {
    font-size: 9px;
  }
  .copyright p {
    padding: 10px 0px;
  }
  .menu .signup-link {
    width: 85px;
    font-size: 11px;
    padding: 0px;
  }
  .menu .nav-link {
    font-size: 11px;
    padding: 10px 10px !important;
  }
  .menu .navbar-brand img {
    width: 135px;
  }
  .sidebar_btn img {
    width: 20px;
  }
  .sidebar_btn {
    width: 60px;
    height: 46px;
  }
  /* #sidebar {
            top: 0px;
            padding-top: 100px;
        } */
  .table-tabing tbody td img {
    vertical-align: middle;
  }
  .table-hover-icons a {
    font-size: 16px;
  }
  .overlay {
    margin-top: 42px;
  }
  .footer-social-icons li a {
    width: 28px;
    height: 28px;
    line-height: 28px;
  }
  .feedback-btn .btn {
    width: 40px !important;
    height: 40px !important;
    padding: 0px 10px;
    line-height: 40px;
  }
}
.formcontrol {
  position: relative;
  height: 40px;
}
.emailicon {
  margin-top: -6px;
}

.main-submenu {
  /* display: none; */
  opacity: 0;
  height: 0px;
}
.hovermenu:hover .main-submenu {
  /* display: block !important; */
  opacity: 1;
  height: auto !important;
}
.inner-menu {
  display: none;
  opacity: 0;
  height: 0px;
  transition: ease-in-out 0.4s;
}
.submenu-inside:hover .inner-menu {
  display: block !important;
  opacity: 1;
  height: 100% !important;
  transition: ease-in-out 0.4s;
}

.share-social-links {
  width: 0px;
  transition: 0.6s;
}
.feedback-btn {
  width: 0px;
  transition: 0.6s;
}
.onscroll_show_feedback {
  width: auto !important;
  transition: 0.6s;
}
.onscroll_show_share {
  width: auto !important;
  transition: 0.6s;
}
.show-share-btns {
  width: auto !important;
  transition: 0.6s;
}
.show-share-btns .share-social-links {
  width: auto !important;
  transition: 0.6s;
}
.money-menu {
  margin-left: 9px;
}
.footer-social-icons li a:hover img {
  filter: brightness(0%);
}
.h_qrcode {
  display: none;
}
.iti__country-list {
  max-width: 222px !important;
  left: -17px !important;
  overflow-x: hidden !important;
  margin-top: 10px !important;
}
.iti__country-list::-webkit-scrollbar {
  width: 3px;
}

.iti__country-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.iti__country-list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.iti__country {
  font-size: 10px;
}
