﻿.blazored-toast-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 99999999999;
}

.position-topleft,
.position-topright,
.position-topcenter {
    top: 0;
}

.position-bottomleft,
.position-bottomright,
.position-bottomcenter {
    bottom: 0;
}

.blazored-toast {
    display: flex;
    flex-direction: row;
    animation: fadein 1.5s;
    margin-bottom: 1rem;
    /*padding: 1rem 1.25rem;*/
    padding: 10px;
    color: #fff;
    width: 100vw;
    box-shadow: rgba(0,0,0,0.25) 0px 10px 40px;
}

.blazored-toast-info {
    background-color: #ffffff;
    border-left: #35c5ca solid 3px;
}

    .blazored-toast-info h5 {
        color: #35c5ca;
    }

.blazored-toast-success {
    background-color: #ffffff;
    border-left: #00b865 solid 3px;
}

    .blazored-toast-success h5 {
        color: #00b865;
    }

.blazored-toast-warning {
    background-color: #ffffff;
    border-left: #ff9800 solid 3px;
}

    .blazored-toast-warning h5 {
        color: #ff9800;
    }

.blazored-toast-error {
    background-color: #ffffff;
    border-left: #e6191e solid 3px;
}

    .blazored-toast-error h5 {
        color: #e6191e;
    }

.blazored-toast-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem 0 0;
    /*font-size: 2.5rem;*/
    font-size: 30px;
}

.blazored-toast-body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

    .blazored-toast-body .blazored-toast-header {
        /*display: flex;
        align-items: flex-start;
        justify-content: space-between;*/
        text-align:right;
    }

        .blazored-toast-body .blazored-toast-header h5 {
            font-weight: 500;
            text-transform: capitalize;
            font-size: 16px;
            margin-bottom: 0;
            line-height: 32px;
        }

        .blazored-toast-body .blazored-toast-header .blazored-toast-close {
            background-color: transparent;
            border: 0;
            -webkit-appearance: none;
            color: #333333;
            font-size: 15px;
        }

.blazored-toast-close:focus {
    outline: none;
}

.blazored-toast-body p {
    padding-top: 3px;
    padding-bottom: 13px;
    font-size: 14px;
    color: #666666;
    font-weight: 400;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (min-width: 576px) {

    .position-topleft {
        top: 2rem;
        left: 2rem;
    }

    .position-topright {
        top: 2rem;
        right: 2rem;
    }

    .position-topcenter {
        top: 2rem;
        left: 50%;
        margin-left: -15rem;
    }

    .position-bottomleft {
        bottom: 2rem;
        left: 2rem;
    }

    .position-bottomright {
        bottom: 2rem;
        right: 2rem;
    }

    .position-bottomcenter {
        bottom: 2rem;
        left: 50%;
        margin-left: -15rem;
    }

    .blazored-toast {
        width: 325px;
        border-radius: .25rem;
    }
}
