.flexselect_dropdown {
  display: none;
	position: absolute;
  z-index: 999999;
  margin: 0;
	padding: 0;
	border: 1px solid WindowFrame;
  max-height: 200px !important;
  overflow-x: hidden;
  overflow-y: auto;
	background-color: Window;
  color: WindowText;
  text-align: left;
  /* box-shadow: 0 6px 12px #ccc;
  -webkit-box-shadow: 0 6px 12px #ccc; */
}

.flexselect_dropdown ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.flexselect_dropdown li {
	margin: 0px;
	padding: 5px 8px;
	cursor: pointer;
	display: block;
	width: 100%;
	font: Menu;
	overflow: hidden;
	border-bottom:rgb(203, 203, 203) solid 1px;
}

.flexselect_dropdown li.disabled {
  cursor: not-allowed;
  color: GrayText;
}

.flexselect_selected {
	background-color: Highlight;
	color: HighlightText;
}


.flexselect_dropdown::-webkit-scrollbar {
	width: 2px !important;
	height: 3px !important;
}

.flexselect_dropdown::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
}

.flexselect_dropdown::-webkit-scrollbar-thumb {
	background-image: linear-gradient(90deg, #152769, #034673) !important;
	outline: 1px solid slategrey !important;
}

#test {
	border: 1px solid red !important;
}