@media (min-width: 1000px) and (max-width: 1440px) {
  .stock_filter_modal .tab-pane {
    padding: 0 0;
    overflow-y: scroll;
    height: 380px;
  }

  .stock_filter_modal .tab-pane::-webkit-scrollbar {
    width: 3px;
  }

  .stock_filter_modal .tab-pane::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  .stock_filter_modal .tab-pane::-webkit-scrollbar-thumb {
    background-color: #2196f3;
    outline: 1px solid #2196f3;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .left-body-content {
    flex: 0 0 69%;
    max-width: 69%;
  }

  .right-body-content {
    -ms-flex: 0 0 31%;
    flex: 0 0 31%;
    max-width: 31%;
  }
}

@media (min-width: 1281px) {
  .left-body-content {
    flex: 0 0 74%;
    max-width: 74%;
  }

  .right-body-content {
    -ms-flex: 0 0 25%;
    flex: 0 0 26%;
    max-width: 26%;
  }

  .advance_stock_screener .table-responsive {
    overflow-x: hidden;
  }
}

@media (min-width: 1199px) and (max-width: 1280px) {
  .watchlist-empty-img {
    max-height: 60%;
  }

  .section-eod-table {
    padding-bottom: 80px !important;
  }

  .angel-broking-box img {
    margin-right: 4px;
  }

  .angel-broking-box span {
    font-size: 10px;
  }

  .analysis-profile p {
    margin-bottom: 15px;
  }

  .trend-analysis-left-d {
    bottom: 45px;
  }

  .technical-analysis {
    box-shadow: none;
  }

  .price-table table thead tr th {
    font-size: 12px !important;
    padding: 14px 2px;
  }

  .price-table table tbody tr td {
    font-size: 12px !important;
    padding: 14px 3px;
  }

  .points-table {
    overflow-x: scroll;
  }

  .past-table table thead tr th {
    font-size: 12px !important;
  }

  .past-table table tbody tr td {
    font-size: 12px !important;
  }

  .day-table table thead tr th {
    font-size: 12px !important;
  }

  .day-table table tbody tr td {
    font-size: 12px !important;
  }

  .past-table table tbody tr td {
    font-size: 12px !important;
  }

  .past-table table thead tr th {
    font-size: 12px !important;
    padding: 15px 5px;
  }

  .comparison-table {
    padding: 20px 15px 20px !important;
  }

  .export-btn {
    top: 20px !important;
  }

  .chart-box {
    min-height: auto;
  }

  .future-analysis-table {
    min-height: auto;
  }

  .future-chart {
    min-height: auto;
  }
}

@media (min-width: 1025px) and (max-width: 1198px) {
  .watchlist-empty-img {
    max-height: 60%;
  }

  .pivot-table thead th {
    padding: 13px 6px;
    font-size: 13px;
  }

  .candle-heading h6 {
    min-width: 153px;
  }

  .candle-heading h6 {
    min-width: 157px;
  }

  .open-account-box span {
    font-size: 12px;
  }

  .open-account-box img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
  }

  .section-menu .menu-link {
    padding: 0 15.6px;
  }

  .section-menu .login {
    display: inline-block;
    background: #ed6100;
    border-radius: 20px;
    text-align: right;
    padding: 6px 18px 6px 0;
  }

  .buy-btn {
    font-size: 11px;
    border-radius: 3px;
    padding: 7px 6px;
    margin: 3px 0;
  }

  .add-btn {
    padding: 0 7.5px;
  }

  .add-btn i {
    font-size: 11px;
    line-height: 24px;
  }

  .section1 .yesbank-menu .yesbank-item {
    list-style: none;
    float: left;
    min-width: 0;
    padding: 15px 0 15px 15px;
  }

  .yesbank-text-box {
    padding-right: 15px;
  }

  .hover-box {
    right: 23.5%;
  }

  .keydata-box .keydata-item {
    padding: 0 5px 0 16px;
  }

  .box {
    right: -12%;
  }

  .section1 .Performance-box table tbody td {
    font-size: 11px;
  }

  .border-r {
    top: 42%;
  }

  .section1 .dayhighlow-box table thead th {
    padding: 19px 6px 11px !important;
    font-size: 12px;
  }

  .section1 .dayhighlow-box table tbody td {
    padding: 11px 6px 16px !important;
    font-size: 12px;
  }

  .section1 .future-table table thead th {
    padding: 13.5px 5px !important;
    font-size: 11px;
  }

  .section1 .future-table table tbody td {
    padding: 13.5px 6px !important;
    font-size: 11px;
  }

  .section-stocks {
    padding-top: 70px !important;
    padding-bottom: 70px !important;
  }

  .section-watchlist {
    padding: 15px 0 80px;
  }

  .int-live-chart {
    height: 350px !important;
  }

  .section-eod-table {
    padding-bottom: 80px !important;
  }

  .section1 .live-analytics table thead th {
    font-size: 11px;
  }

  .section1 .live-analytics table tbody td {
    font-size: 12px;
  }

  .section-banner {
    padding-bottom: 80px;
  }

  .nifty50item1 {
    margin-top: 52px;
  }

  .zerodha-box h5 {
    min-height: 70px;
  }

  .zerodha-box {
    min-height: 364px;
  }

  .table-wrap-styles table thead th {
    padding: 10px 8px !important;
    font-size: 11px !important;
  }

  .table-wrap-styles table tbody td {
    padding: 10px 8px !important;
    font-size: 11px !important;
  }

  .section1 .pricetable-box .gap-table tbody td {
    font-size: 9px;
  }

  .gap-table label {
    font-size: 9px;
    padding: 6px 10px;
    min-width: 55px;
  }

  .section1 .tab-pane table thead th {
    font-size: 10px;
  }

  .angel-broking-box img {
    margin-right: 3px;
  }

  .analysis-profile p {
    margin-bottom: 15px;
  }

  .trend-analysis-left-d {
    bottom: 45px;
  }

  .technical-analysis {
    box-shadow: none;
  }

  .price-table table thead tr th {
    font-size: 12px !important;
    padding: 14px 2px;
  }

  .price-table table tbody tr td {
    font-size: 12px !important;
    padding: 14px 2px;
  }

  .points-table {
    overflow-x: scroll;
  }

  .past-table table thead tr th {
    font-size: 12px !important;
  }

  .past-table table tbody tr td {
    font-size: 12px !important;
  }

  .day-table table thead tr th {
    font-size: 12px !important;
  }

  .day-table table tbody tr td {
    font-size: 12px !important;
  }

  .past-table table tbody tr td {
    font-size: 12px !important;
  }

  .past-table table thead tr th {
    font-size: 12px !important;
    padding: 15px 5px !important;
  }

  .chart-box {
    min-height: auto;
  }

  .future-analysis-table {
    min-height: auto;
  }

  .future-chart {
    min-height: auto;
  }

  .advance_stock_screener .watchlist-new-table th {
    text-transform: capitalize !important;
    font-size: 12px;
  }

  .advance_stock_screener .watchlist-new-table td {
    font-size: 12px;
  }

  .select-dropdown select {
    min-width: auto;
    margin-top: 0;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .watchlist-empty-img {
    max-height: 60%;
  }

  .pivot-table thead th {
    padding: 13px 6px;
    font-size: 13px;
  }

  .candle-heading h6 {
    min-width: 153px;
  }

  .section-menu .menu-link {
    font-size: 12px;
    padding: 0 19.2px;
    line-height: 47px;
  }

  .section-menu .login {
    font-size: 11px;
    width: auto;
    text-transform: capitalize;
    padding: 5px 8px 5px 20px;
  }

  .section-menu .login img {
    position: absolute;
    left: 8px;
    top: 5px;
    height: 11px;
  }

  .section1 {
    padding-bottom: 80px !important;
  }

  .section1 .yesbank-menu {
    min-width: auto;
    border-bottom: #bebebe solid 1px;
    display: flex;
    overflow-x: scroll !important;
  }

  .buy-btn {
    font-size: 11px;
    border-radius: 3px;
    padding: 7px 6px;
    margin: 3px 7px 3px 0;
  }

  .add-btn {
    padding: 0 7.5px;
  }

  .add-btn i {
    font-size: 11px;
    line-height: 24px;
  }

  .yesbank-menu::-webkit-scrollbar {
    width: 5px;
    height: 2px;
  }

  .yesbank-menu::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  .yesbank-menu::-webkit-scrollbar-thumb {
    background-color: #1f86ec;
    outline: 1px solid #708090;
  }

  .section1 .yesbank-menu .fa-caret-up {
    font-size: 15px;
  }

  .section1 .yesbank-menu li:first-child {
    min-width: 170px;
  }

  .yesbank-menu .yesbank-item h5 {
    font-size: 12px;
  }

  .yesbank-menu .yesbank-item h5 span {
    font-size: 11px;
  }

  .yesbank-menu .yesbank-item .color-text {
    font-size: 11px;
  }

  .section1 .yesbank-menu .yesbank-item {
    min-width: 100px;
    padding: 15px 0 15px 15px;
    height: auto;
  }

  .section1 ul li h6 {
    font-size: 12px;
    padding: 0 0 10px 0;
  }

  .section1 ul li p {
    font-size: 11px;
  }

  .graph-div {
    width: auto;
    padding: 0 10px;
  }

  .range-box {
    padding: 0 20px;
  }

  .pad_bottom {
    padding-bottom: 12px;
  }

  .highlow-div {
    margin-right: 0;
    margin: auto;
    margin-bottom: 10px;
  }

  .range-small-box {
    max-width: auto;
  }

  .range-text li {
    width: 47.7%;
  }

  .range-box h5 {
    font-size: 12px;
  }

  .zerodha {
    margin: 0 10px 0 0;
    width: auto;
  }

  .keydata-box {
    padding: 4px 4px;
    list-style: none;
    border-top: #e5e5e5 solid 1px;
    border-bottom: #e5e5e5 solid 1px;
    margin-bottom: 16px;
    height: auto;
    display: flex;
    overflow-x: scroll;
  }

  .keydata-box::-webkit-scrollbar {
    width: 5px;
    height: 2px;
  }

  .keydata-box::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  .keydata-box::-webkit-scrollbar-thumb {
    background-color: #1f86ec;
    outline: 1px solid #708090;
  }

  .keydata-box li:first-child {
    min-width: 68px;
  }

  .keydata-box .keydata-item {
    padding: 0 0 0 15px;
    margin: 5px 0;
    min-width: 140px;
  }

  .keydata-box h6 {
    font-size: 11px !important;
    color: #333;
    text-transform: capitalize !important;
  }

  .keydata-box h4 {
    font-family: Roboto, sans-serif;
    font-weight: 400 !important;
    font-size: 11px !important;
  }

  .keydata-box h5 {
    font-size: 12px;
    padding: 16.5px 11px 16.5px 0;
    text-transform: capitalize;
  }

  .hover-box {
    right: 37.5%;
    top: 6.5%;
  }

  .section1 .pricetable-box {
    width: auto;
  }

  .section1 .pricetable-box h6 {
    font-size: 13px;
    padding-bottom: 10px;
  }

  .section1 .pricetable-box table thead th {
    padding: 13.5px 10px !important;
  }

  .section1 .future-box {
    width: auto;
    background: #fff;
    border: #e7e7e7 solid 1px;
    padding: 30px 20px 19px;
    margin: 14px 14px 14px 0;
  }

  .section1 .future-box h6 {
    font-size: 13px;
    padding-bottom: 10px;
  }

  .section1 .future-box table thead th {
    font-size: 11px;
    min-width: 90px;
  }

  .section1 .future-box table tbody td {
    font-size: 11px;
  }

  .section1 .tabing-box {
    max-width: none;
    margin-bottom: 14px;
  }

  .section1 .tabing-box .tab-content .tab-link {
    font-size: 12px;
  }

  .section1 .tabing-box .tab-pane {
    min-width: 0;
    padding: 18px 15px 5px 28px;
    margin-right: 12px;
  }

  .section1 .tabing-box .tab-content h5 {
    font-size: 14px;
    padding-bottom: 10px;
  }

  .break-down {
    padding: 7.5px 15px;
    margin-top: 0;
    position: relative;
    font-size: 12px;
  }

  .box {
    right: 1%;
  }

  .line-height {
    line-height: 1px !important;
  }

  .section1 .tabing-box .nav-item .nav-link {
    font-size: 11px;
  }

  .section1 .tabing-box .nav-pills h6 {
    font-size: 13px;
    padding: 18px 10px 10px 18px;
  }

  .section1 .tabing-box .tab-content h6 {
    font-size: 13px;
  }

  .section1 .tabing-box .tab-content .tab-link {
    font-size: 11px;
  }

  .tab-pane table thead th {
    font-size: 11px;
  }

  .tab-pane table td {
    font-size: 11px;
  }

  .section1 .company-profile {
    padding: 23px 20px 15px;
  }

  .section1 .company-profile h6 {
    font-size: 14px;
    padding-bottom: 10px;
  }

  .section1 .company-profile h4 {
    font-size: 13px;
    padding: 10px 0;
  }

  .section1 .Performance-box {
    min-width: 0;
    padding: 21px 11px 0;
    margin: 15px 0;
  }

  .section1 .Performance-box table tbody td {
    padding: 12px 10px !important;
    font-size: 11px;
  }

  .section1 .Performance-box h6 {
    font-size: 13px;
    padding-bottom: 10px;
  }

  .border-r {
    left: 49%;
    top: 44%;
  }

  .section1 .dayhighlow-box {
    min-width: 0;
    padding: 22px 10px 0 13px;
    /* margin: 14px 0 14px; */
  }

  .section1 .dayhighlow-box table thead th {
    padding: 19px 8px 11px !important;
    font-size: 11px;
  }

  .section1 .dayhighlow-box table tbody td {
    padding: 11px 8px 16px !important;
    border-bottom: 0;
    border-style: dotted;
    color: #333;
    font-size: 11px;
  }

  .section1 .dayhighlow-box h6 {
    font-size: 13px;
    padding-bottom: 10px;
  }

  .section1 .future-table {
    background-color: #fff;
    border: #e7e7e7 solid 1px;
    padding: 20px 10px 0;
  }

  .section1 .future-table h6 {
    font-size: 13px;
    padding-bottom: 10px;
  }

  .section1 .future-table table thead th {
    padding: 13.5px 10px !important;
    font-size: 11px;
    text-transform: capitalize;
  }

  .section1 .future-table table tbody td {
    padding: 13.5px 10px !important;
    font-size: 11px;
  }

  .footer button {
    padding: 17.5px 0;
  }

  .footer h5 {
    font-size: 17px;
  }

  .footer-menu .footer-link {
    font-size: 12px;
  }

  .footer p {
    font-size: 12px;
    padding-right: 62px;
  }

  .section-stocks h3 {
    font-size: 15px;
  }

  .searching-box input {
    width: 70%;
  }

  .borderTable a {
    font-weight: 500;
    font-size: 13px;
    color: #333;
  }

  .section-stocks {
    padding: 55px 0 80px !important;
  }

  .int-live-chart {
    height: 350px;
  }

  .chain-table {
    padding: 12px 20px 0 !important;
  }

  .live-analytics {
    padding: 15px !important;
  }

  .section-eod-table .pricetable-box table thead th {
    min-width: 145px;
  }

  .section-eod-top {
    padding-bottom: 0 !important;
  }

  .section-eod-table {
    padding-top: 0 !important;
    padding-bottom: 80px !important;
  }

  .section-home-page {
    padding-bottom: 0 !important;
  }

  .section-research,
  .third-section {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .zerodha-box {
    min-height: 364px;
  }

  .zerodha-box h5 {
    min-height: 70px;
  }

  .third-section {
    padding-bottom: 80px;
  }

  .section-banner {
    padding-bottom: 0px;
  }

  .margin-box1 {
    margin-right: 0 !important;
  }

  .table-wrap-styles table thead th {
    padding: 10px 5px !important;
    font-size: 11px !important;
  }

  .table-wrap-styles table tbody td {
    padding: 10px 5px !important;
    font-size: 11px !important;
  }

  .section1 .pricetable-box .gap-table thead th {
    font-size: 10px;
  }

  .section1 .pricetable-box .gap-table tbody td {
    font-size: 9px;
  }

  .gap-table label {
    font-size: 9px;
    padding: 6px 10px;
    min-width: 55px;
  }

  .angel-broking-box img {
    margin-right: 3px;
  }

  .analysis-profile p {
    margin-bottom: 15px;
  }

  .trend-analysis-left-d {
    bottom: 45px;
  }

  .technical-analysis {
    box-shadow: none;
  }

  .price-table table thead tr th {
    font-size: 12px !important;
    padding: 14px 2px;
  }

  .price-table table tbody tr td {
    font-size: 12px !important;
    padding: 14px 2px;
  }

  .points-table {
    overflow-x: scroll;
  }

  .past-table table thead tr th {
    font-size: 12px !important;
  }

  .past-table table tbody tr td {
    font-size: 12px !important;
  }

  .day-table table thead tr th {
    font-size: 12px !important;
  }

  .day-table table tbody tr td {
    font-size: 12px !important;
  }

  .comparison-title li {
    padding: 13px 20px;
  }

  .comparison-title li:nth-child(1) {
    padding: 13px 50px;
  }

  .past-table table tbody tr td {
    font-size: 12px !important;
  }

  .past-table table thead tr th {
    font-size: 12px !important;
    padding: 15px 5px !important;
  }

  .chart-box {
    min-height: auto;
  }

  .future-analysis-table {
    min-height: auto;
  }

  .future-chart {
    min-height: auto;
  }

  .stock-checkbox {
    font-size: 12px;
  }

  .advance_stock_screener .watchlist-new-table th {
    text-transform: capitalize !important;
    font-size: 12px;
  }

  .advance_stock_screener .watchlist-new-table td {
    font-size: 12px;
  }

  .section-new {
    padding-bottom: 13px !important;
  }

  /* .advance_stock_screener {
    margin-bottom: 68px;
  } */

  .select-dropdown select {
    min-width: auto;
    margin-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .watchlist-empty-img {
    max-height: 60%;
  }

  table.fixedHeader-floating {
    position: unset !important;
  }

  .section-menu .menu-link {
    font-size: 12px;
    padding: 0 9.3px;
    line-height: 47px;
  }

  .section-menu .login {
    font-size: 11px;
    width: auto;
    text-transform: capitalize;
    padding: 5px 8px 5px 20px;
  }

  .section-menu .login img {
    position: absolute;
    left: 8px;
    top: 5px;
    height: 11px;
  }

  .section1 .yesbank-menu {
    min-width: auto;
    border-bottom: #bebebe solid 1px;
    display: flex;
    overflow-x: scroll !important;
  }

  .buy-btn {
    font-size: 11px;
    border-radius: 3px;
    padding: 7px 6px;
    margin: 3px 0;
  }

  .add-btn {
    padding: 0 7.5px;
  }

  .add-btn i {
    font-size: 11px;
    line-height: 24px;
  }

  .yesbank-menu::-webkit-scrollbar {
    width: 5px;
    height: 2px;
  }

  .yesbank-menu::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  .yesbank-menu::-webkit-scrollbar-thumb {
    background-color: #1f86ec;
    outline: 1px solid #708090;
  }

  .section1 .yesbank-menu .fa-caret-up {
    font-size: 15px;
  }

  .section1 .yesbank-menu li:first-child {
    min-width: 170px;
  }

  .yesbank-menu .yesbank-item h5 {
    font-size: 12px;
  }

  .yesbank-menu .yesbank-item h5 span {
    font-size: 11px;
  }

  .yesbank-menu .yesbank-item .color-text {
    font-size: 11px;
  }

  .section1 .yesbank-menu .yesbank-item {
    min-width: 100px;
    padding: 15px 0 15px 15px;
    height: auto;
  }

  .section1 ul li h6 {
    font-size: 12px;
    padding: 0 0 10px 0;
  }

  .section1 ul li p {
    font-size: 11px;
  }

  .graph-div {
    width: auto;
    padding: 0 10px;
  }

  .range-box {
    padding: 0 20px;
  }

  .pad_bottom {
    padding-bottom: 12px;
  }

  .highlow-div {
    margin-right: 0;
    margin: auto;
    margin-bottom: 10px;
  }

  .range-small-box {
    max-width: auto;
  }

  .range-text li {
    width: 47.7%;
  }

  .range-box h5 {
    font-size: 12px;
  }

  .zerodha {
    margin: 0 10px 0 0;
    width: auto;
  }

  .keydata-box {
    padding: 4px 4px;
    list-style: none;
    border-top: #e5e5e5 solid 1px;
    border-bottom: #e5e5e5 solid 1px;
    margin-bottom: 16px;
    height: auto;
    display: flex;
    overflow-x: scroll;
  }

  .keydata-box::-webkit-scrollbar {
    width: 5px;
    height: 2px;
  }

  .keydata-box::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  .keydata-box::-webkit-scrollbar-thumb {
    background-color: #1f86ec;
    outline: 1px solid #708090;
  }

  .keydata-box li:first-child {
    min-width: 68px;
  }

  .keydata-box .keydata-item {
    padding: 0 0 0 15px;
    margin: 5px 0;
    min-width: 140px;
  }

  .keydata-box h6 {
    font-size: 11px !important;
    color: #333;
    text-transform: capitalize !important;
  }

  .keydata-box h4 {
    font-family: Roboto, sans-serif;
    font-weight: 400 !important;
    font-size: 11px !important;
  }

  .keydata-box h5 {
    font-size: 12px;
    padding: 16.5px 11px 16.5px 0;
    text-transform: capitalize;
  }

  .hover-box {
    right: 37.5%;
    top: 6.5%;
  }

  .section1 .pricetable-box {
    width: auto;
  }

  .section1 .pricetable-box h6 {
    font-size: 13px;
    padding-bottom: 10px;
  }

  .section1 .pricetable-box table thead th {
    padding: 13.5px 10px !important;
  }

  .section1 .future-box {
    width: auto;
    background: #fff;
    border: #e7e7e7 solid 1px;
    padding: 30px 20px 19px;
    margin: 14px 14px 14px 0;
  }

  .section1 .future-box h6 {
    font-size: 13px;
    padding-bottom: 10px;
  }

  .section1 .future-box table thead th {
    font-size: 11px;
    min-width: 90px;
  }

  .section1 .future-box table tbody td {
    font-size: 11px;
  }

  .section1 .tabing-box {
    max-width: none;
    margin-bottom: 14px;
  }

  .section1 .tabing-box .tab-content .tab-link {
    font-size: 12px;
  }

  .section1 .tabing-box .tab-pane {
    min-width: 0;
    padding: 18px 15px 5px 28px;
    margin-right: 12px;
  }

  .section1 .tabing-box .tab-content h5 {
    font-size: 14px;
    padding-bottom: 10px;
  }

  .break-down {
    padding: 7.5px 15px;
    margin-top: 0;
    position: relative;
    font-size: 12px;
  }

  .box {
    right: 1%;
  }

  .line-height {
    line-height: 1px !important;
  }

  .section1 .tabing-box .nav-item .nav-link {
    font-size: 11px;
  }

  .section1 .tabing-box .nav-pills h6 {
    font-size: 13px;
    padding: 18px 10px 10px 18px;
  }

  .section1 .tabing-box .tab-content h6 {
    font-size: 13px;
  }

  .section1 .tabing-box .tab-content .tab-link {
    font-size: 11px;
  }

  .tab-pane table thead th {
    font-size: 11px;
  }

  .table-range {
    width: 170px;
  }

  .tab-pane table td {
    font-size: 11px;
  }

  .section1 .company-profile {
    padding: 23px 20px 15px;
  }

  .section1 .company-profile h6 {
    font-size: 14px;
    padding-bottom: 10px;
  }

  .section1 .company-profile h4 {
    font-size: 13px;
    padding: 10px 0;
  }

  .read-more {
    font-size: 11px;
    padding-top: 10px;
  }

  .section1 .Performance-box {
    min-width: 0;
    padding: 21px 11px 0;
    margin: 15px 0;
  }

  .section1 .Performance-box table tbody td {
    padding: 12px 10px !important;
    font-size: 11px;
  }

  .section1 .Performance-box h6 {
    font-size: 13px;
    padding-bottom: 10px;
  }

  .border-r {
    left: 49%;
    top: 44%;
  }

  .section1 .dayhighlow-box {
    min-width: 0;
    padding: 22px 10px 0 13px;
    margin: 0px !important;
  }

  .section1 .dayhighlow-box table thead th {
    padding: 19px 8px 11px !important;
    font-size: 11px;
  }

  .section1 .dayhighlow-box table tbody td {
    padding: 11px 8px 16px !important;
    border-bottom: 0;
    border-style: dotted;
    color: #333;
    font-size: 11px;
  }

  .section1 .dayhighlow-box h6 {
    font-size: 13px;
    padding-bottom: 10px;
  }

  .section1 .future-table {
    background-color: #fff;
    border: #e7e7e7 solid 1px;
    padding: 20px 10px 0;
  }

  .section1 .future-table h6 {
    font-size: 13px;
    padding-bottom: 10px;
  }

  .section1 .future-table table thead th {
    padding: 13.5px 10px !important;
    font-size: 11px;
    text-transform: capitalize;
  }

  .section1 .future-table table tbody td {
    padding: 13.5px 10px !important;
    font-size: 11px;
  }

  .footer button {
    padding: 17.5px 0;
  }

  .footer h5 {
    font-size: 17px;
  }

  .footer-menu .footer-link {
    font-size: 12px;
  }

  .footer p {
    font-size: 12px;
    padding-right: 62px;
  }

  .horizontal-border {
    border-color: transparent;
  }

  .section-stocks {
    padding-top: 55px !important;
    padding-bottom: 7px !important;
  }

  .section-watchlist {
    padding: 15px 0;
  }

  .autocomplete-suggestions {
    left: 133px !important;
  }

  .open-int-box h5 {
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 15px;
  }

  .open-int-box th {
    vertical-align: middle;
  }

  .int-live-chart {
    height: 240px;
  }

  .table-btn {
    font-size: 12px;
  }

  .section-eod-table .pricetable-box table thead th {
    min-width: 145px;
  }

  .section-eod-top {
    padding-bottom: 0 !important;
  }

  .section-eod-table {
    padding-top: 0 !important;
    padding-bottom: 15px !important;
  }

  .select-dropdown label {
    font-size: 12px;
    margin-top: 0;
  }

  .select-dropdown select {
    min-width: auto;
  }

  .atr-link {
    width: 92%;
  }

  .fibonacci-form-box .form-group {
    margin: 0 5px 15px;
  }

  .fibonacci-form-box label {
    font-size: 11px;
  }

  .nifty50item1 {
    margin-top: 22px;
  }

  .submit-btn {
    font-size: 13px;
  }

  .Brokerage {
    margin-top: 0 !important;
  }

  .analysis-heading h6 {
    font-size: 16px !important;
    margin-bottom: 0px;
  }
  .nifty50item1 span {
    font-size: 12px !important;
    font-weight: 400 !important;
    margin-bottom: 5px;
  }

  #text-type {
    font-size: 13px !important;
    font-weight: 500 !important;
    margin: 0px 0px;
  }

  .nifty50item1 a {
    font-size: 10px !important;
  }

  .form-heading h5 {
    font-size: 13px;
  }

  .sgx-block p {
    font-size: 14px;
  }

  .watchlist-btns {
    display: block;
    text-align: center;
    position: initial;
    margin-top: 12px;
  }

  .watchlist-box .nav {
    text-align: center;
  }

  .current-price {
    font-size: 13px !important;
  }

  .analytics-menu li h6 {
    font-size: 16px !important;
  }

  .section1 .pricetable-box .gap-table thead th {
    font-size: 10px;
  }

  .section1 .pricetable-box .gap-table tbody td {
    font-size: 9px;
  }

  .gap-table label {
    font-size: 9px;
    padding: 6px 10px;
    min-width: 100px;
  }

  .yes-bank-detail h1 {
    font-size: 18px;
  }

  .yes-bank-detail h1 span {
    font-size: 20px;
    font-weight: 500;
    padding: 0 5px;
  }

  .yes-bank-detail h1 i {
    font-size: 20px;
    top: 9px;
  }

  .yes-bank-detail h1 b {
    font-size: 15px;
    top: 5px;
  }

  .yes-bank-detail ul li {
    font-size: 11px;
  }

  .analysis-profile p {
    font-size: 13px;
    margin-bottom: 15px;
    text-align: justify;
  }

  .analysis-profile button {
    font-size: 12px;
  }

  .analysis-profile ul li {
    font-size: 12px;
    padding: 8px 0;
  }

  .analysis-menu li a {
    font-size: 12px;
  }

  .chart-box {
    min-height: auto;
  }

  .future-analysis-table {
    min-height: auto;
  }

  .future-chart {
    min-height: auto;
  }

  .chart-section h6 {
    font-size: 18px;
  }

  .day-table table thead tr th {
    font-size: 12px !important;
    padding: 11px 8px;
  }

  .day-table table tbody tr td {
    font-size: 12px !important;
    padding: 11px 8px;
  }

  .technical-analysis {
    box-shadow: none;
  }

  .technical-section h6 {
    font-size: 18px;
  }

  .technical-left h5 {
    font-size: 16px;
    padding: 12px 15px 5px;
  }

  .trend-analysis-left {
    top: 60px;
  }

  .trend-analysis {
    padding: 0 10px 15px 10px;
  }

  .trend-analysis li:nth-child(1)::before {
    left: -20px;
  }

  .trend-analysis li:nth-child(3)::before {
    left: -20px;
  }

  .trend-analysis li:nth-child(2)::before {
    left: -20px;
  }

  .trend-analysis li {
    font-size: 12px;
    padding: 12px 0 12px 0;
  }

  .trend-analysis li span {
    font-size: 12px;
  }

  .trend-up {
    left: -19px;
  }

  .trend-analysis-bottom li i {
    left: -17px;
  }

  .trend-analysis-left-d {
    bottom: 50px;
  }

  .price-table table thead tr th {
    font-size: 11px !important;
    padding: 14px 5px;
  }

  .price-table table tbody tr td {
    font-size: 11px !important;
    padding: 14px 5px;
  }

  .price-table-responsive {
    padding: 0 !important;
  }

  .past-table table thead tr th {
    font-size: 11px !important;
  }

  .past-table table tbody tr td {
    font-size: 11px !important;
  }

  .gap-down {
    margin: 0 !important;
  }

  .gap-down span {
    font-size: 12px;
  }

  .gap-down b {
    font-size: 11px;
  }

  .futures h5 {
    font-size: 18px;
  }

  .comparison-table {
    padding-right: 0;
  }

  .comparison-responsive {
    padding: 0 !important;
  }

  .export-btn {
    padding: 8px 15px 6px;
    font-size: 12px;
  }

  .export-btn span::before {
    background-size: 85% 85%;
  }

  .export-btn:hover span::before {
    background-size: 85% 85%;
  }

  .export-btn span {
    padding-left: 20px;
  }

  .chart-box {
    min-height: auto;
  }

  .future-analysis-table {
    min-height: auto;
  }

  .future-chart {
    min-height: auto;
  }

  .stock_apply_filter li {
    padding: 0 10px;
    line-height: 25px;
  }

  .filter_modal .modal-header {
    padding: 13px 12px;
  }

  .stock-checkbox {
    font-size: 11px;
    line-height: 16px;
    padding-left: 19px;
    margin-right: 8px;
  }

  .filter_modal .modal-header .common_btns {
    font-size: 12px;
    height: 26px;
    padding: 0 8px;
  }

  .stock-sma {
    padding-left: 0 !important;
  }

  .responsive_filter {
    margin-bottom: 10px;
  }

  .filter_modal h6 {
    font-size: 13px;
  }

  .filter_modal .checkmark {
    width: 12px;
    height: 12px;
  }

  .stock-checkbox .checkmark:after {
    left: 5px;
    top: 0;
    width: 4px;
    height: 9px;
  }

  .volume_shocker {
    width: 100% !important;
  }

  .moving_average .stock-checkbox {
    margin-right: 5px;
    padding-left: 17px;
  }

  .advance_stock_screener .watchlist-new-table th {
    text-transform: capitalize !important;
    font-size: 12px;
  }

  .advance_stock_screener .watchlist-new-table .table {
    width: 884px;
  }

  .advance_stock_screener .watchlist-new-table td {
    font-size: 12px;
  }

  .watchlist-new-table td:first-child,
  .watchlist-new-table th:first-child {
    padding-left: 10px;
  }

  .watchlist-range-box {
    position: relative;
    line-height: 1.923;
    width: 49px;
  }

  .watchlist-new-table th {
    min-width: 130px;
  }

  .min-width-200 {
    min-width: 200px !important;
  }

  .watchlist-new-table th:last-child {
    width: 73px;
  }

  .mobile-android {
    display: block;
  }

  .dataTables_info {
    padding-top: 10px !important;
    white-space: unset !important;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  table.fixedHeader-floating {
    position: unset !important;
  }

  .padding0 {
    padding: 0 15px !important;
  }

  .pading-right0 {
    padding-right: 15px !important;
  }

  .section-menu {
    margin-bottom: 0;
  }

  .section1 .company-profile {
    margin-top: 15px;
  }

  .section-menu .nav-navbar {
    width: 50%;
    position: fixed;
    z-index: 999;
    display: block;
    background-color: #000 !important;
    top: 45px;
    padding: 10px 0;
    min-height: 1000px;
    left: -100%;
    transition: 0.5s;
  }

  .menu-dropdown {
    width: 50% !important;
    background-color: #000 !important;
    padding: 0 20px;
    top: 0 !important;
    transform: translateY(0);
    border-color: transparent;
    padding: 0 20px !important;
    position: static !important;
    width: auto !important;
  }

  .menu-dropdown span {
    color: #fff;
    font-size: 11px;
  }

  .menu-drowdown-link {
    color: #fff;
    font-size: 11px !important;
  }

  .showmenu {
    left: 0 !important;
    transition: 0.5s;
  }

  .section-menu .menu-link {
    display: block;
    font-size: 14px;
    padding: 0 23px;
    line-height: 47px;
    transition: all ease-out 0.5s;
    text-align: left;
    font-size: 12px;
    line-height: 30px;
    color: #fff;
  }

  .section-menu .active {
    background-color: transparent;
    color: #2196f3;
    border-bottom: transparent solid 3px;
  }

  .section-menu .menu-link:hover {
    background-color: transparent;
    border-bottom: transparent solid 3px;
    transition: all ease-out 0.5s;
    color: #2196f3 !important;
  }

  .section-menu .login {
    width: 78px !important;
    display: inline-block;
    font-size: 11px;
    width: auto;
    position: relative;
    margin-top: 12px;
    padding: 6px 18px 6px 28px;
  }

  .section-menu .login img {
    height: 12px;
    position: absolute;
    left: 13px;
    top: 6px;
  }

  .mobile-icon {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 3.5%;
  }

  .mobile-icon i {
    font-size: 25px;
  }

  .display {
    display: block;
  }

  .text-align {
    text-align: right;
  }

  .section1 {
    padding-bottom: 20px !important;
  }

  .searchbar-responsive {
    display: block;
  }

  .searchbar-desktop {
    display: none;
  }

  .section1 .yesbank-menu {
    min-width: auto;
    border-bottom: #bebebe solid 1px;
    display: flex;
    overflow-x: scroll !important;
  }

  .buy-btn {
    font-size: 11px;
    border-radius: 3px;
    padding: 7px 6px;
    margin: 3px 0;
  }

  .add-btn {
    padding: 0 7.5px;
  }

  .add-btn i {
    font-size: 11px;
    line-height: 24px;
  }

  .yesbank-menu::-webkit-scrollbar {
    width: 5px;
    height: 2px;
  }

  .yesbank-menu::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  .yesbank-menu::-webkit-scrollbar-thumb {
    background-color: #1f86ec;
    outline: 1px solid #708090;
  }

  .section1 .yesbank-menu .fa-caret-up {
    font-size: 15px;
  }

  .section1 .yesbank-menu li:first-child {
    min-width: 170px;
  }

  .yesbank-menu .yesbank-item h5 {
    font-size: 12px;
  }

  .yesbank-menu .yesbank-item h5 span {
    font-size: 11px;
  }

  .yesbank-menu .yesbank-item .color-text {
    font-size: 11px;
  }

  .section1 .yesbank-menu .yesbank-item {
    min-width: 100px;
    padding: 15px 0 15px 15px;
    height: auto;
  }

  .section1 ul li h6 {
    font-size: 12px;
    padding: 0 0 10px 0;
  }

  .section1 ul li p {
    font-size: 11px;
  }

  .graph-div {
    width: auto;
    padding: 0 10px;
  }

  .range-box {
    padding: 0 20px;
  }

  .pad_bottom {
    padding-bottom: 12px;
  }

  .highlow-div {
    margin-right: 0;
    margin: auto;
    margin-bottom: 10px;
  }

  .range-small-box {
    max-width: auto;
  }

  .range-text li {
    width: 47.7%;
  }

  .range-box h5 {
    font-size: 12px;
  }

  .zerodha {
    margin: 0 10px 0 0;
    width: auto;
  }

  .keydata-box {
    padding: 4px 4px;
    list-style: none;
    border-top: #e5e5e5 solid 1px;
    border-bottom: #e5e5e5 solid 1px;
    margin-bottom: 16px;
    height: auto;
    display: flex;
    overflow-x: scroll;
  }

  .keydata-box::-webkit-scrollbar {
    width: 5px;
    height: 2px;
  }

  .keydata-box::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  .keydata-box::-webkit-scrollbar-thumb {
    background-color: #1f86ec;
    outline: 1px solid #708090;
  }

  .keydata-box li:first-child {
    min-width: 68px;
  }

  .keydata-box .keydata-item {
    padding: 0 0 0 15px;
    margin: 5px 0;
    min-width: 140px;
  }

  .keydata-box h6 {
    font-size: 11px !important;
    color: #333;
    text-transform: capitalize !important;
  }

  .keydata-box h4 {
    font-family: Roboto, sans-serif;
    font-weight: 400 !important;
    font-size: 11px !important;
  }

  .keydata-box h5 {
    font-size: 12px;
    padding: 16.5px 11px 16.5px 0;
    text-transform: capitalize;
  }

  .section1 .pricetable-box {
    width: auto;
    padding: 24px 20px 20px;
    margin-right: 0;
  }

  .section1 .pricetable-box h6 {
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 12px;
  }

  .section1 .pricetable-box table thead th {
    font-size: 11px;
    min-width: 85px;
  }

  .section1 .pricetable-box table tbody td {
    padding: 13.5px 10px !important;
    font-size: 11px;
  }

  .th_width {
    width: auto;
  }

  .section1 .future-box {
    width: auto;
    background: #fff;
    border: #e7e7e7 solid 1px;
    padding: 34px 20px 19px;
    margin: 14px 0;
  }

  .section1 .future-box h6 {
    font-size: 13px;
  }

  .section1 .future-box table thead th {
    padding: 13.5px 10px !important;
    font-size: 11px;
    min-width: 92px;
  }

  .section1 .future-box table tbody td {
    font-size: 11px;
  }

  .section1 .tabing-box .nav-pills {
    max-width: none;
    display: block;
    width: 200%;
  }

  .section1 .tabing-box .nav-pills h6 {
    font-size: 13px;
    padding: 20px 10px 10px 20px;
    display: block;
  }

  .section1 .tabing-box .nav-item {
    padding: 0 0 0 10px;
    border-right: 0;
    display: inline-block;
  }

  .section1 .tabing-box .nav-item .nav-link {
    padding: 7px 15px;
    font-size: 12px;
  }

  .section1 .tabing-box .tab-pane {
    min-width: 0;
    padding: 15px 15px 5px 15px;
    margin-right: 0;
  }

  .margin-right0 {
    margin-right: -15px;
  }

  .section1 .tabing-box .tab-content .tab-menu {
    list-style: none;
    padding: 10px 0;
  }

  .section1 .tabing-box .tab-content h5 {
    font-size: 13px;
    padding-bottom: 10px;
  }

  .break-down {
    font-size: 13px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    padding: 7.5px 15px;
    margin-top: 0;
  }

  .section1 .tabing-box .tab-content h4 {
    font-size: 13px;
    margin: 15px 0 10px;
  }

  .section1 .tabing-box .tab-content .tab-link {
    font-size: 11px;
  }

  .section1 .tabing-box .tab-content h6 {
    font-size: 13px;
    padding: 15px 0 10px 0;
  }

  .japanese-menu {
    padding-bottom: 5px;
  }

  .japanese-menu .japanese-item {
    font-size: 12px;
  }

  .price-action {
    padding: 0 0 10px;
    border-left: #eee solid 0;
  }

  .tab-pane table td {
    padding: 12px 10px;
    font-size: 11px;
  }

  .mobile-scroll {
    overflow-x: scroll;
  }

  .mobile-scroll::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .mobile-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    height: 2px;
  }

  .mobile-scroll::-webkit-scrollbar-thumb {
    background-color: #1f86ec;
    outline: 1px solid #708090;
    height: 2px;
  }

  .box {
    right: -3.4%;
    top: 85%;
  }

  .hover-box {
    right: 33.5%;
    top: 6%;
  }

  .tab-pane table thead th {
    font-size: 12px;
    color: #666;
    min-width: 85px;
  }

  .section1 .company-profile {
    background: #fff;
    border: #e7e7e7 solid 1px;
    padding: 25px 20px 20px;
    margin-right: 0;
  }

  .section1 .company-profile h6 {
    font-size: 13px;
    padding-bottom: 12px;
  }

  .section1 .company-profile h4 {
    font-size: 12px;
    padding: 10px 0;
  }

  .section1 .company-profile p {
    font-size: 12px;
  }

  .read-more {
    font-size: 12px;
    padding-top: 10px;
  }

  .section1 .Performance-box {
    min-width: 0;
    background-color: #fff;
    border: #e7e7e7 solid 1px;
    padding: 21px 11px 15px;
    margin: 15px 0;
  }

  .section1 .Performance-box h6 {
    font-size: 13px;
    padding-bottom: 10px;
  }

  .section1 .Performance-box table tbody td {
    padding: 12px 10px !important;
    font-size: 11px;
    position: relative;
  }

  .bar {
    margin-top: 4px;
  }

  .border-r {
    left: 49.5%;
  }

  .section1 .dayhighlow-box {
    min-width: 0;
    padding: 22px 10px 10px 13px;
    margin: 15px 0;
  }

  .section1 .dayhighlow-box h6 {
    font-size: 13px;
    text-transform: uppercase;
    padding-bottom: 10px;
  }

  .section1 .dayhighlow-box table thead th {
    padding: 19px 9px 11px !important;
    font-size: 11px;
  }

  .section1 .dayhighlow-box table tbody td {
    padding: 11px 10px 13px !important;
    font-size: 11px;
  }

  .section1 .ad-box {
    min-width: 0;
    margin: auto;
    margin-bottom: 12px;
  }

  .section1 .future-table {
    min-width: 0;
    padding: 22px 10px 0;
  }

  .section1 .future-table h6 {
    font-size: 13px;
    padding-bottom: 11px;
  }

  .section1 .future-table table thead th {
    padding: 13.5px 10px !important;
    font-size: 11px;
  }

  .section1 .future-table table tbody td {
    padding: 13.5px 10px !important;
    font-size: 11px;
  }

  .footer-logo {
    width: 200px;
    display: block;
    margin: auto;
    margin-top: 40px;
  }

  .footer h5 {
    padding: 25px 0;
    text-align: center;
  }

  .footer input {
    width: 68%;
  }

  .footer button {
    width: 32%;
    font-size: 14px;
    padding: 17px 7px;
  }

  .footer .form-group {
    padding: 0 15px;
  }

  .horizontal-border {
    border-color: transparent;
  }

  .copyright {
    padding: 15px 0;
  }

  .copyright p {
    font-size: 13px;
  }

  .gap-table label {
    font-size: 9px;
    padding: 6px 10px;
    min-width: 55px;
  }

  .section1 .tab-pane table thead th {
    font-size: 10px;
  }

  .section-stocks {
    padding: 47px 0 5px !important;
  }

  .section-stocks h3 {
    font-size: 17px;
    line-height: 20px;
    padding-right: 40px;
  }

  .searching-item {
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }

  .searching-item .form-group {
    text-align: left;
  }

  .borderTable a {
    font-weight: 500;
    font-size: 13px;
    color: #333;
  }

  .searching-box input {
    margin-top: 0;
  }

  .seprator-border {
    margin-bottom: 20px;
  }

  .section-watchlist {
    padding: 62px 0 20px;
  }

  .watchlist-btn {
    font-size: 13px;
  }

  .watchlist-box .nav-link {
    font-size: 12px;
    line-height: 1.923;
    padding: 3px 12.5px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .td-show-btns {
    min-width: 175px;
    left: 153px;
  }

  .chain-table {
    margin-bottom: 15px;
  }

  .chain-table h6 {
    font-size: 13px !important;
  }

  .open-int-box h5 {
    font-size: 14px !important;
    margin-bottom: 15px;
  }

  .open-int-box p {
    font-size: 12px;
    line-height: 28px;
    margin-bottom: 15px;
  }

  .open-int-box ul li {
    font-size: 11px;
    line-height: 20px;
  }

  .open-int-box th {
    vertical-align: middle;
  }

  .open-int-box td {
    vertical-align: middle;
  }

  .table-margin {
    margin-bottom: 20px;
  }

  .int-live-chart {
    height: 240px;
  }

  .toolkit-icon {
    width: 3.5%;
    display: block;
    float: left;
  }

  .section1 .strategy-box table thead th {
    padding: 10px !important;
  }

  .section1 .strategy-box input,
  .section1 .strategy-box select {
    height: 30px !important;
    font-size: 12px;
    font-size: 12px;
    padding: 0 10px;
    margin-top: 7px !important;
    width: auto;
  }

  .table-btn {
    font-size: 12px;
  }

  .section-eod-table .pricetable-box table thead th {
    min-width: 145px;
  }

  .section-eod-top {
    padding-bottom: 0 !important;
  }

  .section-eod-table {
    padding-top: 0 !important;
  }

  .select-dropdown label {
    font-size: 12px;
  }

  .select-dropdown,
  .select-dropdown-3,
  .text-1 {
    text-align: left;
  }

  .atr-link {
    float: left;
    padding-left: 15px;
    font-weight: 400;
    width: 93%;
  }

  .fibonacci-form-box .form-control {
    height: 28px;
  }

  .t-heading {
    font-size: 15px;
  }

  .fibonacci-box p {
    font-size: 14px;
  }

  .fibonacci-item {
    font-size: 14px;
  }

  .pivot-table thead th {
    padding: 13px 13px;
    min-width: 172px;
  }

  .th-min-with {
    min-width: auto !important;
  }

  .th-min-w-auto {
    min-width: auto !important;
  }

  .sgx-block {
    margin-right: 0 !important;
    margin-bottom: 0 !important;
  }

  .submit-btn {
    font-size: 13px;
  }

  .analysis-heading {
    padding-top: 10px;
  }

  .analysis-heading h6 {
    font-size: 16px !important;
  }

  .nifty50item1 {
    margin-top: 20px;
  }

  .company-searchbar input {
    height: 35px;
    font-size: 12px;
  }

  .company-searchbar span {
    top: 11px;
    font-size: 13px;
  }

  .nifty50item1 span {
    font-size: 12px;
    color: #333;
    padding-top: 1px;
    font-weight: 500;
    margin-bottom: 0;
  }

  .nifty50item1 a {
    color: #0a4c6c;
    font-size: 11px;
  }

  .pagination {
    justify-content: center !important;
    margin: 15px 0 !important;
  }

  .section-banner {
    margin-bottom: 15px;
  }

  .margin-box4 {
    margin-top: 0;
  }

  .margin-box7 {
    margin-bottom: 15px;
  }

  .margin-box8 {
    margin-right: 0;
  }

  .margin-box5 {
    margin-top: 15px !important;
  }

  .margin-box6 {
    margin-bottom: 0 !important;
  }

  .watchlist-btns {
    display: block;
    text-align: center;
    position: initial;
    margin-top: 0;
    color: #000;
  }

  .watchlist-box .nav {
    text-align: center;
  }

  .fibonacci-box,
  .gap-up-box,
  .gap-up-content {
    margin-right: 0;
  }

  .live-analytics-box {
    margin-right: 0;
  }

  .current-price {
    font-size: 13px !important;
  }

  .analytics-menu li h6 {
    font-size: 16px !important;
  }

  .atr-item p {
    margin-bottom: 0;
  }

  .momentum-content h6 {
    font-size: 14px !important;
    padding-bottom: 10px !important;
  }

  .momentum-content li {
    font-size: 13px !important;
  }

  .premium {
    width: 150px;
  }

  .section1 .pricetable-box .gap-table thead th {
    font-size: 10px;
  }

  .section1 .pricetable-box .gap-table tbody td {
    font-size: 9px;
  }

  .gap-table label {
    font-size: 9px;
    padding: 6px 10px;
    min-width: 100px;
  }

  .yes-bank-detail h1 span {
    font-size: 17px;
  }

  .yes-bank-detail h1 i {
    font-size: 18px;
    top: 7px;
  }

  .yes-bank-detail h1 b {
    font-size: 13px;
  }

  .yes-bank-detail ul li {
    font-size: 11px;
    padding: 5px 2px 0 0;
  }

  .yes-bank-right {
    padding: 7px 0;
  }

  .add-alert,
  .add-to-watchlist,
  .share-icon {
    width: 20px;
    height: 20px;
    padding: 12px 13px;
    background-size: 75% 75%;
  }

  .add-to-watchlist:hover {
    height: 26px;
    width: 20px;
    padding: 12px 13px;
    background-color: #2196f2;
    background-size: 75% 75%;
  }

  .add-alert:hover {
    height: 26px;
    width: 20px;
    padding: 12px 13px;
    background-color: #2196f2;
    background-size: 75% 75%;
  }

  .share-icon:hover {
    height: 26px;
    width: 20px;
    padding: 12px 13px;
    background-color: #2196f2;
    background-size: 75% 75%;
  }

  .yes-bank-detail h1 {
    font-size: 17px;
  }

  .yes-bank-right ul li {
    margin-right: 2px;
  }

  .watch-box {
    font-size: 10px;
    padding: 7px 0;
    height: 23px;
    width: 105px;
    top: -27px;
    left: -39px;
  }

  .yes-bank-buy-btn {
    padding: 0 10px !important;
    top: -8px;
  }

  .yes-bank-buy-btn a {
    font-size: 12px;
  }

  .yes-bank-sell-btn a {
    font-size: 12px;
  }

  .yes-bank-sell-btn {
    padding: 0 8px !important;
    top: -8px;
  }

  .analysis-menu li a {
    font-size: 11px;
    padding: 7px 5px 5px 5px;
    margin-right: 5px;
  }

  .analysis-profile {
    padding: 15px 15px;
  }

  .analysis-profile p {
    font-size: 13px;
    margin-bottom: 10px;
    text-align: justify;
  }

  .analysis-profile h6 {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .analysis-profile button {
    font-size: 11px;
    padding: 6px 7px;
  }

  .key-data {
    padding-right: 15px !important;
    margin-top: 20px;
  }

  .technical-analysis {
    box-shadow: none;
  }

  .analysis-profile ul li {
    font-size: 12px;
  }

  .chart-section {
    padding: 5px 0;
  }

  .chart-section h6 {
    font-size: 18px;
  }

  .day-table table thead tr th {
    font-size: 12px !important;
    padding: 12px 10px;
  }

  .day-table table tbody tr td {
    font-size: 12px !important;
    padding: 12px 10px;
  }

  .day-table h6 {
    font-size: 16px !important;
    margin-bottom: 15px;
  }

  .technical-section h6 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .technical-left h5 {
    font-size: 16px;
    padding: 15px 15px 5px;
  }

  .trend-analysis li {
    font-size: 13px;
  }

  .trend-analysis li span {
    font-size: 13px;
  }

  .trend-up {
    left: -20px;
  }

  .trend-analysis-left {
    left: 34px;
    top: 60px;
  }

  .trend-analysis {
    padding: 0 15px 5px 20px;
  }

  .trend-analysis-left-d {
    bottom: 30px;
    left: 34px;
  }

  .price-table h5 {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .price-table {
    padding: 15px 15px;
  }

  .price-table table thead tr th {
    font-size: 11px !important;
    padding: 12px 5px;
  }

  .price-table table tbody tr td {
    font-size: 11px !important;
    padding: 12px 5px;
  }

  .add-box {
    margin: 20px 0 0;
  }

  .past-table h5 {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .past-table {
    padding: 15px 15px;
    margin-top: 0;
  }

  .past-table table thead tr th {
    font-size: 11px !important;
    padding: 13px 8px;
  }

  .past-table table tbody tr td {
    font-size: 11px !important;
    padding: 17px 8px 6px;
  }

  .gaps-support h5 {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .gaps-support {
    padding: 15px 15px;
    margin: 15px 0 0;
  }

  .gap-down {
    padding: 10px 0 25px !important;
    margin: 0 !important;
  }

  .gap-down p {
    font-size: 13px;
    padding-top: 17px;
  }

  .gap-down span {
    font-size: 11px;
    padding: 7px 10px;
    margin-top: -15px;
  }

  .gap-down b {
    font-size: 11px;
    margin-top: 5px;
  }

  .futures {
    padding: 10px 0;
  }

  .futures h5 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .future-right {
    display: none;
  }

  .futures h6 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .future-chart-right {
    padding: 0 15px !important;
  }

  .peer-comparison h5 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .peer-comparison {
    padding: 10px 0 30px;
  }

  .comparison-table {
    padding-top: 20px !important;
  }

  .comparison-responsive {
    padding: 0 !important;
  }

  .export-btn {
    padding: 8px 5px 6px;
    font-size: 11px;
    top: 25px !important;
  }

  .export-btn span::before {
    background: url(/images/Export.svg) no-repeat;
    top: 5px;
    left: 7px;
    background-size: 80%;
  }

  .export-btn:hover span::before {
    background-size: 80%;
  }

  .analysis-section .p-0 {
    padding: 0 15px !important;
  }

  .analysis-menu .p-0 {
    padding: 0 15px !important;
  }

  .profile-section .p-0 {
    padding: 0 15px !important;
  }

  .chart-section .p-0 {
    padding: 0 15px !important;
  }

  .technical-section .p-0 {
    padding: 0 15px !important;
  }

  .futures .p-0 {
    padding: 0 15px !important;
  }

  .peer-comparison .p-0 {
    padding: 0 15px !important;
  }

  .chart-box {
    min-height: auto;
  }

  .future-analysis-table {
    min-height: auto;
  }

  .future-chart {
    min-height: auto;
  }

  .advance_stock_screener button {
    padding: 0 8px;
    line-height: 26px;
    font-size: 12px;
  }

  .right_refresh_btns {
    padding: 16px 0 5px 0;
    text-align: left;
  }

  .advance_stock_screener span {
    font-size: 14px;
    padding-top: 1px;
    padding-bottom: 18px;
    display: block;
    float: none !important;
  }

  .stock_apply_filter li {
    padding: 0 6px;
    text-align: center;
    line-height: 25px;
  }

  .filter_modal .modal-header {
    padding: 13px 12px;
  }

  .stock-checkbox {
    font-size: 11px;
    line-height: 16px;
    padding-left: 19px;
  }

  .filter_modal .modal-header .common_btns {
    font-size: 12px;
    height: 26px;
    padding: 0 8px;
  }

  .responsive_filter {
    margin-bottom: 10px;
  }

  .filter_modal h6 {
    font-size: 13px;
  }

  .filter_modal .checkmark {
    width: 12px;
    height: 12px;
  }

  .stock-checkbox .checkmark:after {
    left: 5px;
    top: 0;
    width: 4px;
    height: 9px;
  }

  .volume_shocker {
    width: 100% !important;
  }

  .moving_average {
    width: 100% !important;
  }

  .advance_stock_screener .watchlist-new-table th {
    text-transform: capitalize !important;
    font-size: 12px;
  }

  .advance_stock_screener .watchlist-new-table .table {
    width: 894px;
  }

  .advance_stock_screener .watchlist-new-table td {
    font-size: 12px;
  }

  .advance_stock_screener .refresh_btn {
    height: 28px;
  }

  .section-watchlis-new {
    padding-top: 30px !important;
  }

  .watchlist-new-table td:first-child,
  .watchlist-new-table th:first-child {
    padding-left: 10px;
  }

  .watchlist-range-box {
    width: 90px;
  }

  .min-width-200 {
    min-width: 250px !important;
  }

  .watchlist-new-table th {
    min-width: 130px;
  }

  .watchlist-new-table th:last-child {
    min-width: 90px;
  }

  .show-btns {
    visibility: visible;
  }

  .tabing_screener a {
    font-size: 12px;
    padding: 15px 9px;
  }

  .responsive_nonebtn {
    display: none;
  }

  .stock_filter_modal button i {
    margin-right: 0;
  }

  .stock_filter_modal .stock_filter img {
    margin-right: 0;
  }

  .stock_filter_modal .common_btns {
    padding: 0 9px;
  }

  .feedback-modal .modal-dialog {
    max-width: 660px !important;
  }

  .mobile-android {
    display: block;
  }

  .watchlist-empty-img {
    max-height: 60%;
  }

  .option-dropdown label {
    display: block;
  }

  .option-dropdown select {
    min-width: 110px !important;
  }
}

@media (min-width: 320px) and (max-width: 481px) {
  .investing-page .float-left {
    float: none !important;
    text-align: center;
  }

  .investing-page .float-right {
    float: none !important;
    text-align: center;
  }

  .investing-page img {
    margin: 10px auto;
  }

  .main-grid-layout-2 {
    columns: 1 !important;
  }

  .responsive-p-0 {
    padding: 0px 15px !important;
  }

  .nifty-news-cut select {
    width: 100% !important;
  }

  .nifty-news-menu {
    text-align: right !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
  }

  .nifty-news-cut select {
    margin-left: 0px !important;
  }

  .grid-item-img {
    float: left;
    width: 27%;
  }

  .grid-content-box {
    padding: 0px 0px !important;
    margin-top: -5px;
  }

  .grid-float {
    width: 73%;
    float: left;
    text-align: left;
    padding: 0px 10px !important;
  }

  .grid-item-img a {
    display: table-cell;
  }

  .grid-item-img img {
    border-radius: 0px !important;
  }

  .main-grid-layout-2 .news-grid {
    border-bottom: 0.5px solid #e2e5ed !important;
    border: 0px;
  }

  .nifty-news-grid .grid-item-content,
  .main-grid-layout-2 .news-grid {
    border-radius: 0px !important;
  }

  .main-grid-layout-2 .news-grid {
    margin-bottom: 10px !important;
    padding-bottom: 10px;
  }

  .nifty-news-menu {
    margin-right: -15px !important;
  }
}

@media (min-width: 320px) and (max-width: 993px) {
  .stockserach {
    display: none;
  }
  button.back-to-top {
    left: 50%;
    margin-left: -20px !important;
  }
  button.back-to-top.show {
    left: 50%;
  }
  .watchlist_action a {
    /* border: 0px;
    padding: 0px; */
    margin: 0px 3px;
    /* height: auto;
    width: auto; */
  }
  /* .watchlist-dropdown .btn {
    min-width: auto;
  } */
  .watchlist_action {
    padding: 0px 0px 0px 8px;
  }
  .stock-analysis-profile-div .col {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .fixScroll {
    position: fixed !important;
    z-index: 9999999;
    top: 0px;
    width: 100%;
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
  }
  @keyframes slide {
    0% {
      transform: translateY(-100%);
    }
    50% {
      transform: translateY(0%);
    }
    65% {
      transform: translateY(0%);
    }
    80% {
      transform: translateY(0%);
    }
    95% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  .nifty-logo input {
    border-radius: 30px !important;
    border: 0px !important;
    padding: 0px 15px !important;
    margin-bottom: 0px !important;
    margin-top: 5px;
  }

  .nifty-logo .dropDownMen .fa-search {
    right: 30px !important;
    top: 50%;
    margin-top: -3px;
  }

  .responsive-d-none {
    display: none !important;
  }
  .top_six_blocks .col {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .mobile-android {
    right: -50px;
    bottom: 15px;
    z-index: 999;
    display: block;
  }

  .wsmenu {
    z-index: 999999999 !important;
  }
  .mobile_active a {
    background: rgba(66, 145, 181, 0.38) !important;
    border-left: 2px solid #fff !important;
  }
  .socialSharingBtn {
    top: 52%;
  }
  .mobile-android {
    bottom: 60%;
    transition: all ease-out 0.5s;
  }
  #desktop-menu {
    display: none;
  }
  .socialShring {
    bottom: 24%;
  }
  #mobile-menu {
    display: block;
    background: url(/images/menubg.jpg) center center fixed;
    /* height: 100%; */
    background-size: cover;
    min-height: 500px;
  }
  .mobile-menu-label {
    text-align: left;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    display: block;
    /* color: #343434; */
    color: #fff;
    padding: 0px 0px 10px 18px !important;
    padding: 5px 0px 19px 18px !important;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .wsmenu > .wsmenu-list > li > .navtext {
    color: #cecece !important;
  }
  #mobile-menu .h_destop_hidden {
    border-top: 1px solid rgba(218, 208, 208, 0.63) !important;
  }

  #mobile-menu li > .navtext {
    line-height: 35px !important;
    font-size: 14px !important;
  }
  /* icon color palette  list */
  #mobile-menu .fa-chart-bar {
    color: #fc3831;
  }
  #mobile-menu .fa-chart-line {
    color: #4399eb;
  }

  #mobile-menu .fa-analytics {
    color: #ffa5b0;
  }

  #mobile-menu .fa-star {
    color: #654062;
  }

  #mobile-menu .fa-tablet-alt {
    color: #b83b5e;
  }
  #mobile-menu .fa-desktop {
    color: #fa26a0;
  }
  #mobile-menu .fa-rupee-sign {
    color: #f37121;
  }
  #mobile-menu .fa-calculator {
    color: #438a5e;
  }
  #mobile-menu .fal {
    color: #f8b24f;
  }
  #mobile-menu .fa-calculator-alt {
    color: #5fdde5;
  }
  #mobile-menu .fa-newspaper {
    color: #45046a;
  }

  .wsmenu-list .hideIcon {
    visibility: visible;
    margin-right: 10px;
    width: 14px;
    color: #cecece !important;
  }
  .responsiive-label {
    display: block !important;
  }
  .appenedRow {
    margin: 0px !important;
    padding-top: 0px !important;
    position: relative;
    padding-top: 15px !important;
    margin-top: 15px !important;
    background: #f7f7f7;
    width: 100%;
  }
  .calculateBtn {
    margin-bottom: 15px;
  }
  .appenedRow select {
    background: #f7f7f7 !important;
  }
  .appenedRow input {
    background: #f7f7f7 !important;
  }
  .sepratepage .option-dropdown label {
    display: inline-block;
  }

  .sepratepage .nifty-chart-icon {
    float: none !important;
    display: inline-block !important;
    position: relative;
    top: 9px;
    height: 27px !important;
  }
  .sepratepage .select-dropdown select {
    float: none !important;
    display: inline-block !important;
  }

  .sepratepage .select-dropdown {
    padding-top: 0px !important;
  }
  .sepratepage h2 {
    padding-top: 14px;
  }

  .table-wrap-styles {
    height: 400px !important;
  }
  .myaccountTab .flex-column {
    border-right: 0px;
    margin-top: 10px;
  }
  .filter-reposive-pl ul {
    width: 400px;
    overflow-x: scroll;
    white-space: nowrap;
    padding-top: 8px;
  }

  .filter-reposive-pl ul::-webkit-scrollbar {
    height: 2px;
  }

  .filter-reposive-pl ul::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  .filter-reposive-pl ul::-webkit-scrollbar-thumb {
    background-color: #2196f3;
    outline: 1px solid #2196f3;
  }

  .stock_apply_filter li {
    display: inline-block;
    margin-bottom: 4px;
  }
  .filter-reposive-pl {
    padding-left: 30px !important;
  }

  .niftySelectbox .dropdown {
    width: 100% !important;
  }
  .nifty-chart-dropdown label {
    display: inline-block !important;
  }

  .nifty-chart-dropdown select {
    float: none !important;
  }
  .watchlistTable {
    overflow-x: auto !important;
  }

  .section-watchlis-new p {
    font-size: 11px;

    line-height: 33px !important;
  }

  .alert-icon {
    font-size: 17px;
    margin-top: 4px;
  }

  .nifty-table-dropdown .form-group a {
    top: 7px !important;
  }

  .select-dropdown label {
    display: block;
  }

  .gap-up-box .select-dropdown label {
    display: inline-block;
  }

  .gap-up-box .select-dropdown select {
    float: none;
  }

  .section1 .strategy-box select {
    float: left;
  }

  .responsive-f label {
    display: none;
  }

  .responsive-f {
    text-align: center;
  }

  .responsive-f button {
    margin: 0px auto;
    padding: 5px 0px;
    margin-top: 30px !important;
    max-width: 150px;
  }

  .list-stockScroll .col-lg-3 {
    border: 0.5px solid #dee2e6;
  }

  .stocks-link {
    border: 0px !important;
  }

  .stocks-link:hover {
    background: transparent !important;
  }

  .fibonacci-form-box .form-group {
    margin: 5px;
  }

  .fibonacci-form-box {
    padding: 0px;
  }

  .fibonacci-form-box #remove {
    /* margin-top: 33px !important; */
    /* margin-bottom: -19px !important; */
    height: 29px;
    line-height: 15px;
    width: auto;
    /* margin: 0px !important; */
    font-size: 11px;
    margin-top: 8px !important;
    padding: 4px 15px !important;
    margin-left: 12px !important;
  }

  .dnone {
    display: none;
  }

  .addform-top {
    padding-left: 5px !important;
  }

  .addform-top .table-add-btn,
  .table-btn {
    padding: 4px 26px !important;
  }

  .fibonacci-form-box label {
    font-size: 10px;
  }

  .select-broker table tr td {
    white-space: nowrap;
  }

  .line-height-heading {
    line-height: 24px;
  }

  .t-heading {
    margin: 10px 0px !important;
    padding: 0px;
  }

  .analytics-menu li {
    width: 25%;
    text-align: left;
    display: block;
    float: left;
    padding-left: 10px;
  }

  .first-li {
    width: 100% !important;
    text-align: left !important;
    display: block !important;
    padding-bottom: 15px;
  }

  .analytics-menu li h5 {
    font-size: 11px;
  }

  .analytics-menu li:nth-child(2) {
    padding-left: 0px !important;
  }

  .first-li:after {
    display: none;
  }

  .stock-screener {
    padding: 0px;
    margin: 0px;
  }

  .nifty-datatable table th {
    white-space: nowrap;
  }

  .gap-up-box .nav {
    padding: 10px 0px;
  }

  .gap-up-box .nav-link {
    margin-right: 0px;
    font-size: 11px;

    padding: 2px 8px;
  }

  .gap-up-box .select-dropdown {
    padding: 10px 5px 0px;
    text-align: right;
  }

  .select-dropdown select {
    min-width: auto;
    height: 26px !important;
    float: right;
  }

  /*#tabsJustifiedContent {
    margin: 0px -15px !important;
  }*/

  .nifty-news-menu {
    text-align: right !important;
    margin-right: -15px !important;
    margin-left: 0px !important;
  }

  .nifty-news-cut select {
    margin-left: 0px !important;
  }

  .grid-item-content-a {
    font-size: 13px;
  }

  .grid-content-box {
    padding: 10px;
  }

  .myaccountTab .tab-content {
    padding: 30px 0px !important;
  }

  .user-name {
    height: 70px;
    width: 70px;
    line-height: 70px;
    font-size: 20px;
    display: inline-block;
    margin: 25px 15px;
    position: absolute;
    background: #fff;
  }

  .myaccountTab ul li {
    margin: 10px 10px 0px 0px !important;
  }
  .myaccountTab ul li a {
    padding: 5px 9px !important;
    font-size: 11px !important;
    border: 1px solid #ebebeb;
  }

  .main-grid-layout {
    width: 100% !important;
  }

  .news-grid {
    width: 100%;
  }

  .responsive-login-user {
    display: block !important;
  }

  .responsive-login-user i {
    background: #f2f5f6;
    vertical-align: initial !important;
    padding: 5px;
    border-radius: 100%;
    color: #0a4c6c;
  }

  .responsive-login-user a {
    color: #0a4c6c !important;
  }

  .nifty-home-banner .responsive-login-user a {
    color: #fff !important;
  }

  .nifty_inner_header .h_right_menubar li a:hover {
    color: rgb(33, 150, 243) !important;
  }
  .mobile-show {
    left: -306px;
    transition: all 0.25s ease-in-out;
  }
  .wsactive #mobile-menu .mobile-show {
    display: block !important;
    visibility: visible !important;
    opacity: 1;
    transition: all 0.25s ease-in-out;
    left: 0px !important;
  }

  .h-content {
    padding-top: 90px;
  }

  .h-content .p-0 {
    padding: 0px 15px !important;
  }

  .right-owl-carousel {
    padding: 0px;
  }

  .h-content .pr-0 {
    padding-right: 15px !important;
  }

  .h-content .pl-0 {
    padding-left: 15px !important;
  }

  .h-heading {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
  }

  .active-register-btn-responsive {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(33, 150, 243);
    border-radius: 3px;
    background-color: rgb(33, 150, 243) !important;
    display: block;
    padding: 0px 7px !important;
  }

  .nifty_inner_header .active-register-btn-responsive {
    background: transparent !important;
  }

  .h-text {
    text-align: center;
  }

  .h-nifty-carousel {
    padding: 10px;
  }

  .h_bottom_tabs {
    position: unset;
  }

  .h_watchlist .p-0 {
    padding: 0px 15px !important;
  }

  .h_stock_scaner .nav-pills .nav-link {
    padding: 10px 5px;
    padding-right: 2px;
    margin-right: 8px;
    font-size: 11px;
  }

  .h_righttabing_img {
    margin: 0px !important;
    width: 100%;
  }

  .h_stock_scaner-top {
    margin: 0px;
  }

  .h_stock_scaner {
    padding: 15px 0px 15px 0px;
  }

  .h_responsive_Stock_Analysis {
    margin-bottom: 15px;
    padding-top: 15px;
  }

  .h_stock_scaner .p-0 {
    padding: 0px 15px !important;
  }

  .h_stock_scaner-top img {
    display: none;
  }

  .h_stock_heading,
  .h_section_heading {
    font-size: 20px;
    padding: 0px;
    text-align: left;
  }

  .hidden_mobile,
  .h_app_right {
    /* display: none; */
    text-align: center !important;
    padding: 0px 15px !important;
  }
  .h_download_our_app .row {
    flex-direction: column-reverse;
  }
  .app-img-box .img-fluid {
    margin: 10px 0px;
    width: 210px;
  }
  .vd_btnpulse {
    width: 30px !important;
  }
  .login_access_modal .modal-body {
    padding: 0px !important;
    text-align: center;
  }
  .you_tube_vd_btn {
    left: 46%;
  }
  .login_access_modal iframe {
    width: 320px !important;
    height: 200px !important;
  }
  .login_access_modal .close {
    top: 60px !important;
  }
  .h_destop_hidden {
    display: block !important;
  }

  .h_bottom_tabs li a {
    font-size: 11px;
  }

  .h_bottom_tabs ul li {
    padding: 0px 5px;
  }

  .home-page-tabing .p-0 {
    padding: 0px 15px !important;
  }

  .h_tabing .nav-link {
    font-size: 12px;
    padding: 10px 7px;
  }
  .home-page-tabing .table tr th {
    white-space: nowrap;
  }
  .home-page-tabing .table tr td {
    white-space: nowrap;
  }

  .home-page-tabing {
    padding: 20px 0px 15px 0px;
  }

  .nifty-home-banner {
    padding: 0px;
    position: unset;
    background: #0b193c;
  }

  .h_tabing {
    margin-bottom: 10px;
  }

  .Brokerage-form {
    padding: 15px 10px !important;
  }
  .home-page-tabing .table thead th {
    padding: 5px 5px;
  }

  .home-page-tabing .table tr td {
    padding: 7px 5px;
  }

  .h_more_stock a {
    font-size: 12px;
    max-width: 130px;
    padding: 0px 5px;
    margin-top: 13px !important;
    margin-bottom: 13px !important;
  }

  .h_create_watchlist a {
    font-size: 12px;
    width: 110px;
    line-height: 35px;
  }

  .h_watchlist {
    padding: 20px 0px;
  }

  .h_create_watchlist {
    padding-top: 15px;
  }

  .h_stock_scaner p {
    font-size: 13px;
  }

  .watchlist_item h5 {
    font-size: 18px;
  }

  .watchlist_item_title {
    font-size: 15px;
  }

  .h_search_stocksr,
  .h_search_stocks {
    margin-top: 0px;
  }

  .take-me-screener {
    margin-top: 0px;
    line-height: 35px;
    width: 141px;
    font-size: 12px;
  }

  .h_niftyTabing {
    padding-top: 0px !important;
  }

  .liveanalystic_home .h_stock_scaner-top {
    margin-top: 20px;
  }

  .h_daily_nifty_technicals {
    padding: 25px 0px 10px 0px;
  }

  .h_daily_nifty_technicals .p-0 {
    padding: 0px 15px !important;
  }

  .h_daily_nifty_technicals .card-body {
    padding: 10px 10px;
  }

  .h_subheading {
    font-size: 20px;
    padding: 0px;
    font-weight: 400;
  }

  .h_card_title {
    font-size: 12px;
    padding-bottom: 0px;
  }

  /* .h_download_our_app {
    background: #dbf0ff;
  } */
  .h_download_our_app .dwnload_app_content {
    padding: 10px 0px;
  }
  .h_download_our_app .dwnload_app_content span {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .h_download_our_app .dwnload_app_content h5 {
    font-size: 27px;
  }
  .h_download_our_app .dwnload_app_content p {
    font-size: 13px;
    line-height: 22px;
  }
  .dwnload_app_content .qr-box {
    width: 45px;
    height: 45px;
    border-radius: 3px;
    border: 2px solid #15172c;
    display: inline-block;
    padding: 2px;
    text-align: center;
    margin: 0px 0px;
    vertical-align: middle;
    margin: 0px 5px;
  }
  .dwnload_app_content .qr-box img {
    width: 37px;
  }
  .section-banner {
    padding: 15px 0px 15px;
  }
  .dwnload_app_content .googl-play-btn {
    display: inline-block;
    margin: 0px 5px;
  }
  .dwnload_app_content .googl-play-btn img {
    width: 140px;
  }
  .h_download_our_app .dwnload_app_content h6 {
    border-radius: 3px;
    padding: 4px 8px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    margin: 20px auto 10px;
  }
  .h_download_our_app span {
    padding-top: 0px;
  }

  .h_download_our_app p,
  .h_download_our_app h5 {
    padding-bottom: 0px;
  }

  .h_footer_alpha {
    padding: 0px 0px 15px 0px;
    margin: 0px 0px 15px 0px;
  }

  .h_footer_alpha li {
    margin: 3px 1px;
  }

  .h_footer .p-0 {
    padding: 0px 30px !important;
  }

  .h_footer {
    padding: 20px 0px 10px 0px;
    text-align: center;
    background: #0b1426;
  }

  .footer-content p {
    padding: 10px 0px 0px 0px;
  }

  .footer-content ul li {
    margin: 0px 2.5px;
  }

  .h_footer .pl-0 {
    padding-left: 15px !important;
  }

  .h_footer_link button {
    width: 30%;
    margin: 0px;
    line-height: 38px;
    border-radius: 0px 5px 5px 0px;
  }

  .h_footer_link .has-search .form-control {
    width: 70%;
    float: left;
    border-radius: 5px 0px 0px 5px;
  }

  .h_research_analysis_tool .p-0 {
    padding: 0px 15px !important;
  }

  .h_research_analysis_tool ul li {
    margin: 10px 4px;
    max-width: 138px;
    /* width: 50%;
    max-width: fit-content; */
  }

  .h_research_analysis_tool {
    padding: 15px 0px;
    background: #216dbf;
  }

  .nifty-home-banner .wsmobileheader {
    padding: 0px 0px;
  }

  .h_daily_nifty_technicals .h_subheading {
    padding-bottom: 10px;
    text-align: left !important;
  }

  .h_app_left {
    text-align: center;
    padding: 0px 15px !important;
  }

  .h_copyright_footer {
    margin-top: 0px;
  }

  .h_footer_link span {
    padding-bottom: 5px;
  }

  .h_footer_link label {
    text-align: left;
  }

  .H_StockAnalysis {
    padding: 0px;
  }

  .niftyHomeTabingStock img {
    width: 100%;
  }

  .niftyHomeTabingStock {
    width: 100%;
  }

  .h_stocktabs {
    padding-bottom: 15px;
    margin-bottom: 0px;
  }

  .h_research_analysis_tool ul li a span {
    margin: 0px auto;
    font-size: 13px;
  }

  .h_responsive_Stock_Analysis .card-header {
    background: #fff !important;
    border-radius: 0px !important;
    padding: 5px 0px;
  }

  .h_responsive_Stock_Analysis .card {
    border-bottom: 0px !important;
    border-radius: 0px !important;
  }

  .h_responsive_Stock_Analysis .card-body {
    padding: 0px;
  }

  .h_responsive_Stock_Analysis .btn-link {
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(73, 80, 87);
    line-height: 1.2;
    font-weight: 400;
    text-decoration: none;
    text-align: left;
  }

  .h_responsive_Stock_Analysis .btn-link img {
    margin-right: 10px;
    float: left;
    width: auto !important;
  }

  .h_responsive_Stock_Analysis .card-body img {
    width: 100%;
    height: auto;
  }

  .h_responsive_Stock_Analysis .h_stock_heading {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .h_addto_watchlist {
    width: auto;
  }

  .h-search .input-group {
    margin: 0px auto;
    width: 90%;
  }

  .h-search input {
    font-size: 12px;
  }

  .h_right_menubar li {
    float: right;
  }

  .h_right_menubar li a i {
    font-size: 17px;
  }
  #search-btn {
    margin-right: 10px;
  }

  .h_right_menubar li a {
    padding: 0px 8px;
    font-size: 13px;
    line-height: 26px;
  }

  .active-register-btn {
    line-height: 26px !important;
    margin-right: 5px;
    margin-left: 5px;
  }

  .h_right_menubar {
    right: 30px;
    top: -36px;
    /* width: 100%; */
    z-index: 999999;
  }
  /* 
  .wsactive .h_right_menubar {
    z-index: 999 !important;
  } */

  .h_header-notification {
    right: 3px;
    top: 3px;
  }

  .menu_pipes {
    margin-left: 0px !important;
  }

  /* .nifty-logo {
    display: none !important;
  } */

  .nifty-home-banner .wsmenu > .wsmenu-list > li > .navtext {
    color: #333333 !important;
    text-align: left;
  }

  .h_responsive_logo {
    display: block !important;
  }

  .h_responsive_logo img {
    width: 174px;
    float: left;
    margin-left: 30px;
    margin-top: 7px;
    margin-bottom: 7px;
  }

  .nifty-home-banner .wsmobileheader {
    background: transparent !important;
  }
  /* 
  .wsactive .h_responsive_logo {
    display: none !important;
  } */

  .nifty-home-banner .wsanimated-arrow span,
  .nifty-home-banner .wsanimated-arrow span:before,
  .nifty-home-banner .wsanimated-arrow span:after {
    background: #fff !important;
  }
  /* .wsactive .wsanimated-arrow {
    display: none !important;
  } */
  /* .wsactive .wsanimated-arrow span:before,
  .wsactive .wsanimated-arrow span:after {
    background: #333 !important;
  } */

  .nifty-home-banner .wsmenu > .wsmenu-list > li > ul.sub-menu {
    top: 0px !important;
  }

  .nifty-home-banner .wsmenu > .wsmenu-list > li > .wsmegamenu {
    top: 0px !important;
  }

  .user-profile-nifty {
    display: none !important;
  }

  .nifty-home-banner .wsmenu > .wsmenu-list {
    padding-top: 68px !important;
  }

  .wsmenu > .wsmenu-list {
    padding-top: 10px;
  }
  .nifty_inner_header .inner-page-logo {
    padding-left: 10px;
  }
  .wsactive .nifty_inner_header .h_header_top_scroll .wsanimated-arrow {
    top: 0px !important;
  }

  #search-box input[type="text"] {
    font-size: 20px;
  }

  .search-centered {
    width: 85% !important;
  }

  .h_header_top_scroll .h_responsive_logo img {
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 0px;
  }

  .h_header_top_scroll .wsanimated-arrow {
    top: 22px !important;
  }

  .wsactive .wsanimated-arrow {
    /* position: fixed;
    right: 5px;
    left: auto;
    top: 8px !important;
    z-index: 999999; */
    /* background: #2196f3; */
    /* background: #e8e8e8;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    padding-top: 10px;
    text-align: center;
    padding-left: 7px; */
  }
  /* .wsactive .wsanimated-arrow span:after {
    background: #fff !important; 
  }
  .wsactive .wsanimated-arrow span:before{
    background: #fff !important; 
  } */
  .h_footer_alpha li a {
    padding: 0px 7px;
    line-height: 23px;
    font-size: 11px;
  }

  .h-nifty-carousel p {
    font-size: 23px;
  }

  .h_daily_nifty_technicals .card-img-top {
    height: auto;
    max-height: 100px;
  }

  .h_footer .pr-0 {
    padding-left: 0px !important;
  }

  .h_stock_scaner .pr-5 {
    padding-right: 15px !important;
  }

  .wsmain {
    position: relative;
  }

  .nifty-announcement-bar {
    text-transform: capitalize;
  }

  .nifty-announcement-bar a {
    font-size: 9px !important;
    display: inline-block;
  }

  .nifty-home-banner .wsanimated-arrow {
    top: 22px !important;
  }

  .nifty_inner_header .h_right_menubar {
    top: -37px !important;
  }

  .nifty_inner_header .h_header_top_scroll .wsanimated-arrow {
    top: 29px !important;
  }

  .nifty_inner_header .h_header_top_scroll .h_right_menubar {
    top: -30px !important;
  }

  .wsactive .nifty-home-banner .wsanimated-arrow {
    top: 0px !important;
  }

  .nifty-home-banner .input-group input {
    padding-left: 9px !important;
  }

  /* Latetst Home page css 21-04-2020 */

  .hompage-top-content {
    padding: 10px 5px;
  }

  .hompage-top-content .p-0 {
    padding: 0px 15px !important;
  }

  .angel-box-responsive {
    padding-right: 15px !important;
  }

  .angel-box-responsive {
    padding-left: 15px !important;
    padding-right: 7px !important;
  }

  .nifty-top-news-bar marquee {
    width: 68%;
  }

  .nifty-top-news-bar {
    padding: 4px 15px 4px 6px;
    background-size: 30% 100% !important;
  }

  .nifty-top-news-bar span {
    font-size: 11px;
  }

  .three-ngx-nifty {
    margin: 0px -15px;
    padding-bottom: 15px;
  }

  .new-sgx-nifty-box {
    margin-bottom: 0px;
  }

  .margin-box2 {
    margin: 0px 0px !important;
  }

  .homepage-newsbox {
    margin-bottom: 15px;
  }

  .premium-tag {
    width: 100px;
    background-size: 100% !important;
    top: -8px !important;
    height: 63px;
    right: 25px;
  }

  .angel-box-responsive-left {
    padding-left: 7px;
  }

  .angel-broking-box span {
    font-size: 10px;
  }

  .angel-broking-box {
    margin: 5px 0 !important;
  }

  .homepage-news-ul li a {
    font-size: 12px;
  }

  .sgx-box-bottem {
    padding: 0px;
  }

  .sgx-box-bottem li a {
    font-size: 12px;
    color: var(--main-hover-color);
    text-decoration: underline;
    letter-spacing: 0.5px;
  }
  .sgx-box-bottem li::after {
    top: 6px;
    font-size: 15px;
  }
  .sgx-box-bottem li {
    padding: 5px 10px;
  }

  .sgx-value-ul li:first-child {
    font-size: 14px !important;
    margin: 5px 0px 0px 0px !important;
  }

  .sgx-box-bottem li:hover {
    background: transparent;
  }

  .sgx-box-bottem li:hover a {
    color: var(--main-hover-color);
  }

  .sgx-value-ul li {
    margin: 0px 15px;
  }

  .homepage-news-ul li {
    margin-bottom: 10px;
  }

  .homepage-news-ul li::after {
    left: 0px;
    margin-left: 0px;
    width: 100%;
  }

  .Brokerage {
    margin-top: 15px !important;
  }

  .homepage-news-ul {
    height: 314px !important;
  }

  .company-searchbar input {
    margin-bottom: 10px !important;
    height: 32px !important;
    font-size: 13px !important;
  }
  .searchbar span {
    top: 5px !important;
    right: 25px !important;
  }
  .gif-charts {
    width: 60px;
  }
  .margin-box2 {
    padding-bottom: 5px !important;
  }

  .section1 .p-0 {
    padding: 0px 15px !important;
  }
  .section1 .stock-analysis-heading {
    padding: 0px !important;
  }
  .top-three-nifty-boxes,
  .nifty-top-news-bar-row {
    margin: 0px -30px !important;
  }

  .open-account-box span {
    font-size: 10px;
  }

  .section1 {
    padding: 0px 0px 15px 0px;
  }

  .hompage-top-content .angel-broking-box {
    height: 35px;
  }

  .top-three-nifty-boxes .pl-0 {
    padding-left: 7px !important;
  }

  .open-account-box {
    margin: 12px 0px 0px 0px;
    height: 35px;
  }

  .advertisement-panel img {
    width: 100%;
  }

  .nifty-page-chart {
    height: 265px;
  }

  .nifty-chart-panel .p-0 {
    padding: 0px !important;
  }

  .nifty-chart-panel {
    margin-bottom: 20px;
  }

  .main-page-heading {
    line-height: 25px;
  }

  .nifty-chart-ul li a {
    font-size: 11px;
    margin-left: 6px;
  }

  .nifty-chart-ul li {
    padding: 0px;
  }

  .open-int-box h2 {
    font-size: 15px;
  }

  .open-int-box a {
    font-weight: 400;
    font-size: 13px;
  }

  .open-int-box a i {
    height: 30px;
    float: left;
    padding-top: 6px;
  }

  .section1 {
    padding-bottom: 0px !important;
  }

  .sidebar-search {
    margin-bottom: 15px;
  }

  .select-dropdown {
    text-align: left;
  }

  .right-sidebar-panel {
    margin: 15px 0px;
  }

  .hompage-top-content .dayhighlow-box {
    height: auto;
  }
  .open-int-box h3 {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .section1 .page-side-bar {
    padding: 0px 0px !important;
  }

  .Brokerage-form form {
    text-align: center;
  }

  .Brokerage-form label {
    text-align: left;
  }

  .hompage-top-content .Brokerage .form-group {
    margin-bottom: 15.8px !important;
    /* width: 24%;
    display: inline-block; */
  }
  .margin-box2 {
    margin: 0px 15px 0px 0px !important;
  }

  .submit-btn {
    /* width: 100%; */
    padding: 4px 25px !important;
    margin: 0px !important;
  }
  .analysis-heading {
    padding-top: 1px;
  }
  .nifty-top-news-bar marquee {
    width: 83% !important;
  }

  .nifty-top-news-bar {
    background-size: 17% 100% !important;
  }

  .sgx-box-bottem li {
    padding: 0px 1px;
  }

  .sgx-box-inner-content {
    padding: 10px 0px 10px 5px !important;
  }

  .sgx-value-ul li {
    font-size: 10px !important;
  }

  .comprehensive {
    background: #f5f8fb;
    padding: 15px 0px 15px 0px;
  }
}

@media (min-width: 300px) and (max-width: 500px) {
  .h_research_analysis_tool ul li {
    display: block;
    width: 50%;
    margin: 0px auto;
    min-height: 142px;
    float: left;
    max-width: none;
  }

  .AdvancedFibonacciCalculator {
    width: 100% !important;
  }

  .h_research_analysis_tool ul li:last-child {
    display: inline-table !important;
    max-width: 148px !important;
    margin: 0px 45px !important;
    float: none !important;
  }
}

@media (min-width: 994px) and (max-width: 1200px) {
  .zerodha-box p {
    font-size: 12px;
    padding: 10px 5px;
  }

  .h_research_analysis_tool ul li {
    margin: 0px 26px;
  }

  .h_righttabing_img img {
    width: 100%;
    margin-left: -50px;
  }

  .niftyHomeTabingStock img {
    width: 100%;
  }

  .h_stock_vertical_tabs .nav-pills .nav-link {
    font-size: 16px;
  }

  .inner-right-sidebar li i {
    margin-right: 7px;
  }

  .inner-right-sidebar li a {
    padding: 12px 10px;
    font-size: 12px;
  }

  .open-account-box {
    padding: 10px 8px;
  }

  .sgx-value-ul li:first-child {
    font-size: 19px;
  }

  .sgx-box-bottem li {
    padding: 0px 6px;
  }

  .nifty-top-news-bar marquee {
    width: 86%;
  }
}

@media (min-width: 994px) and (max-width: 1200px) {
  .h_footer_link li a {
    font-size: 13px;
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  .modal-dialog {
    max-width: 595px !important;
  }
  .feedback-modal .modal-dialog {
    max-width: 575 px !important;
  }
}

.wsmenu > .wsmenu-list > li .wstliststy02 li .active {
  color: rgb(33, 150, 243) !important;
}

@media (min-width: 750px) and (max-width: 993px) {
  .user-name {
    line-height: 70px;
    font-size: 20px;
    display: block;
    margin: 0px auto;
    /* position: absolute; */
    background: #f9f9f9;
    height: 70px;
    width: 70px;
    position: unset;
  }
}
@media (min-width: 750px) and (max-width: 993px) {
  .new_broker_box {
    padding: 20px;
    align-items: end;
    margin-bottom: 20px;
  }
  .br_service {
    width: unset;
  }
  .br_service span {
    font-size: 11px;
    margin-bottom: 5px;
  }
  .br_content_features {
    display: block;
  }
  .br_content_features ul li {
    font-size: 13px;
    margin-right: 20px;
  }
}
/*  Nifty css latest responsive  */

@media (min-width: 300px) and (max-width: 993px) {
  .responsiveAddField {
    display: block;
  }
  #empty_content {
    position: unset;
    float: none;
    width: 100%;
    font-size: 14px;
  }
  .arrowRotate {
    top: 27px;
    left: auto;
    right: 30px;
    position: absolute;
  }
  .arrowRotate img {
    transform: rotate(-90deg);
    margin-right: 10px;
  }
  .open-streagy-right .main-page-heading {
    font-size: 16px;
  }
  .dropDownMen .bootstrap-select {
    width: 100% !important;
  }
  .open-streagy-right .analytics-menu {
    padding-top: 0px;
  }
  .open-streagy-right .analytics-menu li {
    display: inline-block;
    float: none;
    padding: 0px;
    text-align: left !important;
    margin: 0px 2.5% 10px 2.5% !important;
    width: 44%;
  }
  #empty_content h5 {
    font-size: 20px;
  }
  .add-field {
    position: absolute;
    top: -6px;
    right: 0px;
    margin-top: 0px;
  }
  .remove-field {
    position: absolute;
    right: 8px;
    top: 6px;
  }
  .download_our_application {
    padding-top: 10px;
  }
  .download_our_application img {
    width: 20px;
  }
  /* .optionlabel {
    display: block;
    margin: 0px auto;
    margin-bottom: 29px !important;
} */
  nav.float-action-button {
    z-index: 999999999999999999999;
  }
  .remove-field {
    right: 8px;
  }
  .open-streagy-right .control-label {
    font-size: 11px;
  }
  .fistli {
    font-size: 11px;
  }
  .open-streagy-right .custom-control-label {
    font-size: 9px;
    text-transform: uppercase;
  }
  .open-streagy-right button {
    padding: 5px;
    font-size: 11px;
    margin-left: 5px;
  }
  .showanalysis {
    margin: 0px auto;
    display: block;
    margin-top: 15px !important;
    padding: 8px 10px;
    font-size: 11px;
  }
  .r-p-0 {
    padding-left: 0px;
    padding-top: 15px !important;
  }
  .open-streagy-right canvas {
    height: 400px !important;
  }
  .twitter-typeahead {
    width: 100% !important;
  }
  .dropDownMen i {
    top: 50%;
  }
  #alertMsg {
    bottom: 0px;
    right: 15px;
    line-height: 30px;
    width: auto;
  }

  .multi-field-wrapper .nifty-chart-panel {
    padding-bottom: 0px !important;
  }
  #appenddata {
    width: 100%;
  }
  .open-streagy-row::-webkit-scrollbar {
    height: 3px;
  }

  .open-streagy-row::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    height: 3px;
  }

  .open-streagy-row::-webkit-scrollbar-thumb {
    background-image: linear-gradient(90deg, #152769, #034673);
    outline: 1px solid slategrey;
    height: 3px;
  }
  .open-streagy-right select {
    width: 100% !important;
  }
  .top-three-nifty-boxes .col {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .responsive-btn-position {
    position: absolute;
    top: 72px;
    z-index: 9999;
    right: 0;
    margin: 0px !important;
  }
  .open-streagy-right-input .profile-content-box {
    margin-top: 10px;
  }
  .mt0 {
    margin-top: 35px !important;
  }
  .h_watchlist {
    display: none;
  }
  .responsive-abs {
    position: unset;
  }
}
@media (min-width: 993px) and (max-width: 1199px) {
  .open-streagy-right .analytics-menu li {
    width: 187px;
  }
  .br_account_charges ul li {
    margin-right: 50px;
  }
  .br_content_features ul li {
    margin-right: 42px;
  }
}
@media (min-width: 300px) and (max-width: 767px) {
  .new-sgx-nifty-box {
    margin-bottom: 15px !important;
  }
  .margin-box2 {
    padding: 15px 0px !important;
  }
  .analysis-heading {
    padding-top: 0px;
  }
  .dayhighlow-box h6 {
    padding-bottom: 0px !important;
    padding-top: 13px !important;
    font-size: 17px !important;
  }
  #text-type {
    font-size: 13px !important;
    margin: 10px 0px;
  }
  .nifty50item1 span {
    font-size: 12px !important;
    font-weight: 400 !important;
  }
  .nifty50item1 a {
    padding: 0px 6px;
    font-size: 10px;
    line-height: 22px;
  }
  .comprehensive {
    padding: 20px 0px 10px 0px;
    background: #f5f8fb;
  }
  .hompage-top-content {
    padding: 0px !important;
  }
  .form-heading h5 {
    font-size: 14px !important;
    line-height: 20px;
  }
  .form-heading {
    border-radius: 5px 5px 0px 0px;
    padding: 10px 15px 2px !important;
  }
  .Brokerage-form input {
    height: 32px;
    border-radius: 3px;
    margin-top: 0px;
    font-size: 12px !important;
  }
  .Brokerage-form input::placeholder {
    font-size: 12px !important;
  }
  .submit-btn {
    line-height: 18px !important;
    font-size: 13px !important;
  }
  .hompage-top-content .Brokerage .form-group {
    margin-bottom: 15px !important;
  }
  .Brokerage-form .validation-message {
    top: 32px;
  }
  .Brokerage-form {
    padding: 20px 10px 10px !important;
  }
  .three-ngx-nifty {
    margin-top: 10px;
  }
}
