/* fii dii */
#fii-dii-activity-tabs {
  border: 0px !important;
}
#fii-dii-activity-tabs .active {
  background: #2196f3 !important;
  color: #fff;
}
#fii-dii-activity-tabs a {
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  color: #495057;
  padding: 3px 23px !important;
  height: 30px;
  border: 1px solid #2196f3;
  border-radius: 3px !important;
  margin-right: 10px;
}

/*.stock-analysis-heading {
  padding: 15px 0px;
}*/

.stock-analysis-heading h1 {
  font-size: 20px;
  color: #495057;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
}

.stock-analysis-heading h1 span {
  font-size: 25px;
  color: #ffffff;
  font-weight: 600;
  background: #18b57e;
  border-radius: 3px;
  padding: 0px 5px;
  margin: 0px 2px;
}

.stock-analysis-heading h1 i {
  color: #18b57e;
  font-size: 23px;
  position: relative;
  top: 10px;
}

.stock-analysis-heading h1 b {
  color: #18b57e;
  font-size: 16px;
  position: relative;
  top: 5px;
}

.stock-analysis-heading ul {
  padding: 5px 0px;
}

.stock-analysis-heading ul li {
  font-size: 12px;
  color: #74788d;
  line-height: 1.333;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  padding: 0px 1px;
}

.stock-analysis-heading sub {
  bottom: 0px;
}

/*.stock-analysis-right {
  padding: 33px 0px;
}*/

.stock-analysis-right ul li {
  display: block;
  float: right;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 3px;
}

.stock-analysis-box {
  color: #495057;
  text-align: center;
  font-size: 11px;
  position: absolute;
  padding: 3px 5px;
  text-transform: uppercase;
  font-weight: 500;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(231, 231, 231);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 16px 0px rgba(35, 47, 62, 0.15);
  width: 135px;
  visibility: hidden;
  top: -30px;
  left: -51px;
}

.stock-analysis-box:after,
.stock-analysis-box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.stock-analysis-box:after {
  border-color: rgba(226, 229, 237, 0);
  border-top-color: #f5f8fb;
  border-width: 5px;
  margin-left: -5px;
}

.stock-analysis-box:before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: #e2e5ed;
  border-width: 6px;
  margin-left: -6px;
}

.stock-analysis-add-to-watchlist {
  background: url(/images/Watchlist01.svg) center no-repeat;
  width: 20px;
  height: 20px;
  border: 1px solid #2196f2;
  padding: 14px 16px;
  position: relative;
  background-size: 85% 85%;
}

.stock-analysis-add-to-watchlist:hover {
  background: url(/images/Watchlist.svg) center no-repeat;
  background-color: #2196f2;
  height: 31px;
  width: 22px;
  padding: 6px 16px;
  background-size: 85% 85%;
}

.stock-analysis-add-to-watchlist:hover .stock-analysis-box {
  visibility: visible;
}

.stock-analysis-alert-btn {
  background: url(/images/Alert01.svg) center no-repeat;
  width: 20px;
  height: 20px;
  border: 1px solid #2196f2;
  border-radius: 3px;
  padding: 14px 16px;
  position: relative;
  background-size: 85% 85%;
}

.stock-analysis-alert-btn:hover .stock-analysis-box {
  visibility: visible;
}

.stock-analysis-alert-btn:hover {
  background: url(/images/Alert.svg) center no-repeat;
  background-color: #2196f2;
  height: 30px;
  width: 22px;
  padding: 6px 16px;
  background-size: 85% 85%;
}

.stock-analysis-share-btn {
  background: url(/images/Save01.svg) center no-repeat;
  width: 20px;
  height: 20px;
  border: 1px solid #2196f2;
  border-radius: 3px;
  padding: 14px 16px;
  position: relative;
  background-size: 85% 85%;
}

.stock-analysis-share-btn:hover {
  background: url(/images/Save.svg) center no-repeat;
  background-color: #2196f2;
  height: 30px;
  width: 22px;
  padding: 6px 16px;
  background-size: 85% 85%;
}

.stock-btns {
  line-height: 30px;
  padding: 0px 15px;
  line-height: 28px;
  height: 30px;
}

.stock-analysis-share-btn:hover .stock-analysis-box {
  visibility: visible;
}

.stock-analysis-right-btn-buy {
  border: 1px solid #18b57e;
}

.stock-analysis-right-btn-buy a {
  color: #18b57e;
  font-size: 14px;
  font-weight: 500;
}

.stock-analysis-right-btn-buy:hover a {
  color: #ffffff;
}

.stock-analysis-right-btn-buy:hover {
  background: #18b57e;
}

.stock-analysis-right-btn {
  border: 1px solid #e85254;
  border-radius: 3px;
}

.stock-analysis-right-btn a {
  color: #e85254;
  font-size: 14px;
  font-weight: 500;
}

.stock-analysis-right-btn:hover {
  background: #e85254;
}

.stock-analysis-right-btn:hover a {
  color: #ffffff;
}

.stock-analysis-tabing-panel {
  background-color: rgb(241, 245, 250);
}

.stock-analysis-tabing-panel li {
  display: inline-block;
}

.stock-analysis-tabing-panel li:first-child {
  margin-right: 16px;
}

.stock-analysis-tabing-panel li:first-child a {
  padding: 10px 10px;
}

.stock-analysis-tabing-panel li a {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: #495057;
  line-height: 1.923;
  display: block;
  padding: 10px 15px;
  border-bottom: 2px solid transparent;
  transition: all ease-out 0.5s;
}

.stock-analysis-tab-content {
  background: #fff;
  height: 100%;
  padding: 25px 0px 60px 0px;
}

.stock-analysis-tabing-ul .nav-tabs .nav-item .show .nav-link,
.stock-analysis-tabing-ul {
  color: inherit !important;
  background-color: inherit !important;
  border-color: transparent !important;
  border-bottom: 2px solid #2196f3 !important;
}

.nav-tabs .nav-link {
  border-radius: 0px !important;
  border: 0px;
}

.stock-analysis-tabing-ul .nav-link:hover {
  border-color: transparent !important;
  border-bottom: 2px solid #2196f3 !important;
}

.stock-analysis-tabing-panel li .active {
  color: #2196f3 !important;
  background-color: inherit !important;
  border-color: transparent !important;
  border-bottom: 2px solid #2196f3 !important;
}

.stock-analysis-tabing-ul .nav-tabs .nav-link:focus {
  border: none !important;
}

.stock-analysis-tabing-ul {
  border: none !important;
}

.stock-analysis-tabing-ul li a {
  border-bottom: 2px solid transparent !important;
}

.stock-analysis-inside {
  box-shadow: var(--main-box-shadow);
  border-radius: 8px;
  padding: 10px 10px 0px 10px;
  background: #fff;
}

.chart-inner-div svg {
  height: 100%;
}

.chart-inner-div #container {
  height: 100%;
}

.highcharts-title {
  font-size: 18px !important;
  color: #495057 !important;
  font-weight: 600 !important;
  font-family: "Roboto";
}

.stock-analysis-title {
  font-size: 18px;
  color: #495057;
  font-weight: 600;
  font-family: "Roboto";
}

.stock-analysis-aside {
  box-shadow: var(--main-box-shadow);
  border-radius: var(--main-border-new);
  padding: 15px 0px 15px 0px;
  background: #fff;
}
#overview .stock-analysis-aside {
  padding-bottom: 0px !important;
}
.stock-analysis-aside h5 {
  font-size: 18px;
  font-weight: 600;
  color: #343434;
  padding: 0px 12px 0px 15px;
  border-bottom: 1px solid rgb(231, 231, 231);
  padding-bottom: 10px;
  margin: 0px 0px 0px 0px;
}

.stock-analysis-aside ul li {
  display: block;
  padding: 0px 15px;
  font-size: 13px;
  color: #74788d;
  font-weight: 400;
  line-height: 2.06;
}

.stock-analysis-aside ul li:nth-of-type(even) {
  background: #f5f8fb;
}

.stock-analysis-aside ul li:nth-of-type(odd) {
  background: #ffffff;
}

.stock-analysis-aside ul li span {
  color: #495057;
  font-weight: 500;
}
.stock-analysis-aside ul li:last-child {
  border-radius: var(--main-border-new);
}
.stock-analysis-aside ul {
  max-height: 365px;
  border-radius: var(--main-border-new);
}

.stock-analysis-profile-div {
  box-shadow: var(--main-box-shadow);
  border-radius: var(--main-border-new);
  padding: 10px 20px 20px 20px;
  background: #fff;
}

.heading-stock {
  font-size: 18px;
  font-weight: 600;
  color: #495057;
  padding-bottom: 15px;
  margin: 0px 0px 0px 0px;
  padding-top: 10px;
}

.innertab-heading {
  font-size: 14px;
  font-weight: 500 !important;
}

.profile-content-box p {
  color: #74788d;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.714;
}

.profile-content-more {
  border: 1px solid rgb(33, 150, 243);
  border-radius: 3px;
  background-color: rgba(33, 150, 243, 0.078);
  color: #2196f3;
  font-size: 13px;
  font-weight: 400;
  padding: 4.5px 15px;
  margin: 10px 0px 20px 0px;
  display: inline-block;
  transition: var(--main-transition);
}

.profile-content-more:hover {
  border: 1px solid var(--main-hover-color);
  background: var(--main-hover-color) !important;
  color: #fff !important;
  transition: var(--main-transition);
}

.stock-section {
  padding-bottom: 0px !important;
}

.stock-analysis-tab-content .table thead th {
  border-bottom: 2px solid #dee2e6 !important;
}

.stock-analysis-tab-content table tr td {
  font-size: 13px !important;
  padding: 12px 15px !important;
  vertical-align: middle !important;
}

.bottom-table-row {
  background: #f1f5fa;
  border-bottom: 0px !important;
}

.bottom-table-row td {
  border-bottom: 0px !important;
}

.bottom-table-row td:first-child {
  border-right: 1px solid #dee2e6;
}

.bottom-table-row td span {
  color: #e85254;
}

.stock-analysis-tab-content table tr:last-child {
  border-bottom: 0px solid #dee2e6 !important;
}

.stock-analysis-listing {
  margin-bottom: 16px;
}

.stock-analysis-listing:last-child {
  margin-bottom: 14px !important;
}

.stock-analysis-option {
  float: left;
  width: 78%;
  padding-left: 11px;
}

.stock-analysis-listing a {
  font-size: 15px;
  color: #495057;
  font-weight: 500;
  line-height: 1.667;
  transition: var(--main-transition);
}

.stock-analysis-listing img {
  float: left;
  height: 55px;
  width: 55px;
}

.stock-analysis-option span {
  font-size: 13px !important;
  color: #74788d !important;
  font-weight: 400 !important;
  line-height: 1.385;
  display: block;
}

.stock-analysis-top li:nth-of-type(even) {
  background: #ffffff !important;
}

.stock-analysis-top li:nth-of-type(odd) {
  background: #ffffff !important;
}

.profile-content-box i {
  display: block;
  border-left: 5px solid #2196f3;
  padding: 18px 15px;
  font-size: 18px;
  color: #74788d;
  background: #f5f8fb;
  font-style: italic;
  font-weight: 400;
}

.profileimg iframe {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.video-nifty-max {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 21px 0px rgba(35, 47, 62, 0.15);
  border-radius: 15px;
  padding: 5px;
}

.youtube-video-place {
  border-radius: 15px;
  padding: 5px;
  height: 200px;
}

.stock-analysis-aside ul li:hover a {
  color: #2196f3;
  transition: var(--main-transition);
}

.down-update span {
  background: #e85254 !important;
}

.down-update i {
  color: #e85254 !important;
}

.down-update b {
  color: #e85254 !important;
}

.stock-analysis-listing:first-child {
  margin-top: 12px !important;
}

.play-youtube-video {
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 15px;
}

.play-youtube-video img {
  border-radius: 15px;
}

.play-youtube-video {
  width: 100%;
}

.m-minus {
  margin: 0px -15px;
}

.list-style-stocks-analysis {
  padding: 0px;
  margin: 0px;
}

.list-style-stocks-analysis li {
  display: block;
  font-size: 14px;
  color: #495057;
  font-weight: 500;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 13px 0px rgba(35, 47, 62, 0.12);
  margin-bottom: 15px;
  border-left: 5px solid rgb(232, 82, 84);
  padding: 11px 15px 11px 15px;
  /* border-bottom: 1px solid var(--border-color); */
  /* border-bottom-right-radius: 0px; */
}

.list-style-stocks-analysis li span {
  border-radius: 3px;
  background-color: rgb(232, 82, 84);
  width: 71px;
  height: 23px;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  line-height: 23px;
  text-transform: uppercase;
}
.up-record {
  border-left: 5px solid #3ab07c !important;
}
.up-record span {
  background: #3ab07c !important;
}

.list-style-stocks-analysis li div img {
  height: 14px;
  margin-right: 4px;
}

.profile-content-box h3 {
  margin: 0px;
  padding: 0px 0px 15px 0px;
  font-size: 16px;
  color: #495057;
  font-weight: 500;
}

.profile-content-box h6 {
  font-size: 15px;
  color: #74788d;
  font-weight: 500;
}

.floatleft {
  float: left;
  margin-right: 22px;
  width: 112px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  padding: 25px 0px;
}

.floatleft h5 {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 5px;
}

.card-label-purple {
  background: url(/images/purple-img.png) no-repeat left;
  background-color: #f9f7fd;
  height: 109px;
  border-radius: 3px;
}

.floatleft-purple {
  float: left;
  width: 82%;
  padding: 20px 0px;
}

.card-label-purple label {
  background-color: rgb(179, 166, 238);
  border-radius: 25px;
  display: block;
  width: 65px;
  margin: 0px auto;
  line-height: 32px;
}

.card-label-blue {
  background: url(/images/blue-img.png) no-repeat left !important;
  background-color: #f5fbfe !important;
  height: 151px;
  border-radius: 3px;
}

.card-label-blue .floatleft {
  width: 150px;
  padding: 43px 0px;
}

.card-label-blue label {
  font-size: 15px;
  font-weight: 400;
}

.card-label-blue .floatleft-purple {
  width: 77%;
}

.rihgt-table {
  padding: 4px 15px;
}

.green-highest-record {
  color: #3ab07c !important;
  font-size: 13px !important;
  font-weight: 500;
}

.red-highest-record {
  color: rgb(232, 82, 84) !important;
  font-size: 13px !important;
  font-weight: 500;
}

.left-border-div {
  border-left: 4px solid #2196f3;
  background: #f2f9fe;
  padding: 15px 15px;
  margin-top: 30px;
}

.nifty-range-slide {
  background: #e7f7f2;
  height: 12px;
  width: 200px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 10px 5px;
}

.red-label-value {
  position: absolute;
  background: #fdedee;
  height: 12px;
  left: 0px;
  top: 0px;
}

.nifty-range-arrow {
  position: absolute;
  height: 17px;
  width: 7px;
  top: 0px;
  content: "";
  background: url(/images/range-arrow.png) left no-repeat;
}

.gap-support-div {
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 13px 0px rgba(35, 47, 62, 0.12);
  padding: 15px 15px 10px 15px;
  margin-bottom: 20px;
  border-left: 5px solid rgb(232, 82, 84);
}

.gap-support-div a {
  font-size: 14px;
  color: #495057;
  font-weight: 600;
}

.gap-support-div img {
  margin-right: 5px;
}
.green-support-div {
  border-left: 5px solid #3ab07c !important;
}
.right-support-div span {
  border-radius: 5px;
  background-color: #fdedee;
  color: #e85254;
  font-size: 13px;
  display: block;
  margin-bottom: 5px;
  padding: 5px 10px;
}

.right-support-div {
  color: #74788d;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: right;
}

.green-support-div span {
  background: #ebf7f2;
  color: #3ab07c;
}

/* 04-05-2020 */
.w-20 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 18%;
  flex: 0 0 18%;
  max-width: 18%;
  margin: 11px 11px;
}

.download-pdf {
  float: left;
  width: 79%;
  color: #495057;
  font-size: 14px;
  padding: 0px 10px;
  border-left: 1px solid #e2e5ed;
  font-weight: 500;
  margin-left: 5%;
  transition: var(--main-transition);
}

.w-20 .stock-analysis-profile-div img {
  float: left;
  width: 16%;
  margin-top: 4px;
}

.download-pdf span {
  font-size: 13px;
  color: #74788d;
  font-weight: 400;
  display: block;
}

.download-pdf:hover {
  color: #2195f1;
  transition: var(--main-transition);
}

/* Responsive Media jQuery */
@media (min-width: 320px) and (max-width: 993px) {
  #fii-dii-activity-tabs a {
    font-size: 11px;

    padding: 3px 14px !important;
    margin-right: 5px;
    line-height: 22px;
  }

  .max-content-div {
    height: auto !important;
  }
  .expendmore-btn {
    padding-bottom: 0px !important;
    position: unset !important;
  }
  .mt--20 {
    margin: 10px 0px 0px 0px !important;
  }
  .rihgt-table {
    padding-left: 0px !important;
  }
  .mt--20 h5 {
    font-size: 14px;
  }
  .createalert-for-banking h2 small {
    font-size: 17px;
    color: #495057;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    display: block;
    width: 100%;
  }

  .w-20 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 48%;
    flex: 0 0 44%;
    max-width: 44%;
    margin: 3px 11px;
  }

  .download-pdf {
    font-size: 12px;
  }

  .w-20 .stock-analysis-profile-div img {
    margin-top: 16px;
  }

  .profile-content-box .mt-5 {
    margin: 0px !important;
  }

  .card-label-purple {
    background-size: 21% 100%;
    height: 200px;
    background-image: none !important;
    background: transparent !important;
    margin: 15px 0px !important;
  }

  .floatleft {
    width: 25% !important;
    padding: 73px 5px;
    background: #9178dd;
    margin: 0px !important;
  }

  .card-label-blue .floatleft {
    padding: 58px 0px;
    background: #4fc0e8 !important;
  }

  .floatleft h5 {
    font-size: 10px;
    line-height: 20px;
  }

  .card-label-purple label {
    font-size: 10px;
    width: 40px;
    line-height: 21px;
  }

  .list-style-stocks-analysis li {
    padding: 11px;
  }

  .floatleft-purple {
    width: 75% !important;
    padding: 0px 10px 0px 10px;
  }

  .card-label-blue {
    background-size: 21% 100% !important;
    height: auto;
    background-image: none !important;
    background: transparent !important;
  }

  .gap-support-div a {
    font-size: 11px;
  }

  .gap-support-div img {
    width: 40px;
    height: 40px;
  }

  .right-support-div span {
    padding: 3px 4px;
    text-align: center;
    font-size: 8px;
  }

  .right-support-div {
    font-size: 9px;
  }

  .gap-support-div {
    padding: 7px 10px;
    margin-bottom: 11px;
  }

  .heading-stock {
    font-size: 14px;
  }

  .responsive-th .red-highest-record {
    position: absolute;
    left: -1px;
    top: 11px;
  }

  .responsive-th {
    position: relative;
  }

  .responsive-th .green-highest-record {
    position: absolute;
    right: -1px;
    top: 11px;
  }

  .nifty-range-slide {
    width: 90px;
    height: 7px;
  }

  .red-label-value {
    height: 7px;
  }

  .stock-analysis-aside h5 {
    font-size: 14px;
  }

  .heading-stock-2 {
    margin: 0px !important;
  }

  .stock-analysis-aside {
    margin-top: 15px !important;
  }

  #stock-analysis-technicals .mt-4 {
    margin-top: 5px !important;
  }

  .card-label-blue label {
    padding: 0px 5px;
  }

  .play-youtube-video {
    width: 100%;
  }

  .m-minus {
    margin: 0px;
  }

  .stock-analysis-profile-div {
    margin-top: 0px !important;
  }

  .heading-stock {
    line-height: 28px;
  }

  .stock-section .p-0 {
    padding: 0px 15px !important;
  }

  .stock-analysis-right {
    text-align: left !important;
    float: left;
    padding: 3px 0px 15px 0px;
  }

  .stock-analysis-heading {
    padding: 5px 0px;
  }

  .stock-analysis-add-to-watchlist {
    margin-left: 0px !important;
  }

  .stock-analysis-heading h1 {
    font-size: 17px;
  }

  .stock-analysis-heading h1 span {
    font-size: 18px;
  }

  .stock-analysis-heading h1 b {
    font-size: 13px;
  }

  .stock-analysis-heading h1 i {
    top: 8px;
  }

  .stock-analysis-tab-content .p-0 {
    padding: 0px 15px !important;
  }

  .stock-analysis-tab-content .pl-0 {
    /*padding-left: 15px !important;*/
  }

  .chart-inner-div {
    min-height: 300px !important;
    margin-bottom: 15px;
  }

  .stock-analysis-tab-content .pr-0 {
    padding-right: 15px !important;
  }

  .stock-analysis-tab-content .pl-2 {
    padding-left: 15px !important;
  }

  .stock-analysis-profile-div {
    margin-bottom: 15px;
    padding-bottom: 0px;
  }

  .profile-content-box p {
    font-weight: 400;
  }

  .stock-analysis-tab-content table tr td {
    vertical-align: middle;
    padding: 12px 15px !important;
  }

  .stock-analysis-tab-content {
    padding: 15px 0px;
  }

  .table-bottom {
    padding: 10px 0px;
  }

  .profile-content-box i {
    font-size: 14px;
  }

  .profile-content-box p {
    text-align: justify;
    margin-bottom: 7px;
    font-size: 16px;
    line-height: 1.7;
  }

  .stock-analysis-tabing-ul {
    width: max-content !important;
  }

  .stock-analysis-tabing-panel-responsive {
    overflow-x: scroll;
  }

  .stock-analysis-tabing-panel li a {
    font-size: 10px;
    padding: 10px 5px !important;
  }

  .stock-analysis-tabing-panel-responsive::-webkit-scrollbar {
    width: 2px;
    height: 0px;
  }

  .stock-analysis-tabing-panel-responsive::-webkit-scrollbar-thumb {
    background-color: #1f86ec;
    outline: 1px solid slategrey;
    height: 0px;
  }
  .piotroski_score {
    text-align: center !important;
  }
  .piotroski_score li {
    margin: 0px auto !important;
    width: 8% !important;
  }
  .piotroski_score li span {
    width: 100% !important;
    height: 36px !important;
    font-size: 12px !important;
    line-height: 36px !important;
  }
  .piotrosk_active {
    margin: 0px auto !important;
  }
}

@media (min-width: 994px) and (max-width: 1200px) {
  .stock-analysis-listing a {
    font-size: 14px;
  }

  .stock-analysis-aside ul li {
    padding: 0px 10px;
  }

  .stock-analysis-option {
    width: 74%;
  }

  .stock-analysis-listing:first-child {
    margin-top: 0px !important;
  }

  .card-label-purple {
    height: 127px;
    background-size: 19% 100%;
  }

  .floatleft-purple {
    width: 66%;
  }

  .card-label-blue .floatleft-purple {
    width: 72%;
  }

  .card-label-blue {
    height: 187px;
    background-size: 25% 100% !important;
  }

  .first-li {
    width: 29% !important;
  }
  .analytics-menu li h4 span {
    font-size: 14px !important;
  }
  .nifty-terms-box {
    height: auto !important;
    clear: both;
  }
  .h_footer_alpha li {
    margin-bottom: 10px;
  }
  .wsmenu > .wsmenu-list > li .wstliststy02 li a {
    font-size: 10px !important;
  }
  .wsmenu > .wsmenu-list > li .wstmenutag {
    font-size: 7px !important;
  }
}

.dilogContent {
  width: 100%;
  font-size: 13px;
  color: #74788d;
  font-family: "Roboto";
  font-weight: 400;
  padding-top: 12px;
}

.createalert-for-banking .close {
  top: 0px;
}

.createalert-for-banking .modal-header {
  display: block !important;
}

.createalert-for-banking .modal-dialog {
  max-width: 567px !important;
}

.createalert-for-banking h2 {
  font-size: 17px;
  color: #495057;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
}

.createalert-for-banking h2 small {
  font-size: 17px;
  color: #495057;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
}

.createalert-for-banking h2 span {
  font-size: 17px;
  color: #ffffff;
  font-weight: 600;
  background: #18b57e;
  border-radius: 3px;
  padding: 0px 5px;
  margin: 0px 2px;
}

.createalert-for-banking h2 i {
  color: #18b57e;
  font-size: 23px;
  position: relative;
  top: 7px;
}

.createalert-for-banking h2 b {
  color: #18b57e;
  font-size: 16px;
  position: relative;
  top: 2px;
}

.create-btn {
  display: inline-block;
  background-color: #ed6100;
  min-width: 100px;
  border: transparent solid 1px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  transition: all ease-out 0.5s;
  padding: 5px 10px;
  margin-top: 20px;
}
.create-btn:hover {
  border-color: #ed6100;
  color: #ed6100;
  background-color: #ffffff;
  transition: all ease-out 0.5s;
}

.createalert-for-banking .custom-control-label {
  font-size: 14px !important;
  text-transform: unset !important;
}
.headingLabel {
  font-size: 16px !important;
  color: #495057 !important;
  font-weight: 500 !important;
  margin: 5px 0px 8px 0px !important;
}
.createalert-for-banking a {
  color: rgb(33, 150, 243);
  font-weight: 400;
  font-size: 14px;
  text-transform: unset !important;
}
.horizontal-line {
  width: 94%;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

/*  Latest new design implement jun-05-2020 */

.piotroski_score {
  margin: 10px 0px 20px 0px;
  padding: 0px;
  text-align: left;
}
.piotroski_score li {
  display: inline-block;
  margin: 0px auto;
  width: 9.3%;
}
.piotroski_score li span {
  display: block;
  width: 100%;
  height: 51px;
  color: #495057;
  font-size: 16px;
  font-weight: 500;
  line-height: 51px;
  text-align: center;
  transition: ease-in-out 0.2s;
}
/* 
.piotroski_score li a:hover{
  transform: scale(1.1,1.2);
  transition: ease-in-out 0.2s;
} */
.piotrosk_active {
  transform: scale(1.1, 1.2);
}
.piotroski_pink {
  background: #fbc6d2;
}
.piotroski_yellow_lite {
  background: #fdf1cb;
}
.piotroski_yellow {
  background: #f9cf53;
}
.piotroski_green {
  background: #d6f2d4;
}

.bar_slide {
  margin: 0px;
  padding: 0px;
}
.bar_slide li {
  display: inline-block;
  width: 33.33%;
  margin: 0px -2px 10px -2px;
  text-align: center;
}
.bar_slide li span {
  display: block;
  width: 100%;
  margin-top: 10px;
  font-size: 12px;
  color: #74788d;
  font-weight: 500;
}
.bar_slide li div {
  height: 8px;
  width: 100%;
}
.bar_slide li small {
  display: block;
  width: 100%;
  color: #495057;
  font-size: 14px;
  font-weight: 500;
}
.bar_slide li small i {
  display: block;
  width: 100%;
  line-height: 3px;
  font-size: 16px;
}
.bar_line_active {
  height: 14px !important;
  top: 2.5px;
  position: relative;
}
.bar_line_red {
  background: #f24269;
}
.bar_line_yellow {
  background: #f9cf53;
}
.bar_line_green {
  background: #77d36f;
}
.tooltip-top {
  border: 0px;
  background: transparent;
  font-size: 16px;
  vertical-align: middle;
  color: #74788d;
}
.stock-analysis-profile-div canvas {
  height: 200px !important;
}
.stock-analysis-profile-div .chart-11 {
  height: 158px !important;
}

.stock-analysis-profile-div .canvas_height {
  height: 164px !important;
}
.popover {
  max-width: 450px !important;
}

.listing-right ul li {
  line-height: 40px;
}

.listing-right {
  padding-top: 19px;
}
.right-day-technical ul li span {
  color: #3ab07c;
}
.right-day-technical ul {
  padding-top: 10px;
}
.right-day-technical ul li {
  display: block;
  vertical-align: middle;
  border-radius: 4px;
  margin-bottom: 10px;
  background: #f1f5fa;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  position: relative;
  /* border: 1px solid #fff; */
  transition: ease-in-out 0.2s;
  cursor: pointer;
}
.right-day-technical ul li:hover {
  /* border:1px solid #2196f3; */
  transition: ease-in-out 0.2s;
}
.right-day-technical ul li small {
  font-size: 12px;
}
.right-day-technical ul li i {
  display: inline-block;
  font-size: 22px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
  color: #4fc0e8;
}
.right-day-technical ul li p {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  vertical-align: text-bottom;
}
.right-day-technical ul li .fa-chevron-double-right {
  visibility: hidden;
  font-size: 15px;
  position: absolute;
  top: 50%;
  right: 0px;
  margin-top: -7px;
  color: #2196f3;
  transition: ease-in-out 0.2s;
}
.right-day-technical ul li:hover .fa-chevron-double-right {
  visibility: visible;
  transition: ease-in-out 0.2s;
}

.mt--20 {
  margin-top: -21px;
}
.candle-box-pattern h5 {
  line-height: 25px;
  font-size: 16px;
}
.candle-box-pattern {
  margin-top: 15px;
  margin-bottom: 15px;
}
.candle-box-pattern ul li {
  line-height: 30px;
  font-size: 14px;
}
.max-content-div {
  height: 285px;
  overflow: hidden;
  position: relative;
}

.max-content-div .profile-content-more {
}
.expendmore-btn {
  background: #fff;
  position: absolute;
  bottom: 0px;
  z-index: 10;
  width: 100%;
  padding-bottom: 60px;
  padding-top: 15px;
}
.profile-content-box {
  margin: 0px;
}
.profile-content-box ul,
ol {
  padding-left: 20px;
}
.stock-analysis-profile-div .col-lg-6:nth-child(6) .gap-support-div {
  margin-bottom: 0px;
}
.stock-analysis-profile-div .col-lg-6:nth-child(7) .gap-support-div {
  margin-bottom: 0px;
}
.divendend_history canvas {
  height: 350px !important;
}
.emptydata {
  color: #ff0000 !important;
}
.broker-list li {
  position: relative;
}
.broker-list li p img {
  position: absolute;
  right: 0px;
  top: 50%;
  height: 12px;
  margin-top: -6px;
}
.open_account {
  display: inline-block !important;
  padding-left: 10px !important;
  font-size: 14px !important;
}

@media (min-width: 300px) and (max-width: 993px) {
  .createalert-for-banking a {
    font-size: 13px;
  }
  .createalert-for-banking .custom-control-label {
    font-size: 12px !important;
  }
  .stock-analysis-profile-div {
    padding: 10px;
  }
  #financial {
    padding: 0px 0px !important;
  }
}
