.broker_profile_left {
  /* width: 839px;
height: 127px;*/
  border-radius: 5px;
  filter: drop-shadow(0px 4px 10.5px rgba(35, 47, 62, 0.15));
  background-color: #ffffff;
  padding: 10px 2px 10px 10px;
}

.profile_logo_block {
  width: 18.7%;
  height: 105px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
  display: table-cell;
  vertical-align: middle;
}

.profile_logo_block img {
  display: block;
}

.company_heading {
  font-size: 20px;
  color: #495057;
  font-weight: 500;
}

.company_heading:hover {
  color: #495057;
}

.broker_profile_right {
  padding-left: 14px;
  width: 81%;
}

.cmpny_best_deal {
  border-radius: 3px;
  background-color: #f5a623;
  color: #fff;
}

.broker_profile_right .cmpny_best_deal {
  line-height: 23px;
  font-size: 13px;
  width: 73px;
}

.sector_finance {
  font-size: 13px;
  line-height: 21px;
  font-weight: 500;
  color: #495057;
}

.sector_finance span {
  color: #74788d;
}

.broker_profile_right .open_acnt_cmpny {
  border-radius: 3px;
  margin-top: 20px;
  border: 1px solid #e7e7e7;
  background: #fff;
  padding: 6px 14px;
  transition: 0.5s ease-in-out all;
}

.broker_profile_right .open_acnt_cmpny:hover {
  background: #2196f3;
  color: #fff;
  border: 1px solid transparent;
  transition: 0.5s ease-in-out all;
}

.broker_profile_right .open_acnt_cmpny:hover i {
  color: #fff;
}

.open_acnt_cmpny {
  color: #2196f3;
  font-weight: 400;
  font-size: 13px;
}

.open_acnt_cmpny i {
  padding-left: 6px;
}

.padding_broker_top {
  padding-top: 13px;
}

.compny_logo_head {
  width: 18%;
}

/*right section*/

.open_enqury {
  /*  width: 304px;
height: 377px;*/
  border-radius: 8px;
  filter: drop-shadow(0px 4px 10.5px rgba(35, 47, 62, 0.15));
  background-color: #ffffff;
  margin-bottom: 30px;
}

.open_enqury h2 {
  font-size: 18px;
  color: #495057;
  padding: 16px 14px;
  font-weight: 500;
  border-bottom: 1px solid #e7e7e7;
}

.enquiry_form {
  padding: 0px 14px 21px 14px;
}

.open_enqury label {
  font-size: 13px;
  color: #495057;
  font-weight: 400;
}

.open_enqury .form-control {
  border-radius: 3px;
  background-color: #ffffff;
  height: 36px;
  box-shadow: inset 0px 5px 6px 0px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(203, 203, 203, 0.7);
}

.submit_btns {
  font-size: 16px;
  margin: 23px auto 0px auto;
  display: block;
  padding: 0px 27px;
  font-weight: 500;
  color: #fff;
  height: 40px;
  border-radius: 3px;
  border: 1px solid transparent;
  background-color: #2196f3;
}

.submit_btns:hover {
  border: 1px solid #2196f3;
  background: #fff;
  color: #2196f3;
}

/*tabbing*/

.nifty_company_main {
  filter: drop-shadow(0px 4px 10.5px rgba(35, 47, 62, 0.15));
  margin-top: 25px;
}

.nifty_cmpny_tabbings {
  border-radius: 5px 5px 0px 0px;
  background: #fff;
  border-bottom: 1px solid #e7e7e7;
  padding: 0px 14px;
}

.nifty_cmpny_tabbings li a {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: #495057;
  line-height: 1.923;
  display: block;
  padding: 14px 26px;
  border-bottom: 2px solid transparent;
  transition: all ease-out 0.5s;
}

.nifty_cmpny_tabbings li:first-child {
  margin-left: 16px;
}

.nifty_cmpny_tabbings li .active {
  color: #2196f3 !important;
  background-color: inherit !important;
  border-color: transparent !important;
  border-bottom: 2px solid #2196f3 !important;
}

.company_tab_content {
  background: #fff;
  border-radius: 0px 0px 5px 5px;
  padding: 22px;
}

.main_headings {
  font-size: 16px;
  font-weight: 500;
  padding-left: 12px;
  padding-top: 5px;
  color: #495057;
}

.td_broker_content img {
  margin-right: 14px;
  vertical-align: middle;
  /*    height: 15px;*/
}

.company_tab_content .nifty-datatable table td {
  font-size: 13px;
  font-weight: 500;
  color: #74788d;
  text-transform: inherit;
  padding: 0px 12px !important;
  height: 35px;
  vertical-align: middle;
}

.company_tab_content .td_broker_content {
  color: #495057;
}

.company_tab_content .td_broker_content {
  width: 317px;
}

.company_tab_content .table-bordered {
  border: 1px solid #e7e7e7;
}

.company_tab_content .table-striped tbody tr:nth-of-type(even) {
  background: #fafbfd;
}

.company_tab_content .table-striped tbody tr:nth-of-type(odd) {
  background: #fff;
}

.company_link {
  color: #2196f3 !important;
}

.padding_top_brokege {
  padding: 21px 15px;
}

.right_broker .open_acnt_cmpny {
  font-size: 14px;
  display: block;
  padding-top: 8px;
}

.left_broker {
  /*  border: 1px solid #e7e7e7;*/
  width: 77px;
  height: 77px;
  border-radius: 5px;
  vertical-align: middle;
  display: table-cell;
}

.left_broker img {
  margin: 0px auto;
  display: block;
}

.most_popular_broker li {
  list-style: none;
  padding-bottom: 12px;
}

.most_popular_broker li:last-child {
  padding-bottom: 0px;
}

.nifty_broker_profile_section {
  padding: 36px 0px;
}

.zerodha_link {
  font-size: 18px;
  color: #495057;
  font-weight: 500;
}

.zerodha_link:hover {
  color: #495057;
}

.right_broker {
  width: 58%;
  padding-left: 10px;
}

.right_broker .cmpny_best_deal {
  font-size: 12px;
  width: 68px;
  line-height: 21px;
}

.most_popular_broker {
  padding: 14px;
  padding-top: 7px;
}

.company_tab_content .fa-check-circle {
  color: #0ad167;
}

.company_tab_content i {
  font-size: 20px;
}

.company_tab_content .fa-times-circle {
  color: #f53860;
}

/*review*/

.rating_point {
  font-size: 13px;
  color: #74788d;
  font-weight: 500;
}

.broker_review_main {
  font-size: 16px;
  font-weight: 500;
  color: #495057;
  border-top: 1px solid #e7e7e7;
  padding-top: 19px;
}

.review_sub {
  color: #f0d238;
  font-size: 14px;
  padding-left: 0px;
}

.review_blocks {
  border-bottom: 1px solid #e7e7e7;
  padding-top: 30px;
}

.review_sub i {
  font-size: 12px;
}

.review_sub {
  padding: 0px 4px;
}

.review_user {
  width: 65px;
  height: 61px;
}

.review_user_right .main_headings {
  font-size: 14px;
  padding-left: 0px;
  padding-top: 0px;
}

.review_user_right {
  width: 84%;
  padding-left: 13px;
}

.review_time {
  font-size: 13px;
  color: #74788d;
  font-weight: 400;
}

.review_user_right p {
  padding-top: 16px;
  font-size: 14px;
  color: #74788d;
  line-height: 22px;
  font-weight: 400;
}

/*review form*/

.write_review .main_headings {
  padding-left: 0px;
}

.review-rating-box span {
  font-size: 13px;
  color: #74788d;
  padding-top: 9px;
  display: inline-block;
  font-weight: 400;
}

.review-rating-box .star-rating {
  padding: 0px 0px;
}

.review-rating-box .star-rating i {
  font-size: 13px;
  /* color: #f0d238;*/
}

.write_review textarea {
  height: 115px;
  border-radius: 5px;
  resize: none;
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
}

.write_review .submit_btns {
  display: inline-block;
  font-size: 14px;
  margin: 8px auto 13px auto;
}

.review-rating-box {
  padding-bottom: 4px;
}

.write_review {
  padding-bottom: 13px;
}

.rating-box2 {
  background: transparent;
  border: 0px;
  float: left;
  padding-right: 8px;
  margin-bottom: 4px;
}

.rating-box2 .star-rating label {
  color: #cfcccf;
  font-size: 20px;
}

/*responsive media jquery*/

@media (min-width: 320px) and (max-width: 480px) {
  .padding_broker_left {
    padding-left: 15px !important;
    margin-bottom: 31px;
  }
  .nifty_broker_profile_section .container_padding {
    padding: 0px 15px !important;
  }
  .broker_profile_right {
    padding-left: 15px;
    width: 56%;
  }
  .compny_logo_head {
    width: 35%;
  }
  .profile_logo_block img {
    width: 70%;
  }
  .company_heading {
    font-size: 17px;
  }
  .sector_finance {
    font-size: 11px;
  }
  .broker_profile_right .open_acnt_cmpny {
    margin-top: 12px;
    font-size: 12px;
    float: none !important;
    display: inline-block;
  }
  .company_tab_content .nifty-datatable table td {
    font-size: 12px;
  }
  .main_headings {
    font-size: 14px;
  }
  .open_enqury h2 {
    font-size: 15px;
  }
  .zerodha_link {
    font-size: 16px;
  }
  .right_broker .open_acnt_cmpny {
    font-size: 12px;
  }
  .nifty_broker_profile_section .pr-0 {
    padding-right: 15px !important;
  }
  .nifty_cmpny_tabbings li a {
    padding: 10px 12px;
    font-size: 12px;
  }
  .broker_review_main {
    font-size: 13px;
  }
  .review_sub {
    font-size: 12px;
  }
  .review_user_right {
    width: 76%;
    padding-left: 11px;
  }
  .review_user_right .main_headings {
    font-size: 13px;
  }
  .review_user_right p {
    padding-top: 8px;
    font-size: 13px;
    text-align: justify;
  }
  .review_sub i {
    font-size: 13px;
  }
  .review_time {
    font-size: 12px;
  }
  .review_blocks {
    padding-top: 21px;
  }
  /*compare broker*/
  .broker_responsive {
    width: 100%;
    overflow-x: scroll;
    /*padding: 0px 15px !important;*/
  }
  .broker_compare_section h2 {
    font-size: 24px !important;
  }
  .pages_heading {
    font-size: 14px !important;
  }
  .broker_responsive::-webkit-scrollbar {
    width: 5px;
    height: 4px;
  }
  .broker_responsive::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  .broker_responsive::-webkit-scrollbar-thumb {
    background-color: #0b1426;
    outline: 1px solid slategrey;
  }
  .border1 {
    font-size: 12px !important;
  }
  .broker_responsive .container_padding {
    width: 800px;
    padding: 0px 15px !important;
  }
  .compny_block img {
    width: 100px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .padding_broker_left {
    padding-left: 15px !important;
    margin-bottom: 31px;
  }
  .nifty_broker_profile_section .container_padding {
    padding: 0px 15px !important;
  }
  .broker_profile_right {
    padding-left: 15px;
    width: 56%;
  }
  .compny_logo_head {
    width: 35%;
  }
  .company_heading {
    font-size: 17px;
  }
  .sector_finance {
    font-size: 11px;
  }
  .broker_profile_right .open_acnt_cmpny {
    margin-top: 12px;
    font-size: 12px;
    float: none !important;
    display: inline-block;
  }
  .profile_logo_block img {
    width: 93px;
  }
  .profile_logo_block {
    width: 7.7%;
  }
  .company_tab_content .nifty-datatable table td {
    font-size: 12px;
  }
  .main_headings {
    font-size: 14px;
  }
  .open_enqury h2 {
    font-size: 15px;
  }
  .zerodha_link {
    font-size: 16px;
  }
  .right_broker .open_acnt_cmpny {
    font-size: 12px;
  }
  .nifty_broker_profile_section .pr-0 {
    padding-right: 15px !important;
  }
  .nifty_cmpny_tabbings li a {
    padding: 10px 12px;
    font-size: 12px;
  }
  .broker_review_main {
    font-size: 13px;
  }
  .review_sub {
    font-size: 12px;
  }
  .review_user_right {
    width: 76%;
    padding-left: 11px;
  }
  .review_user_right .main_headings {
    font-size: 13px;
  }
  .review_user_right p {
    padding-top: 8px;
    font-size: 13px;
    text-align: justify;
  }
  .review_sub i {
    font-size: 13px;
  }
  .review_time {
    font-size: 12px;
  }
  .review_blocks {
    padding-top: 21px;
  }
  /*compare broker*/
  .broker_responsive {
    width: 100%;
    overflow-x: scroll;
    /*padding: 0px 15px !important;*/
  }
  .broker_compare_section h2 {
    font-size: 20px !important;
    line-height: 28px !important;
  }
  .pages_heading {
    font-size: 11px !important;
  }
  .broker_responsive::-webkit-scrollbar {
    width: 5px;
    height: 4px;
  }
  .broker_responsive::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  .broker_responsive::-webkit-scrollbar-thumb {
    background-color: #0b1426;
    outline: 1px solid slategrey;
  }
  .border1 {
    font-size: 12px !important;
    padding: 8px 6px !important;
  }
  .broker_responsive .container_padding {
    width: 800px;
    max-width: 100% !important;
    padding: 0px 15px !important;
  }
  .compny_block img {
    width: 100%;
  }
  .main_compny_div {
    max-width: 71% !important;
  }
  .broker_compare_section .open_account {
    font-size: 10px;
  }
  .compny_block {
    padding-left: 13px !important;
    padding-right: 11px !important;
  }
  .boxshadowClass {
    padding: 10px 12px;
  }
  .border1 img {
    margin-right: 8px !important;
  }
  .overview-img {
    margin-right: 8px;
    width: 20px;
  }
  .company_info {
    padding: 8px 10px !important;
  }
  .web_links {
    font-size: 9px !important;
  }
  .inner_compny_div {
    font-size: 9px !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .broker_profile_right {
    padding-left: 15px;
    width: 64%;
  }
  .compny_logo_head {
    width: 35%;
  }
  .company_heading {
    font-size: 17px;
  }
  .sector_finance {
    font-size: 11px;
  }
  .broker_profile_right .open_acnt_cmpny {
    margin-top: 12px;
    font-size: 12px;
  }
  .right_broker {
    width: 56%;
    padding-left: 8px;
  }
  .open_acnt_cmpny i {
    padding-left: 4px;
  }
  .company_tab_content .nifty-datatable table td {
    font-size: 12px;
  }
  .main_headings {
    font-size: 14px;
  }
  .open_enqury h2 {
    font-size: 14px;
  }
  .zerodha_link {
    font-size: 16px;
  }
  .right_broker .open_acnt_cmpny {
    font-size: 11px;
  }
  .most_popular_broker {
    padding: 12px;
  }
  .nifty_broker_profile_section .pr-0 {
    padding-right: 15px !important;
  }
  .nifty_cmpny_tabbings li a {
    padding: 10px 12px;
    font-size: 12px;
  }
  .broker_review_main {
    font-size: 13px;
  }
  .review_sub {
    font-size: 12px;
  }
  .review_user_right {
    width: 76%;
    padding-left: 11px;
  }
  .review_user_right .main_headings {
    font-size: 13px;
  }
  .review_user_right p {
    padding-top: 8px;
    font-size: 13px;
    text-align: justify;
  }
  .review_sub i {
    font-size: 13px;
  }
  .review_time {
    font-size: 12px;
  }
  .review_blocks {
    padding-top: 21px;
  }
  /*compare broker*/
  .broker_responsive {
    width: 100%;
    overflow-x: scroll;
    /*padding: 0px 15px !important;*/
  }
  .broker_compare_section h2 {
    font-size: 20px !important;
    line-height: 28px;
  }
  .broker_responsive::-webkit-scrollbar {
    width: 5px;
    height: 4px;
  }
  .broker_responsive::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  .broker_responsive::-webkit-scrollbar-thumb {
    background-color: #0b1426;
    outline: 1px solid slategrey;
  }
  .border1 {
    font-size: 12px !important;
  }
  .broker_responsive .container_padding {
    width: 800px;
    max-width: 100% !important;
    padding: 0px 15px !important;
  }
  .compny_block img {
    width: 100%;
  }
  .main_compny_div {
    max-width: 71% !important;
  }
  .broker_compare_section .open_account {
    font-size: 10px;
  }
  .compny_block {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .boxshadowClass {
    padding: 10px 12px;
  }
  .border1 img {
    margin-right: 8px !important;
  }
  .overview-img {
    margin-right: 6px !important;
    width: 20px;
  }
  .company_info {
    padding: 8px 10px !important;
  }
  .web_links {
    font-size: 11px !important;
  }
  .inner_compny_div {
    font-size: 10px !important;
  }
  .pages_heading {
    font-size: 11px;
  }
}

@media (min-width: 993px) and (max-width: 1024px) {
  .broker_profile_right {
    padding-left: 15px;
    width: 76%;
  }
  .compny_logo_head {
    width: 24%;
  }
  .nifty_broker_profile_section .container_padding {
    padding: 0px 15px !important;
  }
  .right_broker {
    width: 53%;
    padding-left: 11px;
  }
  .open_acnt_cmpny i {
    padding-left: 4px;
  }
  .company_tab_content .nifty-datatable table td {
    font-size: 12px;
  }
  .main_headings {
    font-size: 14px;
  }
  .nifty_broker_profile_section .pr-0 {
    padding-right: 15px !important;
  }
  .nifty_cmpny_tabbings li a {
    padding: 10px 12px;
    font-size: 12px;
  }
  .broker_review_main {
    font-size: 13px;
  }
  .review_sub {
    font-size: 12px;
  }
  .review_user_right {
    width: 85%;
    padding-left: 11px;
  }
  .review_user_right .main_headings {
    font-size: 13px;
  }
  .review_user_right p {
    padding-top: 8px;
    font-size: 13px;
    text-align: justify;
  }
  .review_sub i {
    font-size: 13px;
  }
  .review_time {
    font-size: 12px;
  }
  .review_blocks {
    padding-top: 21px;
  }
  .broker_profile_left {
    padding: 10px 10px 10px 10px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .broker_profile_left {
    padding: 10px 10px 10px 10px;
  }
  .broker_profile_right {
    padding-left: 15px;
    width: 76%;
  }
  .compny_logo_head {
    width: 24%;
  }
  .nifty_broker_profile_section .container_padding {
    padding: 0px 15px !important;
  }
  .open_enqury h2 {
    font-size: 16px;
  }
  .right_broker {
    width: 53%;
    padding-left: 11px;
  }
}

/*broker compare*/

.broker_compare_section {
  background: #fff;
  padding: 43px 0px;
}

.broker_compare_section h2 {
  font-size: 30px;
  line-height: 33px;
  padding-right: 23%;
}

.pages_heading {
  font-size: 16px;
  font-weight: 500;
  color: #495057;
}

.compny_block .pages_heading {
  display: block;
  padding-top: 11px;
  padding-bottom: 4px;
}

.compny_block .open_account {
  font-weight: 500;
}

.compny_block .upper_section span {
  padding: 3px 10px;
  background-color: #f5a623;
  font-size: 12px;
  z-index: 99;
  font-weight: 500;
  margin-right: 11px;
  color: #ffffff;
}

.overview-img {
  margin-right: 8px;
}

.border1 {
  border: 1px solid #e7e7e7;
  font-size: 13px;
  color: #495057;
  padding: 8px 11px;
  font-weight: 500;
  border-bottom: 0px;
  border-right: 0px;
}

.border1 img {
  margin-right: 11px;
}

.brokermain-row {
  margin-right: 0px;
  margin-left: 0px;
  /*  box-shadow: 10px 0px 20px -2px rgba(35,47,62,0.1);*/
}

.company_info:last-child {
  border-right: 1px solid #e7e7e7;
}

.brokermain-row:last-child {
  border-bottom: 1px solid #e7e7e7;
}

.company_info {
  color: #74788d;
  padding: 6px 18px;
}

.brokermain-row:nth-child(2) {
  border: 1px solid #e7e7e7 !important;
}

.compny_block {
  border-right: 1px solid #e7e7e7;
  padding-top: 18px;
  padding-bottom: 9px;
  padding-left: 18px;
  padding-right: 18px;
}

.shadowClass {
  box-shadow: 0px 0px 8px rgba(35, 47, 62, 0.15);
  background: #fff;
  border-radius: 8px 8px 0px 0px;
}

.compny_block1 {
  border-radius: 8px 0px 0px 0px;
}

.compny_block4 {
  border-radius: 0px 8px 0px 0px;
}

.brokermain-row:nth-of-type(even) {
  background: #fafbfd;
}

.brokermain-row:nth-of-type(odd) {
  background: #ffffff;
}

.compny_main_div {
  border: 1px solid #e7e7e7;
  border-bottom: 0px;
  background: #f1f5fa;
}

.web_links {
  color: #2196f3;
  font-size: 13px;
  font-weight: 500;
}

.web_links:hover {
  color: #74788d;
}

.endBorder .shadowClass {
  box-shadow: 0px 0px 8px rgba(35, 47, 62, 0.15);
  background: #fff;
  border-radius: 0px 0px 8px 8px;
  height: 45px;
}

.endBorder {
  border-top: 1px solid #e7e7e7 !important;
}

.main_compny_div {
  max-width: 73%;
  margin: 0px 8px;
}

.endBorder .offset-xl-3 {
  margin-left: 25%;
  max-width: 75%;
}

.border1:first-child {
  /*    line-height: 36px;*/
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.45),
    inset -23px 0px 25px -25px rgba(35, 47, 62, 0.15);
}

.inner_compny_div {
  display: table-cell;
  vertical-align: middle;
  height: 15px;
}

.boxshadowClass {
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.45),
    inset -23px 0px 25px -25px rgba(35, 47, 62, 0.15);
  padding: 10px 14px 10px 9px;
}

.review-rating-box .star-rating label:hover,
.review-rating-box .star-rating label:hover ~ label,
.review-rating-box .star-rating input[type="radio"]:checked ~ label {
  color: #f0d238;
}

.broker_compare_section .open_account {
  color: #2196f3;
  display: inline-block;
}

.nifty_broker_div .inner_compny_div {
  height: 34px !important;
}

/*====nifty stock analysis list===========*/

.nifty_list_section {
  border-radius: 8px;
  filter: drop-shadow(0px 4px 10.5px rgba(35, 47, 62, 0.15));
  background-color: #ffffff;
  padding: 17px;
  margin-top: 12px;
}

.nifty_list_section h1 {
  font-size: 18px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 9px;
}

.form_search {
  position: relative;
}

.form_search input {
  height: 40px;

  background-color: #ffffff;
  padding: 0px 8px 0px 0px;
  color: #888888;
  width: 177px;
  box-shadow: var(--box-shadow-none);
  border-radius: var(--secondary-border-radius);
  border: var(--border-0);
  border-bottom: 2px solid var(--border-color);
}

.form_search span {
  color: #7f7f7f;
  position: absolute;
  z-index: 9;
  right: 0px;
  font-weight: 500;
  font-size: 14px;
  top: 15px;
}

.form_search::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #888888;
  font-size: 14px;
}

.form_search::-moz-placeholder {
  /* Firefox 19+ */
  color: #888888;
  font-size: 14px;
}

.form_search:-ms-input-placeholder {
  /* IE 10+ */
  color: #888888;
  font-size: 14px;
}

.form_search:-moz-placeholder {
  /* Firefox 18- */
  color: #888888;
  font-size: 14px;
}

.a_zselect {
  margin-left: 15px;
}

.a_zselect select:focus {
  border: 1px solid transparent;
  outline: none;
}
.a_zselect select option {
  border: 0px solid;
}

.a_zselect select {
  font-size: 13px;
  font-weight: 500;
  width: 106px;
  height: 40px;
  color: #495057;
  padding: 0px 6px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-family: "Roboto";
  filter: drop-shadow(0px 2px 6.5px rgba(35, 47, 62, 0.12));
  background-color: #ffffff;
}

.a_zselect option {
  color: #495057;
  padding: 10px 0px;
  font-family: "Roboto";
}

.all_tagss li {
  display: inline-block;
  list-style: none;
  border-radius: 3px;
  margin-right: 3px;
  transition: 0.5s ease-in-out all;
}
.all_tagss li:hover a {
  color: #fff;
}
.all_tagss ul {
  padding-top: 9px;
}

.all_tagss li a {
  font-size: 14px;
  display: inline-block;
  font-weight: 500;
  padding: 4px 12px 3px 12px;
  transition: 0.5s ease-in-out all;
}

.top_bg {
  background-color: #ecf4f1;
}
.top_bg:hover {
  background: #097650;
  transition: 0.5s ease-in-out all;
}
.top_bg:hover a {
  color: #fff;
  transition: 0.5s ease-in-out all;
}
.top_bg_clr:hover {
  background: #05ac72;
  transition: 0.5s ease-in-out all;
}
.medium_ratio_bg:hover {
  background: #f5b945;
}
.bottom_arrow_bg:hover {
  background: #eb5463;
}
.up_arrows_clr {
  color: #097650;
}

.top_bg_clr {
  background: #ebf8f4;
}

.up_arrows_clrs {
  color: #05ac72;
}

.bottom_arrow_clr2 {
  color: #eb5463;
}

.bottom_arrow_clr3 {
  color: #d94452;
}

.a_zselect h5 {
  font-weight: 400;
  color: #888888;
  font-size: 14px;
  padding: 12px 11px 0px 0px;
}
.a_zselect .btn {
  /*  min-width: 122px;*/
  font-size: 13px;
  font-weight: 500;
  min-width: 115px;
  height: 40px !important;
  color: #495057 !important;
  padding: 0px 8px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-family: "Roboto";
  /*  filter: drop-shadow(0px 2px 6.5px rgba(35, 47, 62, 0.12));*/
  background-color: #ffffff;
}
.a_zselect .watchlist-dropdown .dropdown-item:first-child {
  border-radius: 10px 10px 0px 0px;
  /*padding: 2.5px 9px;*/
}
.a_zselect .watchlist-dropdown .dropdown-menu {
  min-width: 117px;
}
.responsive_form {
  padding-left: 0px;
}
.a_zselect .watchlist-dropdown .dropdown-toggle::after {
  right: 6px;
  top: 10px;
}
.medium_ratio_clr {
  color: #f5b945;
}

.medium_ratio_bg {
  background: #fefaf0;
}

.bottom_arrow_clr {
  color: #eb5463;
}

.bottom_arrow_bg {
  background: #fef3f5;
}

.all_active {
  background: #2196f3;
}
.listing_blocks {
  padding-left: 0px;
}
.all_active:hover {
  background-color: #e8f4fe;
}
.all_active:hover a {
  color: #2196f3 !important;
}
.all_active a {
  color: #fff;
  font-size: 15px;
}

.all_tagss img {
  vertical-align: inherit;
}

.technical_company {
  padding: 12px 8px 10px 8px;
  border-radius: 5px;
  filter: drop-shadow(0px 2px 6.5px rgba(35, 47, 62, 0.12));
  background-color: #ffffff;
  margin-bottom: 13px;
}

.technical_company:hover h6 {
  color: #2196f3;
}
.technical_company h6 {
  font-size: 14px;
  color: #495057;
  font-family: "Roboto";
  font-weight: 500;
  margin-bottom: 0px;
}

.right_value {
  font-size: 14px;
  color: #74788d;
}

.right_value span {
  padding: 5px 10px;
  margin-left: 4px;
  border-radius: 3px;
}

.normal_value {
  background-color: rgba(245, 185, 69, 0.0784313725490196);
  border: 1px solid #f5b945;
  color: #f5b945;
}

.low_values {
  color: #eb5463;
  background-color: rgba(235, 84, 99, 0.0784313725490196);
  border: 1px solid #eb5463;
}

.high_values {
  color: #05ac72;
  background-color: rgba(5, 172, 114, 0.0784313725490196);
  border: 1px solid #05ac72;
}

.padding_right_remove_0 {
  padding-right: 0px;
}

.tophigh_values {
  color: #097650;
  background-color: rgba(9, 118, 80, 0.0784313725490196);
  border: 1px solid #097650;
}

.low_down_values {
  color: #f76c82;
  background-color: rgba(247, 108, 130, 0.0784313725490196);
  border: 1px solid #f76c82;
}

.stock_listings {
  padding-top: 10px;
  margin-bottom: 10px;
}
.all_tagss {
  padding-bottom: 20px;
}

select option:hover {
  color: red !important;
}
.listing_blocks p {
  font-size: 14px;
  padding-bottom: 0px;
  margin-bottom: 11px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 13px;
  color: #74788d;
}

.indian_stock {
  border-radius: 8px;
  filter: drop-shadow(0px 4px 10.5px rgba(35, 47, 62, 0.15));
  background-color: #ffffff;
  padding: 20px;
  padding-bottom: 25px;
}

.indian_stock h2 {
  font-size: 18px;
  font-weight: 500;
  color: #495057;
  padding-bottom: 17px;
  padding-top: 6px;
}

.indian_stock h3 {
  color: #495057;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto";
  padding-left: 20px;
}

.indian_stock p {
  font-size: 14px;
  color: #74788d;
  line-height: 25px;
  padding-left: 20px;
}

.indian_stock li {
  list-style: none;
}

.indian_stock li::before {
  content: "•";
  color: #2196f3;
  font-size: 30px;
  position: absolute;
  margin-top: -10px;
}

.top_paddings {
  margin-top: 23px;
  margin-bottom: 36px;
}

.also_check h4 {
  color: #495057;
  font-size: 18px;
  padding: 18px 0px 7px 0px;
  font-weight: 500;
}

.also_check a {
  color: #2196f3;
  font-size: 14px;
  padding-left: 17px;
  font-weight: 400;
}

.stock_listings::-webkit-scrollbar {
  width: 3px;
}

.stock_listings::-webkit-scrollbar-thumb {
  background-color: rgba(174, 185, 198, 0.9294117647058824);
  outline: 1px solid #e2e5ed;
  border-radius: 20px;
}
.stock_listings {
  overflow-y: auto;
  max-height: 500px;
}
.up_hover {
  display: none;
}
.down_hover {
  display: none;
}
.top_bg:hover .up_hover {
  display: inline-block !important;
  transition: 0.5s ease-in-out all;
}
.top_bg:hover .up_desktop {
  display: none;
}
.bottom_arrow_bg2:hover .up_desktop {
  display: none;
}
.form_search input:focus {
  outline: none;
}

.bottom_arrow_bg2:hover .down_hover {
  display: inline-block !important;
  transition: 0.5s ease-in-out all;
}

/*max plain chart*/

.max_plain_div {
  border-radius: 8px;
  filter: drop-shadow(0px 4px 10.5px rgba(35, 47, 62, 0.15));
  background: #fff;
  padding: 15px;
  padding-top: 21px;
}
.nifty_max_chart {
  margin-bottom: 24px;
}

.max-plan-value {
  color: #74788d;
  font-size: 11px;
}
.max_plain_div h6 {
  line-height: 9px;
}
.max_plain_div .right_value {
  margin-top: 4px;
}
.max_plain_div .technical_company {
  padding: 8px 8px 3px 8px;
}
.nifty_max_chart p {
  font-size: 15px;
  color: #74788d;
}
.nifty_max_chart .main-page-heading {
  padding-bottom: 20px;
  font-family: "Roboto";
}
.max_text {
  font-size: 15px;
  color: #495057;
  padding-top: 5px;
  margin-bottom: 0px;
  font-weight: 400;
}
.export_btn img {
  margin-right: 7px;
  vertical-align: sub;
}
.export_btn {
  font-size: 14px;
  padding: 8.5px 16px;
  font-weight: 500;
  color: #2196f3;
  border-radius: 3px;
  transition: 0.5s ease-in-out all;
  background-color: #ffffff;
  border: 1px solid #2196f3;
}
.max_plain_div .stock_listings {
  margin-right: -10px;
}
.max_plain_content {
  border-radius: 8px;
  filter: drop-shadow(0px 4px 10.5px rgba(35, 47, 62, 0.15));
  background-color: #ffffff;
  padding: 15px;
  /* padding-top: 25px; */
  margin-top: 19px;
  /* padding-bottom: 4px; */
}
.max_plain_content h5 {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 500;
  color: #495057;
  padding-bottom: 6px;
}
.max_plain_content p {
  font-size: 14px;
  color: #74788d;
}
.max_plain_block {
  padding-bottom: 10px;
}

.hover_export {
  display: none;
  transition: 0.5s ease-in-out all;
}
.export_btn:hover {
  background: #2196f3;
  color: #fff;
  transition: 0.5s ease-in-out all;
}
.export_btn:focus {
  outline: 0px;
}
.export_btn:hover .hover_export {
  display: inline-block !important;
  transition: 0.5s ease-in-out all;
}
.export_btn:hover .export_without {
  display: none;
  transition: 0.5s ease-in-out all;
}
.all_inner_tags li:first-child {
  background-color: #e8f4fe;
}
.all_inner_tags li:first-child a {
  color: #2196f3;
}
