@media (min-width: 1000px) and (max-width: 1440px) {
}

@media (min-width: 992px) and (max-width: 1200px) {
}

@media (min-width: 1281px) {
}

@media (min-width: 1199px) and (max-width: 1280px) {
}

@media (min-width: 1025px) and (max-width: 1199px) {
  .nifty-terms ul li a {
    padding: 5px 0px !important;
    width: 33px !important;
    height: 33px !important;
  }

  .nifty-terms-box {
    /* height: 200px !important; */
    padding-bottom: 10px;
  }

  .nifty-terms-box img {
    width: 25% !important;
    height: 199px !important;
  }

  .nifty-term-right {
    width: 75% !important;
    padding: 20px 20px 5px !important;
  }

  .nifty-terms-box p {
    margin-bottom: 12px !important;
  }

  .nifty-term-right button {
    font-size: 12px !important;
  }

  .nifty-highlight-left {
    width: 25% !important;
    padding: 23px 0px !important;
  }

  .nifty-highlight-right {
    width: 75% !important;
    padding: 12px 15px 0px !important;
  }

  .nifty-highlight-right h5 {
    font-size: 15px !important;
  }

  .nifty-highlight-right p {
    font-size: 13px !important;
    padding: 0px !important;
  }

  .nifty-annual-reports {
    margin: 7px 8px !important;
  }

  .nifty-unlock-now {
    font-size: 12px !important;
    left: 33% !important;
    top: 34% !important;
  }

  .analysis-profile p {
    font-size: 13px !important;
    width: 54% !important;
  }

  .nifty-open-interest {
    margin: 0px 0px 10px !important;
    min-height: 55px !important;
    min-width: 315px !important;
  }

  .nifty-open-interest-right p {
    line-height: 15px !important;
  }

  .rollover-data p {
    margin-bottom: 13px !important;
  }

  .rollover-data {
    margin: 10px 0px 20px !important;
  }

  .nifty-open-interest-left {
    padding: 10px 0px !important;
  }

  .nifty-open-interest-right {
    padding: 10px 11px 10px 0px !important;
  }

  .key-data .analysis-profile {
    padding: 0px 0px 20px !important;
  }

  .nifty-readmore-popup {
    width: 50% !important;
    top: 20% !important;
  }

  .grid-item-content h5 {
    font-size: 12px !important;

    margin-bottom: 5px !important;
    line-height: 17px !important;
  }

  .grid-item-content h6 {
    font-size: 14px !important;
    line-height: 20px !important;
    padding: 0px 11px 10px 15px !important;
    margin-bottom: 0px !important;
  }

  .grid-item-content p {
    line-height: 20px !important;
    padding: 0px 11px 15px 15px !important;
    font-size: 13px !important;
    margin-bottom: 0px !important;
  }

  .contributors-table table thead tr th,
  .contributors-table table tbody tr td {
    padding: 11px 10px !important;
  }

  .news-widget marquee {
    width: 91% !important;
  }

  /* ============== New Hompage 2 CSS 20/04/2020 ================= */

  .sgx-value-ul li {
    margin: 10px 13px 0px 10px !important;
  }
  /*new stock listing*/
  .responsive_form {
    padding-left: 0px !important;
  }
  .form_search input {
    width: 130px !important;
  }
  .a_zselect h5 {
    font-size: 12px !important;
  }
  .a_zselect {
    margin-left: 10px !important;
  }
  .a_zselect select {
    font-size: 11px !important;
    padding: 0px 3px !important;
  }
  .technical_company h6 {
    font-size: 12px !important;
  }
  .right_value {
    font-size: 12px !important;
  }
  .max_plain_div .right_value {
    font-size: 11px !important;
  }
  /* suraj 7/6/2020 */
  .nifty-datatable table th {
    padding: 11px 7px !important;
  }
  .nifty-datatable table tr td {
    padding: 11px 7px !important;
  }
  .option_form thead th {
    font-size: 12px !important;
  }
  .option_chain_form_table .form-control {
    min-width: 105px;
  }
  .option_chain_form_table tbody td {
    padding: 10px 5px;
  }
  /* .eod-screener .px-0{
    padding-left: 15px !important;
    padding-right: 15px !important;
} */
  .remove_symbols {
    background: transparent;
    border: none;
    font-size: 13px;
    position: absolute;
    right: 0;
    margin-right: 40px;
    top: 0px;
    margin-top: 42px;
    z-index: 999999;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .nifty-terms ul li a {
    padding: 9px 0px !important;
    width: 33px !important;
    height: 33px !important;
  }

  .nifty-terms-box {
    /* height: 200px; */
    padding-bottom: 10px;
  }

  .nifty-terms-box img {
    width: 25% !important;
    height: 199px !important;
  }

  .nifty-term-right {
    width: 75% !important;
    padding: 20px 20px 5px !important;
  }

  .nifty-terms-box p {
    margin-bottom: 12px !important;
  }

  .nifty-term-right button {
    font-size: 12px !important;
  }

  .nifty-chart-dropdown .form-group a {
    top: 0px !important;
  }

  .nifty-highlight-left {
    width: 25% !important;
    padding: 23px 0px !important;
  }

  .nifty-highlight-right {
    width: 75% !important;
    padding: 12px 15px 0px !important;
  }

  .nifty-highlight-right h5 {
    font-size: 15px !important;
  }

  .nifty-highlight-right p {
    font-size: 13px !important;
    padding: 0px !important;
  }

  .nifty-annual-reports {
    margin: 7px 8px !important;
  }

  .nifty-unlock-now {
    font-size: 12px !important;
    left: 33% !important;
    top: 34% !important;
  }

  .analysis-profile p {
    font-size: 13px !important;
    width: 54% !important;
  }

  .nifty-open-interest {
    margin: 0px 0px 10px !important;
    min-height: 55px !important;
    min-width: 315px !important;
  }

  .nifty-open-interest-right p {
    line-height: 15px !important;
  }

  .rollover-data p {
    margin-bottom: 13px !important;
  }

  .rollover-data {
    margin: 10px 0px 15px !important;
  }

  .nifty-open-interest-left {
    padding: 10px 0px !important;
  }

  .nifty-open-interest-right {
    padding: 10px 11px 10px 0px !important;
  }

  .key-data .analysis-profile {
    padding: 0px 0px 20px !important;
  }

  .nifty-readmore-popup {
    width: 50% !important;
    top: 20% !important;
  }

  .grid-item-content h5 {
    font-size: 12px !important;
    margin-bottom: 5px !important;
    line-height: 17px !important;
  }

  .grid-item-content h6 {
    font-size: 14px !important;
    line-height: 20px !important;
    padding: 0px 11px 10px 15px !important;
    margin-bottom: 0px !important;
  }

  .grid-item-content p {
    line-height: 20px !important;
    padding: 0px 11px 15px 15px !important;
    font-size: 13px !important;
    margin-bottom: 0px !important;
  }

  .contributors-table table thead tr th,
  .contributors-table table tbody tr td {
    padding: 11px 10px !important;
  }

  .news-widget marquee {
    width: 91% !important;
  }

  /* ============== New Hompage 2 CSS 20/04/2020 ================= */

  .sgx-value-ul li {
    margin: 10px 13px 0px 10px !important;
  }

  /* .section1 .dayhighlow-box {
    margin: 0px 0px 14px 15px !important;
  } */
  .margin-box2 {
    margin: 0px 15px 0px 0px !important;
  }
  .premium-tag {
    right: 10px !important;
  }

  .submit-btn {
    margin-top: 2px !important;
  }

  .hindi-news-btn {
    padding: 8px 13px 6px !important;
  }
  /*new stock listing*/
  .responsive_form {
    padding-left: 0px !important;
  }
  .form_search input {
    width: 145px !important;
  }
  .a_zselect h5 {
    font-size: 12px !important;
  }
  .a_zselect {
    margin-left: 10px !important;
  }
  .a_zselect .btn {
    min-width: 105px !important;
    font-size: 12px !important;
  }
  .a_zselect select {
    font-size: 11px !important;
    padding: 0px 3px !important;
  }
  .technical_company h6 {
    font-size: 12px !important;
  }
  .right_value {
    font-size: 12px !important;
  }
  .max_plain_div .right_value {
    font-size: 11px !important;
  }

  /* =============== suraj 29/6/2020  ============== */
  .future_modal .modal-dialog {
    margin: 0px 15px;
  }
  /* suraj 7/6/2020 */
  .nifty-datatable table th {
    padding: 11px 7px !important;
  }
  .nifty-datatable table tr td {
    padding: 11px 7px !important;
  }
  .option_form thead th {
    font-size: 12px !important;
  }
  .option_chain_form_table .form-control {
    min-width: 105px;
  }
  .option_chain_form_table tbody td {
    padding: 10px 5px;
  }
  .eod-grid-layout {
    columns: 5;
  }
  .eod-screener .px-0 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .nifty-terms-tabs h2 {
    font-size: 20px !important;
    padding-top: 5px !important;
  }

  .nifty-news-grid {
    margin: 0px 10px !important;
  }

  .nifty-terms h1 {
    font-size: 17px !important;
  }

  .nifty-terms-tabs {
    padding: 11px 0px !important;
  }

  .nifty-terms ul {
    padding: 10px 0px !important;
    border-bottom: 0px !important;
  }

  .nifty-terms-box h5 {
    font-size: 14px !important;
    margin-bottom: 5px !important;
  }

  .nifty-terms-box p {
    font-size: 13px !important;
    line-height: 20px !important;
    margin-bottom: 5px !important;
  }

  .nifty-terms-box ul {
    padding: 0px !important;
  }

  .nifty-terms ul li a {
    margin: 0px 2px 5px 0px !important;
    padding: 5px 0px !important;
    font-size: 13px !important;
    width: 30px !important;
    height: 30px !important;
  }

  .nifty-terms-numeric {
    width: 40px !important;
  }

  .nifty-terms-box img {
    width: 50% !important;
    height: 231px !important;
    border-radius: 1px 0px 0px 1px !important;
  }

  .nifty-term-right {
    width: 50% !important;
    padding: 12px 10px 7px !important;
  }

  .nifty-terms-box {
    /* height: 233px !important; */
    padding-bottom: 5px;
  }

  .nifty-term-right button {
    font-size: 11px !important;
    padding: 3px 6px !important;
  }

  .nifty-terms-box ul li {
    margin: 0px !important;
  }

  .nifty-terms-detail-box h2 {
    font-size: 17px !important;
    margin-bottom: 5px !important;
  }

  .terms-image-box {
    width: 40% !important;
    padding: 10px 15px 0px 0px !important;
  }

  .nifty-terms-detail-box {
    margin: 0px !important;
    padding: 10px 0px !important;
  }

  .watchlist-popup h5 {
    font-size: 20px !important;
    padding: 25px 0px !important;
  }

  .watchlist-popup h5 {
    font-weight: 500 !important;
  }

  .nifty-popup-inner-box h6 {
    font-size: 12px !important;
  }

  .nifty-popup-inner-box h6 span {
    font-size: 12px !important;
  }

  .nifty-popup-value {
    font-size: 14px !important;
    padding-top: 8px !important;
  }

  .nifty-popup-value span {
    font-size: 11px !important;
  }

  .nifty-popup-inner-box {
    padding: 13px 10px !important;
    width: 140px !important;
  }

  .watchlist-popup {
    width: 460px !important;
    min-height: 165px !important;
    border-radius: 3px 3px 0px 0px !important;
  }

  .nifty-popup {
    width: 460px !important;
  }

  .nifty-popup-bottom h5 {
    font-size: 16px !important;
    padding: 12px 0px 5px !important;
  }

  .nifty-popup-bottom p {
    font-size: 13px !important;
  }

  .nifty-popup-stocks {
    width: 150px !important;
    padding: 20px 15px 0px !important;
  }

  .nifty-popup-stocks i {
    font-size: 15px !important;
  }

  .nifty-popup-stocks h6 {
    font-size: 12px !important;
    line-height: 15px !important;
  }

  .nifty-popup-bottom span {
    width: 292px !important;
    top: 71px !important;
    left: 78px !important;
  }

  a.nifty-watchlist-popup-btn {
    font-size: 12px !important;
    padding: 8px 12px !important;
    margin: 15px 0px 20px !important;
  }

  .watchlist-popup-close {
    top: 0px !important;
  }

  .analysis-menu li a {
    padding: 10px 12px !important;
  }

  .nifty-analysis-highlights {
    min-height: 102px !important;
  }

  .nifty-highlight-left {
    width: 30% !important;
    min-height: 100px !important;
    padding: 24px 0px !important;
  }

  .nifty-highlight-right {
    width: 70% !important;
    min-height: 88px !important;
    padding: 10px 10px 0px !important;
  }

  .nifty-highlight-right h5 {
    font-size: 13px !important;
  }

  .nifty-highlight-right p {
    font-size: 12px !important;
    line-height: 16px !important;
    padding: 0px !important;
  }

  .nifty-unlock-now {
    font-size: 11px !important;
    left: 27% !important;
    top: 35% !important;
  }

  .nifty-unlock-now i {
    font-size: 15px !important;
  }

  .analysis-profile-right {
    background: none !important;
  }

  .analysis-profile p {
    width: 100% !important;
  }

  .nifty-open-interest {
    margin: 0px 0px 10px !important;
    min-height: 55px !important;
    min-width: 288px !important;
  }

  .nifty-open-interest-right h5 {
    font-size: 13px !important;
  }

  .nifty-open-interest-right p {
    font-size: 12px !important;
    line-height: 15px !important;
  }

  .nifty-open-interest-right {
    padding: 8px 10px !important;
  }

  .nifty-open-interest-left {
    padding: 9px 0px !important;
  }

  .future-analysis-table table thead tr th {
    padding: 14px 3px !important;
  }

  .rollover-data p {
    line-height: 20px !important;
    font-size: 13px !important;
    width: 70% !important;
    margin-bottom: 5px !important;
  }

  .rollover-data h5 {
    font-size: 15px !important;
    margin: 0px 0px 10px !important;
  }

  .rollover-data {
    padding: 20px 40px 10px !important;
  }

  .rollover-data h5::before {
    width: 22px !important;
    height: 22px !important;
    padding: 5px 0px !important;
    top: -5px !important;
    left: -30px !important;
  }

  .nifty-ratio-analysis .max-pain-theory {
    margin: 0px 0px 20px !important;
  }

  .past-table table thead tr th {
    padding: 14px 18px !important;
  }

  .past-table table tbody tr td {
    padding: 17px 18px 5px !important;
  }

  .price-table table tbody tr td {
    padding: 14px 5px !important;
  }

  .price-table table thead tr th {
    padding: 14px 5px !important;
  }

  .points-table table thead tr th:nth-child(6) {
    padding: 14px 5px !important;
  }

  .gaps-support {
    margin: 10px -30px 10px !important;
  }

  .trend-analysis {
    margin-left: 18px !important;
    padding: 0px 5px 5px 5px !important;
  }

  .trend-analysis-left {
    left: 27px !important;
    top: 65px !important;
  }

  .trend-analysis-left-d {
    left: 27px !important;
    bottom: 50px !important;
  }

  .nifty-reports-right h6 {
    font-size: 13px !important;
  }

  .nifty-reports-right p {
    font-size: 12px !important;
  }

  .nifty-reports-pdf {
    width: 22% !important;
  }

  .nifty-reports-right {
    width: 78% !important;
    padding: 0px 5px !important;
  }

  .nifty-annual-reports {
    padding: 7px 5px !important;
    min-height: 55px !important;
    margin: 5px 8px !important;
  }

  .nifty-reports {
    font-size: 17px !important;
    margin: 15px 7.5px 10px !important;
  }

  .key-data .analysis-profile {
    padding: 0px 0px 20px !important;
  }

  .nifty-readmore-popup {
    width: 55% !important;
    top: 20% !important;
  }

  .nifty-readmore-content {
    height: 170px !important;
  }

  .grid-item-content h5 {
    font-size: 12px !important;

    margin-bottom: 5px !important;
    line-height: 17px !important;
  }

  .grid-item-content h6 {
    font-size: 14px !important;
    margin-bottom: 0px !important;
    line-height: 20px !important;
    padding: 0px 11px 10px 15px !important;
  }

  .grid-item-content p {
    line-height: 20px !important;
    padding: 0px 11px 15px 15px !important;
    margin-bottom: 0px !important;
    font-size: 13px !important;
  }

  .grid .grid-item {
    width: 33.3% !important;
    margin: 15px 0px !important;
  }

  .nifty-news-menu {
    margin: 17px 0px 10px !important;
  }

  .nifty-contributors .pr-0,
  .nifty-contributors .pl-0 {
    padding: 0px !important;
  }

  .contributors-table {
    padding: 0px !important;
    margin: 0px 0px 30px !important;
  }

  .contributors-table table thead tr th {
    font-size: 12px !important;
    padding: 10px 15px !important;
  }

  .contributors-table table tbody tr td {
    font-size: 12px !important;
    padding: 10px 15px !important;
  }

  .nifty-contributors {
    padding: 5px 0px 0px !important;
  }

  .start-date-selector {
    margin: 0px 5px 0px 5px !important;
  }

  .nifty-cont-right i {
    right: 25px !important;
  }

  .news-widget marquee {
    width: 86% !important;
  }

  /* ============== New Hompage 2 CSS ================= */

  .sgx-box-inner-content h5 {
    font-size: 14px !important;
  }

  .sgx-box-inner-content {
    padding: 10px 0px 10px 10px !important;
  }

  .sgx-box-inner-content h5 span {
    font-size: 13px !important;
  }

  .sgx-value-ul li {
    font-size: 12px !important;
    margin: 1px 10px 0px 0px !important;
  }

  .non-hover-li {
    display: none !important;
  }

  .homepage-newsbox h5 {
    font-size: 15px !important;
    margin-bottom: 10px !important;
  }

  .hindi-news-btn {
    font-size: 11px !important;
    padding: 5px 8px 3px !important;
    margin-top: -2px !important;
  }

  .homepage-news-ul li {
    padding: 10px 10px !important;
  }

  .homepage-news-ul li a {
    font-size: 13px !important;
    line-height: 18px !important;
    display: inline-block !important;
  }

  .homepage-news-ul li span {
    font-size: 11px !important;
  }

  .analysis-heading {
    padding-top: 13px !important;
  }

  .dayhighlow-box h6 {
    font-size: 15px !important;
  }

  #typing-text {
    height: 20px !important;
  }

  #text-type {
    font-size: 13px !important;
    margin-top: 5px !important;
  }

  .searchbar {
    padding-top: 5px !important;
  }

  .company-searchbar .form-group {
    margin: 0px 15px !important;
  }

  .searchbar input {
    width: 100% !important;
    height: 38px !important;
    font-size: 12px !important;
    margin-bottom: 20px !important;
  }

  .searchbar input::placeholder {
    font-size: 12px !important;
  }

  .searchbar span {
    top: 12px !important;
    right: 18px !important;
    font-size: 14px !important;
  }

  .nifty50item1 {
    width: 100% !important;
  }

  .nifty50item1 a {
    font-size: 11px !important;
  }

  .form-heading h5 {
    font-size: 14px !important;
    line-height: 20px !important;
  }

  .form-heading {
    padding: 15px 15px 7px !important;
  }

  .Brokerage-form {
    padding: 10px 15px 5px !important;
  }

  .submit-btn {
    font-size: 14px !important;
    padding: 4px 15px !important;
    margin-top: 4px !important;
  }

  .Brokerage-form .form-group {
    margin-bottom: 14px;
  }

  .pricetable-box h6 {
    font-size: 16px !important;
    margin-bottom: 15px !important;
  }

  .section1 .Performance-box {
    margin: 10px 0px !important;
  }

  .nifty-top-news-bar {
    background-size: 16% 100% !important;
  }
  /*new nifty stock listing*/
  .form_search input {
    width: 94px !important;
    padding: 0px 8px 0px 24px !important;
  }
  .form_search span {
    left: 6px !important;
  }
  .a_zselect {
    margin-left: 1px !important;
  }
  .a_zselect h5 {
    font-size: 11px !important;
    padding: 12px 6px 0px 0px !important;
  }
  .a_zselect select {
    padding: 0px 0px !important;
    width: 91px !important;
    font-size: 12px !important;
  }
  .padding_remove_r_l {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .nifty_list_section h1 {
    font-size: 14px !important;
  }
  .technical_company h6 {
    font-size: 12px !important;
    text-transform: capitalize !important;
  }
  .right_value {
    font-size: 11px !important;
  }
  .right_value span {
    padding: 4px 4px !important;
    margin-left: 3px !important;
  }

  .technical_company {
    padding: 12px 6px 10px 4px !important;
  }
  .listing_blocks p {
    font-size: var(--font-size-responsive) !important;
    line-height: var(--line-height);
  }
  .listing_blocks {
    padding: 0px 0px !important;
  }
  .indian_stock h2 {
    font-size: 14px !important;
  }
  .indian_stock h3 {
    font-size: 14px !important;
  }
  .indian_stock p {
    font-size: 13px !important;
    text-align: justify !important;
  }
  .top_paddings .p-0 {
    padding: 0px 15px !important;
  }
  .also_check a {
    font-size: 13px !important;
  }
  .all_tagss li a {
    font-size: 12px !important;
  }
  .responsive_form {
    margin-top: 6px !important;
    padding-left: 0px !important;
    padding-right: 8px !important;
  }
  .all_tagss li {
    padding: 3px 7px !important;
  }
  .also_check h4 {
    font-size: 14px !important;
  }
  .stock_listings {
    overflow-y: auto !important;
    height: 353px !important;
  }
  .a_zselect .btn {
    font-size: 11px !important;
    min-width: 89px !important;
  }
  .a_zselect .watchlist-dropdown .dropdown-toggle::after {
    right: 4px !important;
    top: 14px !important;
    font-size: 8px !important;
  }
  .max_text {
    font-size: 10px !important;
  }
  .export_btn {
    font-size: 12px !important;
    padding: 4px 7px !important;
  }
  /* =============== suraj 29/6/2020  ============== */
  .future_modal .modal-dialog {
    /* margin: 0px 15px; */
  }
  .modal-future-table .table-bottom {
    padding: 0px;
  }
  .eod-grid-layout {
    columns: 4;
  }
  .rp_nifty-table-dropdown .form-group .rp_nifty-chart-icon {
    top: 0px !important;
  }
  .remove_symbols {
    margin-right: 58px;
    margin-top: 40px;
  }
  .inner_table_w {
    /* width: 318px; */
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .main-grid-layout-2 {
    columns: 2 !important;
  }

  .nifty-top-news-bar {
    background-size: 16% 100% !important;
  }

  .term-body-responsive {
    padding-left: 15px !important;
  }

  .nifty-terms-tabs .p-0 {
    padding: 0px 15px !important;
  }

  .nifty-terms-tabs h2 {
    font-size: 16px;
    padding-top: 5px !important;
  }

  .nifty-terms h1 {
    font-size: 15px !important;
    text-align: center !important;
  }

  .nifty-terms-tabs {
    padding: 11px 0px 40px !important;
  }

  .nifty-terms ul {
    padding: 10px 0px !important;
    border-bottom: 0px !important;
  }

  .nifty-terms-box h5 {
    font-size: 13px !important;
    margin-bottom: 10px !important;
  }

  .nifty-terms ul li a {
    margin: 0px 2px 5px 0px !important;
    padding: 5px 0px !important;
    font-size: 12px !important;
    width: 30px !important;
    height: 30px !important;
  }

  .nifty-terms-numeric {
    width: 40px !important;
  }

  .nifty-terms-box {
    padding: 0px !important;
    margin: 15px 0px !important;
    height: auto !important;
    width: 100% !important;
  }

  .nifty-terms-box p {
    font-size: 12px !important;
    line-height: 18px !important;
    margin-bottom: 10px !important;
  }

  .nifty-term-right {
    width: 100% !important;
    float: none !important;
    padding: 15px !important;
  }

  .nifty-terms-box ul li {
    margin: 0px !important;
  }

  .nifty-term-right button {
    font-size: 11px !important;
    padding: 5px 11px !important;
  }

  .nifty-terms-box img {
    max-width: 100% !important;
    height: auto !important;
    border-radius: 1px 1px 0px 0px !important;
  }

  .nifty-terms-box ul {
    padding: 5px 10px 0px !important;
  }

  .terms-sidebar {
    padding-right: 15px !important;
  }

  .terms-sidebar img {
    width: 100% !important;
  }

  .terms-responsive {
    padding-left: 15px !important;
  }

  .nifty-terms-detail-box h2 {
    margin-bottom: 5px !important;
  }

  .nifty-terms-detail-box p {
    margin-bottom: 5px !important;
  }

  .nifty-terms-detail-box ul {
    padding: 0px !important;
  }

  .watchlist-popup h5 {
    font-size: 17px !important;
    padding: 20px 0px !important;
  }

  .watchlist-popup h5 {
    font-weight: 500 !important;
  }

  .nifty-popup-inner-box h6 {
    font-size: 11px !important;
  }

  .nifty-popup-inner-box h6 span {
    font-size: 11px !important;
  }

  .nifty-popup-value {
    font-size: 12px !important;
    padding-top: 8px !important;
  }

  .nifty-popup-value span {
    font-size: 10px !important;
  }

  .nifty-popup-value i {
    font-size: 12px;
  }

  .nifty-popup-inner-box {
    padding: 11px 7px !important;
    width: 130px !important;
  }

  .watchlist-popup {
    width: 430px !important;
    min-height: 140px !important;
    border-radius: 3px 3px 0px 0px !important;
  }

  .nifty-popup {
    width: 430px !important;
  }

  .nifty-popup-bottom h5 {
    font-size: 14px !important;
    padding: 12px 0px 5px !important;
  }

  .nifty-popup-bottom p {
    font-size: 12px !important;
  }

  .nifty-popup-stocks {
    width: 140px !important;
    padding: 20px 15px 0px !important;
  }

  .nifty-popup-stocks i {
    font-size: 14px !important;
  }

  .nifty-popup-stocks h6 {
    font-size: 11px !important;
    line-height: 15px !important;
  }

  .nifty-popup-bottom span {
    width: 277px !important;
    top: 69px !important;
    left: 72px !important;
    height: 4px !important;
  }

  a.nifty-watchlist-popup-btn {
    font-size: 11px !important;
    padding: 8px 12px !important;
    margin: 15px 0px 20px !important;
  }

  .watchlist-popup-close {
    top: 0px !important;
    font-size: 19px !important;
  }

  .nifty-chart-dropdown .form-group {
    padding: 0px 0px 10px !important;
    margin-bottom: 0px !important;
  }

  .nifty-table-dropdown select {
    min-width: 110px !important;
  }

  .nifty-analysis-highlights {
    margin: 15px 0px !important;
    min-height: 102px !important;
  }

  .nifty-highlight-right p {
    font-size: 12px !important;
    line-height: 16px !important;
    padding: 0px !important;
  }

  .nifty-highlight-left {
    width: 30% !important;
    min-height: 100px !important;
    padding: 24px 0px !important;
  }

  .nifty-highlight-right h5 {
    font-size: 13px !important;
  }

  .nifty-highlight-right {
    width: 70% !important;
    min-height: 100px !important;
    padding: 10px 10px 0px !important;
  }

  .analysis-profile-right {
    background: none !important;
    padding: 15px 15px 15px !important;
    margin: 15px 0px !important;
  }

  .analysis-profile p {
    width: 100% !important;
    margin-bottom: 10px !important;
  }

  .nifty-unlock-now {
    font-size: 11px !important;
    left: 28% !important;
    top: 38% !important;
  }

  .nifty-unlock-now i {
    font-size: 15px !important;
  }

  .analysis-menu-responsive ul {
    width: 640px !important;
  }

  .analysis-active {
    border-bottom: 2px solid transparent !important;
  }

  .analysis-menu li:hover {
    border-bottom: 2px solid transparent !important;
  }

  .nifty-open-interest {
    margin: 0px 0px 15px !important;
    min-height: 55px !important;
    min-width: 100% !important;
  }

  .futures .pr-0 {
    padding-right: 15px !important;
  }

  .futures h6 {
    margin: 20px 0px 10px !important;
  }

  .nifty-open-interest-right h5 {
    font-size: 14px !important;
  }

  .rollover-data h5 {
    font-size: 15px !important;
    margin: 0px 0px 10px !important;
  }

  .rollover-data h5::before {
    width: 20px !important;
    height: 20px !important;
    padding: 4px 0px !important;
    top: -5px !important;
    left: -30px !important;
    font-size: 13px !important;
  }

  .rollover-data {
    background: none !important;
    padding: 20px 20px 15px 40px !important;
    margin: 5px 0px 15px !important;
  }

  .rollover-data p {
    line-height: 20px !important;
    font-size: 13px !important;
    width: 100% !important;
    margin-bottom: 9px !important;
  }

  .max-pain-theory {
    min-height: auto !important;
  }

  .nifty-ratio-analysis .p-0 {
    padding: 0px 15px !important;
  }

  .nifty-ratio-analysis .max-pain-theory {
    margin: 0px 0px 15px !important;
  }

  .price-table table thead tr th {
    padding: 11px 10px !important;
  }

  .price-table table tbody tr td {
    padding: 11px 10px !important;
  }

  .past-table table thead tr th {
    padding: 10px 8px !important;
  }

  .past-table table tbody tr td {
    padding: 16px 8px 5px !important;
  }

  .points-table table thead tr th:nth-child(6) {
    padding: 11px 5px !important;
  }

  .points-table table tbody tr td:nth-child(6) {
    padding: 11px 5px !important;
  }

  .technical-section .pr-0 {
    padding: 0px 15px !important;
  }

  .technical-analysis {
    box-shadow: none !important;
    margin: 15px 0px;
  }

  .gaps-support {
    padding: 0;
    margin: 0px -15px 10px !important;
  }

  .trend-analysis-left-d {
    left: 34px !important;
    bottom: 50px !important;
  }

  .trend-analysis-left {
    left: 34px !important;
    top: 65px !important;
  }

  .trend-analysis {
    padding: 0px 15px 0px 20px;
  }

  .analysis-profile-table {
    padding: 0px 0px 30px !important;
  }

  .profile-section .pr-0 {
    padding: 0px 15px !important;
  }

  .key-data .analysis-profile {
    padding: 15px 0px !important;
  }

  .analysis-profile img {
    width: 100% !important;
  }

  .key-data {
    margin-top: 0px !important;
  }

  .day-table {
    padding: 15px 0px !important;
  }

  .profile-section {
    padding: 0px 0px 20px !important;
  }

  .chart-section {
    padding: 15px 0px 0px !important;
  }

  .analysis-active {
    border-bottom: 2px solid transparent !important;
  }

  .analysis-menu li:hover {
    border-bottom: 0px !important;
  }

  .financial-trend-graph {
    margin: 0px 0px !important;
  }

  .nifty-reports-row {
    margin: 0px -15px !important;
  }

  .nifty-annual-reports {
    padding: 8px !important;
    width: 100% !important;
    margin: 15px 0px !important;
    min-height: 60px !important;
  }

  .nifty-reports {
    font-size: 15px !important;
    margin: 15px 0px 5px !important;
  }

  .nifty-reports-right p {
    font-size: 12px !important;
  }

  .nifty-readmore-popup {
    width: 70% !important;
    padding: 0px 0px 10px !important;
  }

  .nifty-readmore-popup h5 {
    font-size: 14px !important;
    padding: 10px 10px !important;
    margin-bottom: 10px !important;
  }

  .nifty-readmore-popup .close {
    top: 5px !important;
    right: 10px !important;
    font-size: 20px !important;
  }

  .nifty-readmore-content p {
    font-size: 12px !important;
    line-height: 18px !important;
    padding: 0px 10px !important;
    margin: 0px 0px 5px !important;
  }

  .nifty-readmore-content {
    height: 140px;
  }

  .nifty-news-menu li:nth-child(1),
  .nifty-news-menu li:nth-child(3),
  .nifty-news-menu li:nth-child(4),
  .nifty-news-grid .grid-item-content p {
    display: none !important;
  }

  .nifty-news-grid {
    margin: 0px 10px !important;
  }

  .nifty-news-section .p-0 {
    padding: 0px 15px !important;
  }

  .nifty-news-grid .grid-item-content {
    margin: 0px !important;
  }

  .nifty-news-ul li {
    padding: 0px 15px 0px 0px !important;
  }

  .nifty-news-ul li a {
    font-size: 13px !important;
  }

  .nifty-news-ul {
    margin: 15px 0px 10px !important;
  }

  .nifty-news-menu {
    text-align: left !important;
    margin: 10px 0px 20px !important;
  }

  .nifty-news-menu li {
    font-size: 12px !important;
    margin: 0px 0px 0px 0px !important;
  }

  .dropdown-menu li:nth-child(1),
  .dropdown-menu li:nth-child(3),
  .dropdown-menu li:nth-child(4) {
    display: block !important;
  }

  .nifty-news-section {
    padding: 0px 0px 20px !important;
  }

  .grid-item-content h5 {
    font-size: 12px !important;

    line-height: 15px !important;
    margin-bottom: 5px !important;
  }

  .grid-item-content h6 {
    font-size: 14px !important;
    line-height: 20px !important;
    padding: 3px 10px 15px 15px !important;
  }

  .grid .grid-item {
    width: 100% !important;
    margin: 15px 0px !important;
  }

  .nifty-contributors .p-0,
  .nifty-contributors .pr-0,
  .nifty-contributors .pl-0 {
    padding: 0px 15px !important;
  }

  .nifty-cont-right {
    text-align: left !important;
    padding: 10px 0px 15px !important;
  }

  .nifty-cont-right label {
    font-size: 12px !important;
  }

  .nifty-cont-right input {
    font-size: 11px !important;
    padding: 6px 5px !important;
    width: 100px !important;
  }

  .nifty-cont-right input::-webkit-input-placeholder {
    font-size: 11px !important;
  }

  .nifty-cont-right i {
    right: 25px !important;
    top: -2px !important;
    font-size: 13px !important;
  }

  .start-date-selector {
    margin: 0px 10px 0px 5px !important;
  }

  .nifty-contributors h1 {
    font-size: 16px !important;
    margin-bottom: 5px !important;
  }

  .nifty-contributors h2 {
    font-size: 13px !important;
    margin-bottom: 5px !important;
  }

  .contributors-table table tbody tr td,
  .contributors-table table thead tr th {
    font-size: 11px !important;
    padding: 10px 15px !important;
  }

  .contributors-table {
    padding: 0px !important;
    margin-bottom: 15px !important;
  }

  .analysis-section {
    padding-top: 15px !important;
  }

  .nifty-contributors {
    padding: 5px 0px 10px !important;
  }

  .news-widget marquee {
    width: 85% !important;
  }

  .analysis-menu li a {
    border-bottom: 0px !important;
  }

  .analysis-ul .nav-link.active {
    border-bottom: 0px !important;
  }

  .analysis-ul .nav-link:hover {
    border-bottom: 0px !important;
  }
  /*new nifty stock listing*/
  .form_search input {
    width: 142px !important;
  }
  .padding_remove_r_l {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .nifty_list_section h1 {
    font-size: 14px !important;
  }
  .technical_company h6 {
    font-size: 14px !important;
    text-transform: capitalize !important;
  }
  .right_value {
    font-size: 13px !important;
  }
  .right_value span {
    padding: 4px 4px !important;
    margin-left: 3px !important;
  }
  .padding_right_remove_0 {
    padding-right: 15px !important;
  }
  .technical_company {
    padding: 12px 6px 10px 6px;
  }
  .listing_blocks p {
    font-size: 13px !important;
    text-align: justify !important;
  }
  .listing_blocks {
    padding: 0px 0px !important;
  }
  .indian_stock h2 {
    font-size: 14px !important;
  }
  .indian_stock h3 {
    font-size: 14px !important;
  }
  .indian_stock p {
    font-size: 13px !important;
    text-align: justify !important;
  }
  .top_paddings .p-0 {
    padding: 0px 15px !important;
  }
  .also_check a {
    font-size: 13px !important;
  }
  .all_tagss li a {
    font-size: 13px !important;
  }
  .responsive_form {
    margin-top: 23px !important;
  }
  .all_tagss li {
    padding: 3px 7px !important;
  }
  .also_check h4 {
    font-size: 14px !important;
  }
  .stock_listings {
    overflow-y: auto !important;
    height: 353px !important;
  }
  .responsive_form {
    padding-left: 15px !important;
  }
  /* =================== suraj 29/6/2020 =================== */
  .section_option_chain .container {
    padding: 0px 15px !important;
    width: initial !important;
  }
  .option-heading p {
    text-align: left;
  }
  .option_select select {
    min-width: 120px;
  }
  /* =============== suraj 29/6/2020  ============== */

  .option_select-align {
    text-align: right !important;
  }
  .modal-chart {
    height: 275px;
  }

  .rp_menu_1 ul li {
    margin: 0 6%;
  }
  .desktop_show {
    display: none;
  }
  .modal-future-table .table-bottom {
    padding: 0px;
  }
  .pl0 {
    padding-left: 0px !important;
  }
  .pr0 {
    padding-right: 0px !important;
  }
  .clear_btn button,
  .filter_btns button {
    font-size: 11px;
    padding: 0px 5px;
    line-height: 27px;
    margin-right: 6px;
  }
  .slider_heading {
    font-size: 11px;
  }
  .eod-screener .dataTables_filter {
    text-align: center !important;
    display: block;
  }
  .eod-screener .dataTables_filter label {
    display: initial;
  }
  .eod_content p {
    font-size: 13px;
  }
  .filter-body h5 {
    font-size: 12px;
  }
  .filter_check_innerdiv {
    padding-top: 10px;
  }
  .eod-grid-layout {
    columns: 3;
  }
  .filter-body .custom-control-label {
    font-size: 11px;
    line-height: 15px;
    margin-bottom: 5px;
  }

  .custom-control-label::before {
    top: 0px;
  }
  .custom-control-label::after {
    top: 0px;
  }
  .rp_nifty-table-dropdown .form-group .rp_nifty-chart-icon {
    top: 0px !important;
  }
  .remove_symbols {
    margin-right: 57px;
    margin-top: 33px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .right_refresh_btns {
    padding: 0px 0 0px 0 !important;
  }
  .inner_table_w {
    /* width: 289px; */
  }
  .inner-collapse {
    padding: 15px 3px;
  }
}
@media (min-width: 481px) and (max-width: 575px) {
  .inner_table_w {
    /* width: 289px; */
    /* margin: initial; */
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .terms-responsive {
    padding-left: 15px !important;
  }

  .nifty-terms-tabs .p-0 {
    padding: 0px 15px !important;
  }

  .nifty-terms-tabs h2 {
    font-size: 16px !important;
    padding-top: 5px !important;
  }

  .nifty-terms h1 {
    font-size: 15px !important;
    text-align: center !important;
  }

  .nifty-terms-tabs {
    padding: 11px 0px 35px !important;
  }

  .nifty-terms ul {
    padding: 10px 0px !important;
    border-bottom: 0px !important;
  }

  .nifty-terms-box h5 {
    font-size: 13px !important;
    margin-bottom: 10px !important;
  }

  .nifty-terms ul li a {
    margin: 0px 2px 5px 0px !important;
    padding: 4px 0px !important;
    font-size: 12px !important;
    width: 28px !important;
    height: 28px !important;
  }

  .nifty-terms-numeric {
    width: 36px !important;
  }

  .nifty-terms-box h5::before {
    top: -1px !important;
    left: -20px !important;
  }

  .nifty-terms-box {
    padding: 0px !important;
    margin: 15px 0px !important;
    height: auto !important;
  }

  .nifty-terms-box img {
    max-width: 100% !important;
    height: auto !important;
    border-radius: 1px 1px 0px 0px !important;
  }

  .nifty-term-right {
    width: 100% !important;
    padding: 15px !important;
    float: none !important;
  }

  .nifty-term-right button {
    font-size: 11px !important;
    padding: 4px 7px !important;
  }

  .nifty-terms-box p {
    font-size: 12px !important;
    line-height: 18px !important;
    margin-bottom: 10px !important;
  }

  .nifty-terms-box ul {
    padding: 0px !important;
  }

  .nifty-terms-box ul li {
    margin: 0px !important;
  }

  .terms-sidebar {
    padding-right: 15px !important;
  }

  .terms-sidebar img {
    width: 100% !important;
  }

  .nifty-terms-detail-box h2 {
    margin-bottom: 5px !important;
  }

  .nifty-terms-detail-box p {
    margin-bottom: 5px !important;
  }

  .nifty-terms-detail-box ul {
    padding: 0px !important;
  }

  .term-body-responsive {
    padding-left: 15px !important;
  }

  .nifty-terms-detail-box h2 {
    font-size: 14px !important;
  }

  .nifty-terms-detail-box {
    padding: 0px 0px !important;
  }

  .terms-image-box {
    width: 40% !important;
    padding: 5px 10px 0px 0px !important;
  }

  .nifty-terms-box {
    margin: 0px 0px !important;
  }

  .watchlist-popup h5 {
    font-size: 15px !important;
    padding: 15px 0px !important;
  }

  .watchlist-popup h5 {
    font-weight: 500 !important;
  }

  .nifty-popup-inner-box h6 {
    font-size: 10px !important;
  }

  .nifty-popup-inner-box h6 span {
    font-size: 10px !important;
  }

  .nifty-popup-value {
    font-size: 11px !important;
    padding-top: 5px !important;
  }

  .nifty-popup-value span {
    font-size: 9px !important;
  }

  .nifty-popup-value i {
    font-size: 12px;
  }

  .nifty-popup-inner-box {
    padding: 11px 4px !important;
    width: 110px !important;
  }

  .watchlist-popup {
    width: 370px !important;
    min-height: 115px !important;
    border-radius: 3px 3px 0px 0px !important;
  }

  .nifty-popup {
    width: 370px !important;
  }

  .nifty-popup-bottom h5 {
    font-size: 13px !important;
    padding: 9px 0px 5px !important;
  }

  .nifty-popup-bottom p {
    font-size: 11px !important;
  }

  .nifty-popup-stocks {
    width: 120px !important;
    padding: 15px 5px 0px !important;
  }

  .nifty-popup-stocks i {
    font-size: 13px !important;
  }

  .nifty-popup-stocks h6 {
    font-size: 11px !important;
    line-height: 15px !important;
  }

  .nifty-popup-bottom span {
    width: 240px !important;
    top: 60px !important;
    left: 60px !important;
    height: 3px !important;
  }

  a.nifty-watchlist-popup-btn {
    font-size: 11px !important;
    padding: 8px 12px !important;
    margin: 15px 0px 20px !important;
  }

  .watchlist-popup-close {
    top: 0px !important;
    font-size: 19px !important;
  }

  .nifty-chart-dropdown .form-group {
    padding: 0px 0px 10px !important;
    margin-bottom: 0px !important;
  }

  .nifty-table-dropdown select {
    min-width: 50px !important;
  }

  .nifty-analysis-highlights {
    margin: 5px 0px !important;
    min-height: 70px !important;
  }

  .nifty-highlight-right p {
    font-size: 12px !important;
    line-height: 16px !important;
    padding: 0px !important;
  }

  #financial {
    padding: 20px 0px !important;
  }

  .nifty-highlight-left {
    width: 30% !important;
    min-height: 68px !important;
    padding: 8px 0px !important;
  }

  .nifty-highlight-right h5 {
    font-size: 13px !important;
    margin-bottom: 2px !important;
  }

  .nifty-highlight-right {
    width: 70% !important;
    min-height: 68px !important;
    padding: 10px 10px 0px !important;
  }

  .analysis-profile-right {
    padding: 15px 15px 15px !important;
    background: none !important;
    margin: 15px 0px !important;
  }

  .analysis-profile p {
    width: 100% !important;
    margin-bottom: 5px !important;
  }

  .nifty-unlock-now {
    font-size: 10px !important;
    left: 36% !important;
    top: 30% !important;
  }

  .nifty-unlock-now i {
    font-size: 15px !important;
  }

  .analysis-menu-responsive ul {
    width: 640px !important;
  }

  .nifty-open-interest {
    margin: 0px 0px 15px !important;
    min-height: 55px !important;
    min-width: 100% !important;
  }

  .futures .pr-0 {
    padding-right: 15px !important;
  }

  .futures h6 {
    margin: 20px 0px 10px !important;
  }

  .nifty-open-interest-right h5 {
    font-size: 14px !important;
  }

  .rollover-data h5 {
    font-size: 15px !important;
    margin: 0px 0px 10px !important;
  }

  .rollover-data h5::before {
    width: 20px !important;
    height: 20px !important;
    padding: 4px 0px !important;
    top: -5px !important;
    left: -30px !important;
    font-size: 13px !important;
  }

  .rollover-data {
    background: none !important;
    padding: 20px 20px 15px 40px !important;
    margin: 5px 0px 15px !important;
  }

  .rollover-data p {
    line-height: 20px !important;
    font-size: 13px !important;
    width: 100% !important;
    margin-bottom: 9px !important;
  }

  .max-pain-theory {
    min-height: auto !important;
  }

  .nifty-ratio-analysis .p-0 {
    padding: 0px 15px !important;
  }

  .nifty-ratio-analysis .max-pain-theory {
    margin: 0px 0px 15px !important;
  }

  .price-table table thead tr th {
    padding: 10px 5px !important;
  }

  .points-table table thead tr th:nth-child(6) {
    padding: 10px 5px !important;
  }

  .price-table table tbody tr td {
    padding: 10px 5px !important;
  }

  .past-table table thead tr th {
    padding: 15px 5px !important;
  }

  .past-table table tbody tr td {
    padding: 20px 5px 10px !important;
  }

  .technical-section .pr-0 {
    padding: 0px 15px !important;
  }

  .technical-analysis {
    box-shadow: none !important;
    margin: 15px 0px;
  }

  .gaps-support {
    padding: 0;
    margin: 0px -15px 10px !important;
  }

  .trend-analysis-left-d {
    left: 34px !important;
    bottom: 47px !important;
  }

  .trend-analysis-left {
    left: 34px !important;
    top: 65px !important;
  }

  .trend-analysis {
    padding: 0px 15px 0px 20px;
  }

  .analysis-profile-table {
    padding: 0px 0px 30px !important;
  }

  .profile-section .pr-0 {
    padding: 0px 15px !important;
  }

  .key-data {
    margin-top: 0px !important;
  }

  .day-table {
    padding: 15px 0px !important;
  }

  .profile-section {
    padding: 0px 0px !important;
  }

  .chart-section {
    padding: 15px 0px 0px !important;
  }

  .analysis-active {
    border-bottom: 0px !important;
  }

  .analysis-menu li:hover {
    border-bottom: 0px !important;
  }

  .nifty-reports-row {
    margin: 0px -15px !important;
  }

  .analysis-ul .nav-link:hover {
    border-bottom: 0px !important;
  }

  .analysis-ul .nav-tabs .nav-item .show .nav-link,
  .analysis-ul .nav-link.active {
    border-bottom: 0px !important;
  }

  .nifty-annual-reports {
    padding: 8px !important;
    width: 100% !important;
    margin: 7px 0px !important;
  }

  .nifty-reports {
    font-size: 15px !important;
    margin: 15px 0px 5px !important;
  }

  .nifty-reports-pdf {
    border: none !important;
  }

  .nifty-reports-right h6 {
    font-size: 12px !important;
  }

  .nifty-reports-right p {
    font-size: 11px !important;
  }

  .nifty-readmore-popup {
    width: 85% !important;
    padding: 0px 0px 10px !important;
  }

  .nifty-readmore-popup h5 {
    font-size: 14px !important;
    padding: 10px 10px !important;
    margin-bottom: 10px !important;
  }

  .nifty-readmore-popup .close {
    top: 5px !important;
    right: 10px !important;
    font-size: 20px !important;
  }

  .nifty-readmore-content p {
    font-size: 12px !important;
    line-height: 18px !important;
    padding: 0px 10px !important;
    margin: 0px 0px 5px !important;
  }

  .open-int-box ul {
    margin-bottom: 15px !important;
  }

  .nifty-news-menu li:nth-child(1),
  .nifty-news-menu li:nth-child(3),
  .nifty-news-menu li:nth-child(4),
  .nifty-news-grid .grid-item-content p {
    display: none !important;
  }

  .nifty-news-grid {
    margin: 0px 0px !important;
  }

  .nifty-news-section .p-0 {
    padding: 0px 15px !important;
  }

  .nifty-news-grid .grid-item-content {
    margin: 0px !important;
  }

  .nifty-news-ul li {
    padding: 0px 15px 0px 0px !important;
  }

  .nifty-news-ul li a {
    font-size: 13px !important;
  }

  .nifty-news-ul {
    margin: 15px -15px 10px !important;
  }

  .nifty-news-menu {
    text-align: left !important;
    margin: 10px 0px 20px;
  }

  .nifty-news-menu li {
    font-size: 12px !important;
    margin: 0px 0px 0px 0px !important;
  }

  .dropdown-menu li:nth-child(1),
  .dropdown-menu li:nth-child(3),
  .dropdown-menu li:nth-child(4) {
    display: block !important;
  }

  .nifty-news-section {
    padding: 0px 0px 20px !important;
  }

  .grid-item-content h5 {
    font-size: 12px !important;
    line-height: 15px !important;
    margin-bottom: 5px !important;
  }

  .grid-item-content h6 {
    font-size: 14px !important;
    line-height: 15px !important;
    padding: 3px 10px 15px 15px !important;
  }

  .premium {
    top: -11px !important;
    right: -34px !important;
    background-size: 65% !important;
  }

  .analysis-heading h6 {
    font-size: 13px !important;
  }

  #text-type {
    font-size: 12px !important;
  }

  .watchlist-dropdown .dropdown-toggle::after {
    right: 1px !important;
  }

  .watchlist-dropdown .btn {
    min-width: 105px !important;
    padding: 1.5px 5px !important;
  }

  .edit-icon {
    margin-top: 3px !important;
  }

  .grid .grid-item {
    width: 100% !important;
    margin: 7px 0px !important;
  }

  .nifty-contributors .p-0,
  .nifty-contributors .pr-0,
  .nifty-contributors .pl-0 {
    padding: 0px 15px !important;
  }

  .nifty-cont-right {
    text-align: left !important;
    padding: 10px 0px 10px !important;
  }

  .nifty-cont-right label {
    font-size: 11px !important;
  }

  .nifty-cont-right input {
    font-size: 11px !important;
    padding: 4px 4px !important;
    width: 84px !important;
  }

  .nifty-cont-right i {
    right: 15px !important;
    top: -1px !important;
    font-size: 12px !important;
  }

  .nifty-cont-right input::-webkit-input-placeholder {
    font-size: 11px !important;
  }

  .start-date-selector {
    margin: 0px 2px !important;
  }

  .nifty-contributors h1 {
    font-size: 15px !important;
    margin-bottom: 5px !important;
  }

  .nifty-contributors h2 {
    font-size: 12px !important;
    margin-bottom: 5px !important;
  }

  .contributors-table table tbody tr td,
  .contributors-table table thead tr th {
    font-size: 11px !important;
    padding: 10px 5px !important;
  }

  .contributors-table {
    padding: 0px !important;
    margin-bottom: 15px !important;
  }

  .analysis-section {
    padding-top: 15px !important;
  }

  .nifty-contributors {
    padding: 10px 0px !important;
  }

  .contributors-table h5 {
    font-size: 12px !important;
    margin: 0px 0px 10px !important;
  }

  .contributors-table h5 span {
    font-size: 11px !important;
    padding: 4px 10px !important;
    margin-top: 2px !important;
  }

  .contributors-table h5 img {
    margin: 0px !important;
  }

  .contributors-table table tbody tr td:nth-child(1) {
    width: 25% !important;
  }

  .contributors-table table thead tr th:nth-child(1) {
    width: 25% !important;
  }

  .news-widget marquee {
    width: 76% !important;
  }
  /*new nifty stock listing*/
  .form_search input {
    width: 121px !important;
  }
  .padding_remove_r_l {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .nifty_list_section h1 {
    font-size: 14px !important;
  }
  .technical_company h6 {
    font-size: 14px !important;
    text-transform: capitalize !important;
  }
  .right_value {
    font-size: 13px !important;
  }
  .right_value span {
    padding: 4px 4px !important;
    margin-left: 3px !important;
  }
  .padding_right_remove_0 {
    padding-right: 15px !important;
  }
  .technical_company {
    padding: 12px 6px 10px 6px;
  }
  .listing_blocks p {
    font-size: 13px !important;
    text-align: justify !important;
  }
  .listing_blocks {
    padding: 0px 0px !important;
  }
  .indian_stock h2 {
    font-size: 14px !important;
  }
  .indian_stock h3 {
    font-size: 14px !important;
  }
  .indian_stock p {
    font-size: 13px !important;
    text-align: justify !important;
  }
  .top_paddings .p-0 {
    padding: 0px 15px !important;
  }
  .also_check a {
    font-size: 13px !important;
  }
  .also_check h4 {
    font-size: 14px !important;
  }
  .stock_listings {
    overflow-y: auto !important;
    height: 460px !important;
  }
  .container_remove_pading {
    padding: 0px 15px !important;
  }
  .all_inner_tags {
    overflow-x: auto;
    /* width: 100%; */
    margin-bottom: 21px !important;
    white-space: nowrap;
  }
  .all_inner_tags ul {
    display: flex;
  }
  .all_tagss li {
    margin-right: 9px !important;
  }
  .all_inner_tags::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  .all_inner_tags::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  .a_zselect .watchlist-dropdown .btn {
    min-width: 114px !important;
    padding: 1.5px 10px !important;
  }
  .all_inner_tags::-webkit-scrollbar-thumb {
    background-color: #1f86ec;
    outline: 1px solid slategrey;
  }
  .responsive_form {
    padding-left: 15px !important;
  }
  .max_plain_content p {
    text-align: justify;
    font-size: 13px;
  }
  .max_plain_content h5 {
    font-size: 14px;
  }
  .nifty_max_chart .main-page-heading {
    font-size: 14px;
    text-transform: capitalize !important;
  }

  /* ================ suraj 27/6/2020 =============== */
  .option-heading p {
    text-align: left !important;
  }
  .section_option_chain .container {
    padding: 0px 15px !important;
    width: initial !important;
  }
  .option_select select {
    width: 100%;
    min-width: auto;
  }
  .future-contract-btn {
    font-size: 11px !important;
  }
  .option_select .dropDownMen {
    width: 100% !important;
  }
  .option_select .typeahead {
    width: 100% !important;
  }
  /* .option_select{
        display: flex;
    } */
  /* .option_select-align{
        text-align: left !important;
        display: flex;
        align-items: center;
    } */
  .option-heading h1 {
    font-size: 19px;
  }
  .modal-chart {
    height: 275px;
  }

  .desktop_show {
    display: none;
  }
  .section_option_chain {
    padding: 25px 0px;
  }
  .nifty-chart-icon-2 {
    height: 30px;
  }
  .modal_heading {
    width: 100%;
    float: none !important;
  }
  .modal_sp_price {
    width: 100%;
    float: none;
  }
  .modal_sp_price p {
    padding-right: 0px;
    text-align: left;
  }
  .modal-future-table .table-bottom {
    padding: 0px;
  }
  .pl0 {
    padding-left: 0px !important;
  }
  .pr0 {
    padding-right: 0px !important;
  }
  /* suraj 11-7-2020 */
  .clear_btn button,
  .filter_btns button {
    font-size: 11px;
    padding: 0px 5px;
    line-height: 27px;
    margin-right: 6px;
  }
  .slider_heading {
    font-size: 11px;
  }
  .eod-screener .dataTables_filter {
    text-align: center !important;
    display: block;
  }
  .eod-screener .dataTables_filter label {
    display: initial;
  }
  .eod_content p {
    font-size: 13px;
  }
  .filter-body h5 {
    font-size: 12px;
  }
  .filter_check_innerdiv {
    padding-top: 10px;
  }
  .eod-grid-layout {
    columns: 3;
  }
  .filter-body .custom-control-label {
    font-size: 11px;
    line-height: 15px;
    margin-bottom: 5px;
  }

  .custom-control-label::before {
    top: 0px;
  }
  .custom-control-label::after {
    top: 0px;
  }
  .rp_nifty-table-dropdown select {
    width: 110px !important;
  }
  .rp_nifty-table-dropdown .form-group .rp_nifty-chart-icon {
    top: 0px !important;
  }
  .option_form .multiselect {
    min-width: 100px;
  }
  .remove_symbols {
    margin-right: 33px;
    margin-top: 33px;
  }
  .filter-header .custom-control-label {
    line-height: 20px;
    font-size: 12px;
  }
  .filter-header .custom-radio {
    margin-right: 2px;
  }
  .filter_btns {
    padding-left: 0px;
  }
  .filter_btns button {
    margin-right: 0px !important;
    margin-left: 11px !important;
  }
  .stock_filter i {
    margin-right: 4px;
  }
  .filtering ul li {
    font-size: 10px;
    margin-right: 5px;
    margin-bottom: 5px !important;
    line-height: 20px;
  }
  .filtering ul li span {
    font-size: 9px;
  }
  .dataTables_filter input {
    max-width: 105px !important;
  }
  .inner_table_w {
    /* width: 230px;
        margin: initial; */
  }
  .inner-collapse {
    padding: 15px 3px;
  }
}

#eoddata_paginate .pagination {
  float: right !important;
}

/*#ui-id-1 {
    max-width: 426px !important;
    left:30px !important;
}*/

@media (min-width: 300px) and (max-width: 993px) {
  .feedback-form .form-control {
    margin-bottom: 10px;
  }
  .feedback-form .custom-control-label {
    line-height: 17px;
    margin-bottom: 0px;
  }
  .searchbar input {
    padding-right: 41px;
  }
  .feedback-modal {
    z-index: 9999999 !important;
  }
  #ui-id-1 {
    max-width: 240px !important;
    /* top: -13px !important; */
    margin-top: 0px;
    padding-top: 12px;
    left: 30px !important;
    margin-left: 0px !important;
  }
  .date-inr-row .select-dropdown label {
    display: inline-block !important;
  }
  .date-inr-row .select-dropdown select {
    float: none !important;
  }
  .forexrate {
    padding: 15px 25px;
  }
  #myProfileAccount .form-group {
    margin-bottom: 10px;
  }
  .show-btns {
    float: right;
  }
  .msg-trans .fa-times-circle:before {
    margin-right: 7px;
  }
  .msg-trans .fa-check-circle:before {
    margin-right: 7px;
  }
  .fiidii .nifty-table-dropdown .form-group a {
    top: auto !important;
  }

  .bar_slide li span {
    font-size: 10px !important;
  }

  .myaccountTab .form-control {
    height: 35px !important;
  }

  .feedback-form .form-control {
    height: 35px !important;
  }
  .nifty-terms-box {
    margin: 15px 0px !important;
  }
  .candle-box {
    margin: 0px auto;
  }
  .remove_padding_broker .search-row-broker .dropdown-toggle {
    width: 100% !important;
  }
  .nifty-broker-tabing-panel li {
    padding: 0px 13px;
    width: auto;
  }
  .nifty-broker-tabing-ul {
    width: max-content;
    overflow: scroll;
  }
  .nifty-broker-tabing-panel {
    width: auto !important;
    overflow: scroll;
  }
  .nifty-broker-tab-content {
    padding-top: 0px;
  }
  .stock-analysis-tabing-panel-responsive {
    overflow: scroll;
  }
  .stock-analysis-tabing-ul {
    width: max-content;
  }
}
