/* Options Screener Page CSS 04-07-2020 */
.calls-bg-red {
  background-color: #ffeee5 !important;
}

.options-filter .multiselect {
  border: 1px solid #dee2e6 !important;
  font-size: 13px !important;
  text-align: left !important;
  padding-left: 5px !important;
  padding-right: 10px !important;
}
.options-filter .btn-group,
.options-filter .multiselect {
  width: 69% !important;
  margin-bottom: 0px !important;
}
.options-filter .dropdown-menu {
  min-width: 100% !important;
  top: 0 !important;
}
.options-filter .multiselect-container > li > a > label {
  padding: 3px 10px !important;
  font-size: 12px !important;
}
.options-filter label {
  font-size: 12px;
  color: #666666;
  font-weight: 400;
  width: 29%;
  vertical-align: middle !important;
  margin-bottom: 0px !important;
}
.options-filter .checkbox {
  width: 100%;
}
.weighted-oi label {
  font-size: 12px;
  color: #666666;
  font-weight: 400;
  width: 100%;
  padding: 3px 10px 3px 10px !important;
}
.options-filter .dropdown-toggle::after {
  float: right !important;
  margin-top: 5% !important;
}
.multiselect-container a:focus {
  outline: 0 !important;
}
.tooltip-top:focus {
  outline: 0 !important;
}
/* table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before {
  right: 4px !important;
  top: 14px !important;
}
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after {
  right: -1px !important;
  top: 14px !important;
} */
/* table thead tr th,
table tbody tr td {
  white-space: nowrap !important;
} */
.strategy-box .table-responsive {
  display: inline-table !important;
}
.multiselect-selected-text {
  background-color: #00d78a !important;
  color: #fff;
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 3px;
}
.options-filter .dropdown-menu {
  overflow-y: auto !important;
  max-height: 200px !important;
}
.options-filter .dropdown-menu::-webkit-scrollbar {
  width: 2px;
  height: 0px;
}

.options-filter .dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #0e346d;
  outline: 1px solid slategrey;
  height: 0px;
}
.call-bg {
  background-color: #dcefe0 !important;
  padding: 5px;
}
.put-bg {
  padding: 5px;
  background-color: #fedada !important;
}
.calls-bg {
  background-color: #dcefe0 !important;
}
.puts-bg {
  background-color: #fedada !important;
}
.options-filter button {
  outline: none !important;
  border: 1px solid transparent;
  transition: all ease-out 0.5s;
  display: inline-block;
  font-size: 11px;
  border: 0px;
  border-radius: 3px;
  padding: 7px 20px;
  cursor: pointer;
  margin: 0px;
  text-transform: uppercase;
  border: 1px solid transparent;
}
.weighted-oi {
  text-align: right;
}
.weighted-oi .btn-group {
  background-color: transparent;
  border: 1px solid #dee2e6 !important;
  border-radius: 3px !important;
  font-size: 13px !important;
}
.weighted-oi .btn-group button {
  text-align: left;
}
.weighted-oi .dropdown-toggle::after {
  float: right;
  margin-top: 8%;
}
.weighted-oi .multiselect-selected-text {
  background-color: transparent !important;
  color: #666666;
  padding: 3px 5px;
  font-size: 11px;
  border-radius: 3px;
}

.weighted-oi input {
  height: 10px !important;
  padding: 0px !important;
}
.weighted-oi button {
  font-size: 13px !important;
  text-align: left !important;
  padding-left: 5px;
}
.weighted-oi-label {
  width: 30% !important;
  margin-right: 5px !important;
  font-size: 12px;
  color: #495057;
}
.weighted-oi .multiselect-container {
  min-width: 100% !important;
  top: 0 !important;
}
.weighted-oi .btn-group {
  width: 66% !important;
}
.screener-button button {
  text-transform: capitalize !important;
  font-size: 13px !important;
}
.selected-screener {
  color: #74788d;
  font-size: 12px;
  margin-right: 10px;
  margin-top: 3px;
  border-radius: 2px;
  background-color: #f7f9fc;
  border: 1px solid rgb(226, 229, 237);
  padding: 5px !important;
  cursor: pointer;
  width: auto;
  display: inline-block;
}
.selected-screener span {
  color: #74788d;
  font-size: 12px;
  cursor: pointer;
  margin-left: 15px !important;
  float: right !important;
}
.all-filter-btn {
  background: #fff;
  border: 1px solid rgb(33, 150, 243);
  color: rgb(33, 150, 243);
  transition: all ease-out 0.5s;
  font-size: 13px !important;
  border-radius: 3px;
  padding: 4px 15px;
}
.all-filter-btn:focus {
  outline: 0 !important;
}
/* Responsive table css */
.options-screener-responsive {
  margin-top: 15px;
}
.options-screener-responsive .rp_menu_1 ul li {
  margin: 0 !important;
  width: 100% !important;
  text-align: center !important;
}
.options-screener-responsive .rp_right_ltp span,
.options-screener-responsive .rp_netchhg span {
  font-weight: 500;
  background-color: #e51a1e;
  border-radius: 3px;
  padding: 1px 2px;
  color: #fff;
}
.options-screener-responsive .rp_red {
  background-color: #e51a1e !important;
}
.options-screener-responsive .rp_call {
  background-color: #fbf5cd;
}
.options-screener-responsive .rp_main_colume {
  display: block;
  padding: 5px;
}
.options-screener-responsive .rp_left_ltp {
  font-size: 12px;
  overflow: hidden;
}
.options-screener-responsive .rp_netchhg {
  font-size: 12px !important;
  font-weight: 500 !important;
}
.options-screener-responsive .rp_inner_box {
  padding: 0px 5px !important;
}
.options-screener-responsive .rp_green {
  background-color: #00b865 !important;
}
.options-screener-responsive .option_value {
  font-size: 12px;
  font-weight: 400;
  color: #343434;
  font-family: "Roboto";
  float: left;
  width: 48%;
  margin: 0 1%;
  text-align: right;
}
.options-screener-responsive .inner-st-block {
  display: block;
  position: relative;
}
.options-screener-responsive .rp_content_box {
  display: block;
  background-color: #fff;
  height: 594px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.options-screener-responsive .rp_menu_1 {
  display: block;
  border-bottom: #dee2e6 solid 1px;
}
.options-screener-responsive .rp_table_1 {
  display: block;
  border: #dee2e6 solid 1px;
  background-color: #f1f5fa;
}
.options-screener-responsive .rp_menu_1 ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0 auto;
}
.options-screener-responsive .option_heading {
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 500;
  color: #333;
  float: left;
  width: 48%;
  margin: 0 1%;
}
.options-screener-responsive .st_block {
  font-size: 11px;
  display: block;
  width: 94px !important;
  white-space: nowrap !important;
  background: #f1f5fa;
  transform: rotate(90deg);
  height: 42px;
  position: absolute;
  top: 30px !important;
  left: -20px !important;
  margin-top: 0px !important;
  text-align: center;
  margin-left: 0px !important;
  padding: 6px;
  color: #343434;
  font-weight: 500;
}
.options-screener-responsive .rp_inner_box .col-1 {
  padding: 0px !important;
}

/* End Responsive table css */
/* Options Screener Page Responsive CSS */
.option-screener-section .right_refresh_btns {
  margin-top: 10px !important;
}
.options-filter .multiselect-search {
  height: 30px !important;
  padding-left: 10px !important;
  border-radius: 3px !important;
  width: 94% !important;
  border: #dee2e6 solid 1px !important;
  flex: inherit !important;
}
.removeAllSymbols {
  position: absolute !important;
  padding: 0px !important;
  right: 40px !important;
  top: 8px !important;
  font-size: 10px !important;
  background-color: transparent !important;
  color: #495057 !important;
  z-index: 999;
}
.option-filters-radio {
  margin-bottom: 15px !important;
}
.option-filters-radio label {
  font-weight: 500 !important;
  font-size: 13px !important;
  color: #212529 !important;
}
.stock-reset-btn {
  background-color: #fff !important;
  border-color: #2196f3 !important;
  color: #2196f3 !important;
}
.options-all-filters:hover {
  transition: 0.1s ease-in-out all !important;
}
.clearAllFilters {
  background-color: #fff !important;
  color: #2196f3 !important;
}
.filter-apply img {
  width: 16px;
  margin-right: 3px;
  vertical-align: text-top;
}
.filter_btns .filter_img {
  vertical-align: inherit;
}
.apply-svg-hover {
  display: none;
}
.filter-apply:hover .apply-svg-hover {
  display: inline-block;
}
.filter-apply:hover .apply-svg {
  display: none;
}
.options-modal .modal-content {
  min-height: 290px !important;
}
.selected-options-row {
  padding: 0px !important;
}
@media (min-width: 320px) and (max-width: 480px) {
  .clear_btn button,
  .filter_btns button {
    padding: 0px 4px !important;
    margin-right: 6px;
    margin-left: 6px;
  }
  .removeAllSymbols {
    right: 25px !important;
    top: 27px !important;
    padding: 0px !important;
  }
  .option-screener-section .right_refresh_btns {
    margin-top: 00px !important;
  }
  .right_refresh_btns {
    text-align: right !important;
  }
  .options-filter .dropdown-toggle::after {
    margin-top: 5% !important;
  }
  .option-heading h1 {
    font-size: 19px;
    margin-top: 15px;
    padding-bottom: 5px;
  }
  table.dataTable thead .sorting_desc:before,
  table.dataTable thead .sorting:before,
  table.dataTable thead .sorting_asc:before {
    right: -2px !important;
    /* top: 14px !important; */
  }
  table.dataTable thead .sorting_desc:after,
  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting_asc:after {
    right: -7px !important;
    /* top: 14px !important; */
  }
  .option-screener-section {
    margin-bottom: 20px !important;
  }
  .strategy-box .table-responsive {
    overflow-x: auto !important;
    display: block !important;
  }
  .multiselect-selected-text {
    font-size: 10px;
  }
  .options-screener-desktop {
    display: none !important;
  }
  .options-filter label {
    font-size: 11px;
    width: 100%;
  }
  .options-filter .btn-group,
  .options-filter .multiselect {
    width: 100% !important;
    margin-bottom: 0px !important;
  }
  .options-filter .mb-3 {
    margin-bottom: 10px !important;
  }
  .options-filter button {
    padding: 5px 14px !important;
  }
  .weighted-oi .btn-group {
    width: 130px !important;
  }
  .weighted-oi-label {
    font-size: 11px;
    padding: 0px !important;
    width: 45px !important;
  }
  .weighted-oi .dropdown-toggle::after {
    margin-top: 7%;
  }
  .options-screener-responsive .st_block {
    font-size: 11px;
    display: block;
    width: 94px !important;
    white-space: nowrap !important;
    background: #f1f5fa;
    transform: rotate(90deg);
    height: 42px;
    position: absolute;
    top: 30px !important;
    left: -26px !important;
    text-align: center;
    margin-left: 0px !important;
    padding: 5px;
    color: #343434;
    font-weight: 500;
  }
  .screener-button button {
    font-size: 11px !important;
  }
  .all-filter-btn {
    font-size: 11px !important;
    padding: 3px 8px !important;
  }

  .selected-screener {
    font-size: 11px !important;
    margin: 0px 5px 5px 0px !important;
  }
  .options-filter button {
    padding: 5px 15px;
  }
  #selected-screener {
    margin-top: 0px !important;
    width: max-content !important;
  }
  .weighted-oi {
    text-align: left;
    margin-top: 10px;
  }
  .selected-options-row {
    margin-left: 15px !important;
    margin-right: -15px !important;
    padding: 0px !important;
  }
  .options-all-filters,
  .save_filters {
    font-size: 10px !important;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .option-screener-section .main-heading {
    margin-top: 0px !important;
  }
  .option-screener-section .right_refresh_btns {
    margin-top: 00px !important;
  }
  .right_refresh_btns {
    text-align: right !important;
  }
  .options-screener-desktop {
    display: none !important;
  }
  .options-filter .dropdown-toggle::after {
    margin-top: 6% !important;
  }
  .option-heading h1 {
    font-size: 19px;
    margin-top: 15px;
    padding-bottom: 5px !important;
  }
  table.dataTable thead .sorting_desc:before,
  table.dataTable thead .sorting:before,
  table.dataTable thead .sorting_asc:before {
    right: -2px !important;
    /* top: 14px !important; */
  }
  table.dataTable thead .sorting_desc:after,
  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting_asc:after {
    right: -7px !important;
    /* top: 14px !important; */
  }
  .option-screener-section {
    margin-bottom: 20px !important;
  }
  .strategy-box .table-responsive {
    overflow-x: auto !important;
    display: block !important;
  }
  .multiselect-selected-text {
    font-size: 10px;
  }
  .weighted-oi .btn-group {
    width: 57% !important;
  }
  .weighted-oi-label {
    width: 25% !important;
  }
  .weighted-oi .dropdown-toggle::after {
    margin-top: 6%;
  }
  .options-filter label {
    font-size: 11px;
    width: 32%;
  }
  .options-filter .btn-group,
  .options-filter .multiselect {
    width: 66% !important;
    margin-bottom: 0px !important;
  }
  .screener-button button {
    font-size: 11px !important;
  }
  .all-filter-btn {
    font-size: 11px !important;
    padding: 4px 10px !important;
  }
  .selected-screener {
    font-size: 11px !important;
    margin: 0px 5px 5px 0px !important;
  }
  .options-filter button {
    padding: 5px 15px;
  }
  #selected-screener {
    margin-top: 0px !important;
    width: max-content !important;
  }
  .selected-options-row {
    margin-left: 15px !important;
    margin-right: -15px !important;
    padding: 0px !important;
  }
}
@media (min-width: 482px) and (max-width: 575px) {
  .weighted-oi .btn-group {
    width: 30% !important;
  }
  .weighted-oi {
    margin-top: 10px;
  }
  .option-screener-section .main-heading {
    margin-top: 1rem !important;
  }
  .selected-options-row {
    margin-left: 15px !important;
    margin-right: -15px !important;
    padding: 0px !important;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .selected-options-row {
    margin-left: 15px !important;
    margin-right: -15px !important;
    padding: 0px !important;
  }
  .options-filter .dropdown-toggle::after {
    margin-top: 4% !important;
  }
  .multiselect-selected-text {
    font-size: 10px;
  }
  .option-heading h1 {
    font-size: 19px;
    margin-top: 15px;
    padding-bottom: 5px !important;
  }
  table.dataTable thead .sorting_desc:before,
  table.dataTable thead .sorting:before,
  table.dataTable thead .sorting_asc:before {
    right: -2px !important;
  }
  table.dataTable thead .sorting_desc:after,
  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting_asc:after {
    right: -6px !important;
  }
  .option-screener-section {
    margin-bottom: 40px !important;
  }
  /* .strategy-box .table-responsive {
    overflow-x: auto !important;
    display: block !important;
  } */
  .weighted-oi .btn-group {
    width: 60% !important;
  }
  #selected-screener {
    width: max-content !important;
  }
  .weighted-oi .dropdown-toggle::after {
    margin-top: 6%;
  }
  .weighted-oi button {
    font-size: 12px !important;
    padding-left: 0px;
    padding-right: 5px;
  }
  .weighted-oi-label {
    width: 28% !important;
  }
  .options-filter label {
    font-size: 11px;
    width: 23%;
  }
  .options-filter .btn-group,
  .options-filter .multiselect {
    width: 75% !important;
  }
  .screener-button button {
    font-size: 12px !important;
  }
  .all-filter-btn {
    font-size: 12px !important;
    margin-bottom: 10px !important;
    padding: 4px 10px !important;
  }
  .selected-screener {
    font-size: 11px !important;
    margin: 0px 5px 5px 0px !important;
  }
  .options-filter button {
    padding: 5px 15px;
  }
}
@media (min-width: 993px) and (max-width: 1024px) {
  .options-filter .dropdown-toggle::after {
    margin-top: 4% !important;
  }
  .option-heading h1 {
    padding-bottom: 5px !important;
  }
  table.dataTable thead .sorting_desc:before,
  table.dataTable thead .sorting:before,
  table.dataTable thead .sorting_asc:before {
    right: 1px !important;
  }
  table.dataTable thead .sorting_desc:after,
  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting_asc:after {
    right: -4px !important;
  }
  .option-screener-section {
    padding-bottom: 30px !important;
  }
  .multiselect-selected-text {
    font-size: 11px;
  }
  .weighted-oi .btn-group {
    width: 55% !important;
  }
  .weighted-oi-label {
    width: 24% !important;
  }
  #selected-screener {
    width: max-content !important;
  }
  .weighted-oi .dropdown-toggle::after {
    margin-top: 7%;
  }
  .options-filter .btn-group,
  .options-filter .multiselect {
    width: 68% !important;
  }
  .options-filter label {
    font-size: 11px;
    width: 30%;
  }
  .all-filter-btn {
    font-size: 12px !important;
  }
  .selected-screener {
    font-size: 11px !important;
    margin: 0px 5px !important;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .options-filter .dropdown-toggle::after {
    margin-top: 4% !important;
  }
  table.dataTable thead .sorting_desc:before,
  table.dataTable thead .sorting:before,
  table.dataTable thead .sorting_asc:before {
    right: 1px !important;
  }
  table.dataTable thead .sorting_desc:after,
  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting_asc:after {
    right: -4px !important;
  }
  .multiselect-selected-text {
    font-size: 11px;
  }
  .weighted-oi .btn-group {
    width: 55% !important;
  }
  .weighted-oi-label {
    width: 24% !important;
  }
  #selected-screener {
    width: max-content !important;
  }
  .weighted-oi .dropdown-toggle::after {
    margin-top: 7%;
  }
  .options-filter .btn-group,
  .options-filter .multiselect {
    width: 71% !important;
  }
  .options-filter label {
    font-size: 11px;
    width: 26%;
  }
  .all-filter-btn {
    font-size: 12px !important;
  }
  .selected-screener {
    font-size: 11px !important;
    margin: 0px 5px !important;
  }

  element.style {
    display: block;
  }
}
