@media (min-width: 320px) and (max-width: 480px) {
  .gif-charts {
    display: none;
  }

  .padding-left-7 {
    padding-left: 7px !important;
    padding-right: 0 !important;
  }

  .padding-right-0 {
    padding-left: 7px !important;
    padding-right: 0 !important;
  }

  .padding-right-7 {
    padding-right: 7px !important;
    padding-left: 0 !important;
  }

  .padding-left-7 {
    padding-right: 7px !important;
    padding-left: 0 !important;
  }

  .margin-right0 {
    margin-right: -15px;
  }

  .padding0 {
    padding: 0 15px !important;
  }

  .pading-right0 {
    padding-right: 15px !important;
  }

  .section-menu {
    margin-bottom: 0;
  }

  .open-account-box img {
    float: left;
  }

  .open-account-box {
    margin: 3.5px 0;
    padding: 10px 0 10px 5px;
  }

  .open-account-box span {
    font-size: 11px;
    vertical-align: middle;
    font-weight: 500;
    display: block;
    line-height: 15px;
    float: left;
    width: 80%;
  }

  .section1 .company-profile {
    margin-top: 15px;
  }

  .section-menu .nav-navbar {
    width: 62%;
    position: fixed;
    z-index: 999;
    display: block;
    background-color: #000 !important;
    top: 46px;
    padding: 10px 0;
    left: -100%;
    transition: 0.5s;
    height: 100%;
    overflow-y: scroll;
  }

  .showmenu {
    left: 0 !important;
    transition: 0.5s;
  }

  .section-menu .menu-link {
    display: block;
    font-size: 14px;
    padding: 0 23px;
    line-height: 47px;
    transition: all ease-out 0.5s;
    text-align: left;
    font-size: 12px;
    line-height: 30px;
    color: #fff;
  }

  .menu-item:hover .menu-dropdown {
    transform: translateY(0);
    transition: all ease-out 0.3s;
    visibility: visible;
  }

  .menu-dropdown {
    width: 50% !important;
    background-color: #000 !important;
    padding: 0 20px;
    top: 0 !important;
    transform: translateY(0);
    border-color: transparent;
    padding: 0 20px !important;
    position: static !important;
    width: auto !important;
  }

  .menu-dropdown span {
    color: #fff;
    font-size: 11px;
  }

  .menu-drowdown-link {
    color: #fff;
    font-size: 11px !important;
  }

  .section-menu .active {
    background-color: transparent;
    color: #2196f3;
    border-bottom: transparent solid 3px;
  }

  .section-menu .menu-link:hover {
    background-color: transparent;
    border-bottom: transparent solid 3px;
    transition: all ease-out 0.5s;
    color: #2196f3 !important;
  }

  .section-menu .login {
    width: 78px !important;
    display: inline-block;
    font-size: 11px;
    width: auto;
    position: relative;
    margin-top: 12px;
    padding: 6px 18px 6px 28px;
  }

  .section-menu .login img {
    height: 12px;
    position: absolute;
    left: 13px;
    top: 6px;
  }

  .mobile-icon {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 4.5%;
    z-index: 33333;
  }

  .mobile-icon i {
    font-size: 25px;
  }

  .display {
    display: block;
    position: relative;
  }

  .text-align {
    text-align: center;
  }

  .searchbar-responsive {
    display: none;
  }

  .searchbar-desktop {
    display: block;
  }

  .section1 .yesbank-menu {
    min-width: auto;
    border-bottom: #bebebe solid 1px;
    display: flex;
    overflow-x: scroll !important;
  }

  .buy-btn {
    font-size: 11px;
    padding: 6px 5px;
    margin: 4px 0;
  }

  .add-btn {
    padding: 0 7.5px;
  }

  .add-btn i {
    font-size: 11px;
    line-height: 24px;
  }

  .yesbank-menu::-webkit-scrollbar {
    width: 5px;
    height: 2px;
  }

  .yesbank-menu::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  .yesbank-menu::-webkit-scrollbar-thumb {
    background-color: #1f86ec;
    outline: 1px solid #708090;
  }

  .section1 .yesbank-menu .fa-caret-up {
    font-size: 15px;
  }

  .section1 .yesbank-menu li:first-child {
    min-width: 170px;
  }

  .yesbank-menu .yesbank-item h5 {
    font-size: 12px;
  }

  .yesbank-menu .yesbank-item h5 span {
    font-size: 11px;
  }

  .yesbank-menu .yesbank-item .color-text {
    font-size: 11px;
  }

  .section1 .yesbank-menu .yesbank-item {
    min-width: 100px;
    padding: 15px 0 15px 15px;
    height: auto;
  }

  .section1 ul li h6 {
    font-size: 12px;
    padding: 0 0 10px 0;
  }

  .section1 ul li p {
    font-size: 11px;
  }

  .graph-div {
    width: auto;
    padding: 0 10px;
  }

  .range-box {
    padding: 0 20px;
  }

  .pad_bottom {
    padding-bottom: 12px;
  }

  .highlow-div {
    width: auto;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .range-small-box {
    max-width: auto;
  }

  .range-text li {
    width: 47.7%;
  }

  .range-box h5 {
    font-size: 12px;
  }

  .zerodha {
    margin: 0 10px 0 0;
    width: auto;
  }

  .keydata-box {
    padding: 4px 4px;
    list-style: none;
    border-top: #e5e5e5 solid 1px;
    border-bottom: #e5e5e5 solid 1px;
    margin-bottom: 16px;
    height: auto;
    display: flex;
    overflow-x: scroll;
  }

  .keydata-box::-webkit-scrollbar {
    width: 5px;
    height: 2px;
  }

  .keydata-box::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  .keydata-box::-webkit-scrollbar-thumb {
    background-color: #1f86ec;
    outline: 1px solid #708090;
  }

  .keydata-box li:first-child {
    min-width: 68px;
  }

  .keydata-box .keydata-item {
    padding: 0 0 0 15px;
    margin: 5px 0;
    min-width: 140px;
  }

  .keydata-box h6 {
    font-size: 11px !important;
    color: #333;
    text-transform: capitalize !important;
  }

  .keydata-box h4 {
    font-family: Roboto, sans-serif;
    font-weight: 400 !important;
    font-size: 11px !important;
  }

  .keydata-box h5 {
    font-size: 12px;
    padding: 16.5px 11px 16.5px 0;
    text-transform: capitalize;
  }

  .section1 .pricetable-box {
    width: auto;
    padding: 24px 20px 20px;
    margin-right: 0;
  }

  .section1 .pricetable-box h6 {
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 12px;
  }

  .section1 .pricetable-box table thead th {
    font-size: 11px;
    min-width: 125px;
    padding: 15px 5px !important;
  }

  .section1 .pricetable-box table tbody td {
    padding: 13.5px 10px !important;
    font-size: 11px;
    padding: 10px 5px !important;
  }

  .th_width {
    width: auto;
  }

  .section1 .future-box {
    width: auto;
    background: #fff;
    border: #e7e7e7 solid 1px;
    padding: 34px 20px 19px;
    margin: 14px 0;
  }

  .section1 .future-box h6 {
    font-size: 13px;
  }

  .section1 .future-box table thead th {
    padding: 13.5px 10px !important;
    font-size: 11px;
    min-width: 92px;
  }

  .section1 .future-box table tbody td {
    font-size: 11px;
  }

  .section1 .tabing-box .nav-pills {
    max-width: none;
    display: block;
    width: 200%;
  }

  .section1 .tabing-box .nav-pills h6 {
    font-size: 13px;
    padding: 20px 10px 10px 20px;
    display: block;
  }

  .section1 .tabing-box .nav-item {
    padding: 0 0 0 10px;
    border-right: 0;
    display: inline-block;
  }

  .section1 .tabing-box .nav-item .nav-link {
    padding: 7px 15px;
    font-size: 12px;
  }

  .section1 .tabing-box .tab-pane {
    min-width: 0;
    padding: 15px 15px 5px 15px;
    margin-right: 0;
  }

  .section1 .tabing-box .tab-content .tab-menu {
    list-style: none;
    padding: 10px 0;
  }

  .section1 .tabing-box .tab-content h5 {
    font-size: 13px;
    padding-bottom: 10px;
  }

  .break-down {
    font-size: 13px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    padding: 7.5px 15px;
    margin-top: 0;
  }

  .section1 .tabing-box .tab-content h4 {
    font-size: 13px;
    margin: 15px 0 10px;
  }

  .section1 .tabing-box .tab-content .tab-link {
    font-size: 11px;
  }

  .section1 .tabing-box .tab-content h6 {
    font-size: 13px;
    padding: 15px 0 10px 0;
  }

  .japanese-menu {
    padding-bottom: 5px;
  }

  .japanese-menu .japanese-item {
    font-size: 12px;
  }

  .price-action {
    padding: 0 0 10px;
    border-left: #eee solid 0;
  }

  .tab-pane table td {
    padding: 12px 10px;
    font-size: 11px;
  }

  .mobile-scroll {
    overflow-x: scroll;
  }

  .mobile-scroll::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .mobile-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    height: 2px;
  }

  .mobile-scroll::-webkit-scrollbar-thumb {
    background-color: #1f86ec;
    outline: 1px solid #708090;
    height: 2px;
  }

  .box {
    right: -3.4%;
    top: 85%;
  }

  .hover-box {
    right: 19.5%;
    top: 6%;
  }

  .tab-pane table thead th {
    font-size: 12px;
    color: #666;
    min-width: 85px;
  }

  .section1 .company-profile {
    max-width: none;
    background: #fff;
    border: #e7e7e7 solid 1px;
    padding: 25px 20px 20px;
    margin-right: 0;
  }

  .section1 .company-profile h6 {
    font-size: 13px;
    padding-bottom: 12px;
  }

  .section1 .company-profile h4 {
    font-size: 12px;
    padding: 10px 0;
  }

  .section1 .company-profile p {
    font-size: 12px;
  }

  .read-more {
    font-size: 12px;
    padding-top: 10px;
  }

  .section1 .Performance-box {
    min-width: 0;
    background-color: #fff;
    border: #e7e7e7 solid 1px;
    padding: 21px 11px 15px;
    margin: 15px 0;
  }

  .section1 .Performance-box h6 {
    font-size: 13px;
    padding-bottom: 10px;
  }

  .section1 .Performance-box table tbody td {
    padding: 12px 10px !important;
    font-size: 11px;
    position: relative;
  }

  .bar {
    margin-top: 4px;
  }

  .section1 .dayhighlow-box {
    min-width: 0;
    padding: 22px 10px 10px 13px;
    margin: 15px 0;
  }

  .section1 .dayhighlow-box h6 {
    font-size: 13px;
    text-transform: uppercase;
    padding-bottom: 10px;
  }

  .section1 .dayhighlow-box table thead th {
    padding: 19px 9px 11px !important;
    font-size: 11px;
  }

  .section1 .dayhighlow-box table tbody td {
    padding: 11px 10px 13px !important;
    font-size: 11px;
  }

  .section1 .ad-box {
    min-width: 0;
    margin: auto;
    margin-bottom: 12px;
  }

  .section1 .future-table {
    min-width: 0;
    padding: 22px 10px 0;
  }

  .section1 .future-table h6 {
    font-size: 13px;
    padding-bottom: 11px;
  }

  .section1 .future-table table thead th {
    padding: 13.5px 10px !important;
    font-size: 11px;
  }

  .section1 .future-table table tbody td {
    padding: 13.5px 10px !important;
    font-size: 11px;
  }

  .footer-logo {
    width: 200px;
    display: block;
    margin: auto;
    margin-top: 40px;
  }

  .footer h5 {
    padding: 25px 0;
    text-align: center;
  }

  .footer input {
    width: 68%;
  }

  .footer button {
    width: 32%;
    font-size: 14px;
    padding: 17px 7px;
  }

  .footer .form-group {
    padding: 0 15px;
  }

  .horizontal-border {
    border-color: transparent;
  }

  .copyright {
    padding: 15px 0;
  }

  .copyright p {
    font-size: 13px;
  }

  .section-stocks {
    padding: 47px 0 5px !important;
  }
  .section-stock-page {
    padding: 0px !important;
  }
  .section-stocks h3 {
    font-size: 15px;
    padding-right: 0;
  }

  .searching-item {
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }

  .searching-item .form-group {
    text-align: left;
  }

  .searching-box input {
    width: 70%;
    margin: 0;
  }

  .borderTable a {
    font-weight: 500;
    font-size: 13px;
    color: #333;
  }

  .searching-box {
    padding-bottom: 7px;
  }

  .seprator-border {
    margin-bottom: 20px;
  }

  .section-watchlist {
    padding: 20px 0 20px;
  }

  .watchlist-heading-box h3 {
    margin-top: 3.5px;
  }

  .watchlist-btn {
    font-size: 12px;
    color: #0a4c6c;
    text-transform: initial;
    line-height: initial;
    padding: 7px 0;
    min-width: 150px;
    text-align: center;
  }

  .watchlist-btn i {
    vertical-align: 0;
    margin-right: 4px;
  }

  .watchlist-box .nav-link {
    font-size: 12px;
    line-height: 1.923;
    padding: 3px 12.5px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .tab-btn-add {
    font-size: 12px;
  }

  .tab-btn-add i {
    font-size: 11px;
    vertical-align: 1px;
    margin-right: 3px;
  }

  .td-show-btns {
    min-width: 175px;
    left: 153px;
  }

  .modal h5 {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .modal h6 {
    font-size: 11px;
    margin-bottom: 10px;
  }

  .input-group input {
    min-height: 30px;
    font-size: 11px;
    padding-left: 40px;
    color: #666;
  }

  .input-btn {
    font-size: 11px;
    min-width: 60px;
    min-height: 30px;
    border: #e9e9e9 solid 1px !important;
    background-color: #ed6100;
    color: #fff;
  }

  .input-btn i {
    vertical-align: 0;
    margin-right: 2px;
  }

  .modal .input-group .fa-search {
    top: 9px;
    left: 14px;
    font-size: 11px;
  }

  .modal .save-searchbar {
    margin-bottom: 15px;
  }

  .modal p {
    font-size: 10.5px;
    text-align: center;
    padding: 0;
    text-transform: uppercase;
  }

  .modal h4 {
    font-size: 14px;
    margin-top: 12px;
  }

  .modal-table {
    margin-top: 8px;
  }

  .modal-table td {
    font-size: 12px;
  }

  .modal-delete-btn i {
    font-size: 11px;
    vertical-align: 1px;
  }

  .modal-save-btn {
    min-width: 90px;
    font-size: 11px;
    padding: 6px 0;
  }

  .chain-table {
    margin-bottom: 15px;
  }

  .chain-table h6 {
    font-size: 13px !important;
  }

  .open-int-box h5 {
    font-size: 14px !important;
    margin-bottom: 15px;
  }

  .open-int-box p {
    font-size: 13px;
    line-height: 1.7;
    margin-bottom: 15px;
  }

  .open-int-box ul li {
    font-size: 13px;
    line-height: 20px;
  }

  .open-int-box th {
    vertical-align: middle;
  }

  .open-int-box td {
    vertical-align: middle;
  }

  .table-margin {
    margin-bottom: 20px;
  }

  .int-live-chart {
    height: 240px;
  }

  .section1 .strategy-box table thead th {
    padding: 10px !important;
  }

  .section1 .strategy-box input,
  .section1 .strategy-box select {
    height: 30px !important;
    font-size: 12px;
    font-size: 12px;
    padding: 0 10px;
    margin-top: 7px !important;
    width: auto !important;
    float: left;
  }

  .table-btn {
    font-size: 12px;
  }

  .section-eod-table .pricetable-box table thead th {
    font-size: 11px;
    min-width: 145px;
  }

  .section-eod-top {
    padding-bottom: 0 !important;
  }

  .section-eod-table {
    padding-top: 0 !important;
  }

  .td-none {
    display: none;
  }

  .select-dropdown,
  .select-dropdown-3,
  .text-1 {
    text-align: left;
  }

  .select-dropdown label {
    font-size: 12px;
  }

  .atr-link {
    float: left;
    padding-left: 15px;
    font-weight: 400;
    width: 93%;
  }

  .fibonacci-form-box .form-control {
    height: 28px;
  }

  .t-heading {
    font-size: 15px;
  }

  .fibonacci-box p {
    font-size: 14px;
  }

  .fibonacci-item {
    font-size: 14px;
  }

  .pivot-table thead th {
    padding: 13px 6px;
    min-width: 172px;
    font-size: 11px;
  }

  .pivot-table tbody td {
    font-size: 11px;
  }

  .th-min-with {
    min-width: auto !important;
  }

  .pivot-select-dropdown select {
    min-width: auto;
  }

  .fibonacci-box h1,
  .fibonacci-box h2 {
    font-size: 16px;
  }

  .pivot-content-box .heading {
    font-size: 16px;
  }

  .pivot-content-box p {
    font-size: 13px;
  }

  .text-readmore {
    font-size: 13px;
  }

  .fibonacci-box,
  .gap-up-box,
  .gap-up-content {
    margin-right: 0;
  }

  .sgx-block {
    margin-right: 0 !important;
    margin-bottom: 0 !important;
  }

  .submit-btn {
    font-size: 13px;
  }

  .analysis-heading {
    padding-top: 10px;
  }

  .analysis-heading h6 {
    font-size: 16px !important;
  }

  .nifty50item1 {
    margin-top: 20px;
  }

  .company-searchbar input {
    height: 35px;
    font-size: 12px;
  }

  .company-searchbar span {
    top: 11px;
    font-size: 13px;
  }

  .nifty50item1 span {
    font-size: 12px;
    color: #333;
    padding-top: 1px;
    font-weight: 500;
    margin-bottom: 0;
  }

  .nifty50item1 a {
    color: #0a4c6c;
    font-size: 11px;
  }

  .section-banner {
    margin-bottom: 15px;
  }

  .pagination {
    justify-content: center !important;
    margin: 15px 0 !important;
  }

  .modal-login-btn {
    font-size: 14px;
    padding: 7px 0;
  }

  .margin-box4 {
    margin-top: 0;
  }

  .margin-box5 {
    margin-top: 15px !important;
  }

  .margin-box6 {
    margin-bottom: 0 !important;
  }

  .margin-box7 {
    margin-bottom: 15px;
  }

  .margin-box8 {
    margin-right: 0;
  }

  .watchlist-btns {
    display: block;
    text-align: center;
    position: initial;
    margin-top: 0;
    color: #000;
  }

  .watchlist-box .nav {
    text-align: center;
  }

  .live-analytics-box {
    margin-right: 0;
  }

  .current-price {
    font-size: 13px !important;
  }

  .analytics-menu li h6 {
    font-size: 16px !important;
  }

  .atr-item p {
    margin-bottom: 0;
  }

  .momentum-content h6 {
    font-size: 14px !important;
    padding-bottom: 10px !important;
  }

  .momentum-content li {
    font-size: 13px !important;
  }

  .th-min-w-auto {
    min-width: auto !important;
  }

  .section1 .pricetable-box .gap-table thead th {
    font-size: 10px;
  }

  .section1 .pricetable-box .gap-table tbody td {
    font-size: 9px;
  }

  .gap-table label {
    font-size: 9px;
    padding: 6px 10px;
    min-width: 100px;
  }

  .premium {
    width: 152px;
  }

  .yes-bank-detail h1 span {
    font-size: 15px;
  }

  .yes-bank-detail h1 i {
    font-size: 18px;
    top: 7px;
  }

  .yes-bank-detail h1 b {
    font-size: 12px;
  }

  .yes-bank-detail ul li {
    font-size: 11px;
    padding: 5px 2px 0 0;
  }

  .yes-bank-right {
    padding: 7px 0;
  }

  .watch-box {
    font-size: 9px;
    padding: 7px 0;
    height: 25px;
    width: 100px;
    visibility: hidden;
    top: -27px;
    left: -38px;
  }

  .yes-bank-buy-btn {
    padding: 0 8px;
    top: -4px;
    max-height: 23px;
  }

  .add-alert,
  .add-to-watchlist,
  .share-icon {
    width: 20px;
    height: 20px;
    padding: 10px 11px;
    background-size: 75% 75%;
  }

  .add-to-watchlist:hover {
    height: 22px;
    width: 20px;
    padding: 10px 11px;
    background-color: #2196f2;
    background-size: 75% 75%;
  }

  .add-alert:hover {
    height: 22px;
    width: 20px;
    padding: 10px 11px;
    background-color: #2196f2;
    background-size: 75% 75%;
  }

  .share-icon:hover {
    height: 22px;
    width: 20px;
    padding: 10px 11px;
    background-color: #2196f2;
    background-size: 75% 75%;
  }

  .yes-bank-buy-btn a {
    font-size: 11px;
    position: relative !important;
    top: -2px !important;
  }

  .yes-bank-sell-btn {
    padding: 0 6px;
    top: -4px;
    max-height: 23px;
  }

  .yes-bank-sell-btn a {
    font-size: 11px;
    position: relative !important;
    top: -2px !important;
  }

  .analysis-menu li a {
    font-size: 11px;
    padding: 7px 5px 5px 0;
    margin-right: 0;
    border-bottom: 0 !important;
  }

  .analysis-ul .nav-link:hover {
    border-bottom: 0 !important;
  }

  .analysis-profile {
    padding: 15px 15px;
  }

  .analysis-profile p {
    font-size: 13px;
    margin-bottom: 10px;
    text-align: justify;
  }

  .analysis-profile h6 {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .analysis-profile button {
    font-size: 11px;
    padding: 6px 7px;
  }

  .key-data {
    padding-right: 15px !important;
    margin-top: 20px;
  }

  .technical-analysis {
    box-shadow: none;
  }

  .analysis-profile ul li {
    font-size: 12px;
  }

  .chart-section {
    padding: 5px 0;
  }

  .chart-section h6 {
    font-size: 18px;
  }

  .day-table table thead tr th {
    font-size: 12px !important;
    padding: 9px 10px;
  }

  .day-table table tbody tr td {
    font-size: 12px !important;
    padding: 9px 10px !important;
  }

  .day-table h6 {
    font-size: 16px !important;
    margin-bottom: 15px;
  }

  .technical-section h6 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .technical-left h5 {
    font-size: 16px;
    padding: 15px 15px 5px;
  }

  .trend-analysis li {
    font-size: 13px;
  }

  .trend-analysis li span {
    font-size: 13px;
  }

  .trend-up {
    left: -20px;
  }

  .trend-analysis-left {
    left: 34px;
    top: 60px;
  }

  .trend-analysis {
    padding: 0 15px 5px 20px;
  }

  .trend-analysis-left-d {
    bottom: 30px;
    left: 34px;
  }

  .yes-bank-right ul li {
    margin-right: 0;
  }

  .price-table h5 {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .price-table {
    padding: 15px 15px;
  }

  .price-table table thead tr th {
    font-size: 11px !important;
    padding: 12px 5px;
  }

  .price-table table tbody tr td {
    font-size: 11px !important;
    padding: 12px 5px;
  }

  .add-box {
    margin: 20px 0 0;
  }

  .past-table h5 {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .past-table {
    padding: 15px 15px;
    margin-top: 0;
  }

  .past-table table thead tr th {
    font-size: 11px !important;
    padding: 13px 8px;
  }

  .past-table table tbody tr td {
    font-size: 11px !important;
    padding: 17px 8px 6px;
  }

  .gaps-support h5 {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .gaps-support {
    padding: 15px 0;
    margin: 15px 0 0;
  }

  .gap-down {
    padding: 10px 0 25px 0 !important;
    margin: 0 !important;
  }

  .gap-down p {
    font-size: 13px;
    padding-top: 17px;
    padding-left: 0;
  }

  .gap-down span {
    font-size: 11px;
    padding: 7px 10px;
    margin-top: -15px;
  }

  .gap-down b {
    font-size: 11px;
    margin-top: 5px;
  }

  .futures {
    padding: 10px 0;
  }

  .futures h5 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .future-right {
    display: none;
  }

  .futures h6 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .future-chart-right {
    padding: 0 15px !important;
  }

  .peer-comparison h5 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .peer-comparison {
    padding: 10px 0 30px;
  }

  .export-btn {
    padding: 8px 5px 6px;
    font-size: 11px;
    top: 15px;
  }

  .comparison-tr tr th {
    padding: 10px 0 !important;
  }

  .comparison-responsive {
    padding: 0 !important;
  }

  .comparison-table {
    padding: 15px 15px 20px !important;
  }

  .export-btn span::before {
    background: url(/images/Export.svg) no-repeat;
    top: 5px;
    left: 7px;
    background-size: 80%;
  }

  .export-btn:hover span::before {
    background-size: 80%;
  }

  .analysis-section .p-0 {
    padding: 0 15px !important;
  }

  .analysis-menu .p-0 {
    padding: 0 15px !important;
  }

  .profile-section .p-0 {
    padding: 0 15px !important;
  }

  .chart-section .p-0 {
    padding: 0 15px !important;
  }

  .technical-section .p-0 {
    padding: 0 15px !important;
  }

  .futures .p-0 {
    padding: 0 15px !important;
  }

  .peer-comparison .p-0 {
    padding: 0 15px !important;
  }

  .gap-down p::before {
    display: none;
  }

  .yes-bank-detail h1 {
    font-size: 15px;
  }

  .analysis-menu-responsive {
    overflow-x: scroll;
  }

  .analysis-ul {
    width: 400px;
  }

  .analysis-active,
  .analysis-menu li:hover {
    border-bottom: 2px solid transparent !important;
  }

  .chart-box {
    min-height: auto;
  }

  .future-analysis-table {
    min-height: auto;
  }

  .future-chart {
    min-height: auto;
  }

  .advance_stock_screener button {
    padding: 0 3px;
    line-height: 26px;
    font-size: 11px;
    margin-right: 2px;
  }

  .right_refresh_btns {
    padding: 16px 0 5px 0;
    text-align: left !important;
  }

  .advance_stock_screener span {
    font-size: 14px;
    padding-top: 1px;
    padding-bottom: 18px;
    display: block;
    float: none !important;
  }

  .stock_apply_filter li {
    padding: 0 6px;
    text-align: center;
    line-height: 25px;
  }

  .filter_modal .modal-header {
    padding: 13px 12px;
    display: block;
  }

  .stock-checkbox {
    font-size: 11px;
    line-height: 16px;
    padding-left: 19px;
  }

  .filter_modal .modal-header .common_btns {
    font-size: 12px;
    height: 26px;
    padding: 0 8px;
  }

  .filter_modal .modal-header .close {
    top: 5px;
  }

  .responsive_filter {
    margin-bottom: 10px;
  }

  .filter_modal h6 {
    font-size: 13px;
  }

  .filter_modal .checkmark {
    width: 12px;
    height: 12px;
  }

  .stock-checkbox .checkmark:after {
    left: 5px;
    top: 0;
    width: 4px;
    height: 9px;
  }

  .volume_shocker {
    width: 100% !important;
  }

  .moving_average {
    width: 100% !important;
  }

  .filter_modal li {
    display: inline-block;
    width: auto;
  }

  .stock_saved_btn li {
    width: 100%;
    padding: 8px 12px;
  }

  .filter_modal h5 {
    margin-bottom: 0;
    font-size: 14px;
  }

  .advance_stock_screener .watchlist-new-table th {
    text-transform: capitalize !important;
    font-size: 11px;
  }

  .advance_stock_screener .watchlist-new-table .table {
    width: 911px;
  }

  .advance_stock_screener .watchlist-new-table td {
    font-size: 11px;
  }

  .advance_stock_screener .refresh_btn {
    height: 28px;
  }

  .section-watchlis-new {
    padding-top: 30px !important;
  }

  .watchlist-dropdown .btn {
    min-width: 127.2px;
  }

  .watchlist-dropdown .dropdown-menu {
    min-width: 100%;
    width: 180px;
    top: 1px !important;
  }

  .watchlist-new-table td:first-child,
  .watchlist-new-table th:first-child {
    padding-left: 10px;
  }

  .watchlist-range-box {
    width: 90px;
  }

  .watchlist-new-table th {
    min-width: 130px;
  }

  .min-width-200 {
    min-width: 250px !important;
  }

  .alert-content {
    width: 70%;
    padding-left: 0;
  }

  .alert-content p {
    font-size: 12px;
  }

  .alert-icon i {
    margin-right: 15px;
  }

  .watchlist-new-table th:last-child {
    min-width: 90px;
  }

  .show-btns {
    visibility: visible;
  }

  .edit-icon {
    margin-left: 5px;
    display: block;
    height: 28px;
    font-size: 13px;
    text-align: center;
    width: 30px;
    padding: 0;
    line-height: 32px;
  }

  .edit-icon img {
    color: #2196f2;
    font-size: 14px;
    align-items: center;
    width: 15px;
    display: unset;
    vertical-align: unset;
  }

  .add-symbol {
    padding: 0px 15px;
    width: 57%;
  }

  .section-watchlis-new h6 {
    font-size: 20px;
  }

  .section-watchlis-new p {
    font-size: 14px;
    color: #666;
    font-weight: 400;
  }

  .notification-bar {
    padding: 7px 15px;
  }

  .page404 h1 {
    font-size: 20px;
  }

  .page404 p {
    font-size: 13px;
  }

  .tabing_screener a {
    font-size: 12px;
    padding: 15px 9px;
  }

  .responsive_nonebtn {
    display: none;
  }

  .stock_filter_modal button i {
    margin-right: 0;
  }

  .stock_filter_modal .stock_filter img {
    margin-right: 0;
  }

  .stock_filter_modal .common_btns {
    padding: 0 9px;
  }

  .feedback-modal .modal-dialog {
    max-width: 660px !important;
  }

  .option-dropdown label {
    display: block;
  }

  .option-dropdown select {
    min-width: 50px !important;
  }
}
@media (min-width: 320px) and (max-width: 992px) {
  .forexrate-table-nifty .e-grid.e-responsive .e-headercelldiv,
  .live-m-table-nifty .e-grid.e-responsive .e-headercelldiv {
    text-overflow: ellipsis !important;
    white-space: unset !important;
    overflow: hidden !important;
  }
  .home-autocomplete .igZibq > input {
    padding: 0 0 0 15px !important;
  }
  .home-autocomplete .sc-bdVaJa ul li .ellipsis {
    padding: 0px 0px 0px 3px !important;
  }
  .home-autocomplete .igZibq svg {
    right: 15px;
  }
  .section1 .container .nifty-top-news-bar-row {
    margin: 0px -15px !important;
  }
  .section1 .container .container .nifty-top-news-bar-row {
    margin: 0px -30px !important;
  }
  .top-three-nifty-boxes {
    padding-bottom: 0px !important;
  }

  .section1 .nifty-top-news-bar {
    margin: 15px 0px !important;
  }

  .forex-heading {
    margin-left: -15px;
    margin-bottom: 0px !important;
    font-size: 15px !important;
  }
  nav.float-action-button {
    bottom: 56%;
    transition: all ease-out 0.5s;
    margin-right: 0px;
  }
  .mobile-android {
    bottom: 45%;
    transition: all ease-out 0.5s;
  }
  .custome-scroll-inner-div {
    width: 800px;
  }
  #custome_scroll {
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .option_form .table-responsive {
    overflow-x: auto !important;
  }
  .option_form table thead th {
    font-size: 12px !important;
  }
  .fibonacci-form-box .form-group {
    margin: 0px 0px 15px 0px !important;
  }
  .fibonacci-form-box label {
    font-size: 11px !important;
  }
  .addform-top {
    padding-left: 0px;
  }
  #animal_flexselect_flexselect_dropdown {
    display: none !important;
  }
  .eod-screener .right_refresh_btns {
    padding: 0 !important;
    text-align: right !important;
  }
  .eod-screener {
    padding: 15px 0px !important;
  }
  .eod_filter_modal .modal-body {
    padding: 15px 0px;
  }
  .eod_filter_modal .modal-dialog {
    margin: 0px !important;
  }
  .eod-screener {
    padding: 10px 0px;
  }
  .eod-screener .px-0 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .nav-scroller-nav {
    margin-bottom: -12px !important;
  }
  .eod_content p {
    font-size: 13px;
  }
  .filter-body h5 {
    margin-bottom: 5px !important;
  }
  .pl-15 {
    padding-left: 15px !important;
  }
  .pr-15 {
    padding-right: 15px !important;
  }
  .filter_row {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .px-15 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .eod-screener .main-heading {
    margin-top: 11px !important;
    margin-bottom: 15px !important;
  }
  .h-200 {
    height: auto !important;
  }
}
