body {
  font-family: "Roboto";
}

.nifty-home-banner {
  background: #0b193c url(/images/banner-transparent.jpg) center center
    no-repeat;
  background-size: cover;
  width: 100%;
  padding: 0px 0px 55px 0px;
  position: relative;
}

.nifty-home-banner .wsmenu > .wsmenu-list > li > .navtext {
  font-weight: 400;
  font-size: 15px;
  color: #fff !important;
  border: 0px !important;
  line-height: 30px !important;
  padding: 4px 18px 9px 18px !important;
}

.nifty-home-banner .h_header-top {
  padding-top: 5px;
}

.grid_dropdown:after {
  bottom: 100%;
  left: 40px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

.nifty-home-banner .wsmenu > .wsmenu-list > li > .navtext:hover {
  color: #2196f3 !important;
  border: 0px !important;
  background: transparent !important;
}

/* content home banner */
.h-content {
  padding-top: 35px;
}

.h-heading {
  font-size: 38px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  margin-bottom: 0.5rem;
}

.h-text {
  font-size: 15px;
  font-family: "Roboto";
  color: rgba(255, 255, 255, 0.502);
  line-height: 1.2;
  text-align: left;
  margin-bottom: 1rem;
}

.h-search {
  padding: 20px 0px 30px 0px;
}

.h-search .input-group {
  width: 83%;
}

.h-search input {
  height: 44px;
  line-height: 44px;
  border: 1px solid #2196f3;
}

.h-search button {
  padding: 0px 21.5px;
  background: #2196f3;
  color: #fff;
  border-color: #2196f3;
  font-size: 22px;
}

.h-search button:hover {
  background: transparent;
  border: 1px solid #2196f3;
}

.h-nifty-carousel {
  background-color: #fff;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  background: url(/images/carousel-bg.jpg) center center no-repeat;
  background-size: cover;
  padding: 15px;
  max-height: 88px;
  height: 100%;
}

.h-nifty-carousel span {
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
}

.h-nifty-carousel p {
  font-size: 25px;
  font-family: "Roboto";
  color: rgb(58, 176, 124);
  line-height: 1.2;
  text-align: left;
  padding-top: 12px;
  font-weight: 600;
}

.h-nifty-carousel p img {
  vertical-align: middle;
  width: auto !important;
  float: left;
  margin-top: 10px;
  margin-right: 5px;
}

.h-nifty-carousel p small {
  font-size: 15px;
  font-weight: 500;
}

.right-owl-carousel {
  padding: 110px 0px 0px 90px;
}

.h-down-price {
  color: #e85254 !important;
}

.h-up-price {
  color: #00b865 !important;
}

.h_bottom_tabs {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 3.5px 0px;
}

.h_bottom_tabs ul {
  padding: 0px;
  margin: 0px;
}

.h_bottom_tabs ul li {
  display: inline-block;
  position: relative;
  padding: 0px 20px;
}

.h_bottom_tabs li a {
  font-size: 13px;
  font-family: "Roboto";
  color: #7b7d8b;
  line-height: 2.769;
  font-weight: 500;
}

.h_bottom_tabs li a:hover {
  color: #fff;
  text-decoration: none;
}

.h_bottom_tabs li::after {
  position: absolute;
  right: -7.5px;
  content: "/";
  color: #7b7d8b;
  width: 10px;
  top: 7.5px;
  font-size: 12px;
}

.h_bottom_tabs li:last-child::after {
  display: none !important;
}

.home-page-tabing {
  padding: 10px 0px 30px 0px;
}

.h_tabing .nav-link {
  border: 0px;
  font-size: 16px;
  font-family: "Roboto";
  color: #495057;
  padding: 10px 25px 15px 25px;
  line-height: 1.2;
  border-bottom: 2px solid transparent;
}

.h_tabing .nav-link:hover {
  border-bottom: 2px solid transparent;
}

.h_tabing {
  margin-bottom: 20px;
}

.h_tabing .nav-link.active {
  color: #2196f3 !important;
  border-bottom: 2px solid #2196f3;
}

.h_tabing .nav-link:hover {
  color: #2196f3 !important;
  border-bottom: 2px solid #2196f3;
}

.home-page-tabing .table thead th {
  background: #f1f5fa;
  font-size: 13px;
  font-family: "Roboto";
  color: rgb(73, 80, 87);
  line-height: 1.923;
  border: 0px;
  font-weight: 400;
  padding: 9.5px 30px;
}

.home-page-tabing .table tr:hover {
  background: #f9fbfd;
}
.home-page-tabing .table tr:hover a {
  color: #2296f3;
}

.home-page-tabing .table tr td {
  padding: 12.5px 30px;
  font-size: 14px;
  color: #495057;
  font-family: "Roboto";
  font-weight: 400;
  border-color: #e2e5ed;
}
/*
.home-page-tabing .table thead th:first-child {
  width: 440px;
}*/
/*
.home-page-tabing .table tr td:first-child {
  width: 440px;
}
*/
.home-page-tabing .table {
  border-bottom: 1px solid #e2e5ed;
}

.h_more_stock a {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(226, 229, 237);
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  font-size: 14px;
  font-family: "Roboto";
  color: rgb(33, 150, 243);
  line-height: 40px;
  display: block;
  margin: 0px auto;
  max-width: 175px;
  text-align: center;
  height: 40px;
  margin-top: 30px !important;
  transition: 0.3s ease-in-out;
}

.h_more_stock a:hover {
  transition: 0.3s ease-in-out;
  background: #2196f3;
  color: #fff;
  text-decoration: none;
}

.h_more_stock a i {
  padding-left: 8px;
  font-size: 11px !important;
}

/* 16/03/2020*/

.h_watchlist {
  background: #f4f7fa;
  padding: 30px 0px 40px 0px;
}

.h_section_heading {
  font-size: 25px;
  color: #0f2137;
  font-family: "Roboto";
  font-weight: 600;
  padding-bottom: 10px;
  margin-bottom: 0.5rem;
}
#watchlist {
  box-shadow: 0px 5px 35px 0px rgba(83, 93, 120, 0.1);
  border-radius: 20px;
}
#watchlist .owl-stage-outer {
  border-radius: 20px;
}
.watchlist_item {
  border-radius: 20px;
  background: #fff;
  /* background-image: url(/images/watchlist.jpg); */
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 15px 20px;
  max-height: 232px;
  height: 100%;
  box-shadow: 0px 5px 20px 0px rgb(83 93 120 / 7%);
  position: relative;
}

.watchlist_item_title {
  display: block;
  font-size: 16px;
  color: #0f2137;
  font-weight: 500;
  font-family: "Roboto";
  line-height: 1.2;
}

.watchlist_item_title svg {
  display: inline-block;
  vertical-align: middle;
  float: right;
  color: #888f97;
  font-size: 13px;
}

.watchlist_item span {
  font-size: 13px;
  color: #818992;
  font-weight: 400;
  line-height: 1.2;
}

.watchlist_item h5 {
  font-weight: 600;
  color: #0f2137;
  font-size: 28px;
  padding-top: 10px;
  margin: 0px;
}

.h_green_watchlist {
  font-family: "Roboto";
  border-radius: 5px;
  background: #ebf7f2;
  font-size: 13px;
  color: #3ab07c;
  font-weight: 400;
  display: inline-block;
  padding: 6px 12px;
  margin: 5px 0px;
}

.h_red_watchlist {
  font-family: "Roboto";
  border-radius: 5px;
  background: #fdedee;
  font-size: 13px;
  color: #e85254;
  font-weight: 400;
  display: inline-block;
  padding: 6px 12px;
  margin: 5px 0px;
}

.h_green_watchlist img,
.h_red_watchlist img {
  width: auto !important;
  display: inline-block !important;
}

.h_addto_watchlist {
  display: block;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(226, 229, 237);
  border-radius: 3px;
  color: #2196f3;
  background: #fff;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  padding: 4.4px 0px;
  margin: 0px auto;
  margin-top: 45px;
  width: 145px;
  transition: 0.3s ease-in-out;
  position: relative;
  z-index: 99;
}

.h_addto_watchlist:hover {
  background: #2196f3;
  color: #fff;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

/* .watchlist_item_title:hover svg {
  color: #2196f3;
} */

.watchlist_item:hover .watchlist_item_title svg {
  color: #2196f3;
}

.h_create_watchlist {
  padding-top: 10px;
}

.h_create_watchlist a {
  background: #2196f3;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  line-height: 40px;
  border-radius: 4px;
  width: 145px;
  transition: 0.3s ease-in-out;
  border: 1px solid transparent;
}
.h_addto_watchlist svg {
  vertical-align: text-top !important;
}
.h_create_watchlist a:hover {
  text-decoration: none;
  transition: 0.3s ease-in-out;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(226, 229, 237);
  background: #fff;
  color: #2196f3;
}

.h_create_watchlist p {
  font-size: 14px;
  color: #818992;
  font-weight: 400;
}

/*  Research Analysis Tools */
.h_research_analysis_tool {
  background: #216dbf url(/images/research.jpg) no-repeat center center;
  padding: 50px 0px;
}

.h_research_analysis_icon {
  width: 75px;
  height: 75px;
  vertical-align: middle;
  display: table-cell;
  background: #387fce;
  border-radius: 25px;
  text-align: center;
  transition: var(--main-transition);
}

.h_subheading {
  font-size: 30px;
  color: #fff;
  font-weight: 600;
  padding-bottom: 15px;
}

.h_research_analysis_tool ul {
  margin: 0px;
  padding: 0px;
  padding-top: 15px;
}

.h_research_analysis_tool ul li {
  display: inline-table;
  max-width: 148px;
  margin: 0px 45px;
  transition: var(--main-transition);
}

.h_research_analysis_tool ul li a span {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  display: block;
  width: 100%;
  padding-top: 10px;
}

.h_research_analysis_tool ul li a {
  text-decoration: none;
}
.h_research_analysis_tool ul li:hover {
  transform: translateY(-2px);
  transition: var(--main-transition);
}

.h_research_analysis_tool ul li:hover .h_research_analysis_icon {
  box-shadow: 0px 4px 4px -1px rgb(34, 101, 190);
  transition: var(--main-transition);
}

/* Daily Nifty Technicals  */
.h_daily_nifty_technicals {
  padding: 50px 0px 100px 0px;
}

.h_daily_nifty_technicals .h_subheading {
  color: #0f2137;
  padding-bottom: 40px;
}

.h_daily_nifty_technicals .card {
  border: 0px;
  box-shadow: 0px 5px 35px 0px rgba(83, 93, 120, 0.1);
  border-radius: 20px;
}

#NiftyTechnicals {
  box-shadow: 0px 5px 35px 0px rgba(83, 93, 120, 0.1);
}

.h_daily_nifty_technicals .card-img-top {
  height: 162px;
  border-radius: 20px 20px 0px 0px;
}

.h_daily_nifty_technicals .card span {
  display: block;
  color: #818992;
  font-size: 13px;
  font-weight: 400;
}

.h_card_title {
  font-size: 15px;
  font-weight: 500;
  color: #0f2137;
  display: block;
  padding-bottom: 20px;
  text-decoration: none;
}

.h_card_title:hover {
  text-decoration: none;
}

.h_readmore:hover {
  text-decoration: none;
}

.h_card_text {
  font-size: 14px;
  color: #818992;
  font-weight: 400;
}

.h_readmore {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(226, 229, 237);
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  font-size: 13px;
  font-family: "Roboto";
  color: rgb(33, 150, 243);
  line-height: 30px;
  display: inline-block;
  width: 106px;
  text-align: center;
}

.h_readmore i {
  padding-left: 8px;
  font-size: 10px !important;
}

/* Download our app  */

.h_download_our_app {
  padding: 20px 0px 15px 0px;
  background: #dbf0ff url(/images/dwnload-app-bg.jpg) center center no-repeat;
  background-size: cover;
}

/* .h_download_our_app span {
  font-size: 16px;
  color: #495057;
  font-weight: 500;
  display: block;
  padding-top: 25px;
  padding-bottom: 10px;
} */

/* .h_download_our_app h5 {
  font-size: 30px;
  color: #0f2137;
  font-weight: 600;
  padding-bottom: 10px;
}

.h_download_our_app p {
  font-size: 15px;
  color: #4b5158;
  font-weight: 400;
  padding-bottom: 0;
  line-height: 1.667;
  width: 80%;
  margin-bottom: 5px;
} */

.h_applogo img {
  max-width: 140px;
}

.h_applogo:hover {
  text-decoration: none;
}

.h_qrcode {
  border-radius: 4px;
  padding: 1px;
  background: #fff;
  display: block;
  border: 2px solid #15172c;
  margin-bottom: 15px;
  width: max-content;
}

.h_qrcode img {
  max-width: 55px;
}
.app-img-box img {
  margin: 10px 5px;
}

.h_app_left {
  padding-left: 4%;
}

.h_app_right {
  padding-right: 4%;
}
.h_download_our_app .dwnload_app_content {
  padding: 30px 0px;
}
.h_download_our_app .dwnload_app_content span {
  font-size: 16px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 15px;
  display: block;
}
.h_download_our_app .dwnload_app_content h5 {
  font-size: 35px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 700;
}
.h_download_our_app .dwnload_app_content p {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 300;
}
.h_download_our_app .dwnload_app_content h6 {
  border-radius: 5px;
  padding: 6px 10px;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 18px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 500;
  margin-top: 40px;
  width: max-content;
}
.dwnload_app_content .qr-box {
  width: 105px;
  height: 105px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 2px solid #15172c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 25px 0px;
}
.dwnload_app_content .googl-play-btn {
  border: 1px solid rgba(226, 229, 237, 0.58);
  text-decoration: none;
  display: block;
  border-radius: 3px;
  width: max-content;
}
.you_tube_vd_btn {
  position: absolute;
  top: 45%;
  left: 55%;
  width: 40px;
  border-radius: 50%;
}
.you_tube_vd_btn img {
  vertical-align: middle;
  margin-right: 5px;
}
.vd_btnpulse {
  border-radius: 50%;
  animation: pulse-animation 2s infinite;
}
@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

/* Footer */

.h_footer {
  padding: 50px 0px 0px 0px;
  background: #0b1426 url(/images/footerbg.jpg) center center no-repeat;
  background-size: cover;
}

.h_footer_alpha li {
  display: inline-table;
  margin: 0px 1px;
}

.h_footer_alpha {
  border-bottom: 1px solid #172031;
  padding-bottom: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.h_footer_alpha li a {
  font-weight: 500;
  font-size: 14px;
  color: #adb5bd;
  line-height: 34px;
  background: #172031;
  text-align: center;
  padding: 0px 12px;
  border-radius: 3px;
  display: block;
}

.h_footer_alpha li a:hover {
  text-decoration: none;
}
/* footer-content */
.footer-content p {
  font-size: 14px;
  font-family: "Roboto";
  color: rgb(173, 181, 189);
  line-height: 1.786;
  padding-top: 20px;
  padding-right: 60px;
  padding-bottom: 10px;
}

.footer-content ul li {
  display: inline-block;
  margin-right: 7px;
}

.footer-content ul {
  margin: 0px;
  padding: 0px;
}

.footer-content ul li a {
  border-radius: 5px;
  background-color: #242c3c;

  width: 36px;
  height: 36px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
}

.footer-content ul li:hover a {
  color: #242c3c;
  background: #fff;
}

/* h_footer_link  */

.h_footer_link {
  margin: 0px;
  padding: 0px;
}

.h_footer_link li {
  display: block;
}

.h_footer_link li a {
  font-size: 14px;
  font-family: "Roboto";
  color: rgb(173, 181, 189);
  line-height: 2.571;
}

.h_footer_link li a:hover {
  text-decoration: none;
  color: #2196f3;
  transition: 0.4s ease-in-out;
}

.h_footer_link h6 {
  font-size: 16px;
  font-family: "Roboto";
  color: rgb(254, 254, 254);
  line-height: 1.563;
  padding-bottom: 15px;
}

.h_footer_link span {
  font-size: 14px;
  font-family: "Roboto";
  color: rgb(173, 181, 189);
  line-height: 20px;
  display: block;
  padding-bottom: 20px;
}

.h_footer_link .has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.h_footer_link .has-search .form-control {
  padding-left: 2.375rem;
  border-radius: 5px;
  background-color: #172031;
  border: 0px;
}
.h_footer_link .has-search .form-control::placeholder {
  font-family: "Roboto", sans-serif;
}
.h_footer_link label {
  font-size: 13px;
  font-family: "Roboto";
  color: rgb(173, 181, 189);
  line-height: 1.769;
  font-weight: 500;
}

.h_footer_link button {
  border-radius: 5px;
  background-color: rgb(33, 150, 243);
  width: 100%;
  font-size: 16px;
  font-family: "Roboto";
  color: rgb(254, 254, 254);
  line-height: 45px;
  border: 0px;
  margin-top: 20px;
  transition: var(--main-transition);
}
.h_footer_link button:hover {
  transition: 0.3s ease-in-out;
  border-style: solid;
  border-width: 1px;
  border-color: var(--main-hover-color);
  background: #fff;
  color: var(--main-hover-color);
  transition: var(--main-transition);
}
/* h_copyright_footer */
.h_copyright_footer {
  padding: 15px 0px;
  background-color: rgba(7, 13, 25, 0.451);
  text-align: center;
  margin-top: 50px;
}

.h_copyright_footer a {
  color: #2196f3;
}

.h_copyright_footer p {
  font-size: 14px;
  font-family: "Roboto";
  color: rgb(173, 181, 189);
  line-height: 2.571;
  margin: 0px;
}

.h_righttabing_img {
}

.h_stock_scaner {
  padding: 60px 0px 60px 0px;
}

.h_stock_scaner-top {
  margin-top: 80px;
}

.h_stock_heading {
  font-size: 30px;
  font-family: "Roboto";
  color: rgb(15, 33, 55);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 15px;
}

.h_stock_scaner .nav-pills .nav-link {
  background: transparent;
  border-bottom: 2px solid transparent;
  border-radius: 0px;
  padding: 10px 5px;
  padding-right: 15px;
  margin-right: 15px;
  color: #495057;
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 1.2;
}

.h_stock_scaner ul li {
  border-bottom: 1px solid #e2e5ed;
  margin-bottom: -1px;
}

.h_stock_scaner .nav-pills .nav-link.active {
  color: #2196f3;
  border-bottom: 2px solid #2196f3;
}

.h_stock_scaner .nav-pills .nav-link:hover {
  color: #2196f3;
  border-bottom: 2px solid #2196f3;
}

.h_stocktabs {
  margin-bottom: 15px;
}

.h_stock_scaner p {
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(129, 137, 146);
  line-height: 1.667;
  text-align: left;
}

.h_niftyTabing {
  padding-top: 10px;
}

.take-me-screener {
  font-size: 14px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(226, 229, 237);
  border-radius: 3px;
  background-color: rgb(33, 150, 243);
  line-height: 38px;
  width: 181px;
  text-align: center;
  margin-top: 15px;
  transition: 0.4s ease-in-out;
}

.take-me-screener:hover {
  border: 1px solid rgb(226, 229, 237);
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  color: rgb(33, 150, 243);
  transition: 0.4s ease-in-out;
}

.h_search_stocks:hover {
  border-color: rgb(226, 229, 237);
  border-radius: 3px;
  background-color: rgb(33, 150, 243);
  color: #fff;
  text-decoration: none;
}

.take-me-screener i {
  padding-left: 8px;
  font-size: 11px !important;
}

.h_righttabing_img {
  background: url(/images/ScanStocks-bg.jpg) no-repeat center center;
  background-size: cover;

  width: 87%;
  margin-top: -270px;
  position: relative;
  border-radius: 40px;
  float: right;
  padding: 15px 0px 20px 0px;
}

.h_righttabing_img img {
  margin-left: -127px;
}

.niftyHomeTabingStock {
  background: url(/images/stockAnalysis.jpg) center center no-repeat;
  background-size: cover;
  width: 87%;
  margin-top: 30px;
}

.H_StockAnalysis {
  padding-left: 60px;
}

.h_stock_vertical_tabs .nav-pills .nav-link.acwtive {
  border: 0px !important;
  color: #46d39a;
}

/* Vertically tabing */

.h_stock_vertical_tabs .nav-pills .nav-link {
  border: 0px !important;
  font-size: 18px;
  font-family: "Roboto";
  color: rgb(73, 80, 87);
  line-height: 1.2;
  font-weight: 500;
}

.h_stock_vertical_tabs ul li {
  border: 0px !important;
}

.h_stock_vertical_tabs .nav-pills .nav-link img {
  margin-right: 10px;
}

.h_search_stocks {
  border: 1px solid rgb(226, 229, 237);
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  font-size: 14px;
  font-family: "Roboto";
  color: rgb(33, 150, 243);
  line-height: 38px;
  display: block !important;
  float: left;
  text-align: center;
  padding: 0px 15px;
  transition: 0.3s ease-in-out;
  margin-top: 40px;
}

.h_search_stocks i {
  padding-left: 8px;
  font-size: 11px !important;
}

/* header right menubar */

.h_right_menubar {
  text-align: right;
  margin: 0px;
  position: absolute;
  top: 3px;
  right: 0px;
}

.h_right_menubar .user-profile-nifty {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-bottom: 15px !important;
}

.h_right_menubar .user-profile-nifty img {
  margin: 0px !important;
}

.nifty_inner_header .grid_dropdown {
  top: 46px;
}

.nifty_inner_header .h_right_menubar .grid_dropdown {
  top: 39px !important;
}

.h_right_menubar .grid_dropdown li {
  text-align: left;
}

.h_right_menubar .grid_dropdown li:last-child {
  padding-bottom: 15px !important;
}

.h_right_menubar .grid_dropdown li a {
  font-size: 14px !important;
  font-family: "Roboto" !important;
  color: rgb(15, 33, 55) !important;
  line-height: 1.2 !important;
  font-weight: 500 !important;
  padding: 0px !important;
}

.h_right_menubar li {
  display: inline-block;
  position: relative;
}

.h_right_menubar li:last-child a {
  padding-right: 0px !important;
}

.grid_dropdown_icon_none {
  background: #f4f7fa !important;
}

.h_right_menubar address {
  margin: 0px;
  padding: 0px 0px 0px 0px;
  font-size: 12px;
}

.h_right_menubar li a {
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  line-height: 35px;
  padding: 0px 10px;
  /* transition: 0.3s ease-in-out; */
  position: relative;
  min-width: 65px;
}

.h_right_menubar .grid_dropdown {
  right: 0px !important;
  left: auto !important;
}

.h_right_menubar .grid_dropdown:after {
  right: 23px !important;
  left: auto !important;
}

.active-register-btn {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(33, 150, 243);
  border-radius: 3px;
  background-color: rgb(33, 150, 243) !important;
  display: block;
  padding: 0px 12px !important;
  transition: 0.3s ease-in-out;
}

.active-register-btn {
  line-height: 30px !important;
}

.active-register-btn:hover {
  border: 1px solid rgb(33, 150, 243) !important;
  background: transparent !important;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.menu_pipes {
  padding: 0px 12px;
  color: rgba(226, 229, 237, 0.6) !important;
  margin-left: 12px;
  font-weight: 300;
  font-size: 21px;
}

.h_right_menubar li a i {
  font-size: 18px;
  vertical-align: middle;
}

.h_right_menubar li a:hover {
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.liveanalystic_home .h_righttabing_img {
  background: url(/images/live-bg3.jpg) center center no-repeat !important;
}

.liveanalystic_home .h_stock_scaner-top {
  margin-top: 130px;
}

.h_header-notification {
  position: absolute;
  right: 8px;
  top: 0px;
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #ff6e00;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
  animation: h_header-notification 2s infinite;
}

.h_header-notification:hover {
  animation: none;
}

@-webkit-keyframes h_header-notification {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes h_header-notification {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }

  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.nifty-home-banner .wsmenu > .wsmenu-list > li > .wsmegamenu {
  top: 43px !important;
}

.nifty-home-banner .wsmenu > .wsmenu-list > li > ul.sub-menu {
  top: 43px !important;
}

.nifty-home-banner .owl-theme .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
  margin: 0px 4px;
}

.h_destop_hidden {
  display: none !important;
}

.h_responsive_logo {
  display: none !important;
}

/* Dropdown grid  */
.user-profile-nifty img {
  margin: 9px 0px 0px 0px;
}

.user-profile-nifty {
  position: relative;
  cursor: pointer;
  margin-left: 35px !important;
  margin-right: 13px !important;
  padding-bottom: 19px !important;
}

.grid_dropdown hr {
  margin: 5px 0px;
}

.grid_dropdown {
  position: absolute;
  top: 46px;
  left: 0px;
  border: 1px solid red;
  width: max-content;
  min-width: 280px;
  border: 1px solid rgb(226, 229, 237);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 35px 0px rgba(83, 93, 120, 0.2);
  border-radius: 3px;
  margin: 0px;
  padding: 10px 0px 0px 0px;
  z-index: 99999;
  margin-left: -35px;
  opacity: 0;
  visibility: hidden;
  -o-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  -o-transition: -o-transform 0.3s, opacity 0.3s;
  -ms-transition: -ms-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform: rotateX(-75deg);
  -o-transform: rotateX(-75deg);
  -moz-transform: rotateX(-75deg);
  -webkit-transform: rotateX(-75deg);
}
.grid_dropdown-country {
  width: auto !important;
  min-width: auto !important;
}
.dropdown-country {
  font-family: Roboto, sans-serif;
  font-weight: 400 !important;
  font-size: 15px !important;
  color: #333 !important;
  cursor: pointer !important;
}
.grid_dropdown-country .country-flag {
  margin-right: 5px !important;
  vertical-align: middle !important;
}
.grid_dropdown-country .right_dropwon_grid {
  padding-left: 0px !important;
}
.user-profile-nifty:hover .grid_dropdown {
  opacity: 1;
  visibility: visible;
  transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
}

.grid_dropdown li {
  display: block;
  width: 100%;
  padding: 7px 15px;
}

.grid_dropdown li:hover {
  background: #fafbfd;
}

.grid_dropdown li:last-child {
  margin-bottom: 0px !important;
}

.grid_dropdown_icon_left {
  border-radius: 3px;
  background-color: rgba(255, 159, 89, 0.102);
  float: left;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 44px;
}

.flag_grid_dropdown_icon_left {
  border-radius: 3px;
  background-color: transparent;
  float: left;
  /* width: 44px; */
  /* height: 44px; */
  text-align: center;
  /* line-height: 44px; */
}

.grid_dropdown_icon_left img {
  margin: 0px;
}

.grid_dropdown_icon_green {
  background-color: rgb(70, 211, 154, 0.102);
}

.grid_dropdown_icon_blue {
  background-color: rgb(81, 221, 253, 0.102);
}

.right_dropwon_grid {
  float: left;
  /* padding-left: 10px; */
}

.right_dropwon_grid span {
  font-size: 14px;
  font-family: "Roboto";
  color: rgb(15, 33, 55);
  line-height: 1.2;
  font-weight: 500;
}

.right_dropwon_grid p {
  font-size: 13px;
  font-family: "Roboto";
  color: rgb(129, 137, 146);
  line-height: 1.2;
}

.grid_dropdown li:hover span {
  color: #2395f5;
}

.h_header_top_scroll {
  position: fixed !important;
  top: 0px;
  width: 100%;
  background: #0c1536;
  z-index: 9999;
  background-size: cover;
  padding-top: 7px;
  height: 50px;
}

.h_header_top_scroll .grid_dropdown {
  top: 42px;
}

.h_header_top_scroll .h_right_menubar .grid_dropdown {
  top: 38px !important;
}
/* Get app dropdown */
.h_right_menubar .get_app_dropdown li:last-child,
.right_dropwon_grid,
.get_app_dropdown li a,
.get_app_dropdown {
  padding: 0px !important;
}
.get_app_dropdown .h_download_our_app {
  border-radius: 5px !important;
}
.get_app_dropdown:after {
  border-bottom-color: #0b4ca6 !important;
}
.get_app_dropdown li:hover span {
  color: #fff !important;
}
.get_app_dropdown .h_app_right {
  padding-top: 40px !important;
  padding-right: 0px !important;
  padding-left: 4% !important;
}
@media (max-width: 1199px) {
  .get_app_menu {
    display: none !important;
  }
}
/* Get app dropdown end */
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(90deg, #152769, #034673);
  outline: 1px solid slategrey;
}

.table-responsive::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

.table-responsive::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.table-responsive::-webkit-scrollbar-thumb {
  background-image: linear-gradient(90deg, #152769, #034673);
  outline: 1px solid slategrey;
}

#search-overlay {
  display: none;
}

.block-search-bar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  text-align: center;
  background: #fff;
  margin: 0;
  z-index: 99999999999;
  color: var(--border-color);
}

.block-search-bar:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: 0;
  /* Adjusts for spacing */
  /* For visualization 
  background: #808080; width: 5px;
  */
}

.search-centered {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  padding: 10px 15px;
  border: none;
  background: transparent;
}

#search-box {
  position: relative;
  width: 100%;
  margin: 0;
}

#search-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 4.7em;
  width: 100px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 42px;
  border-width: 0;
  background-color: #4d90fe;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
}

#close-btn {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 99999999999999;
  cursor: pointer;
  font-size: 18px;
}

.owl-theme .owl-dots .active span {
  background: #2196f3 !important;
}

.nifty-home-banner .inner-page-logo {
  display: none;
}

.nifty-home-banner .inner-grid {
  display: none !important;
}

.nifty_inner_header .home-grid {
  display: none !important;
}

.nifty_inner_header .inner-grid {
  display: block !important;
}

.nifty_inner_header .inner-page-logo {
  display: block !important;
  height: 35px;
  margin-top: 4px;
}

.h_header_top_scroll .inner-page-logo {
  margin-top: 6px;
}

.nifty_inner_header .home-logo {
  display: none;
}

.nifty_inner_header .h_right_menubar {
  top: 6px;
}

/* Inner header css by mahi  */

.nifty_inner_header .h_header-top {
  background: #ffffff;
  /* box-shadow: var(--main-box-shadow); */
  box-shadow: 0px 4px 15px 0px rgba(35, 47, 62, 0.15);
  padding-top: 0px !important;
  position: relative;
}

.nifty_inner_header .h_right_menubar li a {
  color: rgb(33, 150, 243);
}

.nifty_inner_header .active-register-btn {
  border: 1px solid var(--main-hover-color);
  background: var(--main-hover-color) !important;
  color: #fff !important;
}

.nifty_inner_header .user-profile-nifty img {
  margin: 14px 0px 0px 0px;
}
.user-profile-nifty .dropdown-country img {
  margin: -4px 4px 0px 0px !important;
}
.user-profile-nifty .dropdown-country {
  font-family: Roboto, sans-serif;
  font-weight: 400 !important;
  font-size: 15px !important;
  color: #333 !important;
  cursor: pointer !important;
}
.nifty_inner_header .user-profile-nifty .grid_dropdown-country .country-flag {
  margin-right: 7px !important;
  vertical-align: middle !important;
}
.grid_dropdown img {
  margin: 0px !important;
}

.right-owl-carousel button {
  outline: none;
  background: transparent;
  border: 0px;
  padding: 0px;
}

.nifty_inner_header .user-profile-nifty {
  padding-bottom: 14px !important;
}

.responsive-login-user {
  display: none !important;
}

/*  Home Page 3 css */

.hompage-top-content {
  /* background: #f5f8fb url(/images/home-to-panel.jpg) center center repeat-x; */
  height: 100%;
  width: 100%;
  background-size: cover;
  padding: 0px 0px 5px 0px;
}
.hompage-top-content .angel-broking-box {
  margin-top: 0px;
  box-shadow: var(--main-box-shadow);
  border-radius: var(--main-border-radius);
  border: 0px;
}

.hompage-top-content .dayhighlow-box {
  background-color: #ffffff;
  box-shadow: var(--main-box-shadow);
  /* height: 407px; */
  border-radius: var(--main-border-radius) !important;
  padding: 15px 10px 0px 13px;
  margin: 0px 0px 15px;
}
.hompage-top-content .Brokerage .form-group {
  margin-bottom: 15.8px !important;
}
.section-banner {
  padding: 50px 0px 0px;
}

.nifty-top-news-bar {
  background: url(/images/hompage-2-topnewsbg.jpg) no-repeat;
  background-position: left;
  height: 35px;
  padding: 4px 15px 4px 11px;
  box-shadow: var(--main-box-shadow);
  border-radius: var(--main-border-radius);
  background-color: #fff;
}
.nifty-top-news-bar span {
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}
.nifty-top-news-bar marquee {
  float: right;
  width: 88%;
}
.nifty-top-news-bar marquee a {
  font-size: 13px;
  color: #343434;
  font-weight: 500;
  margin: 0px 25px 0px 0px;
}
.new-sgx-nifty-box {
  box-shadow: var(--main-box-shadow);
  border-radius: var(--main-border-radius);
  margin: 0px 0px 20px;
  background: #fff;
}
.sgx-box-inner-content {
  padding: 15px 0px 12px 15px;
}
.sgx-box-inner-content h5 {
  text-transform: uppercase;
  color: #343434;
  font-size: 15px;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
}
.sgx-box-inner-content h5 span {
  color: #e6191e;
  font-size: 14px;
  margin: 0px 0px 0px 15px;
}
.sgx-value-ul {
  padding-top: 5px;
}
.sgx-value-ul li {
  display: inline-block;
  color: #343434;
  font-size: 13px;
  font-weight: 500;
  margin: 8px 20px 0px 17px;
  line-height: 15px;
}
.sgx-value-ul li img {
  margin-right: 5px;
}
.sgx-value-ul li:first-child {
  font-size: 25px;
  font-weight: 500;
  margin: 12px 0px 0px 0px;
}
.sgx-value-ul li .fa-long-arrow-alt-down {
  color: #e6191e;
}
.sgx-value-ul li .fa-long-arrow-alt-up {
  color: #00b865;
}
.sgx-box-bottem {
  border-top: 1px solid #eeeeee;
  padding: 3px 5px;
  border-radius: 0px 0px 5px 5px;
}
.sgx-box-bottem li {
  display: inline-block;
  padding: 0px 10px;
  border-radius: 15px;
  font-weight: 400;
  transition: var(--main-transition);
  line-height: 20px;
  position: relative;
}
.sgx-box-bottem li::after {
  position: absolute;
  right: -3px;
  top: 0px;
  content: "|";
  color: var(--main-font-color);
  font-size: 10px;
}
.sgx-box-bottem li:last-child::after {
  display: none !important;
}
.sgx-box-bottem li:hover {
  background: var(--main-hover-color);
  transition: var(--main-transition);
}
.sgx-box-bottem li:hover a {
  color: #fff;
  transition: var(--main-transition);
}
.non-hover-li a {
  cursor: default !important;
}

.sgx-box-bottem li a {
  font-size: 12px;
  color: var(--main-hover-color);
  text-decoration: underline;
  letter-spacing: 0.5px;
}
.sgx-box-bottem li i {
  margin-right: 5px;
}
.premium-tag {
  width: 163px;
  background: url("/images/premium-tag.png") no-repeat !important;
  top: -13px;
  z-index: 999;
  height: 63px;
  right: 20px;
  font-weight: 600;
  color: #fff;
  position: absolute;
}
.homepage-newsbox h5 {
  font-size: 18px;
  font-weight: 600;
  color: #343434;
  padding: 0px 12px 0px 15px;
  border-bottom: 1px solid rgb(231, 231, 231);
  padding-bottom: 15px;
}
.homepage-newsbox {
  box-shadow: var(--main-box-shadow);
  border-radius: var(--main-border-radius);
  padding: 15px 0px;
  background: #fff;
}
.hindi-news-btn {
  color: #2196f3;
  font-size: 12px;
  border: 1px solid #2196f3;
  float: right;
  border-radius: 3px;
  padding: 6px 13px;
  margin-top: -3px;
  transition: 0.4s ease-in-out;
}
.hindi-news-btn:hover {
  background: #2196f3 !important;
  color: #ffffff !important;
}
.homepage-news-ul {
  height: 331px;
  overflow-y: scroll;
}
.homepage-news-ul li {
  padding: 0px 15px 10px 15px;
  list-style-type: none;
  line-height: 1.286;
  position: relative;
  margin-bottom: 15px;
}
.homepage-news-ul li::after {
  position: absolute;
  bottom: -5px;
  width: 75px;
  height: 1px;
  background: #f3f3f3;
  content: "";
  left: 50%;
  margin-left: -37.5px;
}
.homepage-news-ul li:hover a {
  color: var(--main-hover-color);
  cursor: pointer;
}
.homepage-news-ul li a {
  color: var(--main-hover-color);
  font-weight: 500;
  transition: 0.4s ease-in-out;
  font-size: 14px;
  line-height: 1.286;
}
.homepage-news-ul li span {
  color: #888888;
  font-weight: 400;
  font-size: 12px;
}
.news-ul-scroll::-webkit-scrollbar-track {
  height: 50% !important;
  border-radius: 10px;
  background-color: #d6d6d6;
}

.news-ul-scroll::-webkit-scrollbar {
  width: 6px;
}

.news-ul-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #9d9d9d;
}
.dayhighlow-box {
  border-radius: 8px !important;
}
.dayhighlow-box h6 {
  font-family: "Roboto", sans-serif !important;
  font-weight: 600 !important;
  color: #343434 !important;
  text-transform: capitalize !important;
  padding-bottom: 13px;
  font-size: 20px !important;
}
/* .analysis-heading {
  padding-top: 50px !important;
} */
#text-type {
  color: var(--main-font-color);
  display: inline-block;
  font-size: 16px !important;
  font-weight: 500 !important;
  margin: 15px 0px;
}
.searchbar input {
  width: 95% !important;
  height: 44px !important;
  font-size: 14px !important;
  color: var(--main-font-color);
  box-shadow: 0px 2px 16px 0px rgba(30, 30, 30, 0.16) !important;
  margin-bottom: 15px !important;
}
.company-searchbar input:focus {
  border-color: #ed6100;
}

.stockserach .searchbar input {
  width: 100% !important;
  height: 44px !important;
  font-size: 14px !important;
  margin-bottom: 0px !important;
  margin-top: 6px;
  background-color: #ffffff;
  box-shadow: var(--box-shadow-none) !important;
  border-radius: var(--secondary-border-radius);
  border: var(--border-0);
  border-bottom: 1px solid var(--border-color);
  padding: 0px 0px;
}

.stockserach .company-searchbar span {
  top: 21px !important;
  right: 0px !important;
}
.searchbar input::placeholder {
  font-size: 14px !important;
  color: var(--main-font-color);
}
.searchbar span {
  top: 10px !important;
  right: 30px !important;
}
.nifty50item1 {
  margin: 0px auto !important;
  padding: 0px !important;
  width: 75%;
  list-style: none;
}
.nifty50item1 li {
  display: inline-block;
}
.nifty50item1 span {
  font-size: 14px !important;
  font-weight: 400 !important;
  margin-bottom: 10px;
  display: block;
}
/* .nifty50item1 a {
  font-size: 11px !important;
  color: #2196f3;
  margin: 0px 2px;
  text-decoration: underline;
} */
.nifty50item1 a {
  width: auto;
  padding: 0px 10px;
  border-radius: 3px;
  background: #f1f5fa;
  border: 1px solid transparent;
  font-size: 11px;
  line-height: 25px;
  color: rgb(73, 80, 87);
  font-weight: 400;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  margin: 2px;
  transition: 0.2s all ease-in-out;
}
.nifty50item1 a:hover {
  background: #98c948;
  color: #fff;
}
.form-heading {
  border-radius: 7px 7px 0px 0px;
  padding: 15px 15px 10px !important;
}
.section1 .dayhighlow-box {
  border-radius: 8px !important;
}
.form-heading h5 {
  color: #ffffff !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 22px;
  text-align: left !important;
}
.Brokerage-form {
  padding: 25px 18px 10px !important;
}
.Brokerage-form label {
  font-size: 13px !important;
  font-weight: 400;
  color: #343434;
}
.Brokerage-form input {
  border: 1px solid rgb(203, 203, 203);
  height: 35px;
  border-radius: 3px;
  margin-top: 3px;
  box-shadow: inset 0px 5px 6px 0px rgba(0, 0, 0, 0.08);
  background: transparent !important;
  font-size: 13px;
}
.submit-btn {
  background-color: #2196f3 !important;
  border: #2196f3 solid 1px !important;
  color: #ffffff !important;
  font-size: 16px !important;
  padding: 7px 25px !important;
  border-radius: 3px !important;
  margin-top: 5px;
  vertical-align: middle;
  transition: 0.4s ease-in-out;
}
.submit-btn:hover {
  background: transparent !important;
  color: #2196f3 !important;
}
.section1 .pricetable-box {
  border: 0px !important;
  padding: 0px !important;
  margin-right: 14px;
  margin-top: 0px !important;
}
.section-research li {
  margin: 0px !important;
}
.pricetable-box h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 600 !important;
  color: #343434 !important;
  font-size: 18px !important;
  text-transform: capitalize !important;
  margin-bottom: 10px !important;
  padding: 0px !important;
}
.three-ngx-nifty {
  margin: 0px -30px;
}
/* ============== New Hompage 2 CSS End ================= */
.view-all-home {
  padding-right: 15px;
}
.view-all-home a {
  color: #2196f3;
  font-size: 14px;
}

.table tbody td a {
  font-size: 12px;
}

/* open-streagy page  */

.open-streagy-right .watchlist-dropdown {
  background: transparent !important;
  margin-bottom: 15px;
}

.open-streagy-right .watchlist-dropdown .btn {
  height: 40px !important;
}

.open-streagy-right .dropdown-toggle::after {
  top: 50% !important;
  margin-top: -12px;
}

.open-streagy-right .main-page-heading {
  padding-top: 10px;
}

.open-streagy-right .analytics-menu li {
  width: 223px;
  text-align: left;
  vertical-align: middle;
  padding: 0px 10px;
  display: inline-block;
}
.appendUl {
  border-top: 1px solid #dee2e6;
  padding-top: 15px !important;
}

.open-streagy-right .analytics-menu {
  display: flex;
}
.appenedRow {
  padding-top: 20px;
}
.optionlabel {
  display: inline-block;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  background-color: rgb(33, 150, 243);
  vertical-align: middle;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
}

.addOtionBtn {
  transition: all ease-out 0.5s;
  background-color: #ed6100;
  color: #ffffff;
  transition: all ease-out 0.5s;
}
.add-field {
  color: #ed6100 !important;
  background: transparent !important;
  padding: 0px !important;
  font-size: 20px !important;
  margin-top: 13px;
}
.add-field:hover {
  border: 1px solid transparent !important;
}
.calculateBtn {
  transition: all ease-out 0.5s;
  background: rgb(33, 150, 243);
  color: #fff;
}

.open-streagy-right button {
  display: inline-block;
  font-size: 11px;
  border: 0px;
  border-radius: 3px;
  padding: 7px 20px;
  cursor: pointer;
  margin-left: 15px;
  text-transform: uppercase;
}

.open-streagy-right .custom-control-label {
  font-size: 12px;
  vertical-align: middle;
  text-transform: uppercase;
}

.open-streagy-right .custom-control {
  display: inline-block;
  padding-left: 29px;
}

.open-streagy-right .custom-control-label::before {
  top: 0px;
}

.open-streagy-right .control-label {
  font-size: 13px;
  color: #333333;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 9px;
}
.open-streagy-right select {
  width: 100%;
  background-color: #ffffff;
  border: 0px;
  border-bottom: 1px solid var(--border-color);
  height: 30px;
  padding: 0px 0px;
  font-size: 12px;
  margin: 0px auto;
  color: var(--main-font-color);
  border-radius: 0px;
  text-transform: capitalize;
}
.open-streagy-right .custom-control-label {
  color: var(--main-font-color);
}
.open-streagy-right input {
  width: 100%;
  background-color: #ffffff;
  border: 0px;
  border-bottom: 1px solid var(--border-color);
  height: 30px;
  padding: 0px 0px;
  font-size: 12px;
  margin: 0px auto;
  border-radius: 0px;
}
.addOtionBtn:hover {
  background: #fff;
  border: 1px solid #ed6100;
  color: #ed6100;
}
.calculateBtn:hover {
  background: #fff;
  border: 1px solid rgb(33, 150, 243);
  color: rgb(33, 150, 243);
  transition: all ease-out 0.5s;
}
.showanalysis:hover {
  background: #fff;
  border: 1px solid rgb(33, 150, 243);
  color: rgb(33, 150, 243);
  transition: all ease-out 0.5s;
}
.showanalysis {
  display: inline-block;
  font-size: 13px;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 9px 20px;
  cursor: pointer;
  text-transform: uppercase;
  background: rgb(33, 150, 243);
  color: #fff;
}
.option-expired {
  color: #ee5921 !important;
}
.open-streagy-right-input input {
  background-color: #ffffff !important;
  border-radius: var(--main-border-radius);
  border: 1px solid var(--border-color);
  height: 40px;
  padding: 0px 0px;
  font-size: 12px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-radius: 0px;
}
.open-streagy-right .bootstrap-select > .dropdown-toggle {
  background-color: #ffffff !important;
  box-shadow: var(--main-box-shadow);
  border-radius: var(--main-border-radius);
  border: 0px;
  height: 40px;
  padding: 0px 15px;
  font-size: 12px;
  margin-bottom: 10px;
}
.open-streagy-right .bootstrap-select > .dropdown-toggle:focus {
  box-shadow: var(--main-box-shadow);
  outline: none !important;
  border: none;
}
.open-streagy-right .filter-option-inner-inner {
  line-height: 40px !important;
}
/* .open-streagy-right-input .form-control:disabled,
.form-control[readonly] {
  background-color: #ffffff !important;
} */

.open-streagy-right button {
  outline: none !important;
  border: 1px solid transparent;
  transition: all ease-out 0.5s;
}
.showanalysis:focus {
  outline: none !important;
  outline: none !important;
  border: 1px solid rgb(33, 150, 243);
}

.control-label-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--main-font-color);
  font-size: 14px;
  text-transform: capitalize;
}

.open-streagy-right .custom-control-label::after {
  top: 0px;
}
/* .open-streagy-right .analytics-menu li:first-child {
  width: 5%;
} */
.multi-field {
  position: relative;
}
.remove-field {
  /* position: absolute;
  right: 10px; */
  background: transparent;
  border: 0px;
  color: red;
  padding: 0px !important;
  box-shadow: none !important;
  top: 50%;
  font-size: 15px !important;
  /* margin-top: -11px; */
  margin-left: 20px !important;
}

.fetchbtn {
  position: absolute;
  right: 10px;
  background: transparent;
  border: 0px;
  padding: 0px !important;
  box-shadow: none !important;
  top: 50%;
  margin-top: -11px;
  color: #343434;
  font-size: 15px !important;
}

.open-streagy-right .analytics-menu li:after {
  top: 55%;
  margin-top: -15.5px;
  display: none !important;
}

.open-streagy-right select:focus {
  box-shadow: none;
  border-color: #ed6100 !important;
}

.fistli:after {
  margin-top: -20.5px !important;
}
.open-streagy-right .has-error .form-control {
  border: 1px solid #e6191e !important;
}

.open-streagy-right .has-error .control-label {
  color: #e6191e !important;
}

.open-streagy-right .has-error select {
  border: 1px solid #e6191e !important;
}

.open-streagy-right .help-block {
  display: none !important;
}

.open-streagy-right .has-error .custom-control-label::before {
  border: 1px solid #e6191e !important;
}
.mrtop-1 {
  margin-top: 6px !important;
}

.fistli {
  font-size: 13px;
  color: #333333;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 500;
}
.closeAlert {
  float: right;
  font-size: 20px;
}

.typeahead,
.stocks_query,
.tt-hint {
  border: 2px solid #cccccc;
  border-radius: 8px;
  font-size: 22px; /* Set input font size */
  height: 30px;
  line-height: 30px;
  outline: medium none;
  padding: 8px 12px;
  width: 396px;
}
.typeahead {
  background-color: #ffffff !important;
  box-shadow: var(--main-box-shadow);
  border-radius: var(--main-border-radius);
  border: 0px;
  height: 40px !important;
  padding: 0px 0px;
  font-size: 12px;
  margin-bottom: 10px !important;
  width: 100% !important;
  position: relative;
}
.twitter-typeahead {
  width: 45%;
  vertical-align: -webkit-baseline-middle;
}

.stocks_query {
  box-shadow: none;
  border-bottom: 2px solid var(--border-color) !important;
  border-radius: 0px !important;
}
.tt-hint {
  color: #999999;
}
.tt-menu {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 0px;
  border-radius: 0px 0px 8px 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: -10px;
  padding: 8px 0;
  width: 100%;
  text-align: left;
}
.tt-suggestion {
  padding: 10px 20px !important;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  font-family: "Roboto", sans-serif !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  color: #333333 !important;
  border-bottom: #c7c7c7 dotted 1px;
}
.tt-suggestion:hover {
  cursor: pointer;
  background: #f0f0f0 !important;
  border-top: #ed6100 dotted 0px !important;
  border-bottom: #c7c7c7 dotted 1px !important;
}
.tt-suggestion p {
  margin: 0;
}

.dropDownMen .fa-search {
  position: absolute;
  color: #888888;
  top: 14px;
  right: 15px;
  z-index: 999;
}
.dropDownMen .select-cmpy {
  font-size: 13px;
  color: #333333;
  text-transform: capitalize;
  line-height: 1.2;
  font-weight: 500;
}

#alertMsg {
  position: fixed;
  bottom: 30px;
  right: 15px;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 40px;
  width: 325px;
  border-radius: 0.25rem;
  border: 0px;
  border-left: red solid 3px;
  background-color: #ffffff;
  font-size: 14px;
  color: var(--main-font-color);
  font-weight: 400;
  line-height: 50px;
}
.stocks_input {
  border: 0px !important;
  box-shadow: var(--main-box-shadow);
}
.ul-loop {
  background: #f7f9fc;
  color: #495057;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  padding: 11px 15px !important;
  border-bottom: 1px solid #dee2e6 !important;
}
.ul-loop li {
  text-align: left !important;
  padding-left: 0px !important;
}
.ul-loop li label {
  margin-bottom: 0px !important;
}
.open-streagy-right .analytics-menu .form-group {
  margin: 0px;
}
.sectionNew {
  padding-bottom: 0px !important;
}
.smallMonths {
  font-size: 10px;
}
#show-analysis tr td {
  vertical-align: middle;
}
.add_nifty_futures {
  padding-right: 86px;
  padding-top: 30px;
}
.add_nifty_futures_btn {
  background: teal;
  color: #fff;
  border: 1px solid transparent;
}
.add_nifty_futures_btn:hover {
  background: transparent;
  border: 1px solid teal;
  color: teal;
}
.PriceBox {
  margin-left: -10px;
}
.mt0 {
  margin-top: 0px !important;
}

.open-streagy-right-input .has-float-label {
  display: block;
  position: relative;
}
.open-streagy-right-input .has-float-label label,
.open-streagy-right-input .has-float-label > span {
  position: absolute;
  cursor: text;
  font-size: 12px;
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  top: -0.5em;
  left: 0px;
  z-index: 3;
  line-height: 1;
  color: var(--main-font-color);
  margin: 0px;
}
.open-streagy-right-input .has-float-label label::after,
.open-streagy-right-input .has-float-label > span::after {
  content: " ";
  display: block;
  position: absolute;
  background: #fff;
  height: 2px;
  top: 50%;
  left: -0.2em;
  right: -0.2em;
  z-index: -1;
}
.open-streagy-right-input
  .has-float-label
  .form-control::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.open-streagy-right-input
  .has-float-label
  .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
  opacity: 0;
}
.open-streagy-right-input
  .has-float-label
  .form-control:placeholder-shown:not(:focus)
  + * {
  font-size: 12px;
  top: 13px;
}
.open-streagy-right-input .input-group .has-float-label {
  display: table-cell;
}
.open-streagy-right-input .input-group .has-float-label .form-control {
  border-radius: 0.25rem;
}
.open-streagy-right-input.input-group .has-float-label:not(:last-child),
.open-streagy-right-input.input-group
  .has-float-label:not(:last-child)
  .form-control {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: 0;
}
.open-streagy-right-input.input-group .has-float-label:not(:first-child),
.open-streagy-right-input.input-group
  .has-float-label:not(:first-child)
  .form-control {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.emty-lbl {
  font-size: 12px;
  color: #666;
  text-transform: capitalize;
  line-height: 1.2;
  font-weight: 500;
}
.responsive-abs {
  position: absolute;
}
.header-recently-search ul li {
  display: inline-block;
}
.header-recently-search ul li a {
  font-size: 14px;
}
.block-search-bar .twitter-typeahead {
  width: 100% !important;
}
#empty_content {
  float: right;
  width: 50%;
  padding-top: 10px;
  font-size: 17px;
  vertical-align: middle;
  font-weight: 400;
  color: #ed6100;
  letter-spacing: 1px;
  position: absolute;
  left: 20%;
  top: 0px;
}
#empty_content p {
  /* overflow: hidden; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
      animation: typing 3s ease-in-out forwards infinite; */
  float: left;
}
#empty_content h5 {
  font-size: 35px;
}
/* .hide_select {
  display: none;
} */
.listitemdata ul {
  margin: 0px;
  padding: 0px;
}
.listitemdata ul li {
  display: inline-block;
}

.arrowline {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation-delay: 0s;
  animation: dash 3s ease-in-out forwards infinite;
}
.arrowpoint {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation-delay: 3s;
  animation: dash 3s ease-in-out forwards infinite;
}
@keyframes dash {
  0% {
    stroke-dashoffset: 100;
    opacity: 0;
  }
  50% {
    stroke-dashoffset: 150;
    opacity: 1;
  }
}
.arrowRotate {
  /* transform: rotate(-90deg); */
  position: absolute;
  top: 65px;
  left: 6px;
  font-size: 13px;
  vertical-align: middle;
  color: #ed6100;
}
#addBtnCal {
  position: absolute;
  right: 0px;
}
/* @keyframes typing {
  from { width: 0 }
  to { width: 100% }
} */
#mobile-menu {
  display: none;
}
.responsiive-label {
  display: none !important;
}
.socialShring {
  position: fixed;
  bottom: 50px;
  right: 14px;
  z-index: 9999999999;
  transition: all ease-out 0.5s;
}
.socialShring {
  margin: 0px;
  padding: 0px;
}
.socialShring li {
  display: block;
  padding: 0px;
  margin: 5px 0px;
}
.socialShring li a {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 100%;
  text-align: center;
  font-size: 12px;
  color: #fff;
  transition: all 0.15s ease-in-out;
}
.socialShring li a:hover {
  transition: all 0.15s ease-in-out;
  transform: scale(1.1, 1.1);
}
.socialSharingBtn {
  position: fixed;
  bottom: 15px;
  z-index: 9999;
  display: block;
  width: 25px;
  height: 25px;
  line-height: 23px;
  border-radius: 100%;
  border: 0px;
  font-size: 12px;
  text-align: center;
  background-color: #d32f2f;
  box-shadow: 0 0 0 5px rgba(251, 119, 119, 0.33);
  transition: all ease-out 0.5s;
  color: #fff;
  visibility: hidden;
}
.socialSharingBtn:hover {
  outline: none;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.socialSharingBtn:focus {
  outline: none;
}
.socialShring .header_linkedin {
  background: #0af;
}
.socialShring .header_youtube {
  background: #dd4b39 !important;
}
.socialShring .header_twitter {
  background: #0af;
}
.socialShring .header_facebook {
  background: #3b5998 !important;
}
.typeahead-select {
  background: transparent;
  box-shadow: none !important;
  width: 30% !important;
  display: inline-block;
  margin-bottom: 15px !important;
  vertical-align: middle !important;
}

#homepage_three_blocks img {
  border-radius: var(--main-border-radius) !important;
  height: 407px;
}
#homepage_three_blocks .item {
  max-height: 407px;
  height: 100%;
}

#homepage_three_blocks.owl-theme .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -11px !important;
}

#homepage_three_blocks .owl-prev {
  position: absolute;
  left: 0px;
}
#homepage_three_blocks .owl-next {
  position: absolute;
  right: 0px;
}
#homepage_three_blocks button {
  border-radius: 100%;
  padding: 0;
  line-height: 35px;
  width: 35px;
  height: 35px;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  border: 0px;
  visibility: hidden;
  transition: all 0.15s ease-in-out;
}
#homepage_three_blocks button:focus {
  outline: none;
  border: 0px;
}
.hompage-top-content .dayhighlow-box:hover button {
  transition: all 0.15s ease-in-out;
  visibility: visible !important;
}

.know_more {
  background: none;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
  padding-right: 15px;
  padding-top: 5px;
  color: #2196f3 !important;
  text-decoration: underline;
}
.know_more:focus {
  outline: none;
  border: none;
}

.popover {
  max-width: 306.6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.popover-body {
  border: none;
  padding: 15px;
  color: #5f6976;
  font-size: 15px;
  z-index: 2;
  line-height: 1.53;
}

.popover-body .popover-close .material-icons {
  font-size: 16px;
  font-weight: bold;
  color: #04a0b2;
}
#companybrokers .owl-stage-outer {
  overflow: visible !important;
}

#companybrokers .owl-item {
  opacity: 0 !important;
  transition: opacity 500ms !important;
}
#companybrokers .owl-item.active {
  opacity: 1 !important;
}

/* Arrow  top*/

button.back-to-top {
  margin: 0 !important;
  padding: 0 !important;
  background: #fff;
  height: 0px;
  width: 0px;
  overflow: hidden;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  color: transparent;
  clear: both;
  visibility: hidden;
  position: fixed;
  cursor: pointer;
  display: block;
  border: none;
  left: 15px;
  bottom: 30px;
  font-size: 0px;
  outline: 0 !important;
  z-index: 99;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

button.back-to-top::before,
button.back-to-top::after {
  content: "";
  display: block;
  vertical-align: middle;
  border-bottom: solid 10px #ea5d5f;
  border-left: solid 10px transparent;
  line-height: 0;
  border-right: solid 10px transparent;
  height: 0;
  margin: 16px auto 0;
  width: 0;
  border-radius: 20px;
  visibility: hidden;
}
button.back-to-top.show::after,
button.back-to-top.show::before {
  visibility: visible;
}
button.back-to-top::after {
  border-bottom-color: #fff;
  position: relative;
  top: -24px;
}
button.back-to-top.show {
  display: block;
  background: #fff;
  color: #00ab6c;
  font-size: 25px;
  left: 7px;
  bottom: 15px;
  height: 40px;
  width: 40px;
  visibility: visible;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}
button.back-to-top.show:active {
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
}

/* Ticker */
.main_ticker {
  background: #343434 !important;
  display: flex;
  padding: 3px 0px;
}

.main_ticker a {
  display: inline-flex;
  text-decoration: none !important;
  margin: 0px 10px;
}

.main_ticker a .ticker_stock {
  color: #fff !important;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.main_ticker a .ticker_stock span {
  color: #fff !important;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0px 10px 0px 5px;
}

.ticker_stock_up {
  color: #00b865 !important;
  font-weight: 500;
  font-size: 14px;
}

.ticker_stock_down {
  font-weight: 500;
  font-size: 14px;
  color: #f90604 !important;
}

.tcontainer {
  width: 100%;
  overflow: hidden; /* Hide scroll bar */
}

/* MIDDLE CONTAINER */
.ticker-wrap {
  width: 100%;
  padding-left: 5%; /* Push contents to right side of screen */
}

/* INNER CONTAINER */
@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
.ticker-move {
  /* Basically move items from right side of screen to left in infinite loop */
  display: inline-block;
  white-space: nowrap;
  padding-right: 0;
  animation-iteration-count: infinite;
  transition: 1s all ease-in-out;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 170s;
}
.ticker-move:hover {
  animation-play-state: paused; /* Pause scroll on mouse hover */
}
/* latest css from 3rd may 2021 */
.h_watchlist .slick-slide {
  padding: 30px 15px !important;
  margin: 0px !important;
}
.h_watchlist .slick-list {
  margin: 0px -15px !important;
}
.h_chart_watchlist {
  position: absolute;
  left: 0px;
  bottom: 0px;
  border-radius: 0px 0px 20px 20px !important;
  z-index: 9;
  height: 97px;
}
.h_watchlist .slick-slide img {
  max-width: 100% !important;
  border-radius: 0px 0px 20px 20px !important;
}
/* New brokers */
.new_brokers {
  background: #f4f8fb;
  padding: 40px 0px !important;
}
.new_broker_box {
  border-radius: 5px;
  filter: drop-shadow(0px 4px 10.5px rgba(35, 47, 62, 0.15));
  background-color: #ffffff;
  padding: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.new_brokers_logo {
  min-width: 105px;
  max-width: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.new_brokers_logo img {
  max-width: 100%;
}
.new_broker_content {
  width: 100%;
}
.br_content_heading {
  width: 100%;
  display: flex;
}
.br_content_heading .new_broker_title {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 25px;
  color: #495057 !important;
  font-weight: 700;
}
.br_content_heading .new_broker_title svg {
  margin-left: 5px;
}
.br_content_heading .new_broker_title:hover svg {
  color: #2196f3;
}
.br_content_heading .new_broker_btn {
  width: auto;
  text-decoration: none !important;
  height: 38px;
  border-radius: 3px;
  background-color: #2196f3;
  border: 1px solid #2196f3;
  font-size: 14px;
  letter-spacing: 0px;
  color: #ffffff !important;
  font-weight: 400;
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: center;
  padding: 0px 15px;
  transition: 0.2s all ease-in-out;
}
.br_content_heading .new_broker_btn:hover {
  background-color: #fff;
  color: #2196f3 !important;
}
.br_content_heading ul {
  list-style: none;
  margin-left: 20px;
}
.br_content_heading ul li {
  display: inline-block;
  margin: 0px 1px;
}
.br_content_heading span {
  font-size: 13px;
  letter-spacing: 0px;
  color: #495057;
  font-weight: 400;
  margin-left: 10px;
}
.br_content_features {
  display: flex;
  align-items: center;
}
.br_service {
  width: 205px;
}
.br_service span {
  display: flex;
  width: max-content;
  height: 25px;
  border-radius: 3px;
  align-items: center;
  font-size: 13px;
  letter-spacing: 0px;
  color: #495057;
  font-weight: 500;
  padding: 0px 10px;
  background: #f1f5f9;
  text-transform: uppercase;
}
.br_content_features ul {
  list-style: none;
}
.br_content_features ul li {
  display: inline-block;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 38px;
  color: #495057;
  font-weight: 400;
  margin-right: 50px;
}
.br_content_features ul li img {
  margin-right: 5px;
}
.br_account_charges {
  display: flex;
  margin-top: 10px;
}
.br_account_charges ul {
  list-style: none;
}
.br_account_charges ul li {
  display: inline-block;
  font-size: 13px;
  letter-spacing: 0px;
  line-height: 30px;
  color: #74788d;
  font-weight: 400;
  margin-right: 60px;
}
.br_account_charges ul li p {
  font-size: 15px;
  color: #495057 !important;
  margin: 0px;
  font-weight: 500 !important;
}
.br_account_charges ul li p img {
  margin-left: 3px;
}
