.swal2-title {
  font-size: 20px !important;
  color: #343434 !important;
}

.swal2-html-container {
  font-size: 14px !important;
  color: #666666 !important;
}

.swal2-styled {
  border: transparent solid 1px;
  border-radius: 2px !important;
  background: initial;
  background-color: #ed6100 !important;
  color: #fff;
  font-weight: 400 !important;
  font-size: 16px !important;
  /* font-size: 1.0625em; */
  transition: all ease-out 0.5s;
}

.swal2-cancel {
  border: #ef4f53 solid 1px !important;
  background-color: #ef4f53 !important;
}

.swal2-cancel:hover {
  background-color: #ffffff !important;
  color: #ef4f53 !important;
  background-image: none !important;
  transition: all ease-out 0.5s;
}

.swal2-confirm {
  border: #ed6100 solid 1px !important;
  background-color: #ed6100 !important;
  transition: all ease-out 0.5s;
}

.swal2-confirm:hover {
  background-color: #ffffff !important;
  color: #ed6100 !important;
  background-image: none !important;
}

.swal2-styled:focus {
  box-shadow: none !important;
}

.swal2-icon {
  margin: 0px auto 15px !important;
}

.openaccount-modal input {
  border-radius: 0;
}

/* ================== live-analytics-box start ================== */
.live-analytics-box {
  padding: 15px;
  background-color: #ffffff;
  border: #ebebeb solid 1px;
  margin-right: 15px;
  margin-top: 15px;
}

.live-analytics-box h1 {
  font-size: 18px;
  color: #333333;
  line-height: 1.389;
  font-weight: 500;
  margin-bottom: 10px;
}

.analytics-menu {
  list-style: none;
  display: block;
}

.analytics-menu li {
  display: inline-block;
  padding-right: 35px;
  border-right: #ebebeb solid 1px;
  padding-left: 10px;
}

.analytics-menu li:first-child {
  padding-left: 0px;
  min-width: 255px;
}

.analytics-menu li:last-child {
  border-right: 0px;
}

.current-price {
  font-size: 13px;
  color: #666666;
  line-height: 1.2;
  font-weight: 400;
  /* display: block; */
  margin-bottom: 5px;
}

.analytics-menu li h6 {
  font-size: 20px !important;
  color: #333333;
  line-height: 1.25;
  padding-bottom: 0px !important;
}

.analytics-menu li h6 span {
  font-size: 13px;
  line-height: 1.923;
  margin-left: 5px;
}

.analytics-menu li h6 span i {
  font-size: 16px;
}

.analytics-menu li h5 {
  font-size: 13px;
  color: #333333;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 9px;
}

.live-analytics {
  padding: 15px !important;
}

.live-analytics h3,
.live-analytics h2 {
  font-size: 16px;
  color: #333333;
  line-height: 1.563;
  font-weight: 500;
  margin-bottom: 10px;
}

.atr-menu {
  display: block;
  /* padding: 0px 20px; */
  border: #e7e7e7 solid 1px;
  margin-bottom: 0px !important;
}

.atr-icon {
  float: left;
  width: 15px;
}

.atr-item {
  padding: 8px 15px;
  border-bottom: #ebebeb solid 1px;
  line-height: inherit !important;
}

.atr-menu .atr-item:nth-child(even) {
  background-color: #f9f9f9;
}

.atr-menu .atr-item:nth-child(odd) {
  background-color: #ffffff;
}

.atr-menu .atr-item:last-child {
  border-bottom: 0px;
}

.atr-icon .fa-circle {
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
}

.atr-link {
  float: left;
  padding-left: 5px;
  font-weight: 400;
  width: 95%;
}

.atr-item h4 {
  font-size: 14px !important;
  color: #333333;
  line-height: 1.5;
  margin-bottom: 0px;
  font-weight: 400;
}

.atr-item p {
  font-size: 14px !important;
  line-height: 1.5;
  font-weight: 400 !important;
  margin-bottom: 0px;
}

.momentum-content {
  display: block;
}

.momentum-content li {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #666666;
  line-height: 1.286 !important;
  font-weight: 400;
  margin-bottom: 10px;
}

.momentum-content i {
  font-size: 6px;
  margin-right: 10px;
  font-weight: 600;
}

.momentum-content h6 {
  font-size: 16px;
  color: #333333;
  line-height: 1.667;
  padding-bottom: 10px;
}

.openaccount-modal .modal-save-btn {
  padding: 0px 15px;
  margin-top: 10px;
  border-radius: 2px;
  line-height: 40px;
  text-transform: capitalize;
}

.openaccount-modal .modal-header {
  padding: 20px 30px;
}

.openaccount-modal .modal-body {
  padding: 15px 30px 15px;
}

.openaccount-modal select {
  box-shadow: 0px 0px 10px 0px rgba(6, 25, 48, 0.06);
  border: #e9e9e9 solid 1px !important;
  background-color: #ffffff;
  min-height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding-left: 40px;
  color: #666666;
  padding: 0px 15px;
}

/* ================== live-analytics-box close ================== */

.percent-white {
  background: #fff !important;
}

.percent-green2 {
  color: #fff !important;
  background-color: #00b865 !important;
}

.percent-orange2 {
  color: #fff !important;
  background-color: #ed6100 !important;
}

.section1 .pricetable-box .gap-table thead th {
  padding: 13.5px 10px !important;
}

.section1 .pricetable-box .gap-table tbody td {
  padding: 9px 10px !important;
  border-top: 0;
}

.tr-green {
  background-color: #e7f7f2;
}

.tr-orange {
  background-color: #fff8e8;
}

.tr-red {
  background-color: #fdedee;
}

.table-wrap-styles tr:nth-child(even),
.table-wrap-styles tr:nth-child(odd) {
  background-color: #ffffff !important;
}

.dataTables_empty {
  color: #e6191e !important;
}

/*======================== My account page csss 19-02-2020 Mahi ===================*/

.content-body {
  background: #ffffff;
  border: #e7e7e7 solid 1px;
  padding: 0px;
  margin: 20px auto;
}

.page-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #343434;
  text-transform: capitalize;
  line-height: 20px;
  padding-bottom: 15px;
}

.myaccountTab {
  background-color: #fff;
  border: 0px;
  margin: 0px 0px 0px 0px;
}

.myaccountTab ul li {
  border-radius: 0px;
}

.myaccountTab ul li a i {
  margin-right: 5px;
}

.myaccountTab ul li a {
  padding: 20px 30px;
  border-radius: 0px;
  background: #fff;
  color: #343434;
  border-top: #ebebeb solid 1px;
  border-right: 0px;
  border-left: 0px;
  font-size: 14px;
  color: #555555;
  font-weight: 500;
}

.myaccountTab .tab-content {
  padding: 30px 25px;
}

.myaccountTab ul li:last-child a {
  border-bottom: #ebebeb solid 1px;
}

.user-name {
  display: block;
  height: 100px;
  width: 100px;
  line-height: 100px;
  border-radius: 100%;
  background: #f5f6fa;
  text-align: center;
  margin: 25px auto 10px auto;
  font-weight: 600;
  color: #ed6100;
  font-size: 30px;
}

.myaccountTab .nav-pills .nav-link {
  border-radius: 0px;
}

.myaccountTab .flex-column {
  border-right: 1px solid #ebebeb;
  height: 100%;
}

.myaccountTab .nav-pills .nav-link.active {
  background-color: #f9f9f9 !important;
  font-weight: 500;
  color: #ed6100;
}

.myaccountTab .form-control {
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  height: 40px;
  color: #666666;
}

.myaccountTab .modal-save-btn {
  padding: 0px 15px;
  margin-top: 10px;
  border-radius: 2px;
  line-height: 40px;
  text-transform: capitalize;
}

.control-label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #666666;
  font-size: 14px;
  text-transform: capitalize;
  margin-bottom: 8px;
  display: block;
  width: 100%;
}

::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;

  color: #666666;
}

.radio {
  display: inline-block;
  padding-top: 0px;
}

.radio label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #666666;
  vertical-align: middle;
  margin-right: 15px;
  cursor: pointer;
}

.myaccountTab select {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #666666;
  height: 40px;
}

.user-info span {
  display: block;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #333333;
}

.user-info span i {
  padding-right: 7px;
  font-size: 17px;
}

.user-info {
  padding-bottom: 20px;
}

.tab-heading {
  padding-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #343434;
  text-transform: capitalize;
}

.left-user {
  border-right: 0px;
}

.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.radio input[type="radio"] + .radio-label:before {
  content: "";
  background: #fff;
  border-radius: 100%;
  border: 1px solid #0a4c6c;
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  top: -0.2em;
  margin-right: 5px;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #0a4c6c;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}

.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #3197ee;
}

.radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}

.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}

.useremail {
  font-size: 14px !important;
  color: #ed6100 !important;
}

.subscriptions-table tr td {
  vertical-align: middle;
  background: #fff;
}

.subscriptions-table {
  margin-bottom: 30px;
}

.subscriptions-table tr th {
  vertical-align: middle;
  background: #fff;
}

.orderid {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #343434;
}

.msg-trans i {
  color: #18b57e;
  vertical-align: middle;
  font-size: 20px;
}

.fa-times-circle {
  color: red !important;
}

.msg-trans {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #343434;
}

.order-date {
  font-size: 14px;
  padding-top: 8px;
}

.footer-tabel td {
  background: #f5f6fa !important;
  font-weight: 400;
  color: #666666;
  font-size: 14px;
}

.current-plan {
  font-weight: 400;
  color: #666666;
  font-size: 14px;
}

.premium-paln {
  font-size: 16px;
  color: #ed6100;
  font-weight: 500;
  padding-bottom: 7px;
  font-family: "Roboto", sans-serif;
}

.expire-plan {
  font-size: 15px;
  color: #ed6100;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.start-plan {
  font-size: 15px;
  color: #666666;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.gender-user {
  padding-top: 15px;
}

.heading-content {
  font-size: 15px;
  color: #666666;
  text-align: center;
}

#priceplan-blocks .nav-tabs {
  position: relative;
  border: none !important;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(235, 235, 235);
  background-color: rgba(239, 243, 244, 0.8);
  width: 500px;
  margin: 0px auto;
  border-radius: 25px;
  margin-bottom: 15px;
  margin-top: 7px;
}

#priceplan-blocks .nav-tabs li {
  margin: 0px !important;
}

#priceplan-blocks .nav-tabs li a {
  position: relative;
  margin-right: 0px !important;
  padding: 13.5px 10px !important;
  font-size: 14px;
  border: none !important;
  color: #333333;
  background: #f2f5f6;
  border-radius: 25px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

#priceplan-blocks .nav-tabs .active {
  background-color: #ed6100 !important;
  border: none !important;
  color: #fff !important;
}

#priceplan-blocks .nav-tabs li a i {
  margin-right: 10px;
  /* background: #1e5a77;
  color: #d1d6d8;
  border-radius: 100%; */
}

#priceplan-blocks .nav-tabs .active i {
  background: transparent;
  color: #fff;
  border-radius: 100%;
}

.thscroll th {
  background: red;
}

.pricing-panel {
  padding: 0px 20px;
  padding-bottom: 40px;
}

.pricing-panel table th img {
  vertical-align: middle;
}

.pricing-panel table thead {
  background: #fff !important;
}

.pricing-panel table th {
  font-size: 16px !important;
  color: #ed6100 !important;
  vertical-align: middle;
  font-weight: 500 !important;
  border-bottom: 0px !important;
  border-top: 0px !important;
}

.pricing-panel table th:first-child {
  width: 50%;
}

.pricing-panel table tr td {
  vertical-align: middle;
  font-size: 13px;
  color: #333333;
  font-weight: 500 !important;
}

.pricing-panel table tr td .fa-check {
  color: #18b57e;
}

.pricing-panel table tr td .fa-times {
  color: #acacac;
}

.table-bordered {
  border-top: 0px !important;
  border-bottom: 0px !important;
}

.plan-table {
  position: relative;
}

.price-panel {
  position: absolute;
  top: -20px;
  right: -1px;
  width: 565px;
  height: 80px;
  border: 1px solid #ebebeb;
  background: #fff;
}

.price-panel ul {
  padding: 15px 0px;
}

.price-panel ul li {
  display: inline-block;
  position: relative;
  width: 49%;
  padding-left: 15px;
}

.price-panel ul li:first-child::after {
  position: absolute;
  width: 1px;
  height: 81px;
  border-right: 1px solid #ebebeb;
  content: "";
  top: -16px;
  right: -7px;
}

.plan-startnow {
  background-color: rgb(10, 76, 108);
  width: 78px;
  height: 30px;
  display: block;
  float: right;
  line-height: 30px;
  text-align: center;
  font-size: 13px;
  color: #ffffff;
  font-weight: 500;
  margin-right: 5px;
  margin-top: -4px;
  transition: 0.3s ease-in-out;
}

.plan-name {
  font-size: 16px;
  color: #343434;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 8px;
  float: left;
}

.check-plan {
  float: right;
  padding-right: 5px;
  font-size: 13px;
  color: #666666;
  margin-top: -5px;
  font-weight: 500;
}

.price-panel ul li span {
  font-size: 16px;
  color: #343434;
  font-weight: 500;
  line-height: 32px;
}

.plan-buynow {
  background: #ed6100;
}

.premium-plan {
  font-size: 14px !important;
  color: #999999 !important;
}

.full-price {
  font-size: 20px;
  color: #ed6100;
}

.discount-price {
  text-decoration: line-through;
  padding-right: 5px;
}

.plan-startnow:hover {
  color: #fff;
  background: #ed6100;
  transition: 0.3s ease-in-out;
}

.plan-buynow:hover {
  background-color: rgb(10, 76, 108);
  transition: 0.3s ease-in-out;
}

.check-plan .custom-control-label::before {
  top: 0px;
}

.check-plan .custom-control-label::after {
  top: 0px;
}

.compareplan {
  display: none;
}

.responsive-basic-plan {
  display: none;
}

.table-price-header {
  width: 25%;
}

.wsmenu-list-close {
  margin-left: -260px;
}

/* / 404 page 24-02-2020 /  */
.page404 {
  background: transparent;
  border: 0px;
}

/* .page404 img {
  width: 60%;
} */

.page404 h1 {
  /* padding: 50px 0px; */
  padding-top: 40px;
  /* font-size: 80px; */
  font-size: 25px;
  color: #333333;
  font-weight: 500;
}

.page404 a {
  display: block;
  font-size: 15px;
  width: 146px;
  text-align: center;
  margin: 20px auto;
  background-color: #ffffff;
  border: #e2e5ed solid 1px;
  color: #2095f2;
  font-size: 13px;
  padding: 8.5px 15px;
  border-radius: 3px;
  vertical-align: middle;
  transition: all ease-out 0.5s;
  font-weight: 400;
}

.page404 a:hover {
  background-color: #2196f3;
  color: #ffffff;
  border: #2196f3 solid 1px;
}

.page404 p {
  font-size: 15px;
  padding: 5px 0px;
  color: #666666;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.571;
}

/* 27-02-2020 broker page */

/* Broker Directoy */
.search_panel {
  background: url(/images/broker1.jpg) center center no-repeat fixed;
  background-size: cover;
  padding: 50px 0px;
  margin-bottom: 25px;
  margin-top: 50px;
}

.inner_search {
  background: rgba(255, 255, 255, 0.85);
  padding: 30px 15px;
  -webkit-box-shadow: 0 1px 15px 1px rgba(62, 57, 107, 0.07);
  box-shadow: 0 1px 15px 1px rgba(62, 57, 107, 0.07);
}

.inner_search select {
  width: 100%;
}

.inner_search
  .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100% !important;
}

.company-profile .dropdown {
  width: 100% !important;
}

.inner_search .btn {
  border-radius: 0px;
  padding: 13px 12px;
}

.inner_search .form-control {
  border-radius: 0px;
  padding: 13px 12px;
}

.inner_search .bootstrap-select .dropdown-menu li a {
  padding: 10px 12px !important;
}

.inner_search .bootstrap-select .dropdown-menu {
  padding-bottom: 0px !important;
}

.bootstrap-select {
  z-index: 999 !important;
}

.dropdown-menu {
  max-height: 350px !important;
}

.dropdown-item.active,
.dropdown-item:active {
  background: #f5f6fa;
  border-color: #f5f6fa;
  color: #333333;
}

.search_btn {
  width: 100%;
  background: #ed6100 !important;
  border-color: #ed6100 !important;
  border-radius: 2px;
  margin-top: 23px;
  height: 32px;
  padding: 0px 0px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.search_btn:hover {
  background: #fff !important;
  color: #ed6100 !important;
  transition: all 0.5s ease-in-out;
}

.cd-filter-block input,
.cd-filter-block select,
.cd-filter-block .radio-label::before,
.cd-filter-block .checkbox-label::before {
  /* shared style for input elements */
  border-radius: 0;
  background-color: #ffffff;
  border: 2px solid #e6e6e6;
}

.cd-filter-block .list li {
  position: relative;
}

.cd-filter-block input[type="radio"],
.cd-filter-block input[type="checkbox"] {
  /* hide original check and radio buttons */
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 2;
}

.broker-page-content ul li:hover .radio-label {
  color: #0a4c6c;
  font-weight: 500;
}

.cd-filter-block .checkbox-label,
.cd-filter-block .radio-label {
  padding-left: 20px;
  cursor: pointer;
  text-decoration: none;
  color: #333333;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cd-filter-block .checkbox-label::before,
.cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after {
  /* custom radio and check boxes */
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 10px;
}

.cd-filter-block .checkbox-label::before,
.cd-filter-block .radio-label::before {
  width: 16px;
  height: 16px;
  left: 10px;
}

.cd-filter-content {
  margin: 0px;
}

.cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::after {
  /* check mark - hidden */
  display: none;
}

.cd-filter-block .checkbox-label::after {
  /* check mark style for check boxes */
  width: 16px;
  height: 16px;
  background: url("/images/cd-icon-check.svg") no-repeat center center;
}

.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after {
  border-radius: 50%;
}

.cd-filter-block .radio-label::after {
  /* check mark style for radio buttons */
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  left: 15px;
}

.cd-filter-block input[type="radio"]:checked + label::before,
.cd-filter-block input[type="checkbox"]:checked + label::before {
  border-color: #0a4c6c;
  background-color: #0a4c6c;
}

.cd-filter-block input[type="radio"]:checked + label::after,
.cd-filter-block input[type="checkbox"]:checked + label::after {
  display: block;
}

.filter_panel .broker-page {
  margin-top: 0px;
  background: #fff;
  border: #e7e7e7 solid 1px;
  margin: 15px 0px;
}

.broker-page:first-child {
  margin-top: 0px;
  padding-top: 0px;
}

#filterSide {
  display: none;
}

.filter_panel .broker-page h3 i {
  float: right;
  background: #ffffff;
  color: #0a4c6c;
  border-radius: 97%;
  font-size: 12px;
  height: 19px;
  width: 19px;
  text-align: -webkit-auto;
  text-align: center;
}

.inner-logo {
  vertical-align: middle;
  text-align: left;
  padding: 15px;
  border: 1px solid #ebebeb;
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 60px;
  min-height: 367px;
}

.inner-logo a {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #333333;
  position: relative;
}

.middellogo::after {
  position: absolute;
  bottom: 0px;
  left: -15px;
  border: 0.5px solid #ebebeb;
  content: "";
  width: 251px;
}

#box_shadow h3 {
  color: #4098ef;
  padding: 10px 7px;
}

.inner-toggle {
  display: none;
}

.toggleSlide i {
  float: right;
  margin-top: 8px;
  font-size: 12px;
  color: #333333;
}

.toggleSlide li {
  cursor: pointer;
  color: #333333;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background: #fff;
  border-bottom: 1px dotted #ccc;
  padding: 5px 8px;
  display: block;
}

.toggleSlide li:last-child {
  border-bottom: 0px !important;
}

.toggleSlide {
  background: #f7f7f7;
  line-height: 30px;
}

.inner-toggle ul li {
  font-size: 13px;
  margin: 0px;
  line-height: 30px;
  border-bottom: 0px !important;
  padding: 0px 8px !important;
}

.toggleSlide li span {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #0a4c6c;
  font-size: 13px;
}

.inner-toggle ul {
  border-bottom: 1px dotted #ccc;
}

.inner-toggle .fa-check {
  color: green;
}

.inner-toggle .fa-times {
  color: red;
}

.padding-7 {
  padding: 0px 8px;
}

.broker-page h3:last-child {
  margin-bottom: 15px;
}

.call_back button {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #333333;
  transition: all 0.5s ease-in-out;
  border: 0px;
  position: absolute;
  left: 7px;
  bottom: 24px;
  background: transparent;
  outline: none;
}

.call_back button:hover {
  color: #ed6100;
}

.call_back button i {
  transform: rotate(100deg);
}

.bestDeal {
  position: absolute;
  left: -8px;
  top: -7px;
  width: 53px;
}

.recommned {
  position: absolute;
  left: -15px;
  background: #fff;
  top: -15px;
  width: 53px;
}

.bs-searchbox .form-control {
  height: 30px;
}

.apply_now button {
  background-color: #ed6100;
  border: #ed6100 solid 1px;
  color: #ffffff;
  font-size: 12px;
  padding: 9px 8px;
  border-radius: 2px;
  margin-top: 10px;
  vertical-align: middle;
  position: absolute;
  right: 13px;
  bottom: 13px;
  transition: all ease-out 0.3s;
}

.apply_now button:focus {
  outline: none;
}

.apply_now button:hover {
  background-color: #ffffff;
  color: #ed6100;
  transition: all ease-out 0.3s;
}

.apply_now {
  text-align: center;
}

.apply_now button:hover {
  transition: all 1s ease-in-out;
}

.centered-modal.in {
  display: flex !important;
}

.centered-modal .modal-dialog {
  margin: auto;
}

.modal-content {
  border-radius: 0px;
  border: 0px;
}

.form-control {
  box-shadow: none;
}

.modal-footer {
  border: 0px;
  padding-top: 0px;
  text-align: right;
}

#apply_now label {
  padding-bottom: 8px;
}

.popupbtn {
  border-radius: 0px;
  padding: 15px 12px;
  width: 30%;
  margin: 20px auto;
  border: 1px solid #fa625f;
  text-decoration: none;
  color: #fff;
  background: #fa625f;
  line-height: 7px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  outline: none;
  transition: all 1s ease-in-out;
}

.popupbtn:hover {
  border: 1px solid #fa625f;
  background: #fff;
  transition: all 1s ease-in-out;
}

.popupbtn:focus {
  outline: none !important;
  background: #fa625f;
}

.modal-body {
}

.close {
  color: #2a1e5c;
  font-size: 34px;
  opacity: 1;
}

.recaptcha {
  padding-left: 15px;
}

#apply_now h3 {
  color: #2a1e5c;
  font-size: 20px;
}

#apply_now h1 {
  font-size: 17px;
  padding: 20px 0px 20px;
}

.company_logo {
  border: 1px solid #ccc;
  max-height: 100px;
  margin: 20px 0px 10px;
  margin: 15px auto;
}

.pt-13 {
  margin-top: 13px;
}

.detail_about p {
  font-size: 13px;
  font-weight: 700;
  color: #2a1e5c;
  font-family: "Open Sans", sans-serif;
}

.detail_about p span {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #5e6670;
  font-size: 12px;
  line-height: 30px;
}

.detail_about p a {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #fa625f;
  font-size: 13px;
}

.detail_about p i {
  color: #fa625f;
}

.btn-group.open .dropdown-toggle {
  box-shadow: none !important;
}

.bootstrap-select .btn:focus {
  background: #fff !important;
}

.btn-group.open .dropdown-toggle:hover {
  background: #fff !important;
}

.details_table table tr td b {
  font-weight: 700 !important;
}

.broker-page h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #ed6100;
  font-size: 14px;
  text-transform: uppercase;
  padding: 15px;
}

.broker-page-content {
  background-color: #fff;
}

.broker-page-content ul li {
  line-height: 35px;
  padding-left: 15px;
  border-top: 1px dotted #dee2e6;
  border-left: 4px solid transparent;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  display: block;
}

.broker-page-content ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #5e6670;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.broker-page-content ul li a i {
  margin-right: 5px;
  margin-top: 0px;
  float: none;
  color: #fa625f;
}

.broker-page-content ul li:hover {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  color: #0a4c6c;
  font-weight: 500;
}

.broker-page-content ul li:last-child {
  border-bottom: 0px !important;
}

.broker-page-content ul li:hover a {
  color: #fa625f;
  cursor: pointer;
  transition: 0.5s;
}

.broker-page-content:first-child {
  display: block !important;
}

.middellogo {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 80px;
}

.middellogo img {
  width: 100%;
  height: 100%;
}

.broker-page-section {
  padding-top: 80px !important;
}

.search-row {
  background-color: #f9f9f9;
  border: #ebebeb solid 1px;
  padding: 15px 0px;
  margin: 0px 0px 25px 0px;
}

.search-row .btn-light {
  border-color: #ebebeb;
  background: #fff;
  border-radius: 2px;
  padding: 5.5px 15px;
}

.select-cmpy {
  font-size: 13px;
  color: #666666;
  margin-bottom: 8px;
}

.filter-option-inner-inner {
  font-size: 13px;
  color: #666666;
}

.bootstrap-select .dropdown-menu li a span.text {
  font-size: 13px;
  color: #666666;
}

.bootstrap-select .dropdown-menu li a {
  padding-left: 10px !important;
}

.inner {
  z-index: 99999999;
}

.inner::-webkit-scrollbar {
  width: 1px;
  height: 0px;
}

.inner::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  height: 0px;
}

.inner::-webkit-scrollbar-thumb {
  background-color: #1f86ec;
  outline: 1px solid slategrey;
  height: 0px;
}

.no-results {
  color: #ed6100;
  font-size: 12px;
}

.applyModal-modal input {
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  height: 40px;
  color: #666666;
}

.applyModal-modal .form-control {
  height: 40px;
}

.applyModal-modal .close {
  font-weight: normal;
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 0px;
  font-size: 28px;
}

.applyModal-modal .modal-save-btn {
  padding: 0px 15px;
  margin-top: 10px;
  border-radius: 2px;
  line-height: 40px;
  text-transform: capitalize;
  float: left;
}

/* Details broker page  */

.broker-table table {
  width: 100%;
  border-collapse: collapse;
  margin: 50px auto;
}

.broker-table th {
  background: #fbfcfe;
  color: white;
  font-weight: bold;
}

.broker-table td,
th {
  padding: 10px;
  text-align: left;
  font-size: 18px;
}

.table tbody + tbody {
  border: 0px;
}

.broker-table .table-bordered td {
  border-left: 0px;
  border-right: 0px;
  border-top: 1px dotted #dee2e6 !important;
  border: 0px;
  color: #333333;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  vertical-align: middle;
}

.broker-table .table-bordered td b {
  color: #000;
  font-size: 12px;
  display: block;
  min-width: 120px;
}

.broker-table .table-bordered td a {
  color: #0a4c6c !important;
}

.broker-table .labels tr td {
  background-color: #fbfcfe;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #666666;
  text-transform: uppercase;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}

.broker-table .Open_Account button {
  position: unset;
}

.broker-table .label tr td label {
  display: block;
}

.broker-table .apply_now button {
  position: unset;
  margin: 0px;
}

.for_assitace button {
  background-color: #4098ef;
  border: #4098ef solid 1px;
}

.content-section {
  min-height: 2000px;
}

.broker-table {
  position: relative;
  z-index: 99999;
}

.modal {
  z-index: 99999999999999999999;
}

.sidebar-section {
  position: absolute;
  height: 100%;
  width: 100%;
}

.top-fixed-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.top-fixed-bar-inner {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  z-index: 99999999;
  background: #fff;
}

.header-fixed {
  z-index: 99999999;
}

.broker-details {
  margin-top: 150px;
}

.top-fixed-bar-inner ul {
  margin: 0px;
  padding: 15px 15px;
  width: 100%;
  border: #e7e7e7 solid 1px;
}

.top-fixed-bar-inner ul li {
  position: relative;
  float: right;
  display: block;
  width: 25%;
  text-align: right;
  border: #e7e7e7 solid 1px;
  padding: 15px 0px;
  margin-left: 15px;
}

.top-fixed-bar-inner ul li img {
  width: 50%;
  margin: 0px auto;
  display: block;
}

.top-fixed-bar-inner ul li summary {
  color: #0a4c6c;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding-top: 10px;
}

.top-fixed-bar-inner ul li i {
  color: #ed6100;
  font-size: 11px;
}

.removeElement {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 15px;
}

.removeElement i {
  font-size: 17px !important;
}

.search-row {
  position: relative;
  z-index: 999999;
}

/* End Broker detail page */

/*========================  Mahi ===================*/

/* ================== Ameen 02/03/2020=================== */
/* =============Stock Analysis Page Css=============== */

/* ========= Yes Bank Ltd. ================ */
.analysis-section {
  padding-top: 48px;
  background: #ffffff;
}

.angel-broking-box {
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 15px 15px;
  background-color: #ffffff;
  border: 1px solid #e2e5ed;
  border-radius: 3px;
  transition: all ease-out 0.5s;
}

.angel-broking-box img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.angel-broking-box span {
  font-size: 13px;
  vertical-align: middle;
  font-weight: 500;
  color: #74788d;
}

.angel-broking-box:hover {
  background: #f5f8fb;
}

.angel-broking-box:hover span {
  transition: all ease-out 0.5s;
  text-decoration: underline !important;
  color: #5ab0f5;
}

.yes-bank-detail {
  padding: 15px 0px;
}

.yes-bank-detail h1 {
  font-size: 20px;
  color: #495057;
  font-weight: 600;
}

.yes-bank-detail h1 span {
  font-size: 25px;
  color: #ffffff;
  font-weight: 600;
  background: #18b57e;
  border-radius: 3px;
  padding: 0px 5px;
}

.yes-bank-detail h1 i {
  color: #18b57e;
  font-size: 23px;
  position: relative;
  top: 10px;
}

.yes-bank-detail h1 b {
  color: #18b57e;
  font-size: 16px;
  position: relative;
  top: 5px;
}

.yes-bank-detail ul li {
  font-size: 12px;
  color: #74788d;
  line-height: 10px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  padding: 15px 5px 5px 0px;
}

.yes-bank-right {
  padding: 15px 0px;
}

.yes-bank-right ul {
  padding: 15px 0px 0px;
}

.yes-bank-right ul li {
  display: inline-block;
  cursor: pointer;
  margin-right: 5px;
}

.watch-box {
  color: #495057;
  text-align: center;
  font-size: 11px;
  position: absolute;
  padding: 7px 5px;
  text-transform: uppercase;
  font-weight: 500;
  background: #f5f8fb;
  border: 1px solid #e2e5ed;
  border-radius: 3px;
  height: 25px;
  width: 135px;
  visibility: hidden;
  top: -30px;
  left: -51px;
}

.watch-box:after,
.watch-box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.watch-box:after {
  border-color: rgba(226, 229, 237, 0);
  border-top-color: #f5f8fb;
  border-width: 5px;
  margin-left: -5px;
}

.watch-box:before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: #e2e5ed;
  border-width: 6px;
  margin-left: -6px;
}

.add-to-watchlist {
  background: url(/images/Watchlist01.svg) center no-repeat;
  width: 20px;
  height: 20px;
  border: 1px solid #2196f2;
  border-radius: 3px;
  padding: 14px 16px;
  position: relative;
  background-size: 85% 85%;
}

.add-to-watchlist:hover {
  background: url(/images/Watchlist.svg) center no-repeat;
  background-color: #2196f2;
  height: 30px;
  width: 22px;
  padding: 6px 16px;
  background-size: 85% 85%;
}

.add-to-watchlist:hover .watch-box {
  visibility: visible;
}

.add-alert {
  background: url(/images/Alert01.svg) center no-repeat;
  width: 20px;
  height: 20px;
  border: 1px solid #2196f2;
  border-radius: 3px;
  padding: 14px 16px;
  position: relative;
  background-size: 85% 85%;
}

.add-alert:hover .watch-box {
  visibility: visible;
}

.add-alert:hover {
  background: url(/images/Alert.svg) center no-repeat;
  background-color: #2196f2;
  height: 30px;
  width: 22px;
  padding: 6px 16px;
  background-size: 85% 85%;
}

.share-icon {
  background: url(/images/Save01.svg) center no-repeat;
  width: 20px;
  height: 20px;
  border: 1px solid #2196f2;
  border-radius: 3px;
  padding: 14px 16px;
  position: relative;
  background-size: 85% 85%;
}

.share-icon:hover {
  background: url(/images/Save.svg) center no-repeat;
  background-color: #2196f2;
  height: 30px;
  width: 22px;
  padding: 6px 16px;
  background-size: 85% 85%;
}

.share-icon:hover .watch-box {
  visibility: visible;
}

.yes-bank-buy-btn {
  border: 1px solid #18b57e;
  border-radius: 3px;
  padding: 6px 16px;
  max-height: 30px;
  text-transform: uppercase;
  position: relative;
  top: -10px;
  transition: 0.4s;
}

.yes-bank-buy-btn a {
  color: #18b57e;
  font-size: 14px;
  font-weight: 500;
}

.yes-bank-buy-btn:hover a {
  color: #ffffff;
}

.yes-bank-buy-btn:hover {
  background: #18b57e;
}

.yes-bank-sell-btn {
  max-height: 30px;
  border: 1px solid #e85254;
  border-radius: 3px;
  padding: 6px 14px;
  text-transform: uppercase;
  position: relative;
  top: -10px;
  transition: 0.4s;
}

.yes-bank-sell-btn a {
  color: #e85254;
  font-size: 14px;
  font-weight: 500;
}

.yes-bank-sell-btn:hover {
  background: #e85254;
}

.yes-bank-sell-btn:hover a {
  color: #ffffff;
}

/* ========= Yes Bank Ltd. close ================ */
/* ========= Analysis Menu ================ */
.analysis-menu {
  background: #f1f5fa;
  border-top: 1px solid #e2e5ed;
  border-bottom: 1px solid #e2e5ed;
}

.analysis-menu li {
  display: inline-block;
}

.analysis-menu li a {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: #495057;
  line-height: 1.923;
  display: block;
  padding: 10px 15px;
  border-bottom: 2px solid transparent;
  transition: all ease-out 0.5s;
}

.analysis-menu li:hover {
  border-bottom: 2px solid #ed6100;
}

/* ========= Analysis Menu close================ */
/* ========= Profile section close================ */
.profile-section {
  background: #ffffff;
  padding: 20px 0px;
}

.analysis-profile {
  padding: 20px 15px;
  box-shadow: 0px 3px 35px 0px rgba(83, 93, 120, 0.08);
  border: 1px solid rgb(226, 229, 237);
  border-radius: 3px;
}

.analysis-profile-table {
  padding: 15px !important;
}

.analysis-profile h6 {
  color: #495057;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}

.analysis-profile p {
  font-size: 14px;
  color: #74788d;
  line-height: 1.714;
  font-weight: 400;
  margin-bottom: 25px;
}

.analysis-profile button {
  background: #ed6100;
  font-size: 13px;
  color: #ffffff;
  font-weight: 500;
  border-radius: 3px;
  border: none;
  text-transform: capitalize;
  padding: 7px 10px;
  transition: 0.4s ease-in-out;
  border: 1px solid transparent;
}

.analysis-profile button:hover {
  background: #ffffff;
  color: #ed6100;
  border: 1px solid #ed6100;
}

.analysis-profile button:hover i {
  color: #ed6100;
}

.analysis-profile button i {
  color: #ffffff;
  font-size: 9px;
  margin-left: 5px;
}

.analysis-profile button:focus {
  outline: 0;
}

.analysis-profile ul {
  list-style: none;
  margin-top: -1px;
}

.analysis-profile ul li {
  color: #74788d;
  font-size: 13px;
  border-bottom: 1px solid #e2e5ed;
  padding: 10px 10px;
}

.analysis-profile ul li span {
  color: #495057;
  font-weight: 500;
  float: right;
}

.analysis-profile ul li:last-child {
  border-bottom: none !important;
  padding-bottom: 0px !important;
}

/* ========= Profile section close================ */
/* ========= Chart section ================ */
.chart-section {
  background: #ffffff;
  padding: 15px 0px;
}

.chart-section h6 {
  color: #495057;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}

.chart-box {
  padding: 15px;
  box-shadow: 0px 3px 35px 0px rgba(83, 93, 120, 0.08);
  border: 1px solid rgb(226, 229, 237);
  border-radius: 3px;
  min-height: 440px;
}

.day-table {
  padding: 15px 15px 5px;
  box-shadow: 0px 3px 35px 0px rgba(83, 93, 120, 0.08);
  border: 1px solid rgb(226, 229, 237);
  border-radius: 3px;
}

.day-table h6 {
  color: #495057;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.day-table table thead {
  background: #f1f5fa;
}

.day-table table thead tr th {
  font-size: 13px !important;
  color: #495057;
  text-transform: uppercase;
  font-weight: 500;
  padding: 14px 12px;
}

.day-table table tbody tr td {
  font-size: 13px !important;
  color: #495057;
  text-transform: uppercase;
  font-weight: 500;
  padding: 14px 12px;
}

.day-table table tbody tr {
  transition: all ease-out 0.2s;
}

.day-table table tbody tr:hover {
  background: #f7f9fc;
}

/* ========= Chart section close================ */
/* ========= Technicals section ================ */
.technical-section {
  background: #ffffff;
  padding: 20px 0px;
}

.technical-section h6 {
  color: #495057;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}

.technical-analysis {
  box-shadow: 0px 3px 35px 0px rgba(83, 93, 120, 0.08);
}

.technical-left {
  border: 1px solid rgb(226, 229, 237);
  border-radius: 3px 3px 0px 0px !important;
  border-bottom: 0px;
  padding: 5px 0px;
}

.technical-left-bottom {
  border: 1px solid rgb(226, 229, 237) !important;
  border-radius: 0px 0px 3px 3px !important;
}

.trend-analysis-left {
  border-left: 2px solid #e2e5ed;
  height: 90px;
  position: absolute;
  left: 19px;
  top: 75px;
}

.trend-analysis-left-d {
  border-left: 2px dotted #e2e5ed;
  height: 90px;
  position: absolute;
  left: 19px;
  bottom: 40px;
}

.trend-analysis {
  padding: 0px 15px 8px 20px;
  margin-left: 20px;
  list-style: none !important;
}

.trend-analysis span img {
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 3px;
}

.technical-left h5 {
  color: #495057;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 500;
  padding: 20px 15px 10px;
}

.trend-analysis-bottom li::before {
  display: none !important;
}

.trend-analysis-bottom li i {
  position: absolute;
  left: -27px;
}

.trend-analysis-bottom li span {
  color: #ed6100 !important;
  text-transform: capitalize !important;
}

.trend-analysis li:nth-child(1)::before {
  content: ".";
  color: #4d79f6;
  font-size: 70px;
  position: absolute;
  top: -33px;
  left: -30px;
}

.trend-analysis li:nth-child(2)::before {
  content: ".";
  color: #4ac7ec;
  font-size: 70px;
  position: absolute;
  top: -33px;
  left: -30px;
}

.trend-analysis li:nth-child(3)::before {
  content: ".";
  color: #f3c74d;
  font-size: 70px;
  position: absolute;
  top: -33px;
  left: -30px;
}

.trend-analysis li {
  color: #495057;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
  padding: 15px 15px 15px 0px;
  border-bottom: 1px solid rgb(226, 229, 237);
  position: relative;
}

.trend-analysis li span {
  color: #495057;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  float: right;
}

.trend-up {
  position: relative;
  left: -23px;
}

.trend-analysis li:last-child {
  border-bottom: 0px;
}

/* ================ Price Table===================== */
.price-table {
  box-shadow: 0px 3px 35px 0px rgba(83, 93, 120, 0.08);
  border: 1px solid rgb(226, 229, 237);
  border-radius: 3px;
  padding: 20px 15px 5px;
}

.future-analysis-table {
  padding-bottom: 20px !important;
  min-height: 287px;
}

.price-table h5 {
  color: #495057;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 20px;
}

.price-table table thead {
  background: #f1f5fa;
}

.price-table table thead tr th {
  font-size: 13px !important;
  color: #495057;
  text-transform: uppercase;
  font-weight: 500;
  padding: 14px 12px;
}

.price-table table tbody tr td {
  font-size: 13px !important;
  color: #495057;
  text-transform: uppercase;
  font-weight: 500;
  padding: 14px 12px;
}

.price-table table tbody tr {
  transition: all ease-out 0.2s;
}

.price-table table tbody tr:hover {
  background: #f7f9fc;
}

.points-table {
  margin-top: 20px;
}

.points-table table thead tr th:nth-child(6) {
  padding: 14px 2px !important;
}

.points-table table tbody tr td:nth-child(6) {
  text-align: center !important;
}

.add-box {
  margin: 30px 0px;
}

/* ================ Past Table===================== */

.past-table {
  box-shadow: 0px 3px 35px 0px rgba(83, 93, 120, 0.08);
  border: 1px solid rgb(226, 229, 237);
  border-radius: 3px;
  padding: 20px 15px 5px;
  margin-top: 20px;
}

.past-table h5 {
  color: #495057;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 20px;
}

.past-table table thead {
  background: #f1f5fa;
}

.past-table table thead tr th {
  font-size: 13px !important;
  color: #495057;
  text-transform: uppercase;
  font-weight: 500;
  padding: 15px 10px;
}

.past-table table tbody tr td {
  font-size: 13px !important;
  color: #495057;
  text-transform: uppercase;
  font-weight: 500;
  padding: 20px 10px 10px;
}

.past-table table tbody tr {
  transition: all ease-out 0.2s;
}

.past-table table tbody tr:hover {
  background: #f7f9fc;
}

.range-bar {
  width: 100%;
  height: 6px;
  border-radius: 20px;
  background: #ededee;
  top: -5px;
  margin-bottom: 5px;
  position: relative;
}

.range-bar span {
  position: absolute;
  background: #e85254;
  display: block;
  height: 6px;
  border-radius: 20px;
}

.range-bar i {
  color: #e85254;
  float: right;
  font-size: 13px;
  position: relative;
  left: 5px;
  top: -3.5px;
}

.range-bar-green i {
  color: #3ab07c;
  float: right;
  font-size: 13px;
  position: relative;
  left: 5px;
  top: -3.5px;
}

.range-bar-green span {
  background: #3ab07c;
  display: block;
  height: 6px;
  border-radius: 20px;
}

/* ================ Gaps Support ===================== */

.gaps-support {
  box-shadow: 0px 3px 35px 0px rgba(83, 93, 120, 0.08);
  border: 1px solid rgb(226, 229, 237);
  border-radius: 3px;
  padding: 20px 15px;
  margin-top: 20px;
}

.gaps-support h5 {
  color: #495057;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 10px;
}

.gap-down {
  border-bottom: 1px solid #e2e5ed;
  padding: 15px 10px 25px !important;
  margin: 0px 10px;
}

.gap-down p::before {
  background: url(/images/gap-down.png);
  height: 50px !important;
  width: 50px !important;
  position: absolute;
  left: 0px;
  top: 0px;
  content: "";
}

.gap-up p::before {
  background: url(/images/gap-up.png);
  height: 50px !important;
  width: 50px !important;
  position: absolute;
  left: 0px;
  top: 0px;
  content: "";
}

.gap-down p {
  font-size: 14px;
  color: #495057;
  font-weight: 600;
  position: relative;
  padding-left: 65px;
  padding-top: 20px;
}

.gap-down b {
  font-size: 12px;
  text-transform: uppercase;
  color: #74788d;
  display: block;
  font-weight: 500;
}

.gap-down span {
  color: #e85254;
  font-size: 13px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  margin-top: -20px;
  background: #fceeed;
}

.gap-up span {
  color: #3ab07c;
  background: #ebf7f2;
}

/* ========= Technicals section close================ */
/* ========= Futures section ================ */
.futures {
  background: #ffffff;
  padding: 20px 0px;
}

.futures h5 {
  color: #495057;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}

.futures h6 {
  color: #495057;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}

.rollover-table thead tr th {
  border-bottom: 1px solid #dee2e6;
  width: 50%;
  text-align: center;
}

.rollover-table thead tr th:nth-child(1) {
  border-right: 1px solid #dee2e6;
}

.rollover-table thead tr th span {
  color: #e85254;
}

.future-right img {
  box-shadow: 0px 3px 35px 0px rgba(83, 93, 120, 0.08);
  border-radius: 3px;
  border: 1px solid rgb(226, 229, 237);
}

.future-chart {
  box-shadow: 0px 3px 35px 0px rgba(83, 93, 120, 0.08);
  border-radius: 3px;
  border: 1px solid rgb(226, 229, 237);
  margin: 15px 0px 0px 0px;
  padding: 15px;
  min-height: 340px;
}

/* ========= Futures section close================ */
/* ========= Peer Comparison ================ */
.peer-comparison {
  background: #ffffff;
  padding: 20px 0px 50px;
}

.peer-comparison h5 {
  color: #495057;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}

.comparison-table {
  padding: 30px 15px 10px !important;
}

.comparison-table table thead tr th {
  padding: 14px 5px;
}

.comparison-table table tbody tr td {
  padding: 14px 5px;
}

.export-btn {
  border: 1px solid #2196f3;
  color: #2196f3;
  background: transparent;
  padding: 8px 18px 6px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  position: absolute;
  transition: all ease-out 0.3s;
  top: 30px;
}

.export-btn span {
  padding-left: 23px;
}

.export-btn span::before {
  background: url(/images/Export.svg) no-repeat;
  height: 20px !important;
  width: 20px !important;
  position: absolute;
  top: 3px;
  left: 13px;
  display: block;
  content: "";
  transition: all ease-out 0.3s;
}

.export-btn:hover {
  background: #2196f3;
  color: #ffffff;
}

.export-btn:hover span::before {
  background: url(/images/Export01.svg) no-repeat;
}

.comparison-title {
  list-style: none;
  border: 1px solid #e2e5ed;
  border-bottom: 0px;
  margin-top: 1px;
}

.comparison-title li {
  display: inline-block;
  font-size: 12px;
  color: #495057;
  font-weight: 500;
  padding: 13px 37px;
  text-align: center;
}

.comparison-title li:nth-child(1) {
  padding: 13px 64px;
}

.comparison-title li:nth-child(2) {
  border-left: 1px solid #e2e5ed;
  border-right: 1px solid #e2e5ed;
}

.analysis_menu_scroll {
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 9999;
}

.analysis-active {
  border-bottom: 2px solid #ed6100 !important;
}

.comparison-tr {
  background-color: transparent !important;
  border: none;
}

.comparison-tr tr th:nth-child(1) {
  text-align: left !important;
  border: none !important;
}

.comparison-tr tr th {
  text-align: center;
  border: 1px solid #e2e5ed;
  padding: 14px 0px !important;
}

/* ========= Peer Comparison close================ */
/* ================== Ameen ======================= */

/* Start Bhavana  3/3/2020*/

.advance_stock_screener {
  border: 1px solid rgb(226, 229, 237);
  border-radius: 3px;
  padding: 14px;
  box-shadow: 0px 3px 35px 0px rgba(83, 93, 120, 0.08);
}

.stock_main_heading {
  font-size: 18px;
  font-weight: 500;
  padding-top: 7px;
  font-family: "Roboto";
  color: #495057;
}

.advance_stock_screener button {
  font-size: 13px;
  font-family: "Roboto";
  font-weight: 500;
  border-radius: 3px;
  padding: 0px 13px;
  line-height: 31px;
  margin-right: 6px;
}

.advance_stock_screener button:last-child {
  margin-right: 0px;
}

.save_filters {
  color: #2196f3;
  background: transparent;
  border: 1px solid #2196f3;
}

.stock_filter {
  background: #2196f3;
  border: 0px;
  border: 1px solid transparent;
  color: #fff;
}

.stock_filter i {
  margin-right: 7px;
  font-weight: 400;
}

.refresh_btn {
  border: 1px solid #2196f3;
  background: transparent;
}

.advance_stock_screener span {
  color: #74788d;
  font-size: 15px;
  padding-top: 6px;
  padding-right: 9px;
  font-family: "Roboto";
}

.stock_apply_filter li {
  color: #74788d;
  font-size: 12px;
  font-family: "Roboto";
  display: inline-block;
  padding: 0px 13px;
  line-height: 25px;
  list-style: none;
  margin-bottom: 12px;
  margin-right: 8px;
  position: relative;
  border-radius: 2px;
  background-color: #f7f9fc;
  border: 1px solid rgb(226, 229, 237);
}

.stock_apply_filter li:hover {
  background: #f1f5fa;
  cursor: pointer;
}

.stock_apply_filter {
  padding-top: 16px;
}

.stock_apply_filter li:hover .close_hidden {
  display: block;
  background: #f1f5fa;
  width: 17px;
  padding: 2px;
  right: -7px;
  top: -8px;
  position: absolute;
  font-size: 11px;
  text-align: center;
  height: 17px;
  border-radius: 50%;
  border: 1px solid rgb(226, 229, 237);
}

.close_hidden {
  display: none;
}

.percent-green {
  color: #18b57e;
}

/* filter modal */

.filter_modal .modal-header {
  background-color: transparent;
  border-radius: 0px;
  display: inherit;
  padding: 0px;
}

.filter_modal .common_btns {
  font-size: 13px;
  height: 30px;
  padding: 0px 14px;
  margin-left: 5px;
  font-weight: 500;
  border-radius: 3px;
}

.filter_modal button i {
  margin-right: 7px;
}

.filter_modal .modal-header .close {
  padding: 0px;
  margin: 0px;
  position: absolute;
  font-size: 27px;
  font-weight: 300;
  color: #475f7b;
  right: 17px;
}

.filter_modal .modal-header {
  padding: 12px 19px;
}

.filter_modal .modal-title {
  margin: 0px;
  padding-top: 5px;
  color: #495057;
}

/* The container */
.stock-checkbox {
  display: block;
  position: relative;
  padding-left: 23px;
  margin-bottom: 12px;
  cursor: pointer;
  color: #74788d;
  margin-right: 13px;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.stock-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.filter_modal .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  border-radius: 2px;
  height: 15px;
  border: 1px solid rgb(198, 200, 202);
}

.stock-checkbox input:checked ~ .checkmark {
  background-color: #2196f3;
  border: 0px;
}

.filter_modal .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.stock-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.stock-checkbox .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.filter_modal h6 {
  font-size: 14px;
  color: #495057;
  font-family: "Roboto";
  text-transform: capitalize;
  font-weight: 500;
}

.filter_modal li {
  list-style: none;
  font-family: "Roboto";
  width: 50%;
  float: left;
}

.filter_modal li span {
  color: #74788d;
  font-family: "Roboto";
  padding-bottom: 11px;
  display: block;
  font-size: 13px;
}

.filter_modal .modal-body {
  padding: 0px 0px;
}

.stock_screener_filters {
  margin: 0px 0px;
  padding: 13px 4px;
  border-top: 1px solid rgb(226, 229, 237);
}

.stock-sma {
  padding-left: 9px;
}

/* saved filter modal */

.filter_modal h5 {
  color: #495057;
  font-size: 15px;
  font-weight: 500;
  padding-top: 9px;
}

.stock_saved_btn li {
  width: 100%;
}

.stock_saved_btn li:hover {
  background: #f1f5fa;
  cursor: pointer;
}

.stock_saved_btn button {
  border: 1px solid #2196f3;
  background: transparent;
  border-radius: 3px;
  height: 30px;
  margin-left: 6px;
  padding: 0px 8px;
}

.stock_saved_btn button i {
  color: #2196f3;
  text-align: center;
}

.stock_saved_btn li {
  border-bottom: 1px solid rgb(226, 229, 237);
  padding: 10px 20px;
  border-radius: 3px;
}

.stock_saved_btn li:last-child {
  border: 1px solid red !important;
}

.stock_saved_btn {
  padding: 0px 0px;
}

.filter_content_modal .modal-content {
  max-width: 439px !important;
}

.filter_content_modal .modal-dialog {
  max-width: 439px !important;
}

.refresh_btn img {
  width: 16px;
  vertical-align: text-top;
}

.advance_stock_screener .refresh_btn {
  padding: 0px 8px;
  height: 33px;
}

.stock_filter_modal .stock_filter img {
  width: 16px;
  vertical-align: text-top;
  margin-right: 7px;
}

.stock_saved_btn img {
  width: 16px;
  vertical-align: text-top;
}

.refresh_btn:hover {
  transition: 0.5s ease-in-out all;
  background: #2196f3;
}

.refresh_btn:hover img {
  filter: brightness(12.5);
}

.stock_filter:hover i {
  color: #2196f3;
}

.right_refresh_btns .stock_filter:hover {
  background: #fff;
  transition: 0.5s ease-in-out all;
  color: #2196f3;
  border: 1px solid #2196f3;
}

.save_btn button:hover {
  background: #2196f3;
  transition: 0.5s all ease-in-out;
}

.save_btn button:hover img {
  filter: brightness(12.5);
}

.advance_stock_screener .pagination .active .page-link {
  background: #f1f5fa;
  border: 1px solid transparent !important;
}

.advance_stock_screener .paginate_button .page-link {
  color: #74788d;
  font-size: 15px;
}

.advance_stock_screener .pagination .previous i {
  color: #b5b7c2;
}

.advance_stock_screener .pagination .next i {
  color: #b5b7c2;
}

.advance_stock_screener .pagination .page-link:hover {
  background: #f1f5fa;
}

.advance_stock_screener .dataTables_info {
  font-size: 13px;
  color: #74788d;
  font-weight: 400;
  padding-top: 20px !important;
}

.stock_filter_modal .modal-dialog {
  max-width: 1170px !important;
}

.filter_modal .modal-content {
  border-radius: 3px;
  max-width: 1170px !important;
}

.advance_stock_screener
  div.dataTables_wrapper
  div.dataTables_paginate
  ul.pagination {
  margin: 12px 0px !important;
}

.advance_stock_screener .watchlist-new-table .table {
  border-top: #e2e5ed solid 1px;
}

.advance_stock_screener .watchlist-new-table {
  margin-top: 0px;
}

.section-new {
  padding-bottom: 10px !important;
}

.advance_stock_screener .watchlist-new-table td {
  font-weight: 400 !important;
}

.advance_stock_screener .watchlist-new-table td:first-child,
.advance_stock_screener .watchlist-new-table th:first-child {
  padding-left: 17px;
}

.filter_content_modal .modal-header {
  padding-bottom: 17px;
}

.delete_btn {
  width: 18px !important;
}

/* End Bhavana 5/3/2020*/
/*========================  suraj ===================*/
/* date 28/2/2019 */
.table-range {
  width: 180px;
}

.table-range .range-small-box {
  min-width: 100% !important;
}

.table-range .lowhigh-range-bg {
  height: 3px !important;
  background: linear-gradient(
    to right,
    rgba(235, 100, 25, 1) 0,
    rgba(249, 224, 34, 1) 44%,
    rgba(45, 204, 130, 1) 100%
  );
  margin: 3px 0px 0px !important;
  position: relative;
}

.table-range .rang-control {
  width: 11px;
  height: 8px;
  background: url(/images/price_chart_sprite.png) no-repeat;
  position: absolute;
  top: -6px;
}

.table-range .range-text span {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

/*========================  3/2/2020 watchlist-new ======================== */
.section-watchlis-new {
  padding-top: 30px !important;
}

.section-watchlis-new h1 {
  font-size: 22px;
  color: #495057;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 25px;
}

.watchlist-empty-img {
  max-height: 60%;
}

.alert {
  padding: 15px 25px;
}

.alert-warning {
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid #e2e5ed;
  box-shadow: 0px 2px 20px 0px rgba(83, 93, 120, 0.08);
  border-left: #feb64f solid 5px;
  margin-bottom: 30px;
}

.alert-box {
  display: flex;
  align-items: center;
}

.alert-icon {
  /* width: 70px; */
  float: left;
  color: #feb64f;
  font-size: 22px;
  text-align: center;
}

.alert-icon i {
  margin-right: 25px;
}

.alert-content {
  float: left;
}

.alert-content h6 {
  font-size: 16px;
  color: #495057;
  line-height: 1.2;
  font-weight: 500;
}

.alert-content p {
  font-size: 14px;
  font-weight: 400;
  color: #74788d;
  line-height: 1.143;
}

.alert-login-btn {
  padding: 6.5px 22px !important;
  border: #e2e5ed solid 1px !important;
  border-radius: 3px;
  background-color: #ffffff;
  color: #74788d !important;
  font-size: 14px;
  font-weight: 500 !important;
  right: 15px !important;
  /* top: 15px !important; */
  top: 16px !important;
  text-shadow: none;
  transition: 0.5s all ease-out;
}

.alert-login-btn:hover {
  background: #2196f2;
  border: #2196f2 solid 1px;
  color: #ffffff !important;
  opacity: 1 !important;
  transition: 0.5s all ease-out;
}

.alert-login-btn:focus {
  outline: none;
}

.watchlist-dropdown {
  background-color: #ffffff !important;
  position: relative;
}

.watchlist-dropdown .btn {
  font-size: 13px;
  color: #b7b5c3;
  line-height: 1.786;
  font-weight: 400;
  border-radius: 3px;
  border: 0px !important;
  height: 32px !important;
  background-color: #ffffff;
  box-shadow: var(--main-box-shadow);
  border-radius: var(--main-border-radius);
  /* background-color: #fefefe; */
  min-width: 171px;
  max-width: 171px;
  padding: 1.5px 15px;
  text-align: left;
}

.watchlist-dropdown .btn:focus {
  box-shadow: none;
}

.watchlist-dropdown .dropdown-menu {
  border: #e2e5ed solid 1px;
  border-top: 0px;
  min-width: 171px;
  padding: 0;
  margin-top: 0px;
  box-shadow: 0px 2px 20px 0px #535d781a;
}

.watchlist-dropdown .dropdown-item {
  font-size: 13px !important;
  color: #74788d;
  background-color: #ffffff;
  line-height: 1.923;
  padding: 2.5px 15px;
  border-bottom: #e2e5ed solid 1px;
}

.watchlist-dropdown .dropdown-item:hover {
  background-color: #f7f9fc;
  color: #2196f2;
}

.watchlist-dropdown .dropdown-toggle::after {
  display: inline-block;
  content: "\f078";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  font-family: "Font Awesome 5 Pro";
  border-top: 0 solid;
  border-right: 0 solid transparent;
  border-bottom: 0;
  border-left: 0 solid transparent;
  font-size: 12px;
  position: absolute;
  right: 15px;
  top: 4px;
  color: #475057;
}

.add-watchlist {
  font-size: 12px;
  color: #48a8f4 !important;
  text-transform: uppercase;
  background-color: #f5f8fb !important;
}

.add-watchlist i {
  font-size: 13px;
  margin-right: 8px;
}

.edit-icon {
  width: 33px;
  /* height: 30px; */
  /* border: #2196f3 solid 1px; */
  border: #2196f2 solid 1px;
  border-radius: 3px;
  margin-left: 13px;
  padding: 0px 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #2196f2;
  height: 28.5px;
  transition: 0.5s all ease-out;
  font-size: 13px;
}

.edit-icon:hover {
  background-color: #2196f2;
  transition: 0.5s all ease-out;
}

.edit-icon img {
  /* display: flex; */
  /* color: #48a8f4; */
  color: #2196f2;
  font-size: 20px;
  display: table-cell;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

.edit-icon:hover .edit-img {
  content: url("/images/edit.svg");
}

.edit-icon:hover .delete-icon {
  content: url("/images/Delete.svg");
}

.edit-icon:hover .check-img {
  content: url("/images/check01.svg");
}

.edit-icon:hover .cross-img {
  content: url("/images/x01.svg");
}

.add-symbol {
  font-size: 12px;
  color: #a9acb8;
  /* line-height: 1.923; */
  border: 0px;
  border-radius: 3px;
  background-color: #ffffff;
  padding: 0px 15px;
  height: 32px;
  background-color: #ffffff;
  box-shadow: var(--main-box-shadow);
  border-radius: var(--main-border-radius);
}

.add-symbol::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 13px;
  color: #a9acb8;
}

.add-symbol:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 13px;
  color: #a9acb8;
}

.add-symbol::-ms-input-placeholder {
  /* Microsoft Edge */
  font-size: 13px;
  color: #a9acb8;
  font-weight: 500;
}

.add-symbol:focus {
  outline: none;
  border: #2196f2 solid 1px;
}

.watchlist-new-table {
  margin-top: 20px;
}

.watchlist-new-table th:last-child {
  width: 90px;
}

.watchlist-new-table th {
  border: 0px !important;
  font-size: 13px;
  color: #495057;
  line-height: 1.923;
  font-weight: 500;
  vertical-align: middle;
  padding: 0px 10px;
  vertical-align: middle !important;
  height: 44px;
}

.watchlist-new-table td:first-child,
.watchlist-new-table th:first-child {
  padding-left: 30px;
}

.watchlist-new-table thead tr {
  border-top: #e2e5ed solid 1px;
  border-bottom: #e2e5ed solid 1px;
  background-color: #f1f5fa;
}

.watchlist-new-table tbody tr {
  border-bottom: #e2e5ed solid 1px;
  background-color: #ffffff;
}

.watchlist-new-table tbody tr:hover {
  background-color: #f7f9fc;
}

.watchlist-new-table tbody tr:hover td .show-btns {
  visibility: visible;
}

.show-btns {
  visibility: hidden;
}

.watchlist-new-table tbody tr:hover td:first-child a {
  color: #2196f2;
}

.watchlist-new-table td {
  font-size: 13px;
  color: #495057;
  font-weight: 500;
  padding: 0px 10px;
  vertical-align: middle !important;
  line-height: 1.923;
  height: 44px;
}

.watchlist-table-dropdown {
  color: #a0a3b0;
  font-size: 18px;
  cursor: pointer;
  border-radius: 100%;
  /* background-color: #f1f5fa; */
  /* height: 30px; */
  display: table;
  vertical-align: middle;
  text-align: center;
  min-width: 32px;
  min-height: 32px;
}

.watchlist-table-dropdown:hover .dropdown-menu {
  /* display: block;
  transform: translate3d(-67px, 22px, 0px);
  top: 0px;
  left: 0px !important;
  will-change: transform; */
}

/* .watchlist-table-dropdown:hover .dropdown-menu:last-child {
  transform: translate3d(-67px, -47px, 0px);
} */
.watchlist-table-dropdown img {
  filter: grayscale(91%) sepia(11%);
  vertical-align: middle;
}

.watchlist-table-dropdown:hover {
  background-color: #f1f5fa;
}

.watchlist-table-dropdown::after {
  display: inline-block;
  margin-left: 0;
  vertical-align: 0;
  content: "";
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}

.watchlist-table-dropdown .dropdown-menu {
  border: #e2e5ed solid 1px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0px 2px 20px 0px #535d781a;
  min-width: 114px;
  padding: 0px;
  /* left: -37px !important; */
}

.watchlist-table-dropdown .dropdown-item {
  font-size: 12px;
  color: #74788d;
  text-transform: uppercase;
  line-height: 2.083;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 8px 12px;
  border-bottom: #e2e5ed solid 1px;
  /* padding: 5px 12px; */
}

.cursor-default {
  cursor: default;
}

.cursor-default img {
  filter: grayscale(91%) sepia(11%);
  width: 21%;
  vertical-align: middle;
}

.watchlist-table-dropdown .dropdown-item i {
  margin-right: 10px;
  font-size: 16px;
  display: inline-block;
  vertical-align: -1px;
}

.share-box {
  display: block;
  margin-top: 5px;
}

.share-icon-box a i {
  color: #74788d;
  font-size: 14px !important;
}

.share-icon-box a:hover .fa-facebook-f {
  color: #3c5a9a !important;
}

.share-icon-box a:hover .fa-twitter {
  color: #1da1f2 !important;
}

.share-icon-box a:hover .fa-linkedin-in {
  color: #007abb !important;
}

.share-icon-box a:hover .fa-file-alt {
  color: #2196f2 !important;
}

.watchlist-range-box {
  width: 138px;
  position: relative;
  line-height: 1.923;
  display: inline-block;
  vertical-align: middle;
}

.watchlist-low-range {
  background-color: #fdedee;
  float: left;
  text-align: left;
  font-size: 13px;
  color: #e85254;
  font-weight: 500;
  /* padding-left: 10px; */
  height: 12px;
  /* min-width: 37px; */
}

.watchlist-high-range {
  background-color: #e7f7f2;
  float: left;
  text-align: right;
  font-size: 13px;
  color: #18b57e;
  font-weight: 500;
  /* padding-right: 10px; */
  height: 12px;
  /* min-width: 37px; */
}

.watchlist-range-control {
  position: absolute;
  top: 2px;
  margin-top: -2px;
  margin-left: -4px;
}

.watchlist-new-table td a {
  color: #495057;
  font-size: 13px;
  font-weight: 500;
}

.watchlist-new-table td a:hover {
  color: #2196f3;
}

.watchlist-new-table .show .watchlist-table-dropdown {
  background-color: #f1f5fa;
}

.watchlist-table-dropdown .delet-icon {
  content: url("/images/Delete01.svg");
}

.section-watchlis-new h6 {
  font-size: 25px;
  font-weight: 600;
}

.section-watchlis-new p {
  font-size: 16px;
  color: #666666;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
}

.search-stock-btn {
  font-size: 14px;
  color: #2095f2;
  padding: 8px 18px;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #ffffff;
  border: #2095f2 solid 1px;
  border-radius: 3px;
  transition: all ease-out 0.5s;
}

.search-stock-btn:hover {
  background-color: #2095f2;
  color: #ffffff;
  transition: all ease-out 0.5s;
}

.number-box {
  display: inline-block;
  min-width: 36px;
}

.custom-control-label a {
  text-decoration: underline !important;
}

.modal-checkbox {
  text-align: left;
}

.modal-checkbox .custom-control-label {
  font-size: 11px;
  font-weight: 400;
  color: #666666;
  line-height: 15px;
}

.feedback-box {
  transform: rotate(-90deg);
  position: fixed;
  right: -30px;
  top: 50%;
  margin-top: -45px;
  z-index: 9999999;
}

.feedback-btn {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  background: #2196f3;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  border: #2196f3 solid 1px;
  transition: all ease-out 0.5s;
  border-radius: 3px;
  padding: 8px 15px;
  text-align: center;
}

.feedback-btn:hover {
  background: #ffffff;
  color: #2196f3;
}

.feedback-modal .modal-header {
  border-bottom: #e2e5ed solid 2px;
}

.feedback-form {
  padding: 15px 5px;
}

.feedback-form label {
  font-size: 13px;
  color: #74788d;
  font-family: "Roboto";
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 10px;
}

.feedback-form .form-control:focus {
  border: #2196f2 solid 1px !important;
}

.feedback-form .form-control {
  font-size: 13px;
  color: #a9acb8;
  line-height: 1.923;
  border: #e2e5ed solid 1px;
  border-radius: 3px;
  background-color: #ffffff;
  padding: 0px 15px;
  height: 35px;
  resize: none;
}

.feedback-form .form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 13px;
  color: #a9acb8;
}

.feedback-form textarea {
  height: 60px !important;
}

.feedback-form .form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 13px;
  color: #a9acb8;
}

.feedback-form .form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  font-size: 13px;
  color: #a9acb8;
  font-weight: 500;
}

.feedback-submit-btn {
  font-size: 13px;
  font-family: "Roboto";
  font-weight: 500;
  border-radius: 3px;
  padding: 0px 13px;
  line-height: 31px;
  background: #2196f3;
  border: 0px;
  border: 1px solid transparent;
  color: #fff;
  transition: all ease-out 0.5s;
}

.feedback-form .custom-control-label {
  line-height: 23px;
  margin-bottom: 0px;
}

.feedback-form .custom-control-input {
  z-index: 1;
}

.feedback-form .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #2196f3;
  border-color: #2196f3;
}

.feedback-submit-btn:hover {
  transition: all ease-out 0.5s;
  border: #2196f3 solid 1px;
  background: #ffffff;
  color: #2196f3;
}

.rating-box {
  border: #e2e5ed solid 1px;
  background-color: #f7f9fc;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.rating-heading {
  padding-top: 5px;
  color: #495057;
  font-size: 14px;
  padding: 10px 15px;
  text-align: left;
}

.rating-heading strong {
  color: #2196f3;
}

.star-rating {
  direction: rtl;
  display: inline-block;
  padding: 0px 15px;
}

.star-rating input[type="radio"] {
  display: none;
}

.star-rating label {
  color: #cfcccf;
  font-size: 18px;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 0px;
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type="radio"]:checked ~ label {
  color: #ffc20d;
}

/* date 3/11/2020 */
.notification-bar {
  background: #fce46c;
  color: #ffffff;
  text-align: center;
  border-radius: 0px;
  margin-bottom: 0px;
  padding: 3px 25px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: #333333;
  z-index: 9999;
  line-height: 22px;
}

.notification-bar strong {
  font-weight: 600;
  background: #f7f3e1;
  color: #333333;
  border-radius: 3px;
  padding: 2px 7px;
  font-size: 13px;
  margin-right: 10px;
}

.notification-bar button {
  text-shadow: none;
  font-size: 14px;
  color: #333333;
  font-weight: 600;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -10px;
}

/*========================  suraj ===================*/

.wsmobileheader {
  position: relative;
}

.tabing_screener {
  background: #f1f4f9;
  margin: 0px;
}

.tabing_screener a {
  font-size: 13px;
  color: #495057;
  font-family: "Roboto";
  padding: 15px 19px;
  font-weight: 500;
}

.right_panel_btn {
  padding-top: 7px;
}

.tabing_screener .nav-tabs .nav-link {
  border-bottom: 2px solid transparent;
  border: 0px;
}

.tabing_screener .nav-tabs {
  border-bottom: 0px;
}

.tabing_screener .nav-tabs .nav-item.show .nav-link,
.tabing_screener .nav-tabs .nav-link.active {
  border-bottom: 2px solid #2196f5 !important;
  background: transparent;
  border: 0px;
}

.tabing_screener .nav-tabs .nav-link:focus,
.tabing_screener .nav-tabs .nav-link:hover {
  border: 0px;
  border-bottom: 2px solid transparent;
}

/* Bhavna New  */
.tabing_screener {
  background: #f1f4f9;
  margin: 0px;
}

.tabing_screener a {
  font-size: 13px;
  color: #495057;
  font-family: "Roboto";
  padding: 15px 19px;
  font-weight: 500;
}

.right_panel_btn {
  padding-top: 7px;
}

.tabing_screener .nav-tabs .nav-link {
  border-bottom: 2px solid transparent;
  border: 0px;
}

.tabing_screener .nav-tabs {
  border-bottom: 0px;
}

.tabing_screener .nav-tabs .nav-item.show .nav-link,
.tabing_screener .nav-tabs .nav-link.active {
  border-bottom: 2px solid #2196f5 !important;
  background: transparent;
  border: 0px;
}

.tabing_screener .nav-tabs .nav-link:focus,
.tabing_screener .nav-tabs .nav-link:hover {
  border: 0px;
  border-bottom: 2px solid transparent;
}

/* Bhavna New  */
/* suraj date 14/3/2020 start */
/* .social-box {
  transform: rotate(-90deg);
  position: fixed;
  top: 50%;
  z-index: 9999999;
  right: -30px;
} */
/* menu */
nav.float-action-button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1em;
  z-index: 999;
}

.float-action-button a.buttons {
  box-shadow: 0 5px 11px -2px rgba(0, 0, 0, 0.18),
    0 4px 12px -7px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 16px;
  padding: 1px 0 0 0;
  text-align: center;
  display: block;
  margin: 1px auto 0;
  position: relative;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.float-action-button a.buttons:active,
.float-action-button a.buttons:focus,
.float-action-button a.buttons:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  text-decoration: none;
}

.float-action-button a.buttons:not(:last-child) {
  width: 40px;
  height: 40px;
  margin: 1px auto 0;
  /* opacity: 0; */
  display: none;
  font-size: 16px;
  /* padding-top: 4px; */
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  vertical-align: middle;
  line-height: 40px;
}

.float-action-button a.buttons.main-button > i:first-child {
  position: relative;
  vertical-align: middle;
  line-height: 40px;
}

nav.float-action-button:hover a.buttons:not(:last-child) {
  display: block;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  margin: 1px auto 0;
}

.float-action-button a.buttons:nth-last-child(1) {
  -webkit-transition-delay: 25ms;
  transition-delay: 25ms;
  background-color: #d32f2f;
  /* Button color */
}

.float-action-button a.buttons:nth-last-child(1) i.fa {
  transform: rotate3d(0, 0, 1, 0);
  transition: content 0.4s, transform 0.4s, opacity 0.4s;
}

.float-action-button a.buttons:nth-last-child(1):hover i.fa {
  transform: rotate3d(0, 0, 1, -180deg);
}

.float-action-button a.buttons:nth-last-child(1) i.fa:nth-last-child(1) {
  position: absolute;
  /* margin: 7px 0 0 -24px; */
  left: 50%;
  top: 50%;
  margin: -8px;
}

.float-action-button a.buttons:nth-last-child(1) i.fa:nth-last-child(2) {
  opacity: 0;
}

.float-action-button a.buttons:nth-last-child(1):hover i.fa:nth-last-child(1) {
  opacity: 0;
}

.float-action-button a.buttons:nth-last-child(1):hover i.fa:nth-last-child(2) {
  opacity: 1;
}

.float-action-button a.buttons:not(:last-child):nth-last-child(2) {
  -webkit-transition-delay: 50ms;
  transition-delay: 20ms;
  background-color: #4b76bd;
  /* Facebook color */
}

.float-action-button a.buttons:not(:last-child):nth-last-child(3) {
  -webkit-transition-delay: 75ms;
  transition-delay: 40ms;
  background-color: #00c6ff;
  /* Twitter color */
}

.float-action-button a.buttons:not(:last-child):nth-last-child(4) {
  -webkit-transition-delay: 100ms;
  transition-delay: 60ms;
  background-color: #fc3831;
  /* Google plus color */
}

.float-action-button a.buttons:not(:last-child):nth-last-child(5) {
  -webkit-transition-delay: 100ms;
  transition-delay: 60ms;
  background-color: #0a85c9;
  /* Google plus color */
}

.tooltip.left {
  margin-left: -10px;
}

/*#endregion */
#scroll {
  position: fixed;
  left: 10px;
  bottom: 15px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: #2196f3;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  z-index: 9999;
}

#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}

#scroll:hover {
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}

.mobile-android {
  width: 40px;
  height: 40px;
  background-color: #51a846;
  position: fixed;
  right: 70px;
  bottom: 15px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  line-height: 47px;
  border-radius: 50%;
  z-index: 999;
  display: none;
}

/* suraj date 14/3/2020 close */

/*Bhavana new css*/

.filter_img {
  width: 17px;
  margin-right: 5px;
  vertical-align: text-top;
}

.stock_apply_filter li:hover .close_img {
  display: block;
  background: #f1f5fa;
  width: 17px;
  padding: 2px;
  right: -7px;
  top: -8px;
  position: absolute;
  font-size: 11px;
  text-align: center;
  height: 17px;
  border-radius: 50%;
  border: 1px solid rgb(226, 229, 237);
}

.close_img {
  display: none;
}

/*Bhavana new css*/
/* merge code by mahi 26-03-2020 */

/* ================== Desktop Base CSS  ================== */
.mobile-show {
  display: none !important;
}

.header-social {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  bottom: 0px;
  width: 260px;
  height: 45px;
  left: 0px;
  line-height: 45px;
}

.first-table {
  border: 0px !important;
}

.first-table th {
  border: 0px !important;
}

.p-acess {
  /* padding-top: 46px !important; */
}

.p-heading {
  font-size: 22px;
}

.header-social a {
  display: inline-block;
  height: 27px;
  width: 27px;
  text-align: center;
  color: #fff;
  border-radius: 100%;
  font-size: 14px;
  line-height: 28px;
  margin: 0 5px;
}

.header-social .facebook-icons {
  background: #4b76bd;
}

.youtube-icons {
  background: #fc3831;
}

.twitter-icons {
  background: #00c6ff;
}

.instagram-icons {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

@media (min-width: 992px) and (max-width: 2000px) {
  .halfmenu {
    min-width: 500px !important;
    width: 100% !important;
    right: auto;
    left: -150% !important;
  }

  .three-menu {
    min-width: 635px !important;
    width: 100% !important;
    right: auto;
    left: 0px !important;
  }
}

.login-btn {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  color: #2196f3;
  font-size: 14px;
  font-weight: 500;
  border: #2196f3 solid 1px;
  transition: all ease-out 0.5s;
  border-radius: 3px;
  padding: 8px 15px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  /* display: block; */
}

.login-btn:hover {
  background: #2196f3;
  transition: all ease-out 0.5s;
  color: #ffffff;
}

.icon-btn {
  display: inline-block;
  margin-right: 25px;
  color: #4b627e;
  vertical-align: middle;
}

.icon-btn:hover {
  color: #2196f3;
}

.user-account {
  /* border: 1px solid rgba(119, 121, 138, 0.2); */
  background: #2196f3;
  width: 35px;
  padding: 8px;
  display: inline-block;
  color: #ffffff;
}

.user-account:hover {
  background: #2196f1d1;
}

.user-flat-icon {
  display: inline-block;
  /* background: #ef7800; */
  width: 25px;
  border-radius: 100%;
  height: 25px;
  line-height: 25px;
  color: #2196f3;
  margin: 3px;
}

.user-account .fa-caret-down {
  margin-left: 10px;
}

.my-account-dropdown {
  background-color: #ffffff;
  border: solid 1px #e2e5ed;
  position: absolute;
  right: 0px;
  /* padding: 10px 0px; */
  min-width: 178px;
  /* display: none; */
  top: 32px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0px 2px 20px 0px rgba(83, 93, 120, 0.2);
  border-radius: 3px;
  z-index: 9999;
  -o-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  -o-transition: -o-transform 0.3s, opacity 0.3s;
  -ms-transition: -ms-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform: rotateX(-75deg);
  -o-transform: rotateX(-75deg);
  -moz-transform: rotateX(-75deg);
  -webkit-transform: rotateX(-75deg);
}

.my-account-dropdown .user-name-dropdown {
  font-size: 15px;
  color: #495057;
  font-weight: 500;
  /* padding: 0px 12px; */
}

.my-account-dropdown .user-data {
  padding: 12px;
  line-height: inherit !important;
  background: #f8fafc;
  border-bottom: #e2e5ed solid 1px;
}

.user-logout {
  border-top: #e2e5ed solid 1px;
}

.my-account-dropdown .user-id {
  font-size: 13px;
  font-weight: 400;
  color: #74788d;
  /* padding: 0px 12px; */
}

.user-profile-dropdown:hover .my-account-dropdown {
  opacity: 1;
  visibility: visible;
  transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
}

.user-profile-dropdown {
  display: inline-block;
}

.my-account-dropdown li {
  display: block;
  line-height: 35px;
}

.my-account-dropdown i {
  margin-right: 5px;
}

.my-account-dropdown li a:hover {
  background: transparent !important;
  color: #2196f3;
}

.my-account-dropdown li a {
  background: transparent !important;
  border: 0px !important;
  color: #333333;
  border-right: 0 none;
  text-align: left;
  display: block;
  text-transform: none;
  font-size: 13px;
  padding: 0px 12px;
}

.my-account-dropdown .user-account {
  display: none;
}

.my-account-dropdown:after,
.my-account-dropdown:before {
  bottom: 100%;
  right: 7px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.my-account-dropdown:after {
  border-color: rgba(0, 0, 0, 0);
  border-width: 15px;
  margin-left: -15px;
}

.my-account-dropdown:before {
  border-color: rgba(245, 230, 98, 0);
  border-bottom-color: #f5f6fa;
  border-width: 8px;
  margin-left: -16px;
}

.user-accountmenu {
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -15.5px;
  padding-bottom: 6px;
}

@media (min-width: 320px) and (max-width: 992px) {
  .user-accountmenu {
    right: 15px;
    top: 16px;
  }

  .user_accountmenu_scroll {
    position: fixed;
  }

  .p-acess .p-0 {
    padding: 0px 7px !important;
  }

  #priceplan-blocks .nav-tabs {
    width: 90%;
  }

  .p-heading {
    font-size: 20px;
  }

  .heading-content {
    font-size: 13px;
    padding: 0px 7%;
  }

  #priceplan-blocks .nav-tabs li a {
    font-size: 12px;
    padding: 13.5px 8px !important;
  }

  .basicplan {
    display: none !important;
  }

  .price-panel {
    width: 100%;
    position: unset;
  }

  .price-panel ul li {
    width: 100%;
  }

  .pricing-panel .page-heading {
    display: none;
  }

  .check-plan .custom-control-label::before {
    top: -2px;
  }

  .check-plan .custom-control-label::after {
    top: -2px;
  }

  .responsive-premium {
    font-size: 13px;
    color: #343434;
    font-weight: 600;
    padding-bottom: 10px;
    display: block;
  }

  .compareplan {
    font-size: 16px !important;
    color: #343434;
    font-weight: 600;
    padding-bottom: 10px;
    display: block;
  }

  .responsive-basic-plan {
    display: block;
  }

  .responsive-basic-plan span {
    font-size: 13px;
  }

  .responsive-basic-plan small {
    font-size: 15px;
  }

  .pricing-panel table th:first-child {
    width: 48%;
  }

  .pricing-panel table th {
    font-size: 14px !important;
  }

  .user-accountmenu {
    z-index: 99999999999999999;
    margin: 0px;
  }

  .user-account {
    font-size: 10px;
  }

  .user-flat-icon {
    line-height: 26px;
  }

  .login-btn a {
    width: 82px;
    font-size: 11px;
  }

  .nifty-logo a {
    padding: 0px !important;
  }

  .premium-paln {
    font-size: 12px;
  }

  .orderid,
  .start-plan,
  .msg-trans,
  .expire-plan,
  .current-plan {
    font-size: 12px;
  }

  .msg-trans i {
    font-size: 16px;
  }

  .content-body {
    margin-top: 15px;
  }

  .my-account-dropdown {
    display: none;
  }

  .mobile-show {
    display: block !important;
  }
}

@media (min-width: 320px) and (max-width: 481px) {
  /* Profile page */

  .userprofile .p-0 {
    padding: 0px 15px !important;
  }

  .myaccountTab .p-0 {
    padding: 0px 0px !important;
  }

  .myaccountTab .flex-column {
    border: 0px;
    padding-top: 0px;
    flex-direction: row !important;
  }

  .myaccountTab .tab-content {
    padding: 15px 0px;
  }

  .left-user {
    display: block;

    width: 100%;
    background: #f5f6fa;
    padding-bottom: 15px;
    margin-bottom: 15px !important;
  }

  .myaccountTab ul li a {
    padding: 12px 4px;
    font-size: 11px;

    border: #ebebeb solid 1px;
  }

  .myaccountTab ul li {
    margin: 0px auto;
  }

  .user-info {
    display: inline-block;
    text-align: left !important;
    /* width: 50%; */
    /* float: left; */
    margin-left: 103px;
    margin-top: 31px;
  }

  .user-info span {
    line-height: 23px;
  }

  .user-name {
    height: 70px;
    width: 70px;
    line-height: 70px;
    font-size: 20px;
    display: inline-block;
    margin: 20px 15px;
    position: absolute;
    background: #fff;
  }

  .login-btn {
    font-size: 11px;
    /* padding: 5px 15px; */
  }

  .icon-btn {
    margin-right: 10px;
  }

  .wssearch {
    margin-left: 55px;
  }

  .user-accountmenu {
    /* top: 18px; */
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .userprofile .p-0 {
    padding: 0px 15px !important;
  }

  .myaccountTab .p-0 {
    padding: 0px 0px !important;
  }

  .myaccountTab .flex-column {
    border: 0px;
    padding-top: 0px;
    flex-direction: row !important;
  }

  .myaccountTab .tab-content {
    padding: 15px 0px;
  }

  .left-user {
    display: block;

    width: 100%;
    background: #f5f6fa;
    padding-bottom: 15px;
    margin-bottom: 15px !important;
  }

  .myaccountTab ul li a {
    padding: 12px 10px;
    font-size: 11px;

    border: #ebebeb solid 1px;
  }

  .myaccountTab ul li {
    margin: 0px auto;
  }

  .user-info {
    display: inline-block;
    text-align: left !important;
    /* width: 50%; */
    /* float: left; */
    margin-left: 103px;
    margin-top: 31px;
  }

  .user-info span {
    line-height: 23px;
  }

  .user-name {
    height: 70px;
    width: 70px;
    line-height: 70px;
    font-size: 20px;
    display: inline-block;
    margin: 20px 15px;
    position: absolute;
    background: #fff;
  }

  .login-btn {
    font-size: 13px;
  }
}

@media (min-width: 1100px) and (max-width: 1200px) {
  .price-panel {
    display: none !important;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .price-panel {
    right: 0;
    width: 565px;
  }

  .price-panel ul li:first-child::after {
    right: -6px;
  }
}

.illustration-box {
  margin-bottom: 15px !important;
}

.table-dataTable .pagination {
  float: right;
}

.nifty-datatable table th {
  color: #495057;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  padding: 11px 15px;
  border-bottom: 2px solid #dee2e6 !important;
  border-top: 1px solid #dee2e6;
  border-left: 0px !important;
  border-right: 0px !important;
}

.nifty-datatable table thead {
  background: #f1f5fa;
}

.nifty-datatable table tr td {
  color: #495057;
  text-transform: uppercase;
  font-weight: 500;
  border-top: 1px solid #dee2e6;
  padding: 11px 15px !important;
  font-size: 12px !important;
}

.nifty-datatable table tr:hover {
  background: #f7f9fc;
}

.nifty-datatable .pagination .active .page-link {
  background: #2196f3 !important;
  border-color: #2196f3 !important;
  color: #fff !important;
}

.nifty-datatable table tr:last-child {
  border-bottom: 1px solid #dee2e6 !important;
}

.nifty-datatable .dataTables_filter input {
  border-color: #dee2e6 !important;
  margin-left: 5px;
}

.nifty-datatable .table.dataTable {
  margin-top: 8px !important;
}

.table-dataTable .pagination li a {
  font-size: 13px;
}

.nifty-datatable .page-link:hover {
  background: #f7f9fc !important;
}

div.dataTables_wrapper div.dataTables_filter label {
  text-align: right !important;
}
.section1 {
  padding: 23px 0px;
}
.top-three-nifty-boxes {
  padding-bottom: 13px;
  margin: 0px -30px;
}
.advertisement-panel {
  margin-bottom: 25px;
}
.sidebar-search {
  position: relative;
  margin-bottom: 25px;
}
.sidebar-search input {
  width: 100%;
  background-color: #ffffff;
  box-shadow: var(--main-box-shadow);
  border-radius: var(--main-border-radius);
  border: 0px;
  height: 44px;
  padding: 0px 15px;
}
.sidebar-search input:focus {
  box-shadow: var(--main-box-shadow);
  border-radius: var(--main-border-radius);
  border: 0px;
  outline: none;
}
.sidebar-search span {
  position: absolute;
  color: #888888;
  top: 14px;
  right: 15px;
  z-index: 999;
}
.sidebar-search input::placeholder {
  color: #888888;
  font-size: 14px;
  font-weight: 400;
}

.inner-right-sidebar li {
  list-style-type: none;
  line-height: 1.286;
  position: relative;
  transition: var(--main-transition);
}
.inner-right-sidebar li:hover {
  transition: var(--main-transition);
  background: #f5f5f5;
}
.inner-right-sidebar li:hover a {
  color: var(--main-hover-color);
  transition: var(--main-transition);
}
.inner-right-sidebar li a {
  color: #343434;
  font-weight: 500;
  transition: 0.4s ease-in-out;
  font-size: 13px;
  line-height: 1.286;
  padding: 12.5px 15px;
  display: block;
}
.right-sidebar-panel {
  margin: 30px 0px;
}
.inner-right-sidebar li i {
  margin-right: 10px;
}
.right-sidebar-panel h5 {
  margin: 0px;
}

.nifty-chart-panel {
  box-shadow: var(--main-box-shadow);
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 50px;
}
.main-page-heading {
  font-size: 18px;
  color: #343434;
  font-weight: 500;
  padding-bottom: 10px;
  line-height: 16px;
}
.nifty-page-chart {
  height: 307px;
}
.ad-box {
  box-shadow: var(--main-box-shadow);
  border-radius: var(--main-border-radius);
}
.label {
  margin-left: 15px;
  font-family: "Source Sans Pro", sans-serif;
  color: #666666;
  font-size: 14px;
}
