﻿.yesbank-menu .yesbank-item .color-text-red {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #e6191e !important;
  font-size: 13px;
}

.color-text-red {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #e6191e !important;
  font-size: 13px;
}
.color-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #18b57e !important;
  font-size: 13px;
}

.yesbank-item .color-text-red span {
  color: #333333;
}

.color-text span {
  color: #333333;
}

.color-text-red span {
  color: #333333;
}

.company-profile ul,
.company-profile ol {
  margin-left: 20px;
}

.company-searchbar select {
  /* width: 300px; */
  border-radius: 20px !important;
  box-shadow: 0px 1px 9px 0px #1b1f2e1a;
}

.searchbar select {
  width: 100%;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  border: #e7e7e7 solid 1px;
  color: #333333;
  font-size: 14px;
  border-radius: 1px;
  padding: 0px 15px;
  outline: none;
  box-shadow: none;
}

.company-searchbar select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.searchbar select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.fiidiibtn {
  background-color: #0a4c6c;
  color: #fff;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  width: 100px;
  height: 35px;
  border: #0a4c6c solid 1px;
}

.fiidiibtn1 {
  border: #e9e9e9 solid 1px;
  background-color: #fff;
  color: #333333;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  width: 100px;
  height: 35px;
  border: #fff solid 1px;
}

.fiistatsdate {
  width: 75px;
}

.CSgoogleAdsPT {
  /*padding-top: 65px;*/
  text-align: center;
  height: 90px;
}

/*.section1 {
    padding-top: 0px !important; 
}*/

.CSgoogleAdsTopMargin {
  margin-top: 65px;
  margin-bottom: -55px;
}

.section1 .yesbank-menu .fa-caret-down {
  font-size: 20px;
  vertical-align: middle;
  padding: 0px 8px 0px 3px;
}

.yesbank-item .fa-moon {
  color: #ed6100;
}

.nifty-loader .nifty-loader-animation,
.nifty-loader .nifty-loader-animation:before,
.nifty-loader .nifty-loader-animation:after {
  background: #ffffff;
  -webkit-animation: nifty-loader 1s infinite ease-in-out;
  animation: nifty-loader 1s infinite ease-in-out;
  width: 10px;
  height: 30px;
}

.nifty-loader .nifty-loader-animation {
  color: #ffffff;
  text-indent: -9999em;
  position: relative;
  font-size: 8px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.nifty-loader .nifty-loader-animation:before,
.nifty-loader .nifty-loader-animation:after {
  position: absolute;
  top: 0;
  content: "";
}

.nifty-loader .nifty-loader-animation:before {
  left: -15px;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.nifty-loader .nifty-loader-animation:after {
  left: 15px;
}

@-webkit-keyframes nifty-loader {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes nifty-loader {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.nifty-loader .nifty-loader-animation,
.nifty-loader .nifty-loader-animation:before,
.nifty-loader .nifty-loader-animation:after {
  color: #0080ff;
  background: #0080ff;
}

.nifty-load-container {
  background: rgba(255, 255, 255, 0.3);
  position: fixed;
  height: 100%;
  z-index: 9999999999999;
  width: 100%;
  top: 0;
}

.nifty-loader-animation {
  position: absolute !important;
  top: 50%;
  margin-top: -50px !important;
  left: 50%;
}

/*.my-reconnect-modal > div {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
    background-color: #fff;
    opacity: 0.8;
    text-align: center;
    font-weight: bold;
}

.my-reconnect-modal > div > p {
    margin-top:70px;
}
    .components-reconnect-hide > div {
    display: none;
}

.components-reconnect-show > div {
    display: none;
}

.components-reconnect-show > .show {
    display: block;
}

.components-reconnect-failed > div {
    display: none;
}

.components-reconnect-failed > .failed {
    display: block;
}

.components-reconnect-refused > div {
    display: none;
}

.components-reconnect-refused > .refused {
    display: block;
}*/

.nsetable-chart {
  width: 500px;
  margin: auto;
}

.nsetable-chart canvas {
  width: 380px;
}

/*======================== My account page csss 19-02-2020 Mahi ===================*/

.content-body {
  background: #ffffff;
  /*border: #e7e7e7 solid 1px;*/
  padding: 0px;
  margin: 20px auto;
}

.page-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #343434;
  text-transform: capitalize;
  line-height: 20px;
  padding-bottom: 15px;
}

.myaccountTab {
  background-color: #fff;
  border: 0px;
  margin: 0px 0px 0px 0px;
}

.myaccountTab ul li {
  border-radius: 0px;
}

.myaccountTab ul li a i {
  margin-right: 5px;
}

.myaccountTab ul li a {
  padding: 20px 30px;
  border-radius: 0px;
  background: #fff;
  color: #343434;
  border-top: #ebebeb solid 1px;
  border-right: 0px;
  border-left: 0px;
  font-size: 14px;
  color: #555555;
  font-weight: 500;
}

.myaccountTab .tab-content {
  padding: 30px 25px;
}

.myaccountTab ul li:last-child a {
  border-bottom: #ebebeb solid 1px;
}

.user-name {
  display: block;
  height: 100px;
  width: 100px;
  line-height: 100px;
  border-radius: 100%;
  background: #f5f6fa;
  text-align: center;
  margin: 25px auto 10px auto;
  font-weight: 600;
  color: #ed6100;
  font-size: 30px;
}

.myaccountTab .nav-pills .nav-link {
  border-radius: 0px;
}

.myaccountTab .flex-column {
  border-right: 1px solid #ebebeb;
  height: 100%;
}

.myaccountTab .nav-pills .nav-link.active {
  background-color: #f9f9f9 !important;
  font-weight: 500;
  color: #ed6100;
}

.form-control {
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  height: 40px;
  color: #666666;
}

.myaccountTab .modal-save-btn {
  padding: 0px 15px;
  margin-top: 10px;
  border-radius: 2px;
  line-height: 40px;
  text-transform: capitalize;
}

.control-label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #666666;
  font-size: 14px;
  text-transform: capitalize;
  margin-bottom: 8px;
  display: block;
  width: 100%;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #666666;
}

.radio {
  display: inline-block;
  padding-top: 0px;
}

.radio label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #666666;
  vertical-align: middle;
  margin-right: 15px;
  cursor: pointer;
}

.myaccountTab select {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #666666;
  height: 40px;
  padding: 12px 12px !important;
}

.user-info span {
  display: block;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #333333;
}

.user-info span i {
  padding-right: 7px;
  font-size: 17px;
}

.user-info {
  padding-bottom: 20px;
}

.tab-heading {
  padding-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #343434;
  text-transform: capitalize;
}

.left-user {
  border-right: 0px;
}

.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.radio input[type="radio"] + .radio-label:before {
  content: "";
  background: #fff;
  border-radius: 100%;
  border: 1px solid #0a4c6c;
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  top: 0px;
  margin-right: 5px;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #0a4c6c;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}

.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #3197ee;
}

.radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}

.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}

.useremail {
  font-size: 14px !important;
  color: #ed6100 !important;
}

.subscriptions-table tr td {
  vertical-align: middle;
  background: #fff;
}

.subscriptions-table {
  margin-bottom: 30px;
}

.subscriptions-table tr th {
  vertical-align: middle;
  background: #fff;
}

.orderid {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #343434;
}

.msg-trans i {
  color: #18b57e;
  vertical-align: middle;
  font-size: 20px;
}

.fa-times-circle {
  color: red !important;
}

.msg-trans {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #343434;
}

.order-date {
  font-size: 14px;
  padding-top: 8px;
}

.footer-tabel td {
  background: #f5f6fa !important;
  font-weight: 400;
  color: #666666;
  font-size: 14px;
}

.current-plan {
  font-weight: 400;
  color: #666666;
  font-size: 14px;
}

.premium-paln {
  font-size: 16px;
  color: #ed6100;
  font-weight: 500;
  padding-bottom: 7px;
  font-family: "Roboto", sans-serif;
}

.expire-plan {
  font-size: 15px;
  color: #ed6100;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.start-plan {
  font-size: 15px;
  color: #666666;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.gender-user {
  padding-top: 15px;
}

.heading-content {
  font-size: 15px;
  color: #666666;
  text-align: center;
}

#priceplan-blocks .nav-tabs {
  position: relative;
  border: none !important;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(235, 235, 235);
  background-color: rgba(239, 243, 244, 0.8);
  width: 500px;
  margin: 0px auto;
  border-radius: 25px;
  margin-bottom: 15px;
  margin-top: 7px;
}

#priceplan-blocks .nav-tabs li {
  margin: 0px !important;
}

#priceplan-blocks .nav-tabs li a {
  position: relative;
  margin-right: 0px !important;
  padding: 13.5px 10px !important;
  font-size: 14px;
  border: none !important;
  color: #333333;
  background: #f2f5f6;
  border-radius: 25px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

#priceplan-blocks .nav-tabs .active {
  background-color: #ed6100 !important;
  border: none !important;
  color: #fff !important;
}

#priceplan-blocks .nav-tabs li a i {
  margin-right: 10px;
  /* background: #1e5a77;
  color: #d1d6d8;
  border-radius: 100%; */
}

#priceplan-blocks .nav-tabs .active i {
  background: transparent;
  color: #fff;
  border-radius: 100%;
}

.thscroll th {
  background: red;
}

.pricing-panel {
  padding: 20px 20px;
}

/*======================== My account page csss 19-02-2020 Mahi ===================*/
.ui-menu {
  text-align: left;
  border: 1px solid #c7ccc7;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background: #fff;
  overflow: auto;
  border-radius: 0px 0px 10px 10px;
  border-top: 0px;
  padding: 10px 0px;
  max-height: 250px !important;
  overflow-x: hidden;
  z-index: 9999999999 !important;
  width: 100% !important;
  /*max-width: 292px !important;*/
}

.ui-menu-item-wrapper {
  padding: 15px 20px !important;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  font-family: "Roboto", sans-serif !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  color: #333333 !important;
  border-bottom: #c7c7c7 dotted 1px;
}

.ui-menu-item-wrapper:hover {
  background: #f0f0f0 !important;
  border-top: #ed6100 dotted 0px !important;
  border-bottom: #c7c7c7 dotted 1px !important;
}

.ui-menu::-webkit-scrollbar {
  width: 2px;
  border-radius: 25px;
}

.ui-menu::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 25px;
}

.ui-menu::-webkit-scrollbar-thumb {
  background-color: #ed6100;
  outline: 1px solid #fff;
  border-radius: 25px;
}

.ui-menu-item-wrapper:focus {
  background: #f0f0f0 !important;
  border-top: #ed6100 dotted 0px !important;
  border-bottom: #ed6100 dotted 0px !important;
}

.ui-state-active {
  background: #f0f0f0 !important;
  border-top: #ed6100 dotted 0px !important;
  border-bottom: #ed6100 dotted 0px !important;
}

/*.ui-menu {
    left: 50% !important;
    background: red !important;
    margin-left:-142.5px !important;
}*/

.table.dataTable {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

a {
  cursor: pointer;
}

.analytics-menu li h6 div {
  font-size: 20px !important;
  color: #333333;
  line-height: 1.25;
  padding-bottom: 0px !important;
}

.sgx-block p {
  color: #343434;
}

.ui-state-active,
.ui-widget-content .ui-state-active {
  border: 0px !important;
  margin: 0px !important;
  border-bottom: #c7c7c7 dotted 1px !important;
}

.section1 .ad-boxLive {
  /* min-width: 323px; */
  margin-bottom: 12px;
  background-color: transparent;
  border: none;
}

.ui-menu {
  text-align: left;
  border: 1px solid #c7ccc7;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background: #fff;
  overflow: auto;
  border-radius: 0px 0px 10px 10px;
  border-top: 0px;
  padding: 10px 0px;
  max-height: 250px !important;
  /*left: 502px !important;
     overflow-y: scroll;*/
  overflow-x: hidden;
  z-index: 9999999999 !important;
  width: 100% !important;
  /*max-width: 426px !important;*/
  max-width: 292px !important;
}

/*.hompage-top-content .ui-menu {
    margin-left: -213px !important;
    left: 50% !important;
    max-width: 426px !important;
}*/

.ui-menu::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}

.ui-menu::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  height: 2px;
}

.ui-menu::-webkit-scrollbar-thumb {
  background-color: #1f86ec;
  outline: 1px solid slategrey;
  height: 2px;
}

.table-wrap-styles tr:nth-child(even),
.table-wrap-styles tr:nth-child(odd) {
  background-color: #ffffff !important;
}

.table-wrap-styles table thead th {
  padding: 10px 8px !important;
  font-size: 11px !important;
}

.table-wrap-styles table tbody td {
  padding: 10px 8px !important;
  font-size: 11px !important;
}

.table tbody td a {
  color: #333333;
}

.table tbody td a:hover {
  color: #2296f3;
}

.table-hover tbody tr:hover {
  color: #333333;
  background-color: #f9f9f9;
}

.validation-message {
  margin-top: 5px;
  font-size: 12px;
  color: red;
}

/*.table-hover tbody tr:hover a {
        color: #2296f3;        
    }*/

.feedback-submit-btn {
  font-size: 13px;
  font-family: "Roboto";
  font-weight: 500;
  border-radius: 3px;
  padding: 0px 13px;
  line-height: 31px;
  background: #2196f3;
  border: 0px;
  border: 1px solid transparent;
  color: #fff;
  transition: all ease-out 0.5s;
}

.confirmation-modal .modal-dialog {
  max-width: 335px !important;
}

.confirmation-modal .modal-content {
  padding: 25px 15px;
}

.confirmation-modal .icon-box {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 25px;
  border-radius: 50%;
  border: #fc5345 solid 2px;
}

.confirmation-modal .icon-box i {
  font-size: 35px;
  color: #fc5345;
}

.confirmation-modal h6 {
  font-size: 25px !important;
}

.confirmation-modal p {
  font-size: 13px;
  color: #74788d;
  font-family: "Roboto";
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 1.571;
  text-transform: capitalize;
}

.confirmation-modal .cancel-modal-btn {
  background: #f7f9fc;
  border: #e2e5ed solid 1px;
  color: #74788d !important;
  margin-right: 10px;
}

.cancel-modal-btn:hover {
  background-color: #ffffff;
}

.delete-modal-btn {
  background: #fc5345;
  color: #ffffff;
}

.delete-modal-btn:hover {
  background: #ffffff;
  border: #fc5345 solid 1px;
  color: #fc5345;
}

.notification-bar {
  background: #fce46c;
  color: #ffffff;
  text-align: center;
  border-radius: 0px;
  margin-bottom: 0px;
  padding: 3px 25px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: #333333;
}

.notification-bar strong {
  font-weight: 600;
  background: #f7f3e1;
  color: #333333;
  border-radius: 3px;
  padding: 2px 7px;
  font-size: 13px;
  margin-right: 10px;
}

.notification-bar button {
  text-shadow: none;
  font-size: 14px;
  color: #333333;
  font-weight: 500;
}

.watchlist-dropdown .btn {
  font-size: 14px;
  color: #495057;
  line-height: 1.786;
  font-weight: 500;
  border-radius: 3px;
  border: #e2e5ed solid 1px;
  /* background-color: #fefefe; */
  min-width: 225px;
  padding: 1.5px 15px;
  text-align: left;
  height: 30px;
}

@media (max-width: 480px) and (min-width: 320px) {
  .watchlist-dropdown .btn {
    min-width: 132px;
  }
}

.number-box {
  min-width: 60px !important;
}

@media (min-width: 320px) and (max-width: 580px) {
  .confirmation-modal .modal-dialog {
    max-width: 100% !important;
  }
}

@media (max-width: 992px) and (min-width: 320px) {
  .user-accountmenu {
    z-index: 99999999 !important;
    margin: 0px;
  }
}

input::-ms-clear {
  display: none;
}

.select-dropdown
  .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 150px !important;
}

.validation-message {
  color: red;
}

.nifty-cont-right select {
  border: 1px solid #e2e5ed !important;
  border-radius: 3px !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  color: #666666 !important;
  padding: 6px 10px;
  margin-left: 5px;
  cursor: pointer;
  width: auto !important;
  /*width: 112px !important;*/
}

.nifty-news-cut select {
  border: 1px solid #e2e5ed !important;
  border-radius: 3px !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  color: #666666 !important;
  padding: 7px 10px;
  margin-left: 5px;
  cursor: pointer;
  width: 140px !important;
  /*width: 112px !important;*/
}

.customDataNewsUrl {
  color: #888888 !important;
  font-weight: 400 !important;
  font-size: 12px !important;
}

.customDataNewsUrl :hover {
  color: #888888 !important;
  font-weight: 400 !important;
  font-size: 12px !important;
}

.ui-helper-hidden-accessible {
  display: none !important;
}

.newstockLTPUP {
  font-size: 12px !important;
  color: #ffffff !important;
  font-weight: 600;
  background: #18b57e !important;
  border-radius: 3px;
  padding: 0px 5px;
  margin: 0px 2px;
}

.newstockLTPDown {
  font-size: 12px !important;
  color: #ffffff !important;
  font-weight: 600;
  background: #e6191e !important;
  border-radius: 3px;
  padding: 0px 5px;
  margin: 0px 2px;
}

/*.action-btns a {    
    font-size: 14px !important;
    text-align: center !important;
    border-radius: 12px !important;
    outline: none !important;
    line-height: 14px !important;
    border: 0px !important;
    background: transparent !important;
}*/

.action-btns a i {
  vertical-align: middle !important;
}

.wsmenu > .wsmenu-list > li > .active {
  /* background: rgba(33, 150, 243, 0.3); */
  color: rgb(33, 150, 243) !important;
  transition: all ease-out 0.4s !important;
}

@media (max-width: 2000px) and (min-width: 992px) {
  .wsmenu > .wsmenu-list > li > .active:before {
    background: rgb(33, 150, 243) !important;
    width: 100% !important;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) !important;
  }
}

.h_tabing .nav-link:hover {
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .CSgoogleAdsPT {
    height: 345px !important;
  }

  #tempgoogleAdsBinding {
    height: 345px !important;
  }
  .androidPopup {
    display: block !important;
  }
}

#tempgoogleAdsBinding {
  height: 630px !important;
}

.androidPopup {
  display: none;
}

#bottom-left-modal {
  display: none;
}

.fiidiirazor {
  margin-right: 0px;
}

#elliotcalc {
  border: 1px solid #eceff2 !important;
  padding: 10px 9px;
}

#header-fixed {
  position: fixed;
  top: 0px;
  display: none;
  background-color: white;
}

@media (max-width: 480px) and (min-width: 320px) {
  .eod-grid-layout {
    columns: 2 !important;
  }
  .eod-g-height {
    height: 295px !important;
  }
  .MspotRight {
    text-align: left !important;
  }
}

@media (max-width: 993px) and (min-width: 320px) {
  .MshownavMy {
    display: block !important;
    position: absolute;
    right: 0;
    top: 0px;
  }
}
.eod-g-height {
  height: 250px;
}

.option_form .dropdown-toggle::after {
  top: 16px !important;
}

.optionchain_table td span button img {
  height: 70% !important;
}

.optionchain_table td span button {
  height: 21px !important;
  width: 21px !important;
}
/*OI Chart POPUP*/
.myCharModal .modal-header .close {
  padding: 0px;
  margin: 0px;
  position: absolute;
  font-size: 27px;
  font-weight: 300;
  color: #475f7b;
  right: 11px;
  top: 50%;
  margin-top: -16px;
}

.myCharModal .modal-title {
  margin: 0px !important;
}

.myCharModal .modal-header {
  padding: 20px 25px !important;
  position: relative;
}

.footerBtn button {
  width: 48%;
  margin-top: 0px !important;
}

.eotbtn {
  background-color: #f7f8fa;
  color: #666666;
  border: #e7e7e7 solid 1px;
}

.footerBtn button:hover {
  background-color: #ed6100;
  color: #ffffff;
  border: #ed6100 solid 1px;
}

.myCharModal select {
  font-size: 14px;
  color: #343434;
}

.myCharModal h4 {
  font-size: 15px;
  color: #343434;
  font-weight: 500;
}

.fixetable .table tr th {
  font-size: 11px !important;
  font-weight: 500;
  color: #495057;
  text-transform: capitalize;
  text-align: center;
  border-left: #dee2e6 solid 1px;
  border-bottom: 1px solid #dee2e6;
  padding: 10px 0px !important;
  vertical-align: middle !important;
  position: sticky;
  background: #fbfcfe;
  top: 0;
  z-index: 9999;
}

.stock-analysis-add-to-watchlist:hover {
  background: url(/images/Watchlist.svg) center no-repeat;
  background-color: #2196f2;
  height: 31px;
  width: 22px;
  padding: 6px 16px;
  background-size: 85% 85%;
}

.stock-analysis-add-to-watchlist {
  background: url(/images/Watchlist01.svg) center no-repeat;
  width: 20px;
  height: 20px;
  border: 1px solid #2196f2;
  padding: 14px 16px;
  position: relative;
  background-size: 85% 85%;
}

.tooltip-top {
  border: 0px;
  background: transparent;
  font-size: 16px;
  vertical-align: middle;
  color: #74788d;
}

.nifty-table-icon {
  display: block;
  border: 1px solid #dadce0;
  width: 30px;
  height: 30px;
  background: url(/images/Table-icon.svg) center no-repeat;
  background-size: 60% 65%;
  border-radius: 3px;
  position: relative;
}

.high_value_Builtup {
  background-color: #c9ffed;
  color: #00b865 !important;
}

.low_value_Builtup {
  background-color: #ffd2cf;
  color: #e6191e !important;
}

.defualtwlBtn {
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -7px;
  font-size: 10px;
  width: 60px;
  cursor: pointer;
}

.black_heading {
  color: #0f2137 !important;
  font-weight: 500;
  font-size: 18px;
  color: #343434;
  font-weight: 500;
  padding-bottom: 10px;
  line-height: 16px;
}

.home-nifty-table table th {
  width: 33.33%;
}

.home-nifty-table table th:first-child {
  width: 100px !important;
}

.h_daily_nifty_technicals {
  padding: 50px 0px !important;
}

.stock-analysis-inside .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;

  background-color: #2196f2;
}
.newstocktabing {
  margin: 0px auto !important;
}
.newstocktabing .nav-pills .nav-link {
  padding: 5px 13px;
  font-size: 14px;
}

.newstocktabing .nav-pills {
  margin-bottom: 6px;
}
.responsive-f .table-btn {
  margin-top: 17px !important;
}
#myProfileAccount .nifty-chart-icon {
  position: relative;
}

#myProfileAccount .nifty-chart-icon:hover .table-tooltip-box {
  visibility: visible !important;
}

#myProfileAccount .nifty-table-icon:hover .table-tooltip-box {
  visibility: visible !important;
}

.nsebulk .filter-option-inner-inner {
  line-height: 23px !important;
}
.ca_btn {
  margin-top: 17px !important;
}

.e-pager .e-currentitem,
.e-pager .e-currentitem:hover {
  background: #2196f3 !important;
}

.e-dropdownbase .e-list-item.e-active,
.e-dropdownbase .e-list-item.e-active.e-hover {
  color: ##2196f3 !important;
}

@media (min-width: 300px) and (max-width: 993px) {
  #myProfileAccount .nifty-chart-icon {
    margin-left: 8px;
  }
  .nifty-cont-right input {
    width: 69px !important;
  }
  .nifty-cont-right select {
    padding: 6px 3px !important;
  }
  .home-nifty-table table th {
    width: auto !important;
  }
  .stock-analysis-share-btn {
    padding: 14px 13px !important;
    width: 16px !important;
    height: 16px !important;
  }

  .stock-analysis-alert-btn {
    padding: 14px 13px !important;
    width: 16px !important;
    height: 16px !important;
  }
  .stock-analysis-add-to-watchlist {
    padding: 14px 13px !important;
    width: 16px !important;
    height: 16px !important;
  }
  .stock-analysis-right ul li {
    margin-left: 4px !important;
  }
  .black_heading {
    font-size: 20px;
    padding-bottom: 10px !important;
    font-weight: 400;
  }

  .align-items-center .company-searchbar .form-group {
    margin: 0px 0px !important;
  }

  .align-items-center .searchbar input {
    float: left;
    width: 100% !important;
    height: 36px !important;
  }

  .align-items-center .stock-analysis-right {
    padding: 0px 15px 0px 0px;
    float: right;
  }
  .nifty-terms ul {
    text-align: justify;
  }
  .nifty-terms ul li {
    margin: 0px auto;
  }
  .terms-responsive {
    padding-right: 15px !important;
  }
  .nifty-terms ul li a {
    margin: 3px 0px !important;
  }
  .stock-analysis-profile-div {
    padding: 10px 0px;
  }
  .responsive-th .green-highest-record {
    position: unset !important;
  }
  .responsive-th .red-highest-record {
    position: unset !important;
  }
  .stock_listings {
    height: auto !important;
  }
  .section-stocks h1 {
    font-size: 17px !important;
  }
  .list-style-stocks-analysis {
    padding: 0px !important;
  }
  .piovottable .select-dropdown select {
    float: none !important;
  }
  .fii-dii-table {
    white-space: nowrap;
  }
}

/*Contact page*/

/*/ Contact page /

.contact_page {*/
/*background: #f5f6fa;*/
/*}*/

.contact_us {
  box-shadow: var(--main-box-shadow);
  border-radius: 8px;
  padding: 15px;
}

.contact_us label {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
}

.contact_us button {
  width: 100%;
}

.contact_us input {
  border: 2px solid #e1e3eb;
}

.contact_us textarea {
  width: 100%;
  resize: none;
  border-radius: 2px;
  height: 200px;
  border: 2px solid #e1e3eb;
  padding: 0.375rem 0.75rem;
}

.right_conatct ul li {
  display: block;
}

.right_conatct ul li span {
  font-size: 14px;
  color: #343434;
}

.right_conatct ul li a {
  font-size: 14px;
  color: #343434;
}

.right_conatct ul li a:hover {
  color: #2196f3;
}

.right_conatct ul li i {
  color: #495057;
  vertical-align: middle;
  font-size: 16px;
  margin-right: 10px;
}

.right_conatct h4 {
  margin: 0px 0px 20px 0px;
  font-size: 30px;
}

.right_conatct ul li h5 {
  font-size: 18px;
}

.right_conatct p {
  font-size: 14px;
  font-family: "Roboto";
  color: #495057;
  margin-bottom: 20px;
}

.contact_us textarea:focus {
  box-shadow: none;
  outline: none;
  border: 2px solid var(--main-hover-color) !important;
}

.right_conatct ul li i {
  display: none;
}

@media (min-width: 300px) and (max-width: 993px) {
  .right_conatct h4 {
    font-size: 22px;
    margin: 19px 0px;
  }

  .right_conatct p {
    margin-bottom: 0px;
  }

  .right_conatct ul {
    padding-bottom: 30px;
  }

  .right_conatct ul li i {
    display: none;
  }
}
