/* @import url("style.css"); */

:root {
  --main-box-shadow: 0px 3px 16px 0px rgba(35, 47, 62, 0.15);
  --main-border-radius: 5px;
  --main-border-new: 8px;
  --main-hover-color: #2196f3;
  --main-transition: 0.3s ease-in-out;
  --border-color: rgb(203, 203, 203);
  --main-font-color: #666666;
  --secondary-border-radius: 0px;
  --border-0: 0px;
  --box-shadow-none: none;
  --font-size-responsive: 16px;
  --line-height: 1.7;
}
