/* ====================== Ameen ======================== */

/* ========= 12/03/2020 ================ */

/* ========= End Nifty Terms Page Css =============== */
.nifty-terms-tabs {
  background: #ffffff;
  padding: 15px 0px 60px;
}

.nifty-terms h1 {
  font-size: 18px;
  color: #495057;
  font-weight: 500;
}

.nifty-terms ul {
  padding: 17px 0px 33px;
  border-bottom: 1px solid #e2e5ed;
}

.nifty-terms ul li {
  display: inline-block;
  padding: 0;
}

.nifty-terms-active {
  font-size: 14px;
  color: #ffffff !important;
  font-weight: 500;
  border: 1px solid #2196f3;
  background: #2196f3;
  border-radius: 3px;
  padding: 10px 0px;
  width: 35px;
  height: 35px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  display: block;
  text-align: center;
}

.nifty-terms-numeric {
  font-size: 14px;
  color: #74788d;
  font-weight: 500;
  border: 1px solid #e2e5ed;
  border-radius: 3px;
  width: 45px !important;
  height: 35px;
  padding: 10px 0px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  display: block;
  text-align: center;
  margin: 0px 2px 5px 0px;
}

.nifty-terms-active:hover {
  border: 1px solid #e2e5ed !important;
}

.nifty-terms ul li a {
  font-size: 14px;
  color: #74788d;
  font-weight: 500;
  border: 1px solid #e2e5ed;
  border-radius: 3px;
  width: 35px;
  height: 35px;
  padding: 6px 0px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  display: block;
  text-align: center;
  margin: 0px 2px 5px 0px;
}

.nifty-terms ul li a:hover {
  background: #2196f3;
  border: 1px solid #2196f3;
  color: #ffffff;
}

.nifty-terms-tabs h2 {
  color: #495057;
  font-size: 22px;
  font-weight: 500;
  padding: 30px 0px 5px;
  margin-bottom: 0px !important;
}

.nifty-terms-box {
  border: 1px solid #e2e5ed;
  box-shadow: 0px 3px 35px 0px rgba(83, 93, 120, 0.08);
  padding: 0px;
  border-radius: 1px;
  margin: 15px 0px;
  /*height: 190px;*/
}

/* .nifty-terms-box h5::before{
  padding: 0px 3px;
  width: 14px;
  height: 14px;
  background: url(/images/nifty-terms-before.png) no-repeat;
  position: absolute;
  top: 0;
  left: -25px;
  content: '';
  vertical-align: middle;
} */
.nifty-terms-box img {
  width: 25% !important;
  height: 188px !important;
  border-radius: 1px 0px 0px 1px;
}

.nifty-term-right {
  width: 75%;
  padding: 19px;
}

.nifty-term-right a {
  font-size: 13px;
  color: #74788d;
  font-weight: 500;
  border: 1px solid #e2e5ed;
  background: transparent;
  border-radius: 3px;
  padding: 5px 13px;
  transition: 0.3s ease-in-out;
  display: inline-block;
}

.nifty-term-right a:hover {
  background: #2196f3;
  color: #ffffff;
  border: 1px solid #2196f3;
}

.nifty-term-right button:focus {
  outline: 0px !important;
}

.nifty-terms-box h5 {
  font-size: 16px;
  font-weight: 500;
  color: #495057;
  margin-bottom: 12px;
}

.nifty-terms-box p {
  font-size: 14px;
  font-weight: 400;
  color: #74788d;
  line-height: 23px;
  margin-bottom: 20px;
  text-align: justify;
}

.nifty-terms-box ul {
  padding: 0px;
}

.nifty-terms-box ul li a {
  border: 0px;
  padding: 0px;
}

.nifty-terms-box ul li a:hover {
  background: transparent;
  border: 0px;
}

.nifty-terms-box ul li {
  display: inline-block;
  margin: 3px 0px 0px 5px;
}

.nifty-terms-box ul li .fa-facebook-f {
  width: 25px;
  height: 25px;
  color: #ffffff;
  background: #4b76bd;
  font-size: 12px;
  border-radius: 50%;
  padding: 6px 0px;
  text-align: center;
  border: 1px solid transparent;
  transition: 0.3s ease-in-out;
}

.nifty-terms-box ul li .fa-facebook-f:hover {
  background: transparent;
  border: 1px solid #4b76bd;
  color: #4b76bd;
}

.nifty-terms-box ul li .fa-twitter {
  width: 25px;
  height: 25px;
  color: #ffffff;
  background: #00c6ff;
  font-size: 12px;
  transition: 0.3s ease-in-out;
  border-radius: 50%;
  border: 1px solid transparent;
  padding: 6px 0px;
  text-align: center;
}

.nifty-terms-box ul li .fa-twitter:hover {
  background: transparent;
  border: 1px solid #00c6ff;
  color: #00c6ff;
}

.nifty-terms-box ul li .fa-google-plus-g {
  width: 25px;
  height: 25px;
  color: #ffffff;
  border: 1px solid transparent;
  background: #fb5245;
  font-size: 12px;
  transition: 0.3s ease-in-out;
  border-radius: 50%;
  padding: 6px 0px;
  text-align: center;
}

.nifty-terms-box ul li .fa-google-plus-g:hover {
  background: transparent;
  border: 1px solid #fb5245;
  color: #fb5245;
}

.nifty-terms-box ul li .fa-linkedin-in {
  width: 25px;
  height: 25px;
  color: #ffffff;
  background: #0a85c9;
  font-size: 12px;
  border: 1px solid transparent;
  transition: 0.3s ease-in-out;
  border-radius: 50%;
  padding: 6px 0px;
  text-align: center;
}

.nifty-terms-box ul li .fa-linkedin-in:hover {
  background: transparent;
  border: 1px solid #0a85c9;
  color: #0a85c9;
}

.nifty-terms-box ul li .fa-envelope {
  width: 25px;
  height: 25px;
  color: #ffffff;
  background: #3b5998;
  transition: 0.3s ease-in-out;
  font-size: 12px;
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 6px 0px;
  text-align: center;
}

.nifty-terms-box ul li .fa-envelope:hover {
  background: transparent;
  border: 1px solid #3b5998;
  color: #3b5998;
}

.terms-sidebar .searchbar {
  box-shadow: 0px 3px 35px 0px rgba(83, 93, 120, 0.08);
  padding-top: 0px;
  margin-top: 2px;
}

.terms-sidebar .searchbar input {
  border: 1px solid #e2e5ed !important;
}

.terms-sidebar .Performance-box {
  box-shadow: 0px 3px 35px 0px rgba(83, 93, 120, 0.08);
  border: 1px solid #e2e5ed !important;
}

.terms-sidebar .ad-box {
  box-shadow: 0px 3px 35px 0px rgba(83, 93, 120, 0.08);
}

.terms-sidebar .toolkit-item a {
  color: #74788d !important;
  font-weight: 500 !important;
  transition: 0.3s ease-in-out;
}

.terms-sidebar .toolkit-item a:hover {
  color: #0a4c6c !important;
}

.nifty-terms-detail-box {
  padding: 15px 0px !important;
  border: 0px !important;
  box-shadow: none !important;
  width: 100% !important;
}

.nifty-terms-detail-box h2 {
  font-size: 20px;
  font-weight: 500;
  color: #495057;
  margin-bottom: 12px;
  padding: 0px !important;
}

.nifty-terms-detail-box p {
  font-size: 14px;
  font-weight: 400;
  color: #74788d;
  line-height: 23px;
  margin-bottom: 20px;
  text-align: justify;
}

.nifty-terms-detail-box ul li {
  margin: 0px 5px 0px 0px !important;
}

.terms-image-box {
  width: 40%;
  padding: 30px 15px 0px 0px;
}

/* ========= End Nifty Terms Page Css =============== */

/* ========= Nifty Oi Menu Css =============== */
.nifty-chart-ul li {
  display: inline-block;
  padding: 0px 5px 0px 0px;
}

.nifty-chart-ul {
  padding: 0px 0px 20px;
  margin-bottom: 0px !important;
}

.searchbar input {
  margin-bottom: 15px !important;
}

.nifty-chart-ul li a {
  font-size: 13px;
  color: #2196f3;
  font-weight: 400;
  /* text-transform: capitalize; */
}

.nifty-chart-ul li a:hover {
  text-decoration: underline;
}

.nifty-chart-ul li::after {
  content: " | ";
  font-size: 12px;
  position: relative;
  top: -1px;
  color: #2196f3;
  font-weight: 500;
  margin-left: 5px !important;
}

.nifty-chart-ul li:last-child:after {
  content: "" !important;
}

.fii-dii-icon {
  display: block;
  border: 1px solid #dadce0;
  width: 30px;
  height: 30px;
  background: url(/images/Table-icon.svg) center no-repeat;
  background-size: 60% 65%;
  border-radius: 3px;
  position: relative;
}

.fii-dii-icon {
  display: block;
  border: 1px solid #2196f3;
  width: 30px;
  height: 28px;
  background: #2196f3;
  border-radius: 3px;
  margin-left: 10px;
  color: #fff;
  text-align: center;
  line-height: 28px;
  font-size: 20px;
}
.nifty-chart-icon {
  display: block;
  border: 1px solid #2196f3;
  width: 35px;
  height: 30px;
  background: #2196f3 center no-repeat;
  background-image: url("/images/chart-icon-white.svg");
  /* background: url(/images/chart-icon.svg) center no-repeat; */
  background-size: 60% 65%;
  border-radius: 3px;
  margin-left: 10px;
  transition: 0.3 ease;
}

.nifty-chart-icon:hover {
  background: #fff center no-repeat;
  background-image: url("/images/chart-icon.svg");
  background-size: 60% 65%;
}
.nifty-chart-icon:hover {
  color: #fff;
}

.nifty-chart-dropdown .form-group {
  margin-bottom: 0px;
}

.nifty-chart-dropdown .form-group a {
  margin-left: 10px;
}

.nifty-chart-dropdown .form-group a:hover {
  background-color: #eef7fe;
  border-color: #2196f3;
}

.nifty-chart-dropdown .form-group a:hover .table-tooltip-box {
  visibility: visible;
}

.table-tooltip-box {
  color: #495057;
  text-align: center;
  font-size: 11px;
  position: absolute;
  padding: 7px 5px;
  text-transform: uppercase;
  font-weight: 500;
  background: #f5f8fb;
  border: 1px solid #e2e5ed;
  border-radius: 3px;
  height: 25px;
  width: 90px;
  visibility: hidden;
  top: -31px;
  left: -28px;
}

.table-tooltip-box:after,
.table-tooltip-box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.table-tooltip-box:after {
  border-color: rgba(226, 229, 237, 0);
  border-top-color: #f5f8fb;
  border-width: 5px;
  margin-left: -5px;
}

.table-tooltip-box:before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: #e2e5ed;
  border-width: 6px;
  margin-left: -6px;
}

.nifty-table-dropdown .form-group {
  padding: 0px;
  margin-bottom: 0px;
}

.nifty-table-dropdown .form-group a {
  position: relative;
  top: 0px;
  margin-left: 10px;
}

.nifty-table-dropdown .form-group a:hover {
  background-color: #eef7fe;
  border-color: #2196f3;
}

.nifty-table-dropdown .form-group a:hover .table-tooltip-box {
  visibility: visible;
}

.nifty-oi-active {
  color: #343434 !important;
}

.nifty-oi-active:hover {
  text-decoration: none !important;
  cursor: default !important;
}

/* ========= End Nifty Oi Menu Css =============== */

/* ========= Nifty Popup Css =============== */
.nifty-popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 99999999999;
}

.nifty-popup {
  width: 550px;
  background: #ffffff;
  border-radius: 3px;
}

a.nifty-watchlist-popup-btn {
  display: inline-block;
  color: #ffffff;
  font-size: 14px;
  border-radius: 3px;
  text-transform: uppercase;
  background: #2196f3;
  padding: 12px 23px;
  margin: 25px 0px;
  border: 1px solid transparent;
  transition: 0.3s ease-in-out;
}

a.nifty-watchlist-popup-btn:hover {
  background: transparent;
  color: #2196f3;
  border: 1px solid #2196f3;
}

.watchlist-popup-close {
  position: absolute;
  top: 0px;
  right: 12px;
  color: #aab5c2;
  font-size: 23px;
  font-weight: 300;
}

.watchlist-popup-close:hover {
  color: #aab5c2;
}

.watchlist-popup {
  background: url(/images/watchlist-popup-bg.jpg) center center no-repeat;
  width: 550px;
  min-height: 199px;
  position: relative;
  top: 0px;
  border-radius: 3px 3px 0px 0px;
  padding: 0px 10px;
  background-size: cover;
}

.watchlist-popup h5 {
  font-size: 22px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  padding: 30px 0px;
  margin: 0px;
}

.watchlist-popup h5 span {
  color: #2196f3;
  text-transform: uppercase;
  font-weight: 600;
}

.nifty-popup-inner-box {
  background: #102b62;
  border-radius: 3px;
  padding: 15px 10px;
  width: 170px;
  border: 1px solid transparent;
  transition: 0.3s ease-in-out;
  float: left;
  margin: 0px 3px;
}

.nifty-popup-inner-box:hover {
  border: 1px solid #2196f3;
}

.nifty-popup-inner-box h6 {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: left !important;
  margin: 0px;
  padding: 0px;
}

.nifty-popup-inner-box h6 span {
  font-size: 13px !important;
  font-weight: 300 !important;
  float: right;
}

.nifty-popup-value {
  font-size: 16px;
  text-align: left;
  font-weight: 500;
  padding-top: 10px;
  padding: 0px;
  margin: 0px;
}

.nifty-popup-value i {
  font-size: 15px;
}

.nifty-popup-red {
  color: #e85254 !important;
}

.nifty-popup-green {
  color: #3ab07c !important;
}

.nifty-popup-value span {
  font-size: 13px !important;
}

.nifty-popup-bottom {
  position: relative;
}

.nifty-popup-bottom h5 {
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  color: #495057;
  padding: 15px 0px 10px;
  text-align: center;
  margin: 0px;
}

.nifty-popup-bottom p {
  font-size: 15px;
  font-weight: 400;
  color: #74788d;
  text-align: center;
}

.nifty-popup-bottom span {
  display: block;
  width: 350px;
  height: 5px;
  background: #f1f4f9;
  position: absolute;
  top: 105px;
  left: 94px;
}

.nifty-popup-stocks {
  width: 180px;
  text-align: center;
  float: left;
  padding: 12px 15px 0px;
}

.nifty-popup-stocks h6 {
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  line-height: 1.385;
  color: #74788d;
  padding-top: 5px;
  padding: 0px;
  margin: 0px;
}

.nifty-popup-stocks i {
  font-size: 17px !important;
  color: #2196f3;
  position: relative;
}

/* ========= End Nifty Popup Css =============== */

/* ========= Intro JS Css =============== */
.introjs-helperNumberLayer {
  background: #2196f3 !important;
  font-weight: 500 !important;
}

.introjs-tooltiptext {
  font-size: 16px !important;
  text-transform: capitalize !important;
  color: #495057 !important;
}

.introjs-button {
  border: 1px solid #dadce0 !important;
  color: #2196f3 !important;
  background: transparent !important;
  margin-left: 5px !important;
  transition: 0.3s ease-in-out;
}

.introjs-button:hover {
  box-shadow: none !important;
  background: #eef7fe !important;
}

.introjs-bullets ul li a {
  background: #dadce0 !important;
}

.introjs-bullets ul li a:hover {
  background: #2196f3 !important;
}

.introjs-bullets ul li a:focus {
  outline: 0 !important;
}

.introjs-bullets ul li a.active {
  background: #2196f3 !important;
}

.introjs-skipbutton {
  margin-right: 0px !important;
}

/* ========= End Intro JS Css =============== */

/* ========= Stock Analysis Page Css =============== */
.nifty-analysis-highlights {
  border: 1px solid rgb(226, 229, 237);
  border-radius: 3px;
  min-height: 100px;
  margin: 10px;
  /* transition: 0.3s ease-in-out; */
}

.nifty-analysis-highlights:hover {
  box-shadow: 0px 3px 35px 0px rgba(83, 93, 120, 0.08);
}

.nifty-highlight-left {
  width: 20% !important;
  border-right: 1px solid rgb(226, 229, 237);
  min-height: 98px;
  float: left;
  padding: 23px 0px;
  background: #f5f8fb;
  text-align: center !important;
  vertical-align: middle !important;
  display: table-cell !important;
}

.nifty-highlight-right {
  width: 80% !important;
  min-height: 98px;
  padding: 15px 15px 0px;
  float: left;
}

.nifty-highlight-right h5 {
  color: #495057;
  font-size: 16px;
  font-weight: 500;
}

.nifty-highlight-right p {
  color: #74788d;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  padding: 0px;
}

.analysis-section {
  padding-top: 0px !important;
}

.analysis-profile-right {
  background: url(/images/overview-profilebg.jpg) no-repeat !important;
  background-position: right bottom !important;
  padding: 20px 25px 30px;
  box-shadow: none !important;
}

.analysis-profile button {
  color: #2196f3 !important;
  border-color: #dadce0 !important;
  background: transparent !important;
}

.analysis-profile button:hover {
  border-color: #2196f3 !important;
  background: #eef7fe !important;
}

.nifty-premium-highlight {
  position: relative;
  z-index: 1 !important;
}

.nifty-premium-highlight p {
  opacity: 0.1 !important;
}

.nifty-unlock-now {
  position: absolute;
  color: #2196f3;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  left: 35%;
  top: 38%;
  z-index: 1;
}

.nifty-unlock-now:hover {
  color: #2196f3 !important;
}

.nifty-unlock-now i {
  font-size: 17px;
  font-weight: 500;
  margin: 5px 0px;
}

.nifty-open-interest {
  /* box-shadow: 0px 3px 35px 0px rgba(83, 93, 120, 0.08); */
  border: 1px solid rgb(226, 229, 237);
  border-radius: 3px;
  float: left;
  transition: 0.3s ease-in-out;
  margin: 0px 0px 18px;
  min-height: 60px;
  min-width: 370px !important;
}

/* .open-interest-bg{
  background: url(/images/open-interestbg1.png) no-repeat;
  background-position: right bottom;
}
.change-interest-bg{
  background: url(/images/open-interestbg2.png) no-repeat;
  background-position: right bottom;
}
.live-max-bg{
  background: url(/images/open-interestbg3.png) no-repeat;
  background-position: right bottom;
} */
.nifty-open-interest:hover h5 {
  color: #2196f3 !important;
}

.nifty-open-interest:hover {
  /* box-shadow: 0px 3px 35px 0px rgba(33, 150, 243, 0.16); */
  border-color: #2196f3;
}

.nifty-open-interest-left {
  float: left;
  width: 20%;
  padding: 5px 0px;
  text-align: center !important;
  vertical-align: middle !important;
  display: table-cell !important;
}

.nifty-open-interest-right {
  float: left;
  width: 80%;
  padding: 10px 0px;
}

.nifty-open-interest-right h5 {
  transition: 0.3s ease-in-out;
  font-weight: 500;
  font-size: 15px !important;
  color: #495057;
  text-transform: capitalize;
  margin-bottom: 5px !important;
}

.nifty-open-interest-right p {
  font-weight: 400;
  font-size: 13px !important;
  color: #74788d;
  margin-bottom: 0px !important;
  /* line-height: 1.571; */
  /* width: 90%; */
}

.rollover-data {
  /* box-shadow: 0px 3px 35px 0px rgba(83, 93, 120, 0.08); */
  border: 1px solid rgb(226, 229, 237);
  border-radius: 3px;
  padding: 30px 50px 15px;
  margin: 5px 0px 20px;
  background: url(/images/rolloverbg.jpg) right no-repeat;
}

.max-pain-theory {
  min-height: 190px;
  margin: 0px 0px 20px !important;
  background: url(/images/max-painbg.jpg) right no-repeat;
}

.rollover-data h5 {
  font-size: 16px !important;
  color: #495057;
  font-weight: 500;
  margin: 0px 0px 15px !important;
  position: relative;
}

.rollover-data h5::before {
  background: #3ab07c;
  border-radius: 50%;
  content: "?";
  color: #ffffff;
  font-weight: 500;
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 6px 0px;
  display: block;
  position: absolute;
  top: -5px;
  left: -35px;
}

.rollover-data p {
  color: #74788d;
  line-height: 1.714;
  font-size: 14px;
  width: 74%;
  margin-bottom: 20px;
}

.future-analysis-table {
  padding: 0px !important;
  box-shadow: none !important;
  border: none !important;
}

.futures h6 {
  margin-bottom: 20px !important;
}

.future-analysis-table {
  min-height: 220px !important;
}

.rollover-table thead tr th {
  border-bottom: 0px !important;
}

.analysis_menu_scroll {
  top: 0px !important;
}

/* .analysis-ul .active {
  border-bottom: 2px solid #2196f3 !important;
} */
.analysis-menu li:hover {
  border-bottom: 0px !important;
}

.peer-comparison {
  padding: 20px 0px !important;
}

.nifty-ratio-analysis {
  padding: 20px 0px !important;
}

.nifty-ratio-analysis-bg {
  background: url(/images/ratiobg1.jpg) right no-repeat !important;
}

.activity-ratio-bg {
  background: url(/images/ratiobg2.jpg) right no-repeat !important;
}

.liquidity-ratio-bg {
  background: url(/images/ratiobg3.jpg) right no-repeat !important;
}

.solvency-ratio-bg {
  background: url(/images/ratiobg4.jpg) right no-repeat !important;
}

.nifty-ratio-analysis .max-pain-theory {
  margin: 0px 0px 25px !important;
}

.gaps-support {
  box-shadow: none !important;
  border: none !important;
  border-radius: 0px;
  padding: 0;
  margin: 30px -30px 10px !important;
}

.past-table {
  box-shadow: none !important;
  border: none !important;
  border-radius: 0px;
  padding: 0px 0px 5px !important;
  margin-top: 0px !important;
}

.technical-analysis {
  box-shadow: none !important;
}

.technical-left {
  border: 1px solid rgb(226, 229, 237);
  border-radius: 3px 3px 0px 0px !important;
  padding: 5px 0px;
  margin: 0px 0px 15px !important;
}

.past-table table thead tr th {
  padding: 12px 25px !important;
}

.past-table table tbody tr td {
  padding: 17px 25px 8px !important;
}

.technical-left h5 {
  padding: 10px 15px 10px !important;
  margin-bottom: 0px !important;
}

.trend-analysis-left {
  left: 34px !important;
  top: 65px !important;
}

.trend-analysis-left-d {
  left: 34px !important;
  bottom: 60px !important;
}

.gap-down {
  padding: 15px 10px 25px !important;
  margin: 0px !important;
}

.points-table {
  margin: 0px !important;
  box-shadow: none !important;
  border: none !important;
  border-radius: 0px;
  padding: 20px 0px 5px !important;
}

.price-table table thead tr th {
  padding: 11px 15px !important;
}

.price-table table tbody tr td {
  padding: 11px 15px !important;
}

.points-table table tbody tr td:nth-child(6) {
  text-align: left !important;
}

.points-table table thead tr th:nth-child(6) {
  padding: 11px 15px !important;
}

.analysis-profile p {
  margin-bottom: 5px 0px 25px !important;
  width: 65% !important;
}

.financial-trend-graph {
  margin: 10px 0px !important;
}

.analysis-profile-table {
  padding: 0px 0px 30px !important;
}

.key-data .analysis-profile {
  border: none !important;
  box-shadow: none !important;
  padding: 0px 0px 20px !important;
}

.chart-box {
  padding: 0px !important;
  box-shadow: none !important;
  border: none !important;
  border-radius: 0px;
  min-height: 380px;
}

.chart-box .graph-div {
  padding: 0px !important;
}

.day-table {
  padding: 0px !important;
  box-shadow: none !important;
  border: none !important;
  border-radius: 0px;
}

.chart-section {
  padding: 30px 0px 0px !important;
}

.nifty-reports {
  color: #495057;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 500;
  margin: 23px 7px;
}

.nifty-annual-reports {
  transition: 0.3s ease-in-out;
  border: 1px solid #e2e5ed;
  border-radius: 3px;
  padding: 10px;
  width: 95%;
  margin: 8px;
  min-height: 65px;
}

.nifty-annual-reports:hover {
  box-shadow: 0px 3px 35px 0px rgba(83, 93, 120, 0.08);
}

.nifty-annual-reports:hover .nifty-reports-right h6 {
  color: #2195f1 !important;
}

.nifty-reports-pdf {
  border-right: 1px solid #e2e5ed;
  text-align: center;
  vertical-align: middle !important;
  display: table-cell !important;
  float: left;
  width: 20%;
  height: 40px;
}

.nifty-reports-right {
  width: 80%;
  float: left;
  padding: 0px 15px;
}

.nifty-reports-right h6 {
  font-size: 15px;
  font-weight: 500;
  color: #495057;
  margin: 0px 0px 5px !important;
  transition: 0.3s ease-in-out;
}

.nifty-reports-right p {
  font-size: 13px;
  font-weight: 400;
  color: #74788d;
  padding: 0px;
  margin: 0px;
}

.nifty-reports-row {
  margin: 0px -22px !important;
}

.nifty-readmore-popup {
  background: #fff;
  border-radius: 3px;
  width: 45%;
  margin: 0 auto;
  position: relative;
  top: 20%;
  border: 1px solid #e2e5ed;
  transition: all 5s ease-in-out;
  padding: 0px 0px 20px;
}

.nifty-readmore-content {
  height: 300px;
  overflow-y: scroll;
}

.nifty-readmore-content p {
  font-size: 13px;
  color: #74788d;
  line-height: 1.692;
  padding: 0px 18px;
}

.nifty-readmore-popup h5 {
  font-size: 16px;
  color: #495057;
  font-weight: 500;
  padding: 20px 18px;
  border-bottom: 1px solid #e2e5ed;
  margin-bottom: 20px;
}

.nifty-readmore-popup .close {
  position: absolute;
  top: 13px;
  right: 18px;
  transition: all 200ms;
  font-size: 24px;
  font-weight: 200;
  text-decoration: none;
  color: #475f7b;
}

.readmore-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 9999999;
}

.readmore-overlay:target {
  visibility: visible;
  opacity: 1;
}

/* ========= End Stock Analysis Page Css =============== */

/* ========= News Page Css =============== */

.nifty-news-section {
  padding: 0px 0px 50px;
}

.nifty-news-ul {
  margin: 25px 0px 20px;
  border: none !important;
}

.nifty-news-ul li {
  display: inline-block;
  padding: 0px 25px 0px 0px;
}

.nifty-news-ul li a {
  font-size: 14px;
  font-weight: 500;
  color: #495057;
  text-transform: capitalize;
  transition: 0.3s ease-in-out;
  border: none !important;
  padding: 0px !important;
}

.nifty-news-ul li a:hover {
  color: #2196f3;
  border: none !important;
}

.nifty-news-menu {
  text-align: right;
  margin: 17px 0px 10px;
}

.nifty-news-menu li {
  display: inline-block;
  font-size: 13px;
  color: #666666;
  font-weight: 400;
  margin-left: 8px;
}

/* .nifty-news-source {
  width: 128px !important;
  height: 30px !important;
  border: 1px solid #e2e5ed !important;
  border-radius: 3px !important;
  padding: 0px 5px !important;
  font-size: 13px !important;
  color: #666666 !important;
  font-weight: 400 !important;
  background: transparent !important;
  cursor: pointer;
} */
.nifty-news-menu li .bootstrap-select > .dropdown-toggle {
  width: 128px !important;
  height: 30px !important;
  border: 1px solid #e2e5ed !important;
  border-radius: 3px !important;
  padding: 4px 10px !important;
  font-size: 13px !important;
  color: #666666 !important;
  font-weight: 400 !important;
  background: transparent !important;
  cursor: pointer;
}

.nifty-news-menu li .bootstrap-select:not(.input-group-btn),
.bootstrap-select[class*="col-"] {
  width: 128px !important;
}

/* .nifty-news-menu li .nifty-news-source .dropdown-menu {
  width: 128px;
} */
.nifty-news-source .dropdown-menu ul li {
  width: 120px !important;
  margin-left: 0px !important;
}

.news-list-view {
  text-align: center;
  color: #818992;
  border: 1px solid #e2e5ed;
  background: transparent;
  border-radius: 3px;
  font-size: 16px;
  padding: 4px 7px 4px;
  position: relative;
  top: 2px;
  transition: 0.3s ease-in-out;
}

.news-list-view:hover {
  background: #eef7fe;
  color: #2196f3;
  border-color: #2196f3;
}

.news-gallery-view {
  text-align: center;
  color: #818992;
  border: 1px solid #e2e5ed;
  border-radius: 3px;
  background: transparent;
  font-size: 18px;
  padding: 3px 5px 2px;
  position: relative;
  top: 3px;
  transition: 0.3s ease-in-out;
}

.news-gallery-view:hover {
  background: #eef7fe;
  color: #2196f3;
  border-color: #2196f3;
}

.nifty-list-type-active {
  background: #eef7fe !important;
  color: #2196f3 !important;
  border-color: #2196f3 !important;
}

.news-gallery-view .fas {
  font-weight: 500 !important;
  margin: 0px 0.5px;
}

.nifty-news-source:focus {
  outline: 0px !important;
}

.nifty-news-grid .grid-item-content {
  border-radius: 5px;
}

.grid-item-content:hover h6 {
  color: #2196f3;
}

.nifty-news-ul .active {
  color: #2196f3 !important;
}

.grid-item-content h5 {
  font-size: 13px;
  color: #818992;
  line-height: 1.923;
  font-weight: 400;
  margin: 0px;
  padding: 5px 0px 0px 0px;
}

.grid-item-content h5 i {
  font-size: 12px;
  margin-right: 2px;
  transition: 0.3s ease-in-out;
}

.grid-item-content-a {
  font-size: 15px;
  color: #0f2137;
  line-height: 1.533;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  margin-bottom: 0px !important;
}

.grid-content-box {
  padding: 15px;
}

.grid-item-content img {
  border-radius: 5px 5px 0px 0px !important;
  width: 100% !important;
  height: auto !important;
}

.grid-item-content p {
  line-height: 1.571;
  font-size: 14px;
  color: #818992;
  margin-bottom: 0px !important;
  padding-top: 5px;
}

.nifty-news-menu .bs-searchbox .form-control {
  height: 18px !important;
  border-radius: 0px !important;
  padding: 11px 5px !important;
  font-size: 13px !important;
}

.nifty-news-menu .form-control:focus {
  box-shadow: none;
  border-color: #e2e5ed !important;
}

.nifty-news-menu .bootstrap-select .bs-ok-default:after {
  font-size: 11px !important;
}

/* ========= End News Page Css =============== */

/* ========= Top Announcement Css =============== */
.nifty-announcement-bar {
  /* background: #fce46c; */
  color: #ffffff;
  text-align: center;
  border-radius: 0px;
  margin-bottom: 0px;
  padding: 3px 25px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  z-index: 999;
  line-height: 22px;
  /* background-image: -moz-linear-gradient(0deg,
        rgb(15, 240, 179) 0%,
        rgb(3, 110, 217) 100%);
    background-image: -webkit-linear-gradient(0deg,
        rgb(15, 240, 179) 0%,
        rgb(3, 110, 217) 100%);
    background-image: -ms-linear-gradient(0deg,
        rgb(15, 240, 179) 0%,
        rgb(3, 110, 217) 100%); */
  background-image: -webkit-linear-gradient(
    0deg,
    #172272 0%,
    rgb(3, 110, 217) 100%
  );
}

.nifty-announcement-bar button {
  text-shadow: none;
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
  position: absolute;
  right: 15px;
  top: 60%;
  margin-top: -10px;
}

.nifty-announcement-bar a {
  font-size: 13px !important;
  font-weight: 500 !important;
  color: #dded56 !important;
  text-transform: uppercase;
  background: #067694;
  padding: 3px 5px;
  border-radius: 3px;
}

/* ========= End Top Announcement Css =============== */
.searchbar span {
  top: 12px !important;
}

/* ================== Ameen ======================= */
/* ================== 26 March 2020 =================== */

.nifty-active-chart {
  background-color: #f7f7f7 !important;
  border-bottom: #1f86ec solid 1px !important;
  color: #1f86ec !important;
}

.analysis-ul .nav-tabs .nav-item .show .nav-link,
.analysis-ul .nav-link.active {
  color: inherit !important;
  background-color: inherit !important;
  border-color: transparent !important;
  border-bottom: 2px solid #2196f3 !important;
}

.analysis-ul .nav-link:hover {
  border-color: transparent !important;
  border-bottom: 2px solid #2196f3 !important;
}

.analysis-ul .nav-tabs .nav-link:focus {
  border: none !important;
}

.analysis-ul {
  border: none !important;
}

.analysis-ul li a {
  border-bottom: 2px solid transparent !important;
}

.nifty-contributors {
  padding: 5px 0px 60px;
}

.nifty-contributors h1 {
  color: #495057;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 12px;
}

.nifty-contributors h2 {
  color: #495057;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}

.nifty-contributors h2 span {
  font-weight: 500;
}

.nifty-cont-right {
  text-align: right;
  padding: 20px 0px;
}

.nifty-cont-right label {
  color: #666666;
  font-size: 13px;
  font-weight: 400;
  text-transform: capitalize;
}

.nifty-cont-right input {
  border: 1px solid #e2e5ed !important;
  border-radius: 3px !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  color: #666666 !important;
  padding: 7px 10px;
  margin-left: 5px;
  cursor: pointer;
  width: 112px !important;
}

.nifty-cont-right i {
  color: #666666 !important;
  position: relative;
  right: 30px;
  top: -1px;
}

.start-date-selector {
  margin: 0px 10px 0px 5px !important;
}

.end-date-selector {
  background: #f4f7fb !important;
  cursor: default !important;
}

.contributors-table {
  padding: 0px;
}

.contributors-table h5 {
  font-size: 14px;
  font-weight: 500;
  color: #3ab07c;
  vertical-align: middle;
  margin: 0px 0px 15px;
}

.contributors-table h5 img {
  vertical-align: bottom;
  margin: 0px 5px 0px 0px;
}

.contributors-table h5 span {
  float: right;
  font-size: 13px !important;
  color: #ffffff !important;
  background: #3ab07c;
  border-radius: 20px;
  font-weight: 400;
  padding: 5px 15px;
}

.contributors-table-right h5 {
  color: #e85254 !important;
}

.contributors-table-right h5 span {
  background: #e85254 !important;
}

.contributors-table table thead tr th {
  background: #f1f5fa;
  color: #495057;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 12px 15px !important;
}

.contributors-table table thead tr th:nth-child(1) {
  width: 30% !important;
}

.contributors-table table tbody tr td:nth-child(1) {
  width: 30% !important;
}

.contributors-table table tbody tr td {
  background: transparent;
  color: #495057;
  font-size: 13px;
  text-transform: capitalize;
  font-weight: 400;
  padding: 12px 15px !important;
}

.contributors-table table tbody tr {
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.contributors-table table tbody tr:hover {
  background: #f8f9fd !important;
}

.contributors-table table tbody tr:hover .nifty-bank-td {
  color: #2196f3 !important;
}

/* ================== Ameen ======================= */

.news-widget {
  width: 100%;
  padding: 2px 0px;
  height: 30px;
  background: #2196f3;
  margin-bottom: 20px;
}

.news-widget span {
  background: #ffffff;
  font-size: 13px;
  color: #343434;
  border-radius: 3px;
  font-weight: 500;
  padding: 3px 9px;
  margin: 0px 5px;
}

.news-widget marquee {
  width: 92.5%;
  float: right;
}

.news-widget marquee a {
  color: #ffffff;
  font-size: 12px;
  margin: 0px 10px;
  font-weight: 400;
  text-decoration: none;
}

.news-widget marquee a:hover {
  color: #ffffff;
}

.news-widget marquee a i {
  font-size: 6px;
  vertical-align: middle;
  margin: -2.5px 3px 0px 0px;
}

.main-grid-layout {
  columns: 4;
  column-gap: 20px;
  width: 101.6%;
}

.news-grid:hover .grid-item-content-a {
  color: rgb(33, 150, 243);
}

.news-grid:hover i {
  transition: 0.3s ease-in-out;
  transform: rotate(40deg);
}

.news-grid img {
  width: 100%;
}

/* .grid-item-content:nth-child(odd) {
    background: green;
} */

.grid-content-box:nth-child(even) {
  /* box-shadow: 0px 5px 35px 0px rgba(83, 93, 120, 0.1); */
  /* background: rgba(83, 93, 120, 0.06); */
}

.grid-content-box:nth-child(odd) {
  /* background: rgba(83, 93, 120, 0.15); */
  /* box-shadow: 0px 5px 35px 0px rgba(83, 93, 120, 0.1); */
}

.news-grid:nth-of-type(odd) {
}

/* .news-grid:nth-of-type(even) {
    border-left:2px solid #ed6100;
} */
.news-grid:nth-of-type(odd) .grid-item-content-a {
  /* color: rgb(33, 150, 243); */
}

/* .news-grid:nth-of-type(odd) .grid-content-box{
    border-left:2px solid #2196f3;
} */
.news-grid:nth-of-type(even) h5 {
  /* color: #ed6100; */
}

.news-grid:nth-of-type(odd) h5 {
  /* color: #2196f3; */
}

/* 
.grid-content-box:nth-child(even) .grid-item-content-a{
    color: rgb(33, 150, 243);
}
.grid-content-box:nth-child(even) h5 i{
color:orange;
}
.grid-content-box:nth-child(even) h5{
    color:orange;
    } */

.news-grid {
  break-inside: avoid-column;
  margin-bottom: 10px;
  width: 93%;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
  border-left: 2px solid;
}

.news-grid:hover {
  transform: translateY(2px);
  border-radius: 0px;
}

.news-grid-1 {
  background: #fef5ee;
  border-color: #fb9a48;
}

.news-grid-2 {
  background: #e7fafe;
  border-color: #01cefc;
}

.news-grid-3 {
  background: #eff3fc;
  border-color: #5a7fd9;
}

.news-grid-4 {
  background: #e7fbfc;
  border-color: #6f58dd;
}

.news-grid-1 i {
  border-radius: 100%;
  color: #f2bd8c;
}

.news-grid-2 i {
  border-radius: 100%;
  color: #01cefc;
}

.news-grid-3 i {
  border-radius: 100%;
  color: #5a7fd9;
}

.news-grid-4 i {
  border-radius: 100%;
  color: #6f58dd;
}

/* News 1 */

.main-grid-layout-2 {
  columns: 3 !important;
  column-gap: 20px !important;
  width: 102.5% !important;
}

.main-grid-layout-2 .news-grid {
  border: 1px solid #e2e5ed;
  border-radius: 5px;
  margin-bottom: 17px !important;
}

.main-grid-layout-2 .news-grid:hover {
  transform: translateY(-2px);
  border-radius: 5px;
}

/* Layout 3 */
.main-grid-layout-3 {
  columns: 3 !important;
  column-gap: 25px !important;
  width: 102.5% !important;
}

.main-grid-layout-3 .news-grid {
  margin-bottom: 22px !important;
}

.main-grid-layout-3 .grid-item-content-a {
  font-size: 18px;

  font-weight: 400;
}

/* new-nifty-sidebar  */
.section1 .nifty-top-news-bar {
  margin-bottom: 15px;
}
.modal-body .int-live-chart .chartjs-render-monitor {
  height: 230px !important;
}

/* ================ suraj 24/6/2020 ================ */

.calls-bg2 {
  background-color: transparent;
}
.calls-bg1 {
  background-color: #fbf5cda8;
}

/*.calls-bg1:hover,
 .puts-bg1:hover {
    background-color: #fbf5cda8 !important;
    color: #2196f3 !important;
}
.put-bg1:hover,
.calls-bg2:hover{
    color: #2196f3 !important;
}*/
.put-bg1:hover a,
.calls-bg1:hover a,
.puts-bg1:hover a {
  color: #2196f3 !important;
}
.put-bg1 a,
.calls-bg1 a,
.puts-bg1 a {
  font-weight: 400;
}
.put-bg1 a,
.calls-bg1 a,
.puts-bg1 a {
  font-size: 11px !important;
  font-weight: 400;
  font-family: "Roboto";
}
.table thead th {
  border-bottom: 1px solid #dee2e6;
}
.ntc-green,
.ntc-red {
  border: #eb5463 1px solid;
  padding: 1px 0px;
  border-radius: 4px;
  color: #eb5463 !important;
  background: rgba(235, 84, 99, 0.0784313725490196);
  display: block;
  text-align: center;
}
.ntc-green {
  border: #5dc83a solid 1px;
  background: rgba(5, 172, 114, 0.0784313725490196);
  color: #05ac72 !important;
}
.stk-price {
  padding: 1px 0px;
  /* background-color: #2e4058; */
  background-color: #f1f5fa;
  color: #495057;
  border-radius: 4px;
  display: block;
  text-align: center;
  border: #dee2e6 solid 1px;
  line-height: 1.5;
}
.modal-chart {
  padding: 15px;
  height: 350px;
}
.chart-btn {
  display: block;
  width: 24px;
  margin: auto;
}

/*===================== section_option_chain =====================*/
.section_option_chain {
  padding: 50px 0px;
}
.option-heading h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #343434;
  text-transform: capitalize;
  line-height: 20px;
  padding-bottom: 15px;
}
.option-heading p {
  color: #666666;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.571;
  margin-bottom: 15px;
  text-align: right;
}
.option-heading .sp {
  font-size: 20px;
  color: #212529;
  font-weight: 500;
}

.option-heading strong {
  color: #343434;
  font-weight: 500;
  /* font-size: 13px; */
}
.option_select {
  display: block;
}
.option_select .tt-suggestion {
  padding: 5px 10px !important;
}
.option_select .tt-suggestion:hover {
  color: #2196f3 !important;
  /* background-color: #f7f9fc !important;
    border-bottom: #2196f3 solid 1px !important; */
}
.option_select label {
  font-size: 14px;
  color: #666666;
  font-weight: 400;
  text-transform: capitalize;
  margin-right: 10px;
}
.option_select select {
  min-width: 130px;
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  font-size: 14px;
  color: #343434;
  background-color: #fff;
}
.option_select select:focus {
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
}
.option_select .dropDownMen {
  /* width: 130px; */
  display: inline-flex;
  position: relative;
}
.option_select .typeahead {
  width: 130px !important;
  height: 23px !important;
}
.option_select .fa-search {
  position: absolute;
  color: #888888;
  top: 2px !important;
  right: 4px !important;
  z-index: 999;
  color: #343434 !important;
  font-size: 14px;
}
.option_select .twitter-typeahead {
  width: 100%;
}
.option_select .tt-menu {
  z-index: 999999999 !important;
}
.option_select .stocks_query {
  border-bottom: #343434 solid 1px !important;
}
.optionchain_table thead {
  background-color: #f1f5fa;
}
.optionchain_table th {
  font-size: 12px;
  font-weight: 500;
  color: #495057;
  text-transform: capitalize;
  text-align: center;
  border-left: #dee2e6 solid 1px;
  padding: 10px 5px;
  vertical-align: middle !important;
}

.optionchain_table th:last-child {
  border-right: #dee2e6 solid 1px;
}
.optionchain_table td {
  font-size: 12px !important;
  font-weight: 400;
  text-align: right;
  border-left: #dee2e6 solid 1px;
  padding: 0px;
  color: #495057;
  vertical-align: middle;
  border-bottom: 0px !important;
}
.optionchain_table td a {
  display: block;
  padding: 5px 5px;
  font-size: 12px !important;
  /* color: #495057 !important; */
}
.optionchain_table td span {
  display: block;
  padding: 5px 5px;
  font-size: 12px !important;
}
.optionchain_table td span button {
  text-align: center;
  border-radius: 12px;
  outline: none;
  line-height: 14px;
  border: 0px;
  position: relative;
  height: 26px;
  width: 26px;
  border-radius: 50% !important;
  margin: 2px 0px;
  border: #2196f3 solid 1px;
  transition: 0.3 ease;
}
.optionchain_table td span button:hover {
  background-color: #fff !important;
  transition: 0.3 ease;
}
.optionchain_table td span button:hover img {
  content: url(/images/greek-blue.svg);
}
.optionchain_table td span button img {
  display: table-cell;
  vertical-align: middle;
  margin: auto;
  width: 18px;
}
.optionchain_table .dropdown-menu {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 4px 15px 0px rgba(35, 47, 62, 0.1);
  margin: 0px;
  padding: 10px;
  min-width: 124px;
  text-align: left;
  border: 0px;
}
.optionchain_table .dropdown-item {
  padding: 0px;
  font-size: 12px;
  font-weight: 400;
}
.optionchain_table .dropdown-item span {
  display: initial;
}

.optionchain_table td span button:after {
  display: initial;
  margin-left: 0;
  vertical-align: 0;
  content: "";
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}
.optionchain_table td:last-child {
  border-right: #dee2e6 solid 1px;
}
.optionchain_table tbody tr {
  border-bottom: #dee2e6 solid 1px;
}
.future-contract-btn {
  color: #2899f3;
  font-size: 14px;
  font-weight: 400;
  font-size: 14px !important;
  text-decoration: underline;
}
.future-contract-btn:hover {
  color: #2899f3;
  text-decoration: underline;
}
.ltp-color {
  color: #3a3d7d !important;
}
.calls-bg2 {
  background-color: #e7e3d578 !important;
}
.calls-bg2 span {
  color: #3a3d7d;
}
.calls-bg1 {
  background-color: #fbf5cd;
}
.inner-table {
  display: block;
}
.greeks {
  text-align: left !important;
  padding: 15px !important;
}
.greeks ul {
  list-style: none;
}
.greeks span {
  display: initial !important;
}
.future_modal .modal-dialog {
  max-width: 660px !important;
}
.future_modal .modal-body {
  padding: 15px;
}
.modal-future-table {
  background-color: #f1f5fa;
}
.modal-future-table th {
  font-size: 12px;
  font-weight: 500;
  color: #495057;
  text-align: center;
  border-left: #dee2e6 solid 1px;
  padding: 10px 5px;
  text-transform: uppercase;
}
.modal-future-table td {
  font-size: 12px !important;
  font-weight: 400;
  border-left: #dee2e6 solid 1px;
  padding: 0px;
  vertical-align: middle;
  background-color: #fff;
}
.modal-future-table td {
  background-color: #fff;
}
.modal-future-table td a {
  padding: 10px;
  color: #333333;
  font-weight: 500;
  display: block;
}
.modal-future-table td span {
  padding: 10px;
  display: block;
  color: #495057;
  font-weight: 400;
}
.modal-future-table th:last-child,
.modal-future-table td:last-child {
  border-right: #dee2e6 solid 1px;
}
.modal-future-table tbody tr {
  border-bottom: #dee2e6 solid 1px;
}
.modal-future-table td:hover {
  background: #f9fbfd;
}
.high_value {
  background-color: #caede1;
}
.modal_heading {
  width: 50%;
}
.modal_sp_price {
  width: 50%;
}
.modal_heading .modal-title {
  font-size: 14px;
}
.modal_heading .modal-title .newstockLTPDown {
  font-size: 20px;
}
.stock-analysis-heading span {
  background: #18b57e;
  border-radius: 3px;
  padding: 0px 5px;
  margin: 0px 2px;
  font-size: 20px;
  color: #fff;
}
.stock-analysis-heading b {
  color: #18b57e;
  font-size: 14px;
}
.modal_heading .modal-title .color-text-red {
  font-size: 14px;
}
.modal-future-table .bottom-table-row {
  border-bottom: #dee2e6 solid 1px !important;
}
.modal-future-table .bottom-table-row td {
  background-color: #f1f5fa;
}
.modal-future-table .table-bottom span {
  display: inline-block;
}
.future_modal .modal-title {
  margin: 0px;
  padding-top: 0px;
  color: #495057;
}
.future_modal .modal-header .close {
  right: 17px;
  top: 8px;
}
.future_modal .stock-analysis-heading {
  padding: 0px 0px;
}
.modal_sp_price p {
  padding: 0px;
  padding-right: 30px;
  text-align: right;
  font-size: 14px;
  color: #666666;
  font-weight: 400;
  font-family: "Roboto";
  text-transform: capitalize;
  margin: 0px;
  line-height: 1.55;
}
.modal_sp_price .sp {
  font-size: 20px;
  color: #212529;
  font-weight: 500;
}
.modal-title {
  cursor: initial;
}
.modal_sp_price span {
  cursor: initial !important;
}
.low_value {
  background-color: #f8877f;
}
.optionchain_scroll {
  /* height: 500px !important;
    overflow: hidden;
    overflow-y: scroll; */
  position: relative;
}

/*#hdtable1{
    width:100% !important;
    top: 0px !important;
    z-index: 999 !important;
}
#hdScrolltable1{
    overflow: hidden !important;
}
#hdScrolltable1:hover{
    overflow-y: scroll !important;
}
#hdScrolltable1::-webkit-scrollbar {
    width: 2px !important;
    height: 3px !important;
  }
  
#hdScrolltable1::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
}
  
#hdScrolltable1::-webkit-scrollbar-thumb {
    background-image: linear-gradient(90deg, #152769, #034673) !important;
    outline: 1px solid slategrey !important;
}*/
#chart_modal .close {
  padding: 0px;
  margin: 0px;
  position: absolute;
  font-size: 27px;
  font-weight: 300;
  color: #475f7b;
  right: 17px;
}
.option_chain_content h3,
.option_chain_content h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #343434;
  text-transform: capitalize;
  line-height: 20px;
}
.option_chain_content p {
  color: #666666;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.571;
  margin-bottom: 15px;
}
.option_chain_content ul {
  padding-left: 30px;
  margin-bottom: 15px;
}
.option_chain_content li {
  color: #666666;
  font-size: 14px;
  line-height: 27px;
  font-weight: 400;
}
.option_chain_content p a {
  color: #2196f3;
  font-size: 14px;
  font-weight: 500;
}
.section_option_chain .container {
  width: 1170px;
}
.inner-collapse {
  display: block;
}
.inner-collapse {
  padding: 15px;
}

.inner_table_w {
  /* width: 400px;
    margin: auto;
    padding-top: 43px; */
}
.table_chart2 {
  display: block;
  /* width: 300px; */
  height: 200px;
}
.inner_table_option-chain th {
  font-size: 12px;
}
.inner_bg {
  background: #f1f5fa;
}
/* .border_hide{
border-bottom: #dee2e6 solid 0px !important;
}
.border_hide td{
    border-top: 0px solid #dee2e6 !important;
    } */
.rp_menu {
  background-color: #f1f5fa;
  border: #dee2e6 solid 1px;
  padding: 0px 3px;
  display: flex;
  align-items: center;
}
.rp_menu li {
  list-style: none;
  display: inline-block;
  font-size: 12px;
  margin: 6px 15px;
  text-transform: uppercase;
  color: #343434;
  font-weight: 500;
  font-family: "Roboto";
}
.rp_menu li span {
  display: block;
}
.rp_content {
  /* border-bottom:#dee2e6  solid 1px; */
}
.rp_content li {
  display: block;
  list-style: none;
}
.rp_content .th_heading {
  font-size: 11px;
  font-weight: 500;
}
.rp_content .th_number {
  font-size: 12px;
  font-weight: 400;
}
.inner-st-block {
  display: block;
  position: relative;
}
.st_block {
  font-size: 12px;
  display: block;
  width: 100px;
  background: #f1f5fa;
  transform: rotate(90deg);
  height: 30px;
  position: absolute;
  top: 60px;
  left: 50%;
  margin-top: -15px;
  margin-left: -50px;
  text-align: center;
  padding: 6px;
  color: #343434;
  font-weight: 500;
}
.rp_table_1 {
  display: block;
  border: #dee2e6 solid 1px;
  background-color: #f1f5fa;
}
.rp_menu_1 {
  display: block;
  border-bottom: #dee2e6 solid 1px;
}
.rp_menu_1 ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0 auto;
}
.rp_menu_1 ul li {
  font-size: 11px;
  font-family: "Roboto";
  font-weight: 500;
  float: left;
  /* width: 23%; */
  /* margin: 0 1%; */
  margin: 0 5%;
  padding: 8px 0;
  text-transform: uppercase;
}
.f_price {
  display: block;
  font-size: 12px;
  font-weight: 400;
  font-family: "Roboto";
  color: #333;
}
.rp_content_box {
  display: block;
  background-color: #fff;
  height: 594px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.rp_content_box::-webkit-scrollbar {
  width: 2px !important;
  height: 3px !important;
}

.rp_content_box::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
}

.rp_content_box::-webkit-scrollbar-thumb {
  background-image: linear-gradient(90deg, #152769, #034673) !important;
  outline: 1px solid slategrey !important;
}
.option_heading {
  font-size: 10px;
  font-family: "Roboto";
  font-weight: 500;
  color: #333;
  float: left;
  width: 48%;
  margin: 0 1%;
}
.rp_left_ltp {
  font-size: 12px;
  overflow: hidden;
}
.rp_right_ltp {
  font-size: 12px;
  overflow: hidden;
}
.rp_ltp_red_box {
  width: 15px;
  height: 15px;
  background-color: #e51a1e;
  position: absolute;
  left: 0;
  top: -6px;
  transform: rotate(45deg);
}
.rp_netchhg {
  font-size: 12px !important;
  font-weight: 500 !important;
}
.rp_right_ltp span,
.rp_netchhg span {
  font-weight: 500;
  background-color: #e51a1e;
  border-radius: 3px;
  padding: 1px 2px;
  color: #fff;
}
.rp_red {
  background-color: #e51a1e !important;
}
.rp_green {
  background-color: #00b865 !important ;
}
.rp_ltp_red_box_right {
  right: 0px;
  left: initial;
  font-size: 12px;
}
.rp_main_colume {
  display: block;
  padding: 5px;
}
.option_value {
  font-size: 10px;
  font-weight: 400;
  color: #343434;
  font-family: "Roboto";
  float: left;
  width: 48%;
  margin: 0 1%;
  text-align: right;
}
.option_greeks_heading {
  float: left;
  width: 23%;
  font-size: 10px;
  font-weight: 500;
  color: #333;
  margin: 0 1%;
}
.option_greeks_value {
  font-size: 10px;
  font-weight: 400;
  color: #343434;
  font-family: "Roboto";
  float: left;
  width: 23%;
  margin: 0 1%;
  text-align: right;
}
.rp_inner_box {
  display: block;
  border-bottom: #dee2e6 solid 1px;
  /* padding: 5px; */
  /* background: #fbf5cd; */
}
.rp_inner_box:last-child {
  border-bottom: 0px;
}
.pt-15 {
  padding-top: 15px;
}
.rp_call {
  background-color: #fbf5cd;
}
.rp_put {
  background-color: #fff;
}
/* ======================== suraj 29/6/2020 ======================== */
.nifty-datatable .option_calulator th {
  color: #495057;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  padding: 10px !important;
}
/* .nifty-datatable table tr td */
.nifty-datatable .option_calulator td {
  padding: 10px !important;
}
.option_calulator select {
  height: 30px;
  width: 105px;
  padding: 0px 10px;
}
.option_calulator input {
  height: 30px;
  width: 105px;
  padding: 0px 10px;
}
.option_calulator .datepicker-here {
  background-color: #fff !important;
}
.option_calulator .datepicker-here[readonly] {
  background-color: #fff !important;
}

.nifty-chart-panel .nav-link {
  font-size: 14px !important;
}
.option_btn {
  background-color: #2196f3;
  border: #2196f3 solid 1px;
}
.table-btn {
  color: #ffffff;
  padding: 5px 8px;
}
.option_btn {
  background-color: #2196f3 !important;
  border: #2196f3 solid 1px !important;
}
.option_btn:hover {
  background-color: #fff !important;
  color: #2196f3;
}

.option_form .form-group {
  display: block;
}
.option_form .form-group label {
  font-size: 14px;
  font-weight: 400;
  color: #666;
  /* margin-right: 10px; */
  margin-bottom: 0px;
}
.option_form .form-group select {
  width: 130px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-color: #767676;
  height: 27px;
  font-size: 14px;
  border-radius: 0;
  color: #343434 !important;
}
.option_form .form-group input {
  width: 130px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-color: #767676;
  height: 27px;
  font-size: 14px;
  border-radius: 0;
}
.option_form .datepicker-here {
  background-color: #fff !important;
}
.option_form .datepicker-here[readonly] {
  background-color: #fff !important;
}
.option_form .form-group input::-webkit-select-placeholder {
  /* Edge */
  color: #343434 !important;
  font-size: 14px !important;
}

.option_form .form-group input:-ms-select-placeholder {
  /* Internet Explorer 10-11 */
  color: #343434 !important;
  font-size: 14px !important;
}

.option_form .form-group input::placeholder {
  color: #343434 !important;
  font-size: 14px !important;
}
.option_calc-btn {
  font-size: 14px;
  font-weight: 400;
  background-color: #ed6100;
  border: #ed6100 solid 1px;
  color: #fff;
  border-radius: 3px;
  margin-top: 15px;
}
.option_calc-btn:hover {
  background-color: #fff;
  color: #ed6100;
  border: #ed6100 solid 1px;
}
.option_reset_btn {
  background-color: #2196f3;
  border: #2196f3 solid 1px;
  color: #fff;
}
.option_reset_btn:hover {
  background-color: #fff;
  border: #2196f3 solid 1px;
}

/* ==================== suraj 30/6/2020 ==================== */
/* .option_chain_table_2 */
.option_chain_form_table thead,
.option_chain_table_2 thead {
  background-color: #f1f5fa !important;
}
.option_chain_form_table thead th {
  font-size: 12px;
  font-weight: 500;
  color: #495057;
  vertical-align: middle;
  text-transform: uppercase;
  text-align: left;
  border-left: #dee2e6 solid 0px;
  padding: 10px 10px;
  border-top: 0px;
}
.option_chain_form_table thead th:last-child {
  border-right: #dee2e6 solid 0px;
}
.option_chain_form_table tbody td {
  font-size: 12px !important;
  font-weight: 400;
  text-align: right;
  border-left: #dee2e6 solid 0px;
  /* padding: 0px 5px 5px; */
  padding: 10px;
  color: #495057;
  vertical-align: middle;
}
.option_chain_form_table tbody td:last-child {
  border-right: #dee2e6 solid 0px;
}
.option_chain_table_2 tbody tr:hover {
  background: #f7f9fc;
}
.option_chain_form_table .form-control {
  height: 27px;
  min-width: 115px;
  text-align: left;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-color: rgb(203, 203, 203);
  border-radius: 0;
  color: #343434;
  font-weight: 400;
  font-size: 13px;
}
.option_chain_form_table input {
  min-width: 100px;
}
.option_chain_form_table .form-control:focus {
  border-color: #2196f3 !important;
}
.option_chain_form_table tbody {
  /* border-bottom:#dee2e6 solid 1px; */
}
.option_calc_panel {
  box-shadow: none;
  border: 0;
  padding: 0;
}
.option_chain_form_table .stocks_query {
  border-bottom: 1px solid var(--border-color) !important;
}
.option_chain_form_table .twitter-typeahead {
  width: 100%;
}
/* .option_chain_table_2 */
.option_chain_table_2 thead {
  background: #f1f5fa !important;
}
.option_chain_table_2 th {
  font-size: 12px;
  font-weight: 500;
  color: #495057;
  vertical-align: middle;
  text-transform: uppercase !important;
  text-align: left;
  border-left: #dee2e6 solid 0px !important;
  border-top: 0px !important;
  padding: 10px 5px;
}
.option_chain_table_2 th:last-child {
  border-right: #dee2e6 solid 0px;
}
.option_chain_table_2 tbody td {
  font-size: 12px !important;
  font-weight: 400;
  text-align: left;
  border-left: #dee2e6 solid 0px;
  padding: 8px 5px;
  color: #495057;
  vertical-align: middle;
}
.option_chain_table_2 tbody td:last-child {
  border-right: #dee2e6 solid 0px;
}
.option_chain_table_2 tbody {
  border-bottom: #dee2e6 solid 0px;
}
.option_calc_btns {
  display: block;
  text-align: right;
}
.option_calc_btns button {
  font-size: 11px;
  font-family: "Roboto";
  border-radius: 3px;
  padding: 7px 20px;
  font-weight: 400;
  background-color: rgb(33, 150, 243);
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
  /* margin-right: 12px; */
  border: rgb(33, 150, 243) solid 1px;
  transition: 0.3s ease;
}
.option_calc_btns button:hover {
  background-color: #fff;
  color: rgb(33, 150, 243);
  /* transition: 0.3s ease; */
}
.option_form .option_calc_btns button:focus {
  box-shadow: none;
  outline: none;
}

.option_reset {
  background-color: #ed6100 !important;
  color: #fff;
  border: #ed6100 solid 1px !important;
}
.option_reset:hover {
  background-color: #fff !important;
  color: #ed6100 !important;
  border: #ed6100 solid 1px;
}
.option_chain_table_2 tbody tr:hover {
  background: #f7f9fc;
}
/* new option cal 3 */
.option_calc_3 {
  display: block;
}
.option_calc_3 .cal_heading {
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto";
  color: #343434;
}
.option_calc_3 label {
  font-size: 13px;
  margin-bottom: 0px;
}
.option_calc_3 .form-control {
  height: 27px;
  min-width: 120px;
  text-align: left;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-color: rgb(203, 203, 203);
  border-radius: 0;
  color: #343434;
  font-weight: 400;
  font-size: 13px;
  padding: 0;
}
.option_calc_3 .datepicker-here {
  background-color: #fff !important;
}
.option_calc_3 .datepicker-here[readonly] {
  background-color: #fff !important;
}
.option_calc_3_tabel {
  /* border:#dee2e6 solid 1px; */
}
.option_calc_3_tabel thead {
  background: #f1f5fa !important;
}
.option_calc_3_tabel th {
  /* border-top:0; */
  font-size: 12px;
  font-weight: 500;
  color: #495057;
  vertical-align: middle;
  text-transform: capitalize;
  text-align: left;
  border-left: #dee2e6 solid 0px !important;
  border-top: 0px;
  padding: 8px 5px;
}
.option_calc_3_tabel th:last-child {
  border-right: #dee2e6 solid 1px;
}
.option_calc_3_tabel tbody td {
  font-size: 12px !important;
  font-weight: 400;
  text-align: left;
  border-left: #dee2e6 solid 0px;
  border-bottom: 0 !important;
  padding: 8px 5px;
  color: #495057;
  vertical-align: middle;
}
.option_calc_3_tabel tbody tr {
  border-bottom: 0;
}
.option_calc_3_tabel tbody td:last-child {
  border-right: #dee2e6 solid 0px;
}
.option_calc_3_tabel tbody {
  border-bottom: #dee2e6 solid 1px;
}
.option_calc_3_tabel tr:hover {
  background: #f7f9fc;
}
/* .option_form .table-responsive {
    overflow-x: visible;
} */
.option_form .btn-group {
  position: static !important;
}
.option_form .optionsFilter {
  position: relative;
}
.option_form .input-group-btn {
  display: none;
}
.option_form .multiselect-selected-text {
  background-color: transparent !important;
  color: #343434;
  font-weight: 400;
  font-size: 13px;
}
.option_form .multiselect {
  padding: 0px !important;
  border-bottom: 1px solid var(--border-color) !important;
  border-radius: 0;
  min-width: 120px;
  text-align: left;
  position: relative;
}

.option_form .dropdown-toggle::after {
  display: inline-block;
  content: "\f078";
  font-family: "Font Awesome\ 5 Pro";
  font-weight: 900; /* Fix version 5.0.9 */
  border-top: 0 solid;
  border-right: 0 solid transparent;
  border-bottom: 0;
  border-left: 0 solid transparent;
  font-size: 11px;
  position: absolute;
  right: 4px;
  top: 4px;
}
.option_form .multiselect-container {
  height: 150px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 150px;
  padding: 0px;
}
.indices_filter_options .multiselect-container {
  max-height: 52px !important;
}
.rp_option_form .multiselect-container {
  width: 100%;
  height: 150px;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 0px !important;
}
.rp_option_form .btn-group {
  position: relative !important;
  display: block;
}
.rp_option_form .optionsFilter {
  position: static;
}
.rp_option_form .multiselect {
  padding: 0px !important;
  border-bottom: 1px solid var(--border-color) !important;
  border-radius: 0;
  text-align: left;
  position: relative;
  width: 100%;
}
/* .option_form  .multiselect-container li:first-child,
.rp_option_form  .multiselect-container li:first-child{
    border-bottom:0px;    
} */
.option_form .multiselect-container li,
.rp_option_form .multiselect-container li {
  border-bottom: #dee2e6 solid 1px;
}
.option_form .multiselect-container::-webkit-scrollbar {
  width: 2px !important;
  height: 3px !important;
}

.option_form .multiselect-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
}

.option_form .multiselect-container::-webkit-scrollbar-thumb {
  background-image: linear-gradient(90deg, #152769, #034673) !important;
  outline: 1px solid slategrey !important;
}
.option_form .multiselect:focus {
  box-shadow: none;
  border-bottom: #2196f3 solid 1px !important;
}
.option_form .multiselect-container .checkbox input {
  border-color: #adb5bd;
  margin-right: 5px;
}
.option_form .multiselect-container > li > a > label {
  padding: 3px 3px 3px 10px;
  display: block;
  margin-bottom: 0px;
  font-size: 12px;
  color: #666;
  font-weight: 400;
}
.rp_option_form label {
  font-size: 11px;
  font-weight: 500;
  color: #495057;
}
.option_form .flexselect {
  width: 115px;
  height: 27px;
  text-align: left;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-color: rgb(203, 203, 203);
  border-width: 1px;
  border-radius: 0;
  color: #343434;
  font-weight: 400;
  font-size: 13px;
  padding: 0;
  position: relative;
}
.rp_option_form .flexselect {
  height: 27px;
  text-align: left;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-color: rgb(203, 203, 203);
  border-width: 1px;
  border-radius: 0;
  color: #343434;
  font-weight: 400;
  font-size: 13px;
  padding: 0;
  width: 100%;
  position: relative;
}
.flexselect:focus {
  border-radius: 0 !important;
  outline: 0px !important;
  border-bottom: solid 1px;
  border-color: var(--main-hover-color) !important;
}
.option_form .flexselect:after {
  display: inline-block;
  content: "\f078";
  font-family: "Font Awesome\ 5 Pro";
  font-weight: 900;
  border-top: 0 solid;
  border-right: 0 solid transparent;
  border-bottom: 0;
  border-left: 0 solid transparent;
  font-size: 11px;
  position: absolute;
  right: 4px;
  top: 4px;
}
.rp_option_form .flexselect:after {
  display: inline-block;
  content: "\f078";
  font-family: "Font Awesome\ 5 Pro";
  font-weight: 900;
  border-top: 0 solid;
  border-right: 0 solid transparent;
  border-bottom: 0;
  border-left: 0 solid transparent;
  font-size: 11px;
  position: absolute;
  right: 4px;
  top: 4px;
}
.dropdown-close-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  /* border:#2196f3 solid 1px; */
  /* background-color: #2196f3; */
  background-color: transparent;
  border: transparent solid 1px;
  right: 17px;
  top: 1px;
  z-index: 999;
  color: #000;
  border-radius: 3px;
}
.dropdown-close-btn:hover {
  /* color: #2196f3;
    background-color: #fff; */
}
.dropdown-close-btn i {
  font-size: 13px;
  display: block;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5;
}
.btn_inner_div {
  position: relative;
}
.dropdown-close-btn:focus {
  outline: 0;
}
/* option calc 4 */
.option_form .option-table-menu {
  background-color: #f1f5fa !important;
  border-bottom: #dee2e6 solid 1px;
  padding-top: 0px;
}
.option_form .option-table-menu li {
  display: inline-block;
  text-align: center;
  width: 16%;
  font-size: 12px;
  font-weight: 500;
  color: #495057;
  vertical-align: middle;
  text-transform: uppercase;
  text-align: left;
  border-left: #dee2e6 solid 0px;
  padding: 10px 10px;
}
.option_form .option-table-menu li:after {
  border-right: #ebebeb solid 0px;
}
.option_form .option-table-item {
  list-style: none;
  background-color: #fff;
}
.option_form .option-table-item li {
  display: inline-block;
  width: 16%;
  font-size: 12px;
  font-weight: 500;
  color: #495057;
  vertical-align: middle;
  text-align: left;
  border-left: #dee2e6 solid 0px;
  padding: 10px 10px;
  margin-bottom: 0px;
}
.option_form .twitter-typeahead {
  width: 100%;
}
.option_form .stocks_query {
  border-bottom: 1px solid var(--border-color) !important;
  height: 27px !important;
  margin-bottom: 0px !important;
}
.option_form .form-group .form-control {
  height: 27px;
  width: 95%;
  text-align: left;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-color: var(--border-color);
  border-radius: 0;
  color: #343434;
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 0px;
}
.option_form .option-table-menu_2 li {
  width: 19%;
}
.option_form .option-table-item_2 li {
  width: 19%;
}

#custome_scroll::-webkit-scrollbar {
  width: 2px !important;
  height: 3px !important;
}

#custome_scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
}

#custome_scroll::-webkit-scrollbar-thumb {
  background-image: linear-gradient(90deg, #152769, #034673) !important;
  outline: 1px solid slategrey !important;
}
.btn_inner_div {
  position: relative;
}

/* suraj date 9-7-2020 */
.eod-screener {
  padding: 30px 0px;
}
.eod-screener .container {
  /* max-width: 1170px; */
}
.eod-screener .main-heading {
  margin: 15px 0px;
}
.filter_row {
  background-color: #fff;
  padding: 15px;
  box-shadow: var(--main-box-shadow);
  margin-bottom: 15px;
  border-radius: 8px;
  margin-left: -15px;
  margin-right: -15px;
}
.eod-screene .main-heading {
  font-size: 20px;
}
.filter_row ul {
  list-style: none;
}
.filter_row ul .nav-scroller-item {
  display: inline-block;
}
.filter_row ul li {
  display: inline-block;
}
.filter_row .dropdown-toggle {
  background-color: #fff;
  font-size: 13px;
  font-weight: 500;
  color: #2196f3;
  font-family: "Roboto";
  border: #2196f3 solid 1px;
  padding: 3px 18px;
  /* padding: 5px 10px; */
  border-radius: 3px;
  /* width: 100%; */
  /* text-align: left; */
  /* border-bottom: var(--border-color) solid 1px; */
  position: relative;
  margin-bottom: 10px;
  margin-right: 10px;
}
.filter_row .dropdown-toggle::after {
  position: absolute;
  top: 9px;
  right: 5px;
}
.filter_row .dropdown-toggle:focus {
  outline: 0px !important;
}
.filter_row .dropdown-menu {
  font-size: 13px;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 4px 15px 0px rgba(35, 47, 62, 0.1);
  margin: 0px;
  padding: 5px 0px;
}
.filter_row .custom-control-label {
  position: relative;
  margin-bottom: 0;
  line-height: 26px;
  display: block;
  font-size: 12px;
}
.filter_row .custom-control-label:hover {
  color: #2196f3;
  cursor: pointer;
}
.filter_row .dropdown-item {
  padding: 3px 10px;
  border-bottom: 0.5px solid #dee2e6;
  margin: 0px;
}
.filter_row h3 {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  color: #343434;
  border-bottom: var(--border-color) solid 1px;
  margin-bottom: 0px;
}
.eod-screener .advance_stock_screener button {
  position: relative;
}
.right_refresh_btns button i {
  font-size: 14px;
  vertical-align: middle;
}
.clear_badge {
  font-size: 10px;
  font-weight: 500;
  border: #2196f3 solid 1px;
  background-color: #fff !important;
  position: absolute;
  /* top: -5px;
    right: 0px; */
  top: -15px;
  right: -4px;
  width: 19px;
  height: 19px;
  color: #343434;
  border-radius: 50%;
  vertical-align: middle;
  line-height: 17px;
  padding: 0px;
}
.eod_filter_modal {
  background: none !important;
}
.eod_filter_modal .modal-dialog {
  max-width: 100% !important;
  margin-top: 0px !important;
}
.eod_filter_modal h3 {
  margin-bottom: 0px !important;
  margin-top: 8px;
}
.filter_btns {
  text-align: right;
}
.clear_btn button,
.filter_btns button {
  font-size: 13px;
  font-family: "Roboto";
  font-weight: 500;
  border-radius: 3px;
  padding: 0px 13px;
  line-height: 31px;
  margin-right: 6px;
  background-color: #2196f3;
  border: #2196f3 solid 1px;
  color: #fff;
  position: relative;
  transition: 0.3 ease;
}
.filter_btns button {
  margin-right: 11px;
}
.filter_btns button:hover,
.clear_btn button:hover {
  background-color: #fff;
  color: #2196f3;
}
.filter-header {
  border-bottom: var(--border-color) solid 1px;
  padding-bottom: 12px;
}
.filter_cancel {
  background-color: #ffffff !important;
  color: #2196f3 !important;
}
.filter_cancel:hover {
  background-color: #2196f3 !important;
  color: #fff !important;
}
.filter_btns,
.clear_btn {
  display: inline-block;
}
.filter_btns {
  padding-left: 12px;
}
.clear_btn {
  border-right: var(--border-color) solid 1px;
}

.clear_btn .clear_badge {
  right: -5px;
  top: -12px;
}
.filter_btns .filter_img {
  width: 15px;
  margin-right: 0px;
  vertical-align: text-bottom;
}
.filter-body {
  /* padding: 15px 0px; */
}
.filter-body h5 {
  font-size: 14px;
  color: #343434;
  font-weight: 500;
}
.filter-body .custom-control-label {
  font-size: 12px;
  font-weight: 400;
  color: #666;
  line-height: 26px;
  display: inline-block;
  cursor: pointer;
}
.filter_check_innerdiv {
  padding-top: 15px;
  position: relative;
}
.slider_heading {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto";
  color: #666;
  margin-bottom: 5px;
  display: block;
}
.filtering {
  padding-top: 0px;
}
.filtering ul li {
  font-weight: 500;
  font-family: "Roboto";
  color: #343434;
  margin-bottom: 0px;
  /* margin-bottom: 10px; */
}
.stock_apply_filter_2 li {
  margin-bottom: 10px !important;
}
.filtering ul li span {
  font-weight: 400;
  font-family: "Roboto";
  font-size: 11px;
}
.nav-scroller-nav {
  padding-bottom: 15px !important;
}
.nav-scroller-content {
  align-items: flex-start !important;
  min-height: 40px !important;
}
nav-scroller-item:not(:last-child) {
  border-right: 0px solid #ddd;
}
.nav-scroller-btn:not(.active) {
  opacity: 1 !important;
  pointer-events: none;
}
.nav-scroller-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100000;
  width: 44px;
  height: 44px;
  padding: 0.5rem;
  font-size: 1.25rem;
  color: #000;
  background: #fff;
  border: 1px solid #ddd;
  /* transition: color .3s,opacity .3s; */
  cursor: pointer;
  z-index: 9999999 !important;
}
.nav-scroller-content {
  position: static !important;
}
.nav-scroller-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 25px !important;
  height: 25px !important;
  padding: 0 !important;
  font-size: 12px !important;
  color: #2196f3 !important;
  background: #fff;
  border: 1px solid #2196f3 !important;
  transition: none !important;
  cursor: pointer;
  display: none;
  border-radius: 3px;
}
.nav-scroller-content ul {
  padding-top: 8px !important;
}
.nav-scroller {
  background-color: transparent !important;
  margin-top: -8px !important;
}
.nav-scroller:hover .nav-scroller-btn {
  display: block !important;
}
.eod_filter_modal {
  padding-right: 0px !important;
  position: fixed;
  top: 0px;
  right: auto;
  left: auto;
  bottom: 0;
}
.eod_filter_modal .modal-content {
  min-height: 300px;
}
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
  right: 5px !important;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  right: 0px !important;
}
.option_chain_form_table span i {
  font-size: 16px;
  line-height: 0px;
}
.eod-screener .right_refresh_btns button:focus {
  outline: 0;
}
.eod_content p {
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 400;
  color: #666;
  line-height: 1.7;
}
.eod-grid-layout {
  columns: 6;
  column-gap: 15px;
  width: 100%;
}
.eod-grid-row {
  display: block;
}
.eod-grid {
  break-inside: avoid-column;
  margin-bottom: 10px;
  width: 100%;
  padding: 0px 15px;
}

.nifty-datatable .table th div {
  /* display: table-caption; */
  /* white-space: break-spaces; */
}
/*.eod_table tbody td:first-child{
padding: 0px !important;
}*/
.eod_table tbody td a {
  padding: 11px 10px;
}
.eod_table tbody tr:hover {
  background-color: #f7f9fc;
}
.eod_table tbody tr:hover td a {
  color: #2196f3;
}
.eod_table th {
  background-color: #f1f5fa;
}

.eod-inner-div .paginate_button {
  margin-left: -1px;
  line-height: 1.25;
  background-color: #fff;
  border: 1px solid #dee2e6;
  padding: 6.5px 11.1px;
  font-size: 15px;
  color: #333;
  font-weight: 400;
  font-size: 13px;
}
.eod-inner-div .paginate_button:focus {
  outline: 0px;
  border: #2196f3 solid 1px;
}
.eod-inner-div .paging_simple_numbers .previous {
  margin-left: -1px;
  line-height: 1.25;
  background-color: #fff;
  border: 1px solid #dee2e6;
  padding: 6.5px 11.1px;
  font-size: 15px;
  color: #333;
  font-weight: 400;
  font-size: 13px;
}
.eod-inner-div .dataTables_paginate .current {
  background-color: #2196f3;
  border: #2196f3 solid 1px;
  color: #fff;
}
.eod-inner-div .dataTables_filter input {
  border: #dee2e6 solid 1px;
}
.eod-inner-div .dataTables_length select:focus {
  border: #2196f3 solid 1px;
  outline: 0px;
}
.eod-inner-div .dataTables_filter input:focus {
  border: #2196f3 solid 1px;
  outline: 0px;
}
.eod-inner-div .dataTables_info {
  padding-top: 4px !important;
  margin-top: 10px;
}
.eod-inner-div .paging_simple_numbers {
  margin-top: 10px !important;
}
.eod-inner-div .dataTables_scrollBody::-webkit-scrollbar {
  width: 2px !important;
  height: 3px !important;
}

.eod-inner-div .dataTables_scrollBody::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
}

.eod-inner-div .dataTables_scrollBody::-webkit-scrollbar-thumb {
  background-image: linear-gradient(90deg, #152769, #034673) !important;
  outline: 1px solid slategrey !important;
}
.fii-dii-chart-block {
  height: 200px;
}
.eod_filter_modal .multiselect-search {
  height: 27px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: #dee2e6 solid 1px;
  border-width: 1px;
}
.remove_symbols {
  background: transparent;
  border: none;
  font-size: 13px;
  position: absolute;
  right: 0;
  margin-right: 70px;
  top: 0px;
  margin-top: 42px;
  z-index: 999999;
}
.options_label_green {
  background-color: #e7f7f2;
}
.options_label_red {
  background-color: #fdedee;
}
.options_label_green_1 {
  background-color: #e7f7f285 !important;
}
.options_label_red_1 {
  background-color: #fdedee6b !important;
}
.sortby_select {
  text-align: right;
}
.sortby_select label {
  font-size: 12px;
  font-weight: 400;
  font-family: "Roboto";
  color: #666;
  display: inline-block;
  margin-bottom: 13px;
}
.sortby_select select {
  font-size: 12px;
  font-family: "Roboto";
  color: #343434;
  font-weight: 500;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: var(--border-color) solid 1px;
  min-width: 143px;
}
.filter-header .custom-radio {
  margin-top: 7px;
}
.filter-header .custom-control-label::before {
  width: 16px;
  height: 16px;
  top: 2px;
}
.filter-header .custom-control-label::after {
  width: 16px;
  height: 16px;
  top: 2px;
}
.filter-header .custom-control-label {
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto";
  color: #333;
  display: block;
  cursor: pointer;
}
.h-200 {
  height: 200px;
}
.symbol_select .stocks_query {
  font-size: 12px !important;
  font-weight: 400;
  color: #666;
}
.symbol_select .fa-search {
  top: 5px !important;
  right: 4px !important;
  color: #666 !important;
}
.symbol_select .tt-menu {
  box-shadow: none;
  margin-top: 0px;
}
.nifty-options-screener-rp .option_heading {
  font-size: 11px !important;
  font-weight: 500;
  color: #343434 !important;
}
.nifty-options-screener-rp .option_value {
  font-size: 11px !important;
  font-weight: 400 !important;
  color: #343434 !important;
}
.calls-bg-rp {
  background-color: #e7f7f285;
}
.put-bg-rp {
  background-color: #fdedee6b;
}
.options_toggle .show-features {
  border: #2196f3 solid 1px !important;
  width: 26px;
  height: 26px;
}
.options_toggle .show-features i {
  vertical-align: middle;
  font-size: 13px;
}
.options_toggle .show-features:focus {
  outline: none;
}
.options_inner_table {
  margin: 0px auto !important;
}
.inner_options {
  padding: 10px 0px;
}
.w-20 {
  width: 20% !important;
}
.eod_table .dtr-details {
  display: block !important;
  padding: 12px !important;
}
.eod_table .dtr-details li {
  text-align: left;
  display: block !important;
}
.eod_table .control::before {
  background-color: #2196f3 !important;
  line-height: 21px !important;
  font-size: 16px !important;
  height: 20px !important;
  width: 20px !important;
}
.eod_table.dataTable thead th {
  padding: 10px 18px;
  padding-left: 11px;
  border-bottom: 1px solid #dee2e6;
}
.eod_table.dataTable.no-footer {
  border-bottom: 1px solid #dee2e6 !important;
}
#eod_table_paginate .paginate_button {
  margin-left: -1px;
  line-height: 1.25;
  background-color: #fff;
  border: 1px solid #dee2e6;
  padding: 6.5px 11.1px;
  font-size: 15px;
  color: #333;
  font-weight: 400;
  font-size: 13px;
}
#eod_table_paginate .current {
  background: #2196f3;
  border: #2196f3 solid 1px;
  color: #fff !important;
}
#eod_table_paginate .paginate_button:hover {
  color: #2196f3 !important;
  border: 1px solid #2196f3;
  background: #fff;
}
.dataTables_length select {
  background-color: #fff;
}
.dataTables_wrapper .dataTables_length {
  float: left !important;
  text-align: center;
}
.dataTables_wrapper .dataTables_filter {
  float: right !important;
}
#eod_table_filter {
  margin-top: 0 !important;
}
.dataTables_filter input {
  background-color: #fff !important;
}
#eod_table thead .sorting:before,
#eod_table thead .sorting_asc:before,
#eod_table thead .sorting_desc:before,
#eod_table thead .sorting_asc_disabled:before,
#eod_table thead .sorting_desc_disabled:before {
  background-image: url(/images/sorting-/images/sort_asc.png);
}
#eod_table thead .sorting_asc {
  background-image: url(/images/sorting-/images/sort_asc.png);
}
#eod_table thead .sorting:after,
#eod_table thead .sorting_asc:after,
#eod_table thead .sorting_desc:after,
#eod_table thead .sorting_asc_disabled:after,
#eod_table thead .sorting_desc_disabled:after,
#eod_table thead .sorting_desc {
  background-image: url(/images/sorting-/images/sort_desc.png);
}
.w-25 {
  width: 25% !important;
}
.inner_table_w .table th {
  padding: 10px !important;
}
.inner_table_w .table td {
  padding: 10 !important;
}
.login_popup .modal-dialog {
  max-width: 660px !important;
}
.loginpopup_img {
  background: url("/images/login_popup.jpg") no-repeat center;
  height: 380px;
  background-size: cover;
}
.login_popup h5 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  padding-top: 15px;
  color: #333;
  line-height: 1.5;
  text-transform: capitalize;
}
.login_popup .login-text {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  color: #666;
  display: block;
  line-height: 1.5;
}
.login_popup .form-group {
  position: relative;
}
.login_popup .form-control {
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: #333 solid 1px;
  border-radius: 0;
  padding-left: 40px;
  margin-bottom: 15px;
}
.login_popup .form-group i {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  margin-left: 15px;
  left: 0px;
  color: #2196f3;
}
.login_popup .form-check-label {
  font-size: 14px;
  color: #666;
}
.login_popup .form-check-input {
  position: absolute;
  /* margin-top: 3.5px; */
  margin-left: -1.25rem;
  top: 50%;
  margin-top: -7px;
}
.login_submit_btn {
  background-color: #2196f3;
  color: #fff;
  border: #2196f3 solid 1px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
  min-width: 150px;
}
.login_submit_btn:hover {
  background-color: #fff;
  color: #2196f3;
  transition: 0.3s linear;
}
.login_linking-text {
  margin-bottom: 0px;
}
.login_linking-text a {
  font-size: 14px;
  text-transform: capitalize;
  color: #2196f3;
  font-family: "Roboto";
  font-weight: 400;
}
.login_social_link h6 {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 500;
  color: #343434;
  text-transform: capitalize;
  text-align: center;
  padding-top: 10px;
}
.login_social_link {
  text-align: center;
}
.price_plan_h {
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto";
  line-height: 1.5;
}
.price_plan_content {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: #666;
}
.price_card {
  box-shadow: var(--main-box-shadow);
  border-radius: var(--main-border-radius);
  margin: 0px 15px;
  margin-bottom: 30px;
}
.price_heading {
  background-color: #2196f3;
  padding: 20px;
  border-radius: 7px 7px 0px 0px;
  text-transform: uppercase;
}
.price_heading h3 {
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-bottom: 0px;
}
.price_plan_table th {
  font-size: 13px;
  vertical-align: middle;
  padding: 10px;
}
.price_plan_table td {
  font-size: 13px;
  padding: 10px;
}
.price_plan_row_h {
  color: #ed6100;
}
.price_content {
  border-radius: 0px 0px 7px 7px;
  padding: 12px;
}
/* .price_plan_list_heading li{
    
} */
.price_btn {
  display: block;
  margin: 0px 10px;
}
.price_btn a {
  width: 100%;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  border: #2196f3 solid 1px;
  padding: 12px 0px;
  text-transform: uppercase;
  border-radius: 5px;
  transition: 0.3s linear;
}
.price_btn a:hover {
  transition: 0.3s linear;
  background-color: #2196f3;
  color: #fff;
}
.premium-plan {
  margin-left: 5px;
}
.plan_rate {
  display: block;
  text-align: center;
  font-size: 18px;
  color: #666;
  font-weight: 300;
}
.plan_rate .plan_sale_price {
  color: #666;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 300;
  text-decoration: line-through;
}
.plan_buy_price {
  font-size: 50px;
  color: #ed6100;
}

#hdtablefreeze {
  width: 100% !important;
  top: 0px !important;
  z-index: 999 !important;
}

#hdScrolltablefreeze {
  overflow: hidden !important;
}

#hdScrolltablefreeze:hover {
  overflow-y: scroll !important;
}

#hdScrolltablefreeze::-webkit-scrollbar {
  width: 2px !important;
  height: 3px !important;
}

#hdScrolltablefreeze::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
}

#hdScrolltablefreeze::-webkit-scrollbar-thumb {
  background-image: linear-gradient(90deg, #152769, #034673) !important;
  outline: 1px solid slategrey !important;
}
