.compare-broker {
  background: url(/images/broker.jpg) no-repeat center center;
  background-size: cover;
  padding: 38px 0px;
}

.company-profile-new .page-heading {
  font-size: 30px;
  color: #495057;
  font-weight: 500;
  padding-bottom: 24px;
}

.search-row-broker {
  /*width: 1171px;*/
  /*height: 88px;*/
  border-radius: 5px;
  padding: 18px 3px;
  filter: drop-shadow(0px 4px 10.5px rgba(35, 47, 62, 0.15));
  background-color: #ffffff;
}

.search-row-broker .dropdown {
  width: 100% !important;
}

.search-row-broker .dropdown-toggle {
  width: 295px;
  height: 50px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
}

.search-row-broker .form-control:focus {
  box-shadow: none;
  border-color: #ed6100 !important;
}

.search-row-broker .bootstrap-select .dropdown-menu li a span.text {
  font-size: 13px;
  color: #666666;
}

.search_btn_broker {
  width: 193px;
  height: 50px;
  font-size: 15px;
  width: 100%;
  font-weight: 700;
  border-radius: 3px;
  background-color: #2196f3;
  border: 1px solid #cccccc;
}

.broker_padding_r {
  padding-right: 0px;
}

.nifty_broker_section h2 {
  font-size: 22px;
  color: #495057;
  font-weight: 500;
}
.broker_des {
  color: #74788d;
  font-size: 14px;
  margin-bottom: 32px;
}
/*tabbing panel*/
.nifty-broker-tabing-panel {
  background-color: rgb(241, 245, 250);
  width: 929px;
  padding: 5px 7px;
  margin: 13px 0px;
  border-radius: 3px;
  filter: drop-shadow(0px 4px 10.5px rgba(35, 47, 62, 0.15));
  background-color: #ffffff;
}

.nifty-broker-tabing-panel li {
  display: inline-block;
  border-radius: 3px !important;
}

.nifty-broker-tabing-panel li:first-child {
  /* margin-right: 16px;*/
}

.nifty-broker-tabing-panel li:first-child a {
  padding: 10px 10px;
}
.nifty-broker-tabing-panel li:last-child a {
  border-right: 0px !important;
}

.nifty-broker-tabing-panel li a {
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  color: #495057;
  padding: 5px 63px !important;
  /* line-height: 1.923;*/
  display: block;
  border-radius: 3px !important;
  border-right: 1px solid #b4b5c0 !important;
  padding: 10px 15px;
  border-bottom: 2px solid transparent;
  /*   transition: all ease-out 0.5s;*/
}

.nifty-broker-tabing-panel li .active {
  border-right: 1px solid transparent !important;
}
.nifty-broker-tabing-panel li .active {
  color: #fff !important;
  /* width: 228px;*/
  height: 34px;
  border-radius: 3px !important;
  background-color: #2196f3 !important;
  /*   background-color: inherit !important;*/
  border-color: transparent !important;
  border-bottom: 2px solid transparent !important;
}
.nifty-broker-tab-content {
  background: #fff;
  height: 100%;
  padding: 3px 0px 40px 0px;
}
.nifty-broker-tabing-ul .nav-link:hover {
  border-color: transparent !important;
  /*    border-bottom: 2px solid transparent !important;*/
}
.nifty-broker-tabing-ul {
  border: none !important;
}
/* Responsive Media jQuery */
@media (min-width: 320px) and (max-width: 480px) {
  .nifty_broker_section {
    padding: 33px 0px 0px 0px;
  }
  .nifty_broker_section h2 {
    font-size: 16px;
  }
  .nifty-broker-tabing-panel li a {
    padding: 8px 19px !important;
    font-size: 13px;
  }
  .nifty-broker-tabing-panel {
    width: 544px;
  }
  .nifty-broker-tab-content .p-0 {
    padding: 0px 15px !important;
  }
  .nifty-broker-tab-content .grid {
    margin: 0px 0px !important;
  }
  .broker_padding_r {
    padding-right: 15px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .nifty_broker_section {
    padding: 33px 0px 0px 0px;
  }
  .nifty_broker_section h2 {
    font-size: 16px;
  }
  .broker_padding_r {
    padding-right: 15px;
  }
  .nifty-broker-tabing-panel li a {
    padding: 8px 19px !important;
    font-size: 13px;
  }
  .nifty-broker-tabing-panel {
    width: 544px;
  }
  .nifty-broker-tab-content .p-0 {
    padding: 0px 15px !important;
  }
  .nifty-broker-tab-content .grid {
    margin: 0px 0px !important;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .nifty-broker-tabing-panel li a {
    padding: 5px 35px !important;
  }
  .nifty-broker-tabing-panel {
    width: 100%;
  }

  .grid .grid-item {
    width: 47% !important;
    margin: 15px auto !important;
    display: inline-block !important;
    float: none !important;
  }
  .nifty-broker-tab-content .grid {
    margin: 15px -30px 0px 0px;
  }

  /*.nifty-broker-tab-content .grid-item {
    width: 29.5% !important;
    margin: 15px 15px 10px !important;
}
.nifty-broker-tab-content  .grid-item--width2 { width: 40%; }
 .nifty-broker-tab-content  .grid-sizer { width: 20%; }*/
}
@media (min-width: 993px) and (max-width: 1024px) {
}
@media (min-width: 1025px) and (max-width: 1280px) {
}
@media (min-width: 1281px) {
  .responsive_broker {
    max-width: 27%;
    flex: 0 0 27%;
  }
  .responsive_broker2 {
    flex: 0 0 25%;
    max-width: 19%;
  }
}
.padding_broker {
  padding: 0px 0px;
}
.nifty-broker-tab-content .grid {
  margin: 15px -15px;
}
.nifty-broker-tab-content .grid-item {
  /*    width: 30%;*/
  /*margin: 15px 15px 20px;*/
  margin: 7px 3px 13px 0px;
  float: left;
  padding: 12px;
  width: 270px;
  /*height: 519px;*/
  border-radius: 5px;
  filter: drop-shadow(0px 4px 10.5px rgba(35, 47, 62, 0.15));
  background-color: #ffffff;
}
/*.broker-list {
    padding-right: 50px;
}*/
.news-box-img img {
  width: 100%;
  margin: 5px 0px 35px;
  filter: drop-shadow(0px 2px 9px rgba(27, 31, 46, 0.3));
}

.broker-list a {
  color: #434468 !important;
  line-height: 1.333;
  font-size: 18px;
  font-weight: 700 !important;
  display: block;
  margin-bottom: 5px;
  text-decoration: none !important;
  transition: 0.3s ease-in-out;
}
.broker-list span {
  padding: 3px 10px;
  /*	width: 72px;
height: 20px;*/
  background-color: #f5a623;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
}
.nifty_broker_section {
  padding: 43px 0px 0px 0px;
}
.best_deals {
  position: relative;
  width: 120px;
  padding: 10px 20px 10px 10px;
  font-size: 20px;
  position: relative;
  color: #fff;
  background: #f5a623;
}
.best_deals:after {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: #f5a623;
  transform-origin: bottom left;
  -ms-transform: skew(-20deg, 0deg);
  -webkit-transform: skew(-20deg, 0deg);
  transform: skew(-20deg, 0deg);
}
.open_account {
  font-size: 13px;
  font-weight: 400;
  color: #2196f3;
  background: transparent;
  border: 0px;
}
.open_account i {
  padding-left: 7px;
}
.broker-list h5 {
  color: #495057;
  font-size: 14px;
  font-weight: 500;
}
.broker-list li {
  padding: 8px 0px;
  border-top: 1px solid #e7e7e7;
  list-style: none;
}
.broker-list li h5 img {
  margin-right: 7px;
  vertical-align: baseline;
}
.broker-list ul li p {
  font-size: 13px;
  margin-bottom: 0px;
  color: #74788d;
}
.upper_section {
  padding-bottom: 12px;
}
