.styles_ticker__8iZE9 {
  background-color: transparent !important;
  float: right;
  width: 88% !important;
}

.styles_newsticker__2xlP7 {
  color: #000 !important;
}

.styles_tickerItem__1yblE:hover {
  background-color: transparent !important;
  text-decoration: none !important;
}

.styles_tickerItem__1yblE:after {
  background: transparent !important;
  top: 8px !important;
  left: auto !important;
  content: url(/images/news-before-arrow.png) !important;
}

@media (min-width: 320px) and (max-width: 992px) {
  .styles_ticker__8iZE9 {
    width: 68% !important;
  }
  .e-grid .e-rowcell {
    width: 100px !important;
  }
  .e-grid .e-headercell,
  .e-grid .e-detailheadercell {
    width: 100px !important;
  }
  .right_refresh_btns button {
    margin: 0px 8px 0px 0px !important;
    display: inline-block;
    padding: 0px 10px !important;
  }
  .filtering ul li span {
    font-size: 11px !important;
  }
  .filtering ul li {
    font-size: 13px !important;
  }
  .e-input::placeholder {
    font-size: 12px !important;
  }
}
.filter-header .custom-radio .custom-control-label::before {
  border-radius: 2px !important;
}
#stockchartpane .e-toolbar-right {
  display: none !important;
}

.e-toolbar-left .e-toolbar-item {
  display: inline-block;
  margin-right: 5px;
}

.e-toolbar-item .e-tbar-btn {
  border: 1px solid var(--main-hover-color);
  background: var(--main-hover-color) !important;
  color: #fff !important;
  border-radius: 3px;
  font-size: 14px;
  padding: 0px 10px;
}

.e-toolbar-item .e-active,
.e-toolbar-item .e-tbar-btn:hover {
  background: #fff !important;
  color: var(--main-hover-color) !important;
  transition: var(--main-transition) !important;
}

button:focus {
  outline: 0 !important;
}

.e-grid .e-headercell,
.e-grid .e-detailheadercell {
  background-color: #f1f5fa !important;
}

.l-0 {
  left: 0 !important;
}

.Toastify__toast-container {
  z-index: 99999999 !important;
}

.e-input::placeholder {
  font-size: 12px !important;
  color: #000 !important;
}
.login-modal .form-control::placeholder {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}
.login-modal p a {
  color: #007bff !important;
}
/* body{
  font-family: "Roboto", sans-serif;
} */
/* .e-grid .e-sortfilterdiv {
  padding: 15px 7px !important;
} */
.e-grid.e-responsive .e-headercelldiv {
  overflow: hidden !important;
}
.eod_filter_modal {
  z-index: 999999 !important;
}

.e-pager .e-pagerconstant {
  margin: 0 0 5px 12px !important;
}

.evwHCa > div.line {
  border-top: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Ads Style Bottom */
@media only screen and (min-width: 480px) {
  .stickyads_Desktop_Only {
    position: fixed !important;
    left: 0 !important;
    /*bottom: 50px !important;*/
    /*top: 50px!important;*/
    bottom: 0;
    width: 100% !important;
    text-align: center !important;
    z-index: 999999 !important;
    display: flex !important;
    justify-content: center !important;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

@media only screen and (max-width: 480px) {
  .stickyads_Desktop_Only {
    display: none;
  }
}

.stickyads_Desktop_Only .btn_Desktop_Only {
  display: none;
  position: absolute !important;
  top: 10px !important;
  left: 10px !important;
  transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  background-color: #555 !important;
  color: white !important;
  font-size: 16px !important;
  border: 0 !important;
  cursor: pointer !important;
  border-radius: 25px !important;
  text-align: center;
}

.stickyads_Desktop_Only .btn_Desktop_Only:hover {
  background-color: red;
}

.stickyads {
  display: none;
}

/* Ads Style Left */
.stickyads_Left {
  position: fixed;
  left: 0px;
  top: 25px;
  text-align: center;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.1);
}

.stickyads_Left .btn_left {
  position: absolute !important;
  top: -12px !important;
  left: 80px !important;
  transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  background-color: #555 !important;
  color: white !important;
  font-size: 16px !important;
  border: none !important;
  cursor: pointer !important;
  border-radius: 25px !important;
  text-align: center !important;
}

.stickyads_Left .btn_left:hover {
  background-color: red !important;
}

@media only screen and (max-width: 1440px) {
  .stickyads_Left {
    display: none !important;
  }
}

.options-screener-table .e-detailcell table th {
  display: none !important;
}

.wd-40 {
  width: 40% !important;
  vertical-align: middle;
  padding: 15px 0px;
}
.wd-60 {
  width: 60% !important;
  vertical-align: middle;
}
.inside_stock_name {
  font-size: 15px;
  color: #343434 !important;
  text-transform: uppercase;
  font-weight: 500;
}

.adv-stock-analysis-right li {
  float: unset !important;
  vertical-align: middle !important;
  margin-left: 4px !important;
  border-radius: 3px !important;
  display: inline-block !important;
}
.inside_st_details {
  max-width: 215px;
}
.adv_expanded_data .col-4 {
  font-size: 13px;
  letter-spacing: 0px;
  margin-bottom: 15px;
  font-weight: 500;
  max-width: 215px;
  border-radius: 3px 6px 5px 3px;
  border-left: 2px solid #2196f3;
  color: #495057;
  text-transform: uppercase;
}
.adv_expanded_data .col-4 span {
  display: block !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  padding-top: 2px;
  color: #495666;
}
